[2019-05-31 17:26] kmurray commented on #630
@vaughnbetz @renrichard FYI

[2019-05-31 17:40] kmurray commented on #531
@vaughnbetz @renrichard @tinayang3024 @suyang5 Anyone interested in looking into adding these tests?

[2019-05-31 18:50] kmurray commented on #614
**Summary**
I've tracked down the cause, which is related to the router is hitting the edge of the `$false` net's bounding box before it actually gets onto what I assume is a global network (connected by shorts).

A work-around for this RR graph is to run with a large bounding box factor to ensure each net's bounding box is the full device (e.g. `--bb_factor 100000`).
This will be slow (from a run

[2019-05-31 18:58] litghost commented on #614
It is accurate in the sense that the graph is attempting to model a power plane and vias from that power plane into the interconnect fabric.  The "bounding box" for a power plane is by definition the entire grid, and the shorted channels attempt to model that.

In generally talking about RR node coordinates for a power plane is kind of nonsensical.  The metal layer is technically speaking everywhe

[2019-05-31 19:40] litghost commented on #614
But 934244 and 993481 are connected with a short?  I thought the idea was that on shorted nets, the bounding box would either expand to include the entire shorted group?

[2019-05-31 21:47] kmurray commented on #614
Nope, the bounding box is not changed by an encounter with a set of shorted nodes.

[2019-05-31 21:49] kmurray commented on #614
I've changed how the router handles the no path found case to make it more robust in b823094b7.

I believe it means this case should route at the default BB factor. Can you guys confirm whether this fixes the issue?

[2019-05-31 21:51] litghost commented on #614
This is nice fallback, and I expected it will work.  @acomodi can you try this out?

[2019-05-31 21:53] kmurray commented on #617
This should only require changes to VPR. We're hitting a limitation of the (current) XML specification.

It is straightforward to add support for this once we can get the spec into VPR by modifying VPR's timing graph builder -- no changes to tatum required.

[2019-06-01 12:57] acomodi commented on #614
@litghost, @kmurray: I have just tested the no path found case of b823094. Unfortunately, it still fails with in the same way (even though the warning is outputted):
[code]

[2019-06-02 15:41] mithro commented on #624
@kmurray Once it has been cleaned up, I think we should just run it as part of the C++ formatting check job.

[2019-06-02 15:43] mithro commented on #625
@kmurray It might be better to drop gcc-4.9 support *before* VtR 8.0 release to stop people using it as an excuse to use VtR 8.0 verses upstream.

[2019-06-02 15:45] mithro commented on #595
@kmurray The only inconsistency there is gcc 8? Travis doesn't run the older clang or gcc 4.9

[2019-06-03 08:58] mkurc-ant commented on #617
@kmurray The way I see it there is no point for specifying Ts/Th from CLR to CLK for async reset of a FF. Assertion of a CLR signal causes the output to change state after a constant delay regardless of the CLK. It's pure combinational.

I think that what has to be changed in the XML specification is to whether we want a register on output of the logic block or not. And I think that this can be in

[2019-06-03 12:42] nasrineshraghi opened #632 "2always block with Reset and clock In ODIN_II"
always blocks with reset and clock don't generate correct output.

#### Current Behaviour
input vector and output vector don't match.

#### Context
I tested procedural continues assignment which is implemented with the ternary operator. I tested the ternary operator as well. Both tests generate the same BLIF files but could not generate a correct output vector.

[2019-06-03 12:51] jeanlego commented on #632
Cannot reproduce sadly.

Can we see both bliff?
Also Which branch and checkout are you working of?
Do you have Verilog files?
Where are the output vectors?

[2019-06-03 14:55] kmurray commented on #614
@acomodi Can you point me at the revison you were using?

[2019-06-03 15:07] acomodi commented on #614
@kmurray, sure, I have used this revision 7eda868b89eb764e272832b8a2acac8166ee74af, from which I have reverted c42d25e4709f5801e6218dc01aed5d2c6bcf4d26 (this commit reverted the non-configurable nodes changes applied ~1 week ago) and cherry-picked your fix https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/b823094b79688b0f64a32a463b35740cb9b637de

[2019-06-03 15:10] mkurc-ant commented on #617
I created a document with my proposal of change to the architecture definition: https://docs.google.com/document/d/1vP5SZgFLhuySW2r7GL92RJCz-WxIZs4QK92Ih0qPBf0

[2019-06-03 16:27] mithro commented on #614
@acomodi Can you push this branch somewhere and link @kmurray to the branch?

[2019-06-03 16:41] acomodi commented on #614
Sure, here it is: https://github.com/antmicro/vtr-verilog-to-routing/tree/re-add-route-changes

[2019-06-03 18:14] kmurray commented on #628
[This](https://github.com/Project-OSRM/osrm-backend/issues/2951) hints it may be an issue with inconsistent compilation flags.

I've re-worked (203c3b532) how we were handling LTO so that both VPR and all the libraries it depends on (e.g. libvtrutil, libarchfpga, libtatum) are built with the same flags (including LTO). That seems to have fixed the case which I was encountering.

As a side effect t

[2019-06-04 14:05] #610 closed

[2019-06-04 15:32] mithro commented on #628
This seems to have been fixed!

https://travis-ci.org/verilog-to-routing/vtr-verilog-to-routing/jobs/541097858

[2019-06-04 15:33] mithro commented on #628
[code]

[2019-06-04 15:33] #628 closed

[2019-06-04 15:36] mithro commented on #625
Update on the status! Thanks to @kmurray's fixing of #628 we are pretty close to having everything working. See https://travis-ci.org/verilog-to-routing/vtr-verilog-to-routing/builds/541097847

Just FYI the current status seems to be;
 - GCC 5 works
 - GCC 6 works
 - GCC 8 works (seemed to have fixed #628)
 - GCC 9 works (seemed to have issue #628)
 - clang 3.6 fails with #629
 - clang 6 works
 -

[2019-06-04 15:37] mithro commented on #629
https://api.travis-ci.org/v3/job/541097860/log.txt
[code]

[2019-06-04 22:20] kmurray opened #634 "Clean-up GCC Compilation Warings when IPO enabled"
#### Expected Behaviour

VTR should compile warning clean with gcc and Inter-Procedural/Link-Time Optimization (IPO/LTO).

#### Current Behaviour

VPR compiles warning clean when `VTR_IPO_BUILD=off` (i.e. without IPO which is not the default). While most of our code is warning clean there are some files which we do not control which are not. In particular:
1. Flex/Bison generated parsers (libsdcpa

[2019-06-04 22:21] kmurray commented on #634
@mithro FYI

[2019-06-05 07:23] mkurc-ant commented on #617
After giving it some thought I think it might not be be necessary to change the XML syntax. But it will be required to change some meaning of the existing one.

[2019-06-05 17:16] vtrfmt commented on #614
Should now be fixed on master (c74fb1fce). I've confirmed that the test-case provided now works.

The issue was we were not clearing the known path costs correctly which prevented the existing route tree from being re-added to the heap. As a result the 2nd attempt to find a route immediately gave up with no path.

Likely #479 is the same problem.

[2019-06-05 17:16] #614 closed

[2019-06-05 17:51] mithro commented on #614
Who is @vtrfmt?

[2019-06-05 18:40] suyang5 opened #635 "Odin II Syntax Error on OpenCL examples"
While running OpenCL examples through Odin II (worked in Quartus II), a variety of syntax errors occured.
Link for OpenCL examples: [OpenCL examples](https://www.intel.com/content/www/us/en/programmable/products/design-software/embedded-software-developers/opencl/support.html#supportedplatforms)
Quartus compatible version of 2 examples:
[fft1d_kernel_odinII.tar.gz](https://github.com/verilog-to-ro

[2019-06-05 20:00] kmurray commented on #614
@mithro That was me, accidentally signed into an account I had created (but never used) for the code reformatting.

[2019-06-05 20:16] mflawn commented on #38
Still outstanding issue, see attached the file to reproduce:

[a25_decode_fix.v.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3258879/a25_decode_fix.v.txt)

[code]

[2019-06-05 21:20] mithro commented on #614
@kmurray I guessed that but wanted to make sure :-)

[2019-06-06 17:16] mflawn commented on #2
#### Issue unresolved
Attached file and sample_arch.xml to reproduce
[test2.v.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3262680/test2.v.txt)

[code]

[2019-06-06 18:05] litghost commented on #526
@renrichard This is the route stub issue, this PR in theory should detect this error, and I believe it is failing on the CI.

https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/535

[2019-06-06 18:50] Scott-Young-6746 opened #637 "While loop support"
#### Proposed Behaviour

Odin II should be able to parse and generate BLIFs for Verilog files with the `while` keyword from the Verilog standard.

#### Current Behaviour

Odin II fails due to compile such files because the `while` keyword is not yet being supported.

#### Possible Solution

Use an environment based AST substitution mechanism to evaluate statically computable sub-trees of the AST.

[2019-06-06 20:26] a181d129 opened #640 "Odin fails when executing run_vtr_flow.pl"
I am trying to run run_vtr_flow.pl script.After going to the vtr_flow/tasks directory, I wrote the following command :
../scripts/run_vtr_task.pl basic_flow
It gives me the following message :
k6_frac_N10_mem32K_40nm.xml/ch_intrinsics.v/common
                           failed: odin
				I am confused about the reason of failure. could someone help me out?
I am running the vtr-verilog-to-routing-ma

[2019-06-08 03:20] jeanlego commented on #640
this seems related to your setup

could you put the output of the file ?

[2019-06-08 23:18] jeanlego commented on #635
It seems there are a lot of VHD and SV files in the list.
Odin does not handle other languages than Verilog for the moment.

Working on improving the error message in these cases.

thanks for the detailed report!

[2019-06-12 20:37] litghost commented on #625
FYI, I'm seeing test failures on GCC 6 and clang 7:
[code]

[2019-06-13 18:48] mflawn commented on #69
####
Looking in odin.out lists the following error
[code]
Commenting out "LFSR_varLFSR =LFSR_reg ;" as described in reg_fix.v results in run_vtr_flow.pl running without error.

[rng-fix.v.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3282802/rng-fix.v.txt)

**This issue can be closed.**

[2019-06-14 02:48] #69 closed

[2019-06-14 02:51] #632 closed

[2019-06-17 15:54] acomodi opened #652 "QoR error in script when comparing results"
#### Expected Behaviour

QoR comparison completes successfully

#### Current Behaviour

While running the `qor_comparison.py` script the following error message shows up:
[code]

#### Possible Solution

I have temporary solved the issue by hard-replacing `ref_cell.TYPE_NUMERIC` to `"n"` to successfully run the script, but it would be better to solve it in a more proper way I suppose.

#### Steps t

[2019-06-17 18:45] litghost opened #653 "Timing lower bound analysis for flow"
#### Proposed Behaviour

As part of debugging https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/592 and https://github.com/SymbiFlow/symbiflow-arch-defs/issues/716 , a question was raised by @HackerFoo about adding analysis to tease apart where in the flow the timing margin is being taken.  I am proposing the following analysis's to provide lower bounds on critical path delay (CP

[2019-06-17 18:47] litghost commented on #653
@kmurray @vaughnbetz Thoughts?  I'm planning to focus on this analysis this week to see if I can tease out where in the flow to target.  I do need to survey how the existing post-placement timing analysis works.  I don't believe VPR has a post-synthesis analysis at all, but I could be mistaken.

My next step is to review and document what the current flow analyses are.

[2019-06-17 19:15] litghost commented on #653
It looks like something akin to what I propose for the post-synthesis analysis exists, but no report is generated, specifically the https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/timing/PreClusterDelayCalculator.h is used for criticality analysis for timing based packing.  However a timing report is not being generated using this setup analysis.  There is also the

[2019-06-17 20:12] vaughnbetz commented on #653
3. pretty much exists right now; probably just needs some high level code to call for a report and a command line option.

I suggest dividing 3 into two timing reports. You could use the placer estimated timing (estimates without congestion) and/or the post-first-iteration routing timing analysis.  Both those estimates can be useful to debug the placement delay estimator and to see if routing cong

[2019-06-17 20:34] litghost commented on #653
I just generated the pre-clustering timing report, and I think I've identified some bugs in the way pre-cluster timing analysis is being done.  The bug is two-fold:

- Inter-cluster delay is being used for direct connections, which resulting in dramatically overestimating the path delay.  Example:
[code]
The delay between CO_CHAIN -> CIN should be the direct cost (rather than the intercluster dela

[2019-06-17 20:42] vaughnbetz commented on #653
Thanks for the analysis. Fixing the chain pattern would be worthwhile, in my opinion, as we'll be way off in timing estimates without that fix.  That will skew where we think the critical path is a lot. So the first two changes make sense to me.

LUTs and FFs are usually pre-packed into molecules as well, so I think if you pre-packing to molecules to estimate delays correctly you'll fix carry chai

[2019-06-17 20:48] kmurray commented on #653
I'd call this a pre-pack timing analysis. To get what you'd want I think you just need to set the [estimated inter-cluster delay](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/base/vpr_api.cpp#L496-L498) to zero.

You'd just need to [zero out the point_to_point_delay or net_delay arrays before passing them to the post-cluster delay calculator](https://github.com/

[2019-06-17 21:10] litghost commented on #653
Thanks. I figured this might exist.

[2019-06-17 23:39] litghost opened #654 "How to express packing that introduces nets"
I'm trying to express a packing behavior that I think cannot be easily expressed using the arch xml format, but maybe I just haven't thought about it right.

The feature that I want to express is FF pass through by leveraging the FF in latch mode.  So presume that the FF bank supports a latch mode, something akin to a gated D latch.  Logic table:
![Gated D latch logic table](https://www.electronic

[2019-06-17 23:59] litghost commented on #654
@mithro @vaughnbetz @kmurray

[2019-06-18 00:30] litghost commented on #653
So I've found something very strange when I used this option is that the router choose not to use the dedicated clock network on the first iteration.  This behavior surprises me greatly, as trying to use the general interconnect to route the clock results in a very poor delay value:

[code]

By iteration 2, this behavior seems to be gone.  Tomorrow I'll dig into why this might be the case, but I'm

[2019-06-18 13:58] vaughnbetz commented on #653
@mustafabbas Adding Mustafa to comment on the clock routing.  Hopefully this will be fixed when the two-phase clock routing algorithm is put back, which should be soon.

[2019-06-18 15:31] litghost commented on #653
It is worth noting we have not annotated our clock networks in the rr graph yet, I don't know if that has been documented.  Is there special node/edge annotations for dedicated clock networks?

[2019-06-18 15:34] vaughnbetz commented on #653
I am pretty sure it is not documented yet.  Also on the to-do list.  @mustafabbas: @litghost is sending in an rr-graph through the read an entire rr-graph flow, so we'll need to document what flag/tag data must be set on the clock root or any other special nodes. Basically the rr-graph reader should support setting the same tags/flags that the rr-graph creation code does for global clocks.

[2019-06-18 15:54] acomodi opened #655 "CI failure"
#### Expected Behaviour

CI correctly builds

#### Current Behaviour

CI is failing due to the fact that all the various tests are unable to find the executable files.
An example of log failure is the following:
[code]
Strangely, the issue showed up with https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/d016fffe50ab77f059dbea7c972cbf70a37f1fa8, which does not change anything in t

[2019-06-18 18:48] kmurray commented on #655
Yep I've noticed this too.

I expect something has changed on the Travis side probably related to caching.
I've looked at the logs and the key difference is:

[Working:](https://travis-ci.org/verilog-to-routing/vtr-verilog-to-routing/builds/546774489)
[code]

[Broken:](https://travis-ci.org/verilog-to-routing/vtr-verilog-to-routing/jobs/546800363)
[code]

Where for some reason the vtr and vtr-buil

[2019-06-18 19:31] kmurray commented on #655
It appears that Travis CI is now passing (with no code changes, indicating this was a Travis issue).

[2019-06-18 19:31] #655 closed

[2019-06-19 00:45] litghost opened #658 "Variable "effort" based on criticality"
#### Proposed Behaviour/Solution

bb factor and A* variable vary based on slack.  If the nets along the path meet timing, the just use default bb factor and A*.  Each iteration that a net is along the path does not meet timing, and the router chooses to "rip up", the bb factor and A* factor change to increase the effort the router searches for a route.  The idea here is that critical path nets des

[2019-06-19 01:56] litghost commented on #658
Example routing logs

A* factor = 0, bb factor = 10000:
[code]

A* factor = 1.0, bb factor = 100:
[code]

[2019-06-20 00:00] litghost commented on #654
Poke @vaughnbetz @kmurray

[2019-06-20 18:26] vaughnbetz commented on #654
Yes, this looks like a tricky one.  When you say the clk needs to be set high on the clk pb_type pin, I think you mean that the one slice-wide clock must be set to vcc for any of the latches/FFs to be used as route throughs.  Is that right?  That constraint could probably be modeled as a mode that put the entire slice into a mode where you can only use the latches as route-throughs, but that doesn

[2019-06-20 18:34] vaughnbetz commented on #658
Thanks for the data; it's interesting.  I think the data shows there are still major lookahead issues though, as astar_fac = 1 is not performing well.  So a per-net (or per-connection) astar could be added, but before doing that and trying to tune it I think we need to get the lookahead in a reasonable state.

bb_factor is normally a moderate runtime optimization (once you have a good lookahead an

[2019-06-20 18:36] litghost commented on #654
I completely agree with this sentiment, however!

A QoR change in Yosys is what brought this about.  In particular, the CARRY4 primitive has 8 outputs (4 CO and 4 O).  If those outputs are not registered (e.g. no FF directly at the output), then 8 ports are required.  By default only 4 ports are available, unless the FF's are put into passthrough.

Your understanding is exactly correct, and exactl

[2019-06-20 18:40] litghost commented on #658
Thanks for the feedback.  I'll gather some more data on lookahead behavior.  It is worth noting that this new lookahead is doing better, but if you think based on this data that the lookahead is still not good enough, I'll focus my energy there.

The good outcome here is that I have a placement that is "good enough" to close timing, I just need to enable the router to reach it.  This is important

[2019-06-20 18:41] vaughnbetz commented on #634
I think the best practical option is to turn these warnings off globally during the link phase. Maybe we miss a useful warning (bad), but we get rid of the spurious warnings (which are worse as they'll teach everyone to ignore these warnings).

[2019-06-20 18:42] litghost commented on #654
I think in the short term, I'll see if I can make Yosys return a synthesis that doesn't require this feature, and we can delay support of it.

[2019-06-20 18:44] vaughnbetz commented on #630
Hi Richard,

When your current tasks are done, here's another useful upgrade.

[2019-06-20 18:49] vaughnbetz commented on #629
Kevin tells me this compiles OK for him (didn't reproduce). Is this still happening?  We could get Richard to recode the offending line if necessary, but it's not clear why it doesn't match, nor why it doesn't reproduce for Kevin.

[2019-06-20 18:50] vaughnbetz commented on #625
Kevin can't reproduce these either; do they still occur?

[2019-06-20 18:54] vaughnbetz commented on #624
This makes sense to me.  Tim, do you want to drive it?  Happy to assign it to you, and put it in the C++ formatting check.

[2019-06-20 18:57] vaughnbetz commented on #621
@acomodi I think you're saying this circuit should fit in one tile, not two, but the "Expected Behaviour" lists the opposite.  Does that need to be corrected?

Generally packing as densely as possible isn't a very high priority, as in large circuits a very dense packing usually causes more routability problems than its worth (there are exceptions, but this still makes the priority lower).

[2019-06-20 18:57] renrichard commented on #630
Sounds good, I have already included this and #535 in my to-do list as well.

[2019-06-20 20:52] acomodi commented on #621
@vaughnbetz As you correctly said the circuit should fit in only one tile, not two.
To be more precise:
- The architecture is made of a number of IO tiles which connect to a single "central" tile.
- The circuit is built so that all the pins and all the tiles (IO and the "central" one) are being used.
- The "central" tile contains a number of primitive pb_types enough to cover all the nets in the c

[2019-06-20 22:29] vaughnbetz commented on #654
Sounds good.  If you want to flip the whole mode it's probably doable with an architecture file change.

But it is quite rare for a design to need both the CO and O (sumout?) signals, except that the next bit of the carry chain needs the CO output, but that should be done with dedicated routing.
Altera/Intel devices don't even allow you to get the CO signal out to general routing; if you want the

[2019-06-20 22:31] vaughnbetz commented on #658
Yes, that is good news.  In an uncongested design, I'd expect the router to quickly converge to a solution with near best-case routing delay, with astar somewhere around 1.  Until that happens, modifying the fundamental algorithm is probably not a good idea, as you're working around a bad lookahead and more likely to detune than tune the algorithm for the case when the lookahead works well.

[2019-06-20 23:12] litghost commented on #654
This is the approach I'm taking.  I can simply remove the CO output from the CARRY4 altogether, because as you said, you can always use the sumout as a CO.

[2019-06-21 15:17] kmurray commented on #634
Should be fixed as of 4b56960b2.

We now provide the `-Wno-null-dereference` option (if supported by the compiler) at link time to the relevant executables when built with IPO.

This should ensure that we build warning clean (at least with GCC) even when IPO is enabled.

[2019-06-21 15:17] #634 closed

[2019-06-22 02:25] jeanlego commented on #635
Closing as now we report proper errors when we encounter SV and vhdl files

[2019-06-22 02:25] #635 closed

[2019-06-22 02:26] jeanlego commented on #640
Unable to reproduce, closing

[2019-06-22 02:26] #640 closed

[2019-06-22 02:27] jeanlego commented on #597
Fixed
Closing

[2019-06-22 02:27] #597 closed

[2019-06-22 02:28] jeanlego commented on #603
Fixed as of #613

[2019-06-22 02:28] #603 closed

[2019-06-22 02:29] jeanlego commented on #587
Closing as this was issued by email and is no longer an issue

[2019-06-22 02:29] #587 closed

[2019-06-22 02:30] jeanlego commented on #586
Duplicate

[2019-06-22 02:30] #586 closed

[2019-06-22 02:33] jeanlego commented on #579
Odin will now display an appropriate error when trying to read an unsupported file type (non Verilog)

We don't intend on supporting system Verilog to the level this needs in the near future, I am moving this to a feature request

[2019-06-22 02:34] jeanlego commented on #583
Fixed as of #604

[2019-06-22 02:34] #583 closed

[2019-06-22 02:40] jeanlego commented on #35
Fixed

[2019-06-22 02:40] #35 closed

[2019-06-22 02:41] jeanlego commented on #36
Fixed

[2019-06-22 02:41] #36 closed

[2019-06-22 06:59] jeanlego commented on #170
@ademmings. this should be relevant to the work you are doing right now.

[2019-06-22 07:15] jeanlego commented on #79
This issue now procduces the following error:

ERROR (1):NETLIST_ERROR (File: ../../temp/79/Sorter_8_64.v) (Line number: 295) Odin doesn't support arrays declared [m:n] where m is less than n.
	reg    [(DATA_WIDTH - 1'h1):0'h0] RAM[0'h0:(MEMSIZE - 1'h1)] ;

changing to a feature request

[2019-06-22 07:23] jeanlego commented on #80
this is fixed as of master

[2019-06-22 07:23] #80 closed

[2019-06-22 07:26] jeanlego commented on #85
Still an issue:

ASSERT FAILED: rnode[1]->types.number.value >= rnode[2]->types.number.value+bit
	@[../ODIN_II/SRC/ast_util.cpp]get_name_of_pin_at_bit::635

@ademmings, this could be relevant to your work

[2019-06-22 07:30] jeanlego commented on #88
fixed as of now

[2019-06-22 07:30] #88 closed

[2019-06-22 07:30] jeanlego commented on #88
@ademmings this should be included as part of our regression suite? thoughts?

[2019-06-22 07:37] jeanlego commented on #101
@ademmings , this also seems relevant to your work.

[2019-06-22 07:49] jeanlego commented on #84
still an issue

[2019-06-22 07:50] jeanlego commented on #89
still an issue

[2019-06-22 07:50] jeanlego commented on #96
heres the updated arch

[code]

[2019-06-24 12:35] ChantalAjay opened #667 "make VPR"
I have a question.
I do no know here is a good place for asking question or not?!
Making vtr-verilog-to-routing takes a long time. I want to change the VPR source code and then make it. I do not want to use other simulators in vtr-verilog-to-routing folder. Can I just run make instruction for VPR? and how?

[2019-06-24 13:33] kmurray commented on #667
You can run:
[code]
to just build VPR. (You can run `make help` to see the list of possible targets).

You can also build in parallel with [make's -j option](https://www.gnu.org/software/make/manual/make.html#Parallel) which decreases compile time.

If you are less concerned about the performance with the generated executable (e.g. in a compile/edit/debug development cycle) you could also disable

[2019-06-24 13:33] #667 closed

[2019-06-27 18:28] jeanlego opened #677 "Odin: line mismatch in module declaration for errors"
Looks fine so far!
While you're at it, would you be able to check out the weird line-mismatching case I mentioned not too long ago?

e.g. for the following example:
[code]

This is the error message I get:
[code]

_Originally posted by @ademmings in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/666#issuecomment-505904447_

[2019-06-28 20:10] #101 closed

[2019-07-03 14:48] j-b-1-7 opened #695 "ODIN_II does not support conditional generate constructs"
#### Expected Behaviour
ODIN-II should synthesize Verilog modules which use the generate, if and endgenerate keywords.

#### Current Behaviour
parse error on files that include conditional generate constructs such as this benchmark included in the mor1kx benchmarks

[mor1kx_branch_prediction.v.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3355983/mor1kx_branch_prediction.

[2019-07-08 09:58] acomodi commented on #652
Closing, fixed by https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/691

[2019-07-08 09:58] #652 closed

[2019-07-11 04:33] jeanlego commented on #216
fixed

[2019-07-11 04:33] #216 closed

[2019-07-11 04:34] jeanlego commented on #64
fixed

[2019-07-11 04:34] #64 closed

[2019-07-15 19:56] vaughnbetz opened #724 "Coverity Scan Errors in ODIN II"
#224 ## Current Behaviour
There are two ODIN-II pieces of code flagged by the latest coverity scan.  They should be fixed to be coverity clean.  They are:

________________________________________________________________________________________________________
*** CID 201657:  Resource leaks  (RESOURCE_LEAK)
/home/aaron/workspace/vtr/vtrrepo/ODIN_II/SRC/parse_making_ast.cpp: 1430 in newFunctionIns

[2019-07-15 19:59] vaughnbetz opened #725 "Coverity Issues in VPR"
#### Current Behaviour
There are two issues flagged by the latest Coverity (static code checker -- basically super-warnings) that should be fixed.  The route delay budgets one may be best solved by Ming.  If you don't see a good solution, please pass that one to Ming Richard.

________________________________________________________________________________________________________
*** CID 201650:

[2019-07-16 15:20] kmurray opened #731 "Invalid Macro Merging Iterator Comparisons"
Coverity has found a potential bug (looks like comparisons of iterators from different containers) during macro merging:

https://scan9.coverity.com/reports.htm#v27175/p13131/fileInstanceId=52643116&defectInstanceId=6588082&mergedDefectId=201717&fileStart=251&fileEnd=500

@MohamedEldafrawy I think this is your code, can you take a look?

[2019-07-16 15:25] kmurray opened #732 "Unchecked dynamic cast"
As reported by coverity, there appears to be an unchecked dynamic cast in the clock construction code:
* https://scan9.coverity.com/reports.htm#v27175/p13131/fileInstanceId=52643001&defectInstanceId=6589586&mergedDefectId=201661
* https://scan9.coverity.com/reports.htm#v27175/p13131/fileInstanceId=52643001&defectInstanceId=6588764&mergedDefectId=201909

@mustafabbas I believe this is your code, ca

[2019-07-16 15:37] jeanlego commented on #724
Fixed

[2019-07-16 15:43] jeanlego commented on #677
Seems also there is line mismatch when it reads in a Windows file (CRLF type new line)

[2019-07-16 15:44] kmurray commented on #732
Probably related:
* https://scan9.coverity.com/reports.htm#v27175/p13131/fileInstanceId=52643001&defectInstanceId=6588238&mergedDefectId=201307

[2019-07-16 15:47] jeanlego opened #733 "Weekly coverity scan"
#### Proposed Behaviour
Have the (weekly?) buildbot generate a Coverity scan.

#### Context
Coverity scan could not be done due to insufficient coverage. It would be beneficial to have Coverity run weekly to have updated reports and help improve the codebase.

[2019-07-16 15:51] jeanlego commented on #622
@j-b-1-7

[2019-07-16 16:10] MohamedEldafrawy commented on #731
Sure, but I can't see the code it asks me to sign in.

[2019-07-16 19:36] vaughnbetz commented on #724
Thanks!

[2019-07-18 22:55] litghost opened #755 "Packer behavior for muxes and sink count?"
#### Expected Behaviour

Packer will choose to minimize sinks if at no timing cost

#### Current Behaviour

In https://github.com/SymbiFlow/symbiflow-arch-defs/issues/888 we have a case where VPR choose a ``mux`` selection that resulted in an additional sink.

In more detail:

The DI1 port of the LUT-RAM in the SLICEM tile type has a routing mux with the following structure:
[code]

In this case,

[2019-07-20 12:44] jeanlego opened #806 "ODIN_II: Use dynamically growing buffer for MIF files"
#### Expected Behaviour
currently uses a static buffer and use a check that it won't overflow.

#### Context
patched to fix coverity issue #803. but proper resolution should use a dynamic buffer

EDIT:
Should verify MIF are still supported and integrate them into the regression suite

[2019-07-20 12:56] jeanlego opened #807 "Coverity: ODIN_II: CID 202042: Null pointer dereferences"
/workspace/vtr-verilog-to-routing/ODIN_II/SRC/netlist_create_from_ast.cpp: 4022 in
#### terminate_continuous_assignment(ast_node_t *, signal_list_t *, char *)()
[code]

[2019-07-20 12:58] jeanlego opened #808 "Coverity: ODIN_II: CID 202041 Null pointer dereferences"
/workspace/vtr-verilog-to-routing/ODIN_II/SRC/parse_making_ast.cpp: 1921 in

#### newDefparam(ids, ast_node_t *, int)()
[code]

[2019-07-20 16:19] jeanlego commented on #724
Fixed

[2019-07-20 16:19] #724 closed

[2019-07-20 18:04] jeanlego opened #813 "Pugixml error with -D VTR_ENABLE_SANITIZE=ON in compact mode"
if we keep pugixml in compact mode using the define

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/b2807fadc3495fcfe82e4e8d5bfcc9662ada6493/libs/EXTERNAL/libpugixml/CMakeLists.txt#L21-L24

pugixml has some runtime errors during vtr_reg_strong, but they don't appear when commented out.

[code]

with compact mode commented out

[code]

[2019-07-20 18:48] jeanlego opened #814 "VTR_BUILD: unable to build with -DVTR_ENABLE_SANITIZE=ON"
#### Current Behaviour
[code]

#### Steps to Reproduce
build with -DVTR_ENABLE_SANITIZE=ON

### Your Environment
#### uname -a
``` Linux jp-arch 5.2.1-arch1-1-ARCH #1 SMP PREEMPT Sun Jul 14 14:52:52 UTC 2019 x86_64 GNU/Linux ```

#### gcc -v
[code]

[2019-07-22 14:03] j-b-1-7 opened #817 "ODIN_II: Unused variable in simulate_blif.cpp ~line 781"
#### Context
ODIN_II source code has an unused variable in function simulate_steps_in_parallel in simulate_blif.cpp; current_coverage gets set inside a for_loop and is overwritten before it can be used for anything. This is an issue raised by a Coverity Scan, CID 201269. There is currently a WIP PR related to this issue, but this needs to be looked into further. PR #783

[2019-07-22 14:10] kmurray commented on #813
Interesting, looks like the compact mode (#580) does some funky stuff in order to save space.

A short term work-around would be to disable compact mode when VTR_ENABLE_SANITIZE=on.

In the longer term there has been some discussion about using alternate methods to load the large RR Graph XML files which are more memory efficient than PUGI XML. At which point we could permanently disable compact m

[2019-07-22 15:32] jeanlego commented on #622
@vaughnbetz as of recently, vtr_reg_valgrind_small should run with no leaks from Odin.
would there be any way to silence the Perl warnings to be able to catch only the warnings we do care about? I think silencing them would allow us to catch if any leaks are reintroduced

[2019-07-22 16:31] kmurray commented on #622
@jeanlego I think the way to do this is to update all the calls to perl scripts to not be wrapped by valgrind

[2019-07-22 18:25] ademmings opened #825 "Odin II does not support continuous assignments in arrays"
#### Expected Behaviour
Continuous assignments to arrays, such as the following, should be valid and supported:
[code]

#### Current Behaviour
Odin fails in terminate_continuous_assignment() with an "Assignment is missing driver" error message.

#### Possible Solution
Odin creates implicit memories for arrays, which prevents continuous assignments. A possible solution would be to distinguish betwe

[2019-07-22 19:49] #813 closed

[2019-07-23 06:48] jeanlego opened #828 "Odin_II: Warning implicit falltrough"
@ademmings
[code]

[2019-07-23 12:02] ademmings commented on #828
Thanks, I know, I'm working on it. Still a work in progress.

[2019-07-23 18:32] j-b-1-7 opened #843 "ODIN_II: Uncaught Exception in main.cpp - coverity issue CID 201447 & 200992"
#### Context
Coverity issues CID 201447 & CID 200992 point out that some exceptions are thrown but never caught

[2019-07-23 18:35] j-b-1-7 opened #844 "Resource leak in experimental code path -- needs to be looked into further"
#### Context
In relation to issue #817. There is a resource leak caused by the test_vector, v being set to NULL before being freed. This could be fixed with a patch, but since we'll need to revise the entire function, leaving for now.

This is coverity issue CID 201520

[2019-07-23 18:40] tinayang3024 opened #845 "Memory Leaks produced by route_tree_timing.cpp"
#### Expected Behaviour
valgrind output (red ones are produced by route_tree_timing.cpp)
https://docs.google.com/document/d/1ldtNS-Pw7e3Lx-FUGzPDOHW5HxBAJgkVTax72PVAop8/edit?usp=sharing

#### Steps to Reproduce

commit id
a990b18ed8516de4fc115f7df00e38f6dc5a7bf6
command line used
`valgrind --leak-check=full --errors-for-leak-kinds=none --error-exitcode=1 --track-origins=yes /nfs/ug/thesis/thesis0/

[2019-07-23 19:16] #814 closed

[2019-07-23 19:32] renrichard commented on #845
On master branch, ran with command: valgrind --leak-check=full --show-leak-kinds=all --errors-for-leak-kinds=none --error-exitcode=1 --track-origins=yes ./cmd.sh

"Only can upload txt version"

[cmd.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3423776/cmd.txt)
[output.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3423750/output.txt)

[2019-07-23 20:25] kmurray commented on #845
Looking at the logs provided by @tinayang3024 an example like:
[code]

Seems to show that the leak originates from the drawing code via `draw_crit_path`. It looks like the function `trace_routed_connection_rr_nodes()` calls `traceback_to_route_tree()` (which allocates the route tree). My guess is that this leak was in the code base before the ezgl changes.

@renrichard What is the function to free

[2019-07-23 20:28] renrichard commented on #845
free_route_tree(t_rt_node* rt_root) places it on the free_list .
while free_route_tree_timing_structs() completely frees it.

[2019-07-23 20:59] kmurray opened #847 "Travis build cache issue causing sporadic CI failures"
#### Expected Behaviour

Travis should use a single build step to produce the VTR executables (VPR, ODIN etc.), which are then re-used during the following testing steps (see #619).

#### Current Behaviour

The above works most of the time, but sporadically fails (at least two instances since #619 was merged in January), with the steps subsequent to the build step failing to find any of the genera

[2019-07-23 21:00] kmurray commented on #847
@mithro / @acomodi Can you take a look and see if this is a configuration issue on our end?

If its not (ie its a Travis infrastructure issue), we will probably need to disable build caching at least for the interim.

[2019-07-23 21:01] kmurray commented on #595
Resolved with #818

[2019-07-23 21:01] #595 closed

[2019-07-23 21:37] MohamedElgammal opened #848 "Odin Verilog support"
There are many unsupported constructs in Verilog  that I faced while trying to run a verilog design through Odin. I have created a micro testcase for each of them and they can be found at: https://github.com/MohamedElgammal/Odin-issues

#### Expected Behaviour

#### Current Behaviour

#### Possible Solution

#### Steps to Reproduce

1.
2.

#### Context

#### Your Environment

* VTR revision used:

[2019-07-23 21:43] MohamedElgammal opened #849 "SystemVerilog support using Verific"
As for know, Odin doesn't support SystemVerilog. I think of using Verific as frontend tool to parse systemVerilog and even verilog for Odin. I tried to do so and parse the designs using Verific then dump a verilog netlist but the problem was that Verific doesn't dump all its data structures in the verilog netlist. However, if you could add a parser to parse verific data structure, you will have a

[2019-07-23 21:45] mithro commented on #849
FYI -- You can use a Yosys Commercial License (which is Yosys + Verific library) with VtR to parse SystemVerilog.

[2019-07-23 22:06] MohamedElgammal commented on #849
Hi Tim,
Yeah I know that flow and already tried it too. But it's main issue is that it maps everything thing to soft logic and never used hard blocks like DSPs and BRAMs.
Regards,
Mohamed.

Get Outlook for Android<https://aka.ms/ghei36>

From: Tim Ansell
Sent: Tuesday, July 23, 5:45 p.m.
Subject: Re: [verilog-to-routing/vtr-verilog-to-routing] SystemVerilog support using Verific (#849)
To: verilog

[2019-07-23 22:06] jeanlego commented on #847
In both cases, I think we should disable it for the time being, if we know that it fixes the issue?

[2019-07-23 22:10] jeanlego commented on #849
Thanks for this :)

We are actively trying to get up to par with Verilog 2005 and hopefully have a large part of it in soon.
Afterwards, we will definitely have a look as this is a very demanded feature!

[2019-07-23 22:14] jeanlego commented on #848
Thanks for this!

We are actively refactoring a lot of core components of Odin and we can definitely use more micro-test cases!
Would you be ok with us including those in our regression suite?

[2019-07-23 22:14] #828 closed

[2019-07-23 22:16] MohamedElgammal commented on #848
Sure you can.

[2019-07-23 22:29] jeanlego commented on #848
Thank you! We will raise these as individual issue and reference this issue so you can track the development.

[2019-07-23 23:53] mithro commented on #849
@MohamedElgammal - To map to BRAM + DSPs you need to set up your techmaps in Yosys. See an example for Xilinx Series 7 -- https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/xc7/techmap

[2019-07-24 00:55] vaughnbetz opened #850 "Coverity Scan Errors in Odin II"
Coverity scan of July 23 flagged the following potential errors in Odin-II.

1. (May not be a real error, code looks OK to me):
** CID 202138:  Incorrect expression  (COPY_PASTE_ERROR)
/workspace/vtr-verilog-to-routing/ODIN_II/SRC/netlist_create_from_ast.cpp: 729 in convert_ast_to_netlist_recursing_via_modules(ast_node_t **, char *, STRING_CACHE_LIST *, int)()

____________________________________

[2019-07-24 15:36] jeanlego commented on #733
@kmurray should we have Travis generate it? Maybe on a commit with a tag or have buildbot generate it from an iirc command?

[2019-07-24 17:57] kmurray commented on #733
I agree submitting a build to coverity on a regular basis is a good idea!

However, there are some limits related to how often we can submit builds: https://scan.coverity.com/faq

Submitting it once a week seems like a good frequency. I'm not sure how to do a once-a-week submission from Travis, so it probably makes sense to trigger it off of buildbot which already has a scheduled weekly run.

[2019-07-24 18:48] jeanlego commented on #733
I was thinking something like https://docs.travis-ci.com/user/cron-jobs/

It sets a flag that we could catch and then trigger a different build.
Wether we integrate Coverity scan builds into cmake (or the Makefile) was the next question.

It could be uncoupled and the build step written directly written into to Travis scripts

[2019-07-24 19:48] kmurray commented on #733
@jeanlego I'd be tempted to keep it decoupled.

If I recall we just need to install the coverity build tool, and specify it as the compiler to generate all info coverity needs. It then just needs to be uploaded to their server.

[2019-07-24 19:51] kmurray commented on #847
I've disabled build artifact caching for now (24e5cb37c) to get the tests running again.

[2019-07-25 00:48] vaughnbetz commented on #849
@jeanlego verific parses System Verilog, and loads up a netlist. As Mohamed said, he tried dumping that into vanilla structural verilog for Odin-II to parse, but both the yosys+verific dumper and the verific Tcl script dumper leave important info about the design out of their output netlist, so the output isn't complete.

Presumably all the data is indeed in memory in the verific data structures,

[2019-07-25 02:03] mithro commented on #849
@vaughnbetz what is the data that you are missing from the Yosys output?

[2019-07-25 02:15] MohamedElgammal commented on #849
@mithro  rom blocks for example are dumped as empty blocks as shown in this block diagram:
![Ram_in_verific_dump](https://user-images.githubusercontent.com/47126408/61840828-813f1800-ae60-11e9-86f5-9c9be0304c94.jpg)

[2019-07-25 02:16] mithro commented on #849
@MohamedEldafrawy What is your yosys script look like?

[2019-07-25 02:21] MohamedEldafrawy commented on #849
I think you meant to mention @MohamedElgammal

Sorry for closing the discussion by mistake!

[2019-07-25 02:23] MohamedElgammal commented on #849
To dump Verilog netlist using yosys passes, I used the following commands:
verific -sv top.sv
verific -import -d top.v <top module>

[2019-07-25 02:53] mithro commented on #849
Have you tried;
[code]

Might also need a `synth` or similar in there....

[2019-07-25 21:32] #731 closed

[2019-07-26 06:02] jeanlego commented on #733
I've worked out something, just need to enable the cron job, tested locally it works, don't know about travis much if anyone has better experience with it to chime in

[2019-07-26 20:40] kmurray opened #871 "Compilation warnings in VPR route_timing.cpp"
Looks like a couple of warnings have snuk into route_tree_timing.cpp which we should remove:
[code]

We try to keep VTR warning clean during builds (at least with gcc), so that any new warning actually get looked into.

[2019-07-26 20:41] kmurray commented on #871
@renrichard Can you look into this?

The potential null dereference warning means the compiler thinks that a pointer could be null.
To fix these types of warnings you usually just check that the pointer is not null before dereferencing it.

[2019-07-26 23:08] jeanlego opened #873 "unable to build with debug flags in Travis"
[code]

see coverity build errors

https://api.travis-ci.org/v3/job/564137811/log.txt

[2019-07-26 23:16] #873 closed

[2019-07-28 04:51] MohamedElgammal commented on #849
@mithro thanks alot. I tried it now and it worked and dumped the memory cells.

[2019-07-29 16:28] acomodi opened #878 "If Graphic packages are not installed VTR build fails"
There is an issue with VTR build as, if the necessary graphics libraries, such as `libcairo2-dev` or `libgtk-3-dev` are not installed in the system, the build failes with the following output error.

[code]

#### Expected Behaviour

If graphics is disabled the build should run successfully

#### Current Behaviour

Build fails if necessary libraries are not available in the system.

#### Possible S

[2019-07-29 17:02] kmurray commented on #878
Thanks for filing this @acomodi

@tinayang3024 As we discussed with @vaughnbetz, this is probably the next thing to look at.

[2019-07-30 19:07] kmurray opened #883 "Update benchmarks with multicycle paths"
#### Proposed Behaviour

We should add multicycle path specifications to the SDC files for benchmark circuits which have real multicycle paths.

This would leverage the new support for `set_multicycle_path -to [get_pins ...]` added as of e4b21f899.

#### Current Behaviour

 * The VTR benchmarks have no SDC files included.
 * The Titan benchmark SDC files have no multicycle paths specified.

#### P

[2019-07-30 19:53] kmurray commented on #845
Closed with #870

[2019-07-30 19:53] #845 closed

[2019-07-30 19:54] kmurray commented on #871
@renrichard If your fix is ready (we discussed VTR_ASSERT) can you open a PR for it?

[2019-07-30 19:58] kmurray commented on #611
Closed with #754

[2019-07-30 20:25] kmurray commented on #871
Closed with #884

[2019-07-30 20:25] #871 closed

[2019-07-31 15:21] kmurray commented on #550
I believe this is now supported with #607, so I'm going to close the issue.

@litghost Please give the Cinternal support a try to see if it meets your needs.

[2019-07-31 15:21] #550 closed

[2019-08-01 04:46] sarashs opened #888 "Unexpected option disp on command line"
When I add disp on I get the following error:
Error 1: Unexpected option 'disp' on command line

Note that I set the graphic flag as true in the makefile and made sure that all of the libraries are installed. Also make does not produce any errors and creates the following output:

make[1]: Entering directory `/home/arash/VTR-ROOT/libarchfpga'
make[1]: `read_arch' is up to date.
make[1]: Leaving di

[2019-08-01 14:10] kmurray commented on #888
I believe the behaviour of the graphics control options (--disp/--nodisp) changed between VPR 7 and VPR 8.

VPR 7: Graphics opens by default unless the `--nodisp` option is given (there is no `--disp` option)
VPR 8: Graphics is closed by default, unless the `--disp on` option is given (there is no `--nodisp` option)

Hope this helps clarify.

[2019-08-01 14:10] #888 closed

[2019-08-01 14:36] kmurray opened #889 "VPR RR Graph Memory Leaks"
#### Expected Behaviour

The main VPR routines (possibly excepting graphics) should not leak memory.

#### Current Behaviour

The [strong Valgrind](http://builds.verilogtorouting.org:8080/builders/strong/builds/1043/steps/vtr_reg_valgrind_small) and [nightly Valgrind](http://builds.verilogtorouting.org:8080/builders/nightly/builds/838/steps/vtr_reg_valgrind) regression tests report a memory leak f

[2019-08-01 14:36] kmurray commented on #889
@renrichard I've assigned this to you for now, since you are familiar with the load_rr_index_data routines from your work on Cinternal (not sure whether this is related to Cinternal or not).

[2019-08-01 20:21] mithro opened #893 "Support setting the color for each tile in GUI"
#### Proposed Behaviour

In the architecture XML you can add metadata to control colors of things in the GUI. This should include;
 - [ ] Set tile color
 - [ ] Set leaf pb-type color
 - [ ] Set track type color (segment types)

#### Current Behaviour

No control over this.

#### Possible Solution

 * https://docs.verilogtorouting.org/en/latest/arch/reference/#architecture-metadata
 * https://docs.

[2019-08-03 17:23] #733 closed

[2019-08-07 12:26] renrichard commented on #725
issues has already been resolved by @kmurray.

[2019-08-07 13:20] #889 closed

[2019-08-08 17:07] litghost commented on #620
Is there a working version of the RCV++ algo that can be tried?  I'm seeing some hold closure.  I also wonder if the placer needs some knowledge or idea of hold violations.

Anyways, if there is a WIP branch with RCV working, I'd gladly check it out on the designs I'm seeing issues with.

[2019-08-08 19:33] jeanlego commented on #850
fixed

[2019-08-08 19:33] #850 closed

[2019-08-08 19:34] jeanlego commented on #843
fixed

[2019-08-08 19:34] #843 closed

[2019-08-08 19:37] #808 closed

[2019-08-08 19:37] jeanlego commented on #695
fixed

[2019-08-08 19:37] #695 closed

[2019-08-08 19:38] #807 closed

[2019-08-08 19:38] jeanlego commented on #844
fixed

[2019-08-08 19:38] #844 closed

[2019-08-08 20:03] vaughnbetz commented on #620
It's mostly fixed in routing, rather than placement.  RCV is being debugged by Ming and Richard; I wouldn't try it yet but hopefully soon.
@renrichard @evozone96: feel free to give an update here.

[2019-08-10 02:51] renrichard commented on #620
@vaughnbetz @litghost

@evozone96  and I just discussed our plans forward.
1. I am running all the regression tests with RCV turned off to ensure they pass.
2. We are currently debugging LU32PEEng from the VTR benchmarks with RCV turned on.
3. Once we resolve this, @evozone96 will push a branch onto the master.

[2019-08-12 17:15] litghost opened #910 "Router prioritize better setup slack over closing hold violations"
#### Expected Behaviour

Router should prefer solutions that close hold timing over setup improvements

#### Current Behaviour

Router [prefers setup slack (e.g. CPD improvements)](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/1296c3274a148692240ff915c20fe50f428452ff/vpr/src/route/route_timing.cpp#L2720) even if it is a design with hold violations.

#### Possible Solution

Desi

[2019-08-12 20:01] ademmings opened #912 "Odin II adders don't use initial carry-in value"
#### Expected Behaviour
When instantiating an adder block, the carry-in value that's initially passed in should be used in the addition.

#### Current Behaviour
The initial carry-in value has no effect on the addition.

#### Example code:

[code]
** the values of cin1 and cin2 have no effect on the addition of a1 + b1 or a2 + b2.

[2019-08-13 13:42] kmurray commented on #620
@renrichard @evozone96  I think getting the RCV work onto a branch in this repo is an important first step. That will ensure both of you can work collaboratively on debugging.

After that:
1. We need to get all existing regression tests working (no errors/crashes)
2. Verify is that regular (with RCV turned off) routing quality and run-time are no worse than the current implementation.

Once that i

[2019-08-13 13:49] kmurray commented on #910
Yep, I agree the 3rd solution is better.

However at the moment VPR doesn't actually do anything to optimize for hold (see #620 for work addressing that), but it does optimize for setup. This means that any improvement to hold is just coincidental at the moment.

Certainly once VPR supports hold fixing we could re-order the priorities.

[2019-08-14 14:41] kmurray opened #917 "Non-left button mouse click cause blocks to be highlighted in VPR graphics"
#### Expected Behaviour

Only a left click in the VPR graphics should cause blocks/rr_nodes to be highlighted. Other mouse clicks should not effect the highlighting.

#### Current Behaviour

Any mouse click (e.g. middle click for panning) causes a block/RR node to be highlighted

#### Possible Solution

I suspect the mouse click callback needs to check which button was pressed, and only activate t

[2019-08-14 14:45] kmurray commented on #878
I believe this is now fixed with #911.

@acomodi if you still encounter issues please feel free to re-open.

[2019-08-14 14:45] #878 closed

[2019-08-14 14:56] acomodi commented on #878
@kmurray, Confirmed, I have checked it and the CI build without `gtk` does not encounter this issue anymore, thanks.

[2019-08-15 00:41] litghost opened #923 "Placer does not account for clock network fanout effects"
#### Context

As part of debugging VPR place and route quality on 7-series fabrics, I've noticed a pattern in placement behavior that differs greatly between VPR and Vivado.

Example of the issues:

VPR placement:
![vpr_placer](https://user-images.githubusercontent.com/537074/63065815-5aeb2600-bebc-11e9-9dad-d3c76bb3309e.png)

Vivado placement:
![vivado_placer](https://user-images.githubuserconten

[2019-08-15 13:53] #817 closed

[2019-08-15 15:18] #917 closed

[2019-08-15 18:17] litghost commented on #923
This theory is bad, while there is internal capacitance on clock fanout, the drive resistance is currently zero.  I still don't have a theory why the placer are difference, but clock skew minimization seems like a reasonable theory, but this doesn't explain it.

[2019-08-15 18:17] #923 closed

[2019-08-20 23:29] vaughnbetz opened #932 "Add Placement Constraints to VPR"
Currently VPR can only lock down the placement of I/Os (in the pads file), and there isn't a direct way to control the clusterer with constraints.

1. We should have a method to lock any primitives to a specific (x,y,z) location on the device (not just I/O pads).

2. This constraint should affect not only placement, but also packing.  Primitives with the same (x,y,z) should be packed together.  Th

[2019-08-22 21:38] kmurray commented on #932
Here is a possible file format for the constraints based on something I drafted up a while ago:

[code]

This is only a draft, so any comments or feedback are welcome!

[2019-08-23 00:25] vaughnbetz commented on #932
Thanks Kevin.  If we go with the one type of constraint option above -- (xmin,ymin,zmin) to (xmax,ymax,zmax) -- then I think it would also be good to allow a shortcut in the placement_region definition where you use a regex directly instead of having to define a partition name.

<placement_region partion_pattern="regex" || atom_name="regex">
 --> the atom_name option would create a partition with

[2019-08-28 08:32] tgorochowik opened #940 "Odin II fails if the top module doesn't have any ports"
Odin fails (with various syntax errors) if the top module does not have any ports.

#### Expected Behaviour
Odin should not fail with a syntax error if the syntax is correct.

#### Current Behaviour
Odin fails with various syntax errors for valid verilog files.

#### Possible Solution

#### Steps to Reproduce
Consider the following example:
[code]
This is a perfectly valid verlog syntax. Odin fail

[2019-08-28 20:08] #2 closed, assigned to aarongraham9, jeanlego, KennethKent

[2019-09-02 21:06] MohamedEldafrawy commented on #589
Hi @jeanlego,

Any progress on this issue?

[2019-09-03 16:03] vaughnbetz opened #945 "Coverity Warnings"
@litghost : there are two coverity warnings in the latest scan; I think they are in code that was likely to have been recently touched by you.  If not, another possibility is @mustafabbas.

_______________________________________________________________________________________________________
*** CID 203682:  Control flow issues  (DEADCODE)
/home/travis/build/verilog-to-routing/vtr-verilog-to-rout

[2019-09-04 11:51] jeanlego commented on #940
Odin will produce an empty blif when no primary IO is given since it cleans up the undriven input nets and output.

While I agree that the error is not explicit enough, and maybe give a warning rather than an error would be more suitable, the result will be an empty blif.

It would help to get an idea of what you were trying to achieve with the empty top module. Are you expecting an empty blif or

[2019-09-04 11:57] tgorochowik commented on #940
@jeanlego thank you for your reply.

We are working on an open source System Verilog compliance suite which can be found at https://github.com/SymbiFlow/sv-tests

It's still very early stages, but its goal is to cover the whole of the System Verilog LRM.

The project is currently trying to produce a "status report" for popular open source tools. that support Verilog or SystemVerilog, see: https://

[2019-09-04 18:02] litghost commented on #945
@vaughnbetz I just requested read-only access to Coverity Scan, and I'll see if I can figure out what it is looking at.

[2019-09-04 18:14] litghost commented on #945
[code]
is not code I'm familiar with, so I think @mustafabbas is a better candidate.  If @mustafabbas is also unfamiliar I can dig deeper.  Let me know @vaughnbetz .

[2019-09-04 19:34] vaughnbetz commented on #945
Thanks Keith.  @renrichard is another possibility since he's been refactoring router code.  Richard, Mustafa: is this near code you've been changing?  Looking for a volunteer to fix the warnings (shouldn't be too hard).

[2019-09-04 21:25] renrichard commented on #945
I'll volunteer a look at the warnings.

[2019-09-05 01:56] ppqzhao opened #947 "vtr failed in Eclipse with cygwin in Windows"
I tried to build vtr in eclipse with cygwin. But it failed with following message:
CMake Error at E:/zhao/resource/eda/vtr-verilog-to-routing/libs/libarchfpga/CMakeLists.txt:11 (list):
  list sub-command REMOVE_ITEM requires two or more arguments.
...
However, it can be build in cygwin console successfully. Can anyone help me?

[2019-09-05 17:40] vaughnbetz commented on #945
Great, thanks Richard.  They may be innocuous, but are best to fix even in that case so we stay coverity clean.

[2019-09-09 13:19] sdamghan commented on #170
fixed as of right now

[2019-09-09 15:01] #170 closed

[2019-09-10 22:57] mithro commented on #625
@acomodi Can you close out this issue (IE Check that everything is the same and then close it.)

[2019-09-11 10:16] acomodi commented on #606
@vaughnbetz I believe this can be closed, fixed by #648

[2019-09-11 10:21] acomodi commented on #625
@mithro I have checked that all the current builds (GCC-5/6/7/8/9 and Clang-6/8) do pass the strong regression tests. I can confirm this can be closed now.
I am unable to close the issue though, probably because I wasn't the original author of the issue.

[2019-09-11 10:53] #625 closed

[2019-09-11 15:41] vaughnbetz commented on #625
Thanks @acomodi!

[2019-09-11 21:25] vaughnbetz commented on #606
Thanks!

[2019-09-11 21:25] #606 closed

[2019-09-16 18:53] kmurray commented on #947
Windows is an experimental platform for VTR and as a result is officially unsupported.

However robust cross-platform fixes which improve VTR's interoperability with Windows would be welcomed.

[2019-09-16 18:53] #947 closed

[2019-09-16 22:48] kmurray commented on #569
Should be fixed with #943

[2019-09-16 22:48] #569 closed

[2019-09-16 22:48] kmurray commented on #409
Should be fixed with #943

[2019-09-16 22:48] #409 closed

[2019-09-17 21:23] lromor opened #968 "Installation path"
#### Proposed Behaviour
shouldn't make install should install *.a libraries inside `$DESTDIR/${CMAKE_INSTALL_PREFIX}/lib`

#### Current Behaviour
the location (without $DESTDIR) are:
[code]
#### Possible Solution
Probably change the makefile

#### Context

[2019-09-18 16:59] jeanlego commented on #173
fixed

[2019-09-18 16:59] #173 closed

[2019-09-18 17:01] jeanlego commented on #622
@sdamghan can you confirm that basic_vtr contains no leak?

[2019-09-18 17:04] jeanlego commented on #84
fixed, we now throw a name collision error.

[2019-09-18 17:04] #84 closed

[2019-09-18 17:22] sdamghan commented on #622
@jeanlego NO! it still has mem leaks, I've checked it a few mins before.

[2019-09-18 17:23] jeanlego commented on #622
please report ETA here also so we can track how close we are to being leak free

[2019-09-18 19:39] litghost commented on #526
@renrichard Did root cause for this issue get identified?  I'm planning on working on this issue, as it is affecting my work.

[2019-09-18 20:00] litghost commented on #526
@kmurray: I'm looking into this issue, and see something "smells bad"

The ``t_heap`` data has a linked list from the leaf node back to the source node:

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/91384efd78e7e1bca599cb7b667e88acac12dc87/vpr/src/route/route_common.h#L28-L29

Which is updated during expansion here:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/

[2019-09-18 20:38] kmurray commented on #526
@litghost I think we do actually need both pieces of information.

* The values in `route_ctx.rr_node_route_inf`correspond to the actual *best* path (so far) to each a node found by the router. Once we've found the target, the 'best so far' is the actual 'best' path found. That is why it is used by the traceback routines to figure out what the actual routing path is.

* In contrast, each t_heap co

[2019-09-18 23:01] litghost commented on #526
@kmurray : Agreed, I realized my mistake a little bit later.

I think I have found the answer, but I'd like a sanity check.  It looks like `update_traceback` just appends a traceback, but doesn't cleanup old traces for the same net. I added some debug prints to the `update_traceback`, and I see the following:

The first time the net is routed it uses inodes `610147`/`610148`:
[code]

Later that co

[2019-09-18 23:03] litghost commented on #526
VPR stdout will debug printing, and route file:
[holes.tar.gz](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3628666/holes.tar.gz)

[2019-09-18 23:32] litghost commented on #526
I think I found the bug?

[code]

[2019-09-19 15:22] acomodi commented on #513
@kmurray I have been working on supporting equivalent sites after https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/941.
I have an issue with the Resources Utilization. After packing we have the various device utilization calculations and the problem is the fact that, if the same block can be placed in different physical locations, the device utilization calculation should change.

[2019-09-19 20:51] vaughnbetz commented on #623
Is this fixed now?

[2019-09-19 20:57] vaughnbetz opened #970 "Add gtk memory leak suppression file for vpr in run_vtr_flow"
1. gtk has a few known memory leaks. We should have a valgrind suppression file so they don't confuse developers running regression tests. This can best be done in run_vtr_flow.

2. run_vtr_flow calls valgrind on every executable when you set the run with valgrind flag. It shouldn't call it on perl, as that results in spurious leaks detected as well.

#### Expected Behaviour
valgrind does not flag

[2019-09-19 21:00] vaughnbetz commented on #970
@mohamedelgammal:  I was hoping you could fix this one.

[2019-09-19 21:22] vaughnbetz opened #971 "Clock routing enhancements"
Things to do to finish off the clock code:

1. Support import of the clock network in an rr_graph.xml. I think this just needs a
<clock_root node=id> tag to be supported, and to identify the virtual clock sink.

2. Add documentation to the vtr web site.
  - In the tutorial section, add the example from your thesis with the pictures of the network, showing how to build a rib and spine.
  - In the a

[2019-09-19 21:34] kmurray commented on #526
If I recall correctly, the idea is that we can't prune part of a set of non-configurably connected nodes. If any node is used in a non-configurably connected set then *all* the nodes must be used. (This is the fundamental definition/invariant imposed by non-configurable edges).

As I mentioned in a bug somewhere previously, the only case I would expect there to be routing stubs is the case of non-

[2019-09-19 21:37] litghost commented on #526
Sure, but if the collection is tracking (e.g. https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/969), then pruning is possible.

[2019-09-19 21:39] litghost commented on #526
It isn't mentioned in this issue.  Regardless, if something like #969 is no good, shouldn't VPR do a cleanup after routing is complete?

[2019-09-19 22:24] kmurray commented on #526
I guess my point is that it is illegal to prune nodes which are part of a non-configurably connected node set. Non-configurable edges form sets of nodes which *must* be used together. Pruning nodes from the set is assuming that such edges are *configurable* which is not the case.

Non-configurable edges are used to model logical connections which [can not be turned off](https://docs.verilogtorouti

[2019-09-19 22:25] litghost commented on #526
But if there is no outbound connection from the group, the whole group _should_ be pruned.

[2019-09-20 18:59] sdamghan commented on #622
Basic_vtr contains no memory leak issues. It has been checked through the Valgrind for all tasks. This issue can be closed.

[2019-09-20 19:59] vaughnbetz commented on #622
Yeah!  Thanks.

[2019-09-20 19:59] #622 closed

[2019-09-20 20:24] kmurray commented on #971
For (3) the relevant code is here: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/place/place.cpp#L2238-L2287 which currently assumes the delay of 'ignored' nets is zero. But presumably when we are routing clocks the nets are no longer ignored and hence would get delays from the standard placement delay model (which at the moment won't account for the global clock

[2019-09-23 12:12] jeanlego opened #973 "Coverity error odin"
Line 2189:ast_elaborate.cpp

 CID 203686 (#1 of 1): Side effect in assertion (ASSERT_SIDE_EFFECT)
assignment_where_comparison_intended: Assignment sc_spot = sc_lookup_string(module_names_to_idx, temp_instance_name) has a side effect. This code will work differently in a non-debug build.

#### Context

doing the assignment of sc_spot outside the assertion should resolve the issue

[2019-09-23 12:19] jeanlego commented on #623
@sdamghan or @msohrabi2019  can you have a look?

[2019-09-23 12:24] jeanlego commented on #848
@msohrabi2019 can you verify that the issues are still there? And if so please raise new issue for each missing keyword or feature with a new verilog file to exercise the missing feature.

When creating the issue please refer to this issue so that it is easier to track.
@MohamedElgammal was kind enough to let us use his verilog files, so you could inspire yourself from these for yours.

Thanks aga

[2019-09-23 21:26] msohrabi2019 opened #976 "Microtest Code for Odin_II"
The repository includes testcases for some issues with Odin_II and
Each issue has a micro testcase in a separate directory.

Proposed Behaviour
It will help to run the Verilog  code read by Odin_II when an input port is unused in a module rather than the top module Odin_II

Current Behaviour:
It does not contain readable file by Odin_II

Possible Solution
By defining some functionality on Odin_II

[2019-09-23 21:35] jeanlego commented on #976
Cannot replicate. Closing

[2019-09-23 21:35] #976 closed

[2019-09-23 22:21] j-b-1-7 opened #977 "ODIN_II: buf primitive is not supported"
Related issue #848

#### Expected Behaviour
Odin should be able to parse and synthesize verilog files containing any/all synthesizable keywords in the verilog 2005 standard.

#### Current Behaviour
Odin aborts due to a parse error caused by the buf primitive, as this key word is not yet supported.

#### Possible Solution
Add support for the buf keyword

#### Steps to Reproduce
Run Odin II with the

[2019-09-23 22:29] j-b-1-7 opened #978 "ODIN_II: Aborts when module has unused ports"
Related Issue #848

#### Expected Behaviour
Odin II should provide the user with a meaningful warning, drop the unused variable, and continue parsing, rather than just aborting.

#### Current Behaviour
Odin II fails with a netlist error when a module has an unused port

#### Steps to Reproduce
Run Odin II with the verilog file provided by @MohamedElgammal
[top.v.txt](https://github.com/verilog-to-

[2019-09-23 22:36] j-b-1-7 opened #979 "ODIN_II: No need to check order when instantiating by name"
Related Issue #848

#### Expected Behaviour
Odin should not need to check the order of ports that are instantiated by name when instantiating a module

#### Current Behaviour
Odin fails with a netlist error because the ports are out of order
[code]

#### Possible Solution
No need to check port order if the ports have been instantiated by name

#### Steps to Reproduce
Run Odin II with the verilog c

[2019-09-23 22:52] j-b-1-7 opened #980 "ODIN_II: Segfault when connecting output port to vector element"
Related Issue #848

#### Expected Behaviour
Should be able to connect output port to vector element.
If this is not possible, Odin II should at least provide a meaningful error or warning message to help the developer to debug their code.

#### Current Behaviour
Odin II exits with a segfault, with no meaningful error or warning message

#### Steps to Reproduce
Run Odin II with the verilog file pro

[2019-09-24 16:58] acomodi opened #982 "Resource utilization with Equivalent Tiles"
After https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/941 got merged, I have been working on implementing the Equivalent Tiles placement (described in this [issue](https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/513)).

The problem I came across regards resource utilization after the packing stage.

To give more details, the packer instantiates a set of logica

[2019-09-24 16:58] acomodi commented on #982
@kmurray @litghost FYI

[2019-09-24 22:40] jeanlego commented on #973
Fixed

[2019-09-24 22:40] #973 closed

[2019-09-24 22:43] jeanlego commented on #623
@vaughnbetz, this has been fixed and should be good to close!

[2019-09-24 23:06] vaughnbetz commented on #623
Thanks!

[2019-09-24 23:06] #623 closed

[2019-09-25 15:39] sdamghan opened #984 "ODIN: function names do not respect scope and fails on duplicate function name in separate module"
Odin II actually recognizes the methods with the same name as the same methods in Verilog linked files

#### Expected Behaviour
Odin II should consider each method in its scope

#### Current Behaviour
It does not consider scoping conditions for methods, so it shows error related to the double definition of methods with the same name but in the different files which are linked together

#### Possib

[2019-09-26 21:57] kmurray commented on #982
If I follow correctly the issue is that since there is no longer a 1:1 correspondence between logical/physical blocks it isn't clear what should be reported to the user.

@acomodi Can you clarify whether this is just a reporting issue, or if there is actually a correctness/functionality issue involved?

[2019-09-26 21:59] kmurray commented on #982
From a reporting perspective, I think it makes sense to report both the logical block used (i.e. produced by packing), and the physical tiles used (i.e. after placement). Both pieces of information would be helpful.

[2019-09-28 02:07] vaughnbetz commented on #513
@acomodi:  I'm not sure of the specific code failure you're seeing, but here are a few thoughts.
We could do a conservative check after packing: if the number of some type of clustered block than there are physical locations that can accommodate it (i.e. more LAB instances than LAB + LABM locations) then we could give an error.
For more complex interactions (e.g. LAB + LABM instances > LAB + LABM

[2019-09-30 14:20] acomodi commented on #982
@kmurray This is both a reporting and correctness issue involved.

At the moment,  the packing stage checks, before going through placement, that all the pb_types instances can fit the target architecture. With more complex `equivalent_sites` definitions, understanding whether the packed solution can fit the arch could become a non-trivial task IMO.

My suggestion is to only report the `before-pla

[2019-09-30 15:34] sdamghan opened #987 "Declaration of wires type (in/out)"
Odin doesn't recognize the input/output direction of the wires when defined after the module declaration.

#### Expected Behaviour
Odin should accept both declaration type whether defining their types in the module name or defining after it separately.

#### Current Behaviour
If the wires' direction is defined after the module declaration, Odin detects them as a  redefinition.

#### Steps to Repro

[2019-09-30 20:22] kmurray commented on #982
Yep, I agree. Packing should no longer check whether the packing is 'feasible'. Initial placement is the correct place to do that error check. I can imagine cases where it may be complicated to find a feasible initial placement (due to complex interactions between multiple different equivalent sites). But that is really a problem that initial placement should be handling; not the packer.

There is

[2019-10-01 11:01] acomodi commented on #982
@kmurray All right, I will remove the blocking error from the packer to the initial placement, maintaining though the packer reports on the required resources.

I am going to open a PR soon with the WIP branch I am working on. I have still some troubles with the pin mappings, and it would be great if you could take a quick look at that and give me an preliminary feedback whether the direction I to

[2019-10-01 15:14] acomodi commented on #982
@kmurray I am also thinking to add an additional attribute to the equivalent sites tags.
The problem is that there are the equivalence of the sites is not bidirectional: in fact, a LABM cannot be placed in a LAB tile.

This means that, for the initial placement, the resources must be allocated in a sort of `priority` order, instead of randomly select a possible location (e.g. LABM or LAB tiles for

[2019-10-02 14:50] kmurray commented on #982
Without thinking too deeply about it, it seems like this is something that should be left up to the tool to decide. That is, I think this should be handled entirely by initial placement. The initial placement problem is then to find a mapping of logical pb_types to the available physical tiles.

I could envision more complex scenarios (e.g. more than two equivalent sites per tile, giving multiple

[2019-10-03 16:53] mithro commented on #932
@litghost + @acomodi + @mkurc-ant

[2019-10-03 16:55] mithro commented on #932
Could we use SDC / XDC constraints here? That is what existing tools use.

Examples at https://www.xilinx.com/support/documentation/sw_manuals/xilinx2018_1/ug903-vivado-using-constraints.pdf - See Placement Constraints section.

[2019-10-03 17:07] mithro commented on #932
Related SymbiFlow Issues
 * https://github.com/SymbiFlow/symbiflow-arch-defs/issues/1000
 * https://github.com/SymbiFlow/ideas/issues/2

[2019-10-03 19:32] vaughnbetz commented on #932
We could use tcl format constraints (what Quartus and Vivado use).  The syntax of each is a bit different and not standardized like SDC is for timing, so I'd say this would be a tcl interface to essentially the same information.
I was thinking xml first since it should be easy to parse / hopefully can use the new xml parser generator.  But I don't have any particularly strong opinion about also do

[2019-10-03 19:33] vaughnbetz commented on #932
Edited the original constraint description to capture the possible future work of having a fourth, within-cluster index or id, that allows precise control within the cluster as well for those making very detailed constraints.

[2019-10-04 08:24] mkurc-ant commented on #932
For me it also makes sense to control the placement from the design itself. For example we could add support for attributes of BLIF cells that would provide those constraints.

Like that:
[code]

Another idea is to something like "location names" to top-level tiles. Setting those in arch. definition would make it possible to make the VPR compatible with other P&R tools in terms of specifying place

[2019-10-04 14:28] kmurray commented on #932
While I can see the potential convenience of this, I think it mixes two separate concerns together:
1. The definition of the design logic
2. How the design logic should be mapped to the device (constraints)

Since those are two conceptually separate things, I think its better to keep them independent.

For instance, using BLIF attributes means the netlist is now very tied to a very specific to a s

[2019-10-10 04:01] rubyredsnow opened #1002 "A failure in installation when Performing Text CXX_COMPILER_SUPPORTS_Wcatch-value=3"
When I make the VTR installation, everything seems ok except a faliure in "performing Text CXX_COMPILER_SUPPORTS_Wcatch-value=3 -Failed".
The terminal shows that Configuring and Generating are done and the installation is over with "Built target route_diag", which seems no wrong.

#### Your Environment

* Operating System and version: Ubuntu 18.04
* Compiler version:gcc 7.4.0

[2019-10-10 13:36] kmurray commented on #1002
I don't think that is anything to worry about. From what you described it sounds like everything built correctly.

The CMake build system VTR uses tests whether the compiler supports certain (optional) flags, mostly related to compilation warnings. The messages you saw just indicate that one of those flags is unavailable, this is not a problem and the code should still build properly (as indicated

[2019-10-10 13:36] #1002 closed

[2019-10-11 17:01] bonifus opened #1003 "VPR graphics not attempted to install after recent trunk update"
After downloading the latest trunk, cmake doesn't install vpr graphics option
#### Expected Behaviour
The build system should attempt to build VPR with graphics support by default.

If all the required libraries are found the build system will report:

-- EZGL: graphics enabled
If the required libraries are not found cmake will report:

-- EZGL: graphics disabled

#### Current Behaviour
No -- EZGL

[2019-10-12 17:27] leon575777642 opened #1004 "Inconsistent fasm metadata semantics"
As specified [here](https://docs.verilogtorouting.org/en/latest/utils/fasm/), the semantics for different FASM metadata are inconsistent. This is not a bug but somewhat confusing. Specifically:

1. `"="` is used to indicate the bit mapping for LUTs, but `":"` is used for MUXes. I understand that the "direction" of the mapping is different: For LUTs, bits are assigned from the right to the left. Fo

[2019-10-12 17:34] mithro commented on #1004
@litghost

[2019-10-13 21:38] mithro opened #1005 "sdc file not syntax highlighted in documentation"
A couple of sdc examples are not highlighted in the documentation. They are;

------------------

 * https://docs.verilogtorouting.org/en/latest/vpr/sdc_commands/#set-disable-timing

![image](https://user-images.githubusercontent.com/21212/66722825-ff0f2180-edc6-11e9-85a1-faf1427e7fed.png)

------------------

 * https://docs.verilogtorouting.org/en/latest/vpr/sdc_commands/#set-multicycle-path

![

[2019-10-15 13:50] leon575777642 commented on #1004
@mithro Any updates? I'm also wondering how to express it if the contents of the LUTs should be mapped into multiple features?

[2019-10-15 15:18] litghost commented on #1004
@leon575777642 While I think your observations are valid, in the case of the LUT/param syntax versus the MUX syntax, you have already identified why the syntax is different.  In addition, the LUT/param syntax is 1:1, versus MUX which is 1:many.

As for changing `fasm_mux` to support space separation, I'm not opposed, but it doesn't seem like a priority, as they are of equivalent expressive power.

[2019-10-15 16:01] litghost commented on #1004
That is a 1:many relationship, not 1:1. Anyways, when fusing two LUT4 in your proposed arch, do you require another feature?  Because in the underlying hardware there would be another mux.  In 7-series, the F7MUX and F8MUX are those features, and are explicitly instances as black boxes and timing info, etc.

[2019-10-15 16:27] leon575777642 commented on #1004
Oh by 1:1 I mean the bit mapping. But if you think of features, then yeah it's 1:many.

As for the underlying hardware, the F7MUX and F8MUX do not need "programming bits". They can be enabled via some `fasm_features` under a `<mode>` tag. Also, I'm designing my own FPGA, so the underlying hardware can be vastly different (for example, the programming bits of a LUT may not be continuous in the conf

[2019-10-15 18:03] litghost commented on #1004
@leon575777642 I'm open to you submitting a PR that adds support for a different LUT syntax under a new FASM tag.  Your proposal in https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1004#issuecomment-542274835 is a significant enough departure that it probably should just be a new fasm tag type.  If the new syntax implements nicely, we can deprecate the old FASM LUT syntax and mi

[2019-10-15 18:12] kmurray commented on #1005
I've noticed this as well. I think the cause is the escaping of pin names, which makes Sphinx's tcl syntax highlighter give up (since it thinks they are invalid tcl).

[2019-10-15 18:29] mithro commented on #1004
It is not expected that FASM features map directly to the configuration address bits. IE A fasm feature could enable multiple bits in the configuration space.

It is the fasm assembler which takes the fasm features and turns it into an exact bitstream. This could for example mean splatting the LUT bits all over the place like the Xilinx 7 Series does -> https://symbiflow.github.io/prjxray-db/artix

[2019-10-15 18:31] mithro commented on #1004
Btw you might want to take a look at the bitstream viewing tool at https://github.com/SymbiFlow/symbiflow-bitstream-viewer which should help connect fasm features to actual bits in a bitstream.

[2019-10-15 18:48] leon575777642 commented on #1004
Thanks @mithro. I understand the FASM features don't map directly to the configuration address space. I have an assembler that does most of the bitstream generation as well. Not asking for a huge change, just suggesting a possible improvement that makes the syntax more consistent. Supporting LUT slicing is similar to supporting multiple features emitted from one MUX connection -- it's not necessar

[2019-10-15 18:48] #1004 closed

[2019-10-16 03:11] mithro commented on #1004
@leon575777642 - it would be awesome to see if it is possible to extend the bitstream viewer tool I linked above to work with your bitstream / fasm too..

[2019-10-16 03:53] xuananh1997 opened #1006 "Problem about change value of Fs in Non-Custom Switch Block"
VTR encountered an error when running VTR with a value of Fs other than 3 of Non-Custom Switch Block in file architecture.

#### Expected Behaviour
   VTR should run succesfully with Fs of Non-Custom Switch Block other 3.

#### Current Behaviour
   VTR encountered an error when running VTR with a value of Fs other than 3 of Non-Custom Switch Block.

![failed](https://user-images.githubusercontent.

[2019-10-16 04:20] MohamedElgammal commented on #970
Fixed!
I have added a valgrind suppresion file in vtr source tree under vpr directory. I also updated the run_vtr_flow.pl to automatically detects this file.

[2019-10-16 04:20] #970 closed

[2019-10-16 13:49] vaughnbetz commented on #970
Excellent -- thanks!

[2019-10-17 01:03] leon575777642 commented on #1004
Went through the visualization tool briefly, and it seems too complex for me. I'm using fasm metadata in a very naive way: each feature is simply the bit address in the bitstream that should be set to 1, so reading the bits directly is good enough for now. In the long run I might have other configuration memory types, which may need more complex tooling like a visualizer.

[2019-10-17 16:50] litghost opened #1009 "VTR_ENABLE_SANITIZE should support Clang"
#### Proposed Behaviour

VTR_ENABLE_SANITIZE = ON should enable sanitizers on Clang.

#### Current Behaviour

VTR_ENABLE_SANITIZE = ON results in errors around the linker flags.

#### Possible Solution

The CMake functions to enable sanitization on Clang are:
[code]

#### Context

I was attempting to enable sanitization on VTR when using Clang as the compiler, and it failed to compile.

[2019-10-21 23:04] JakeMercer commented on #987
I decided to take a look at this one; a simple `top.v` does not fail?

`top.v`:
[code]

Output:
[code]

[2019-10-21 23:08] JakeMercer commented on #987
I also attempted running against [openrisc/mor1kx](https://github.com/openrisc/mor1kx) but I hit other errors:

[code]

Could you advise what I'm doing wrong and I'll fix the parser?

[2019-10-22 15:24] jeanlego commented on #987
### Assessment of the bug
by the looks of it, it is not expecting
``` if (OPTION_PIC_TRIGGER=="EDGE") ...```
and causes the errors following it to happen (unexpected vEND , etc)
The way to fix this one would be to make sure that verilog_bison.y has a state for if statements during generate blocks, more specifically:

[code]

but to my eyes, the generate keyword is not being handled properly and on

[2019-10-23 00:52] litghost opened #1013 "Unexpected timing constraint behavior on global clock buffers"
#### Expected Behaviour

Constraining the input clock pin should propagate through global clock buffers

#### Current Behaviour

Constraining the input clock pin results in all other clock buffers being ignored.

#### Possible Solution

1. Do not supply an SDC file at all
2. Provide VPR constraints for all clocks (including dependent clocks)
3. ???

#### Steps to Reproduce
1.
2.

#### Context

We

[2019-10-23 01:35] litghost commented on #1013
@vaughnbetz / @kmurray I'm guessing this behavior is caused by how VPR constraints clocks.  If no SDC is supplied, does VPR generate constraints?  And then if an SDC is supplied, VPR generates no constraints?  Should VPR always generate the "default" constraints for unconstrained clocks, even in the presence of an SDC file?  Should VPR generate better diagnostics if generating the "default" clock

[2019-10-23 03:22] vaughnbetz commented on #1013
I strongly believe generating clock constraints by default when there is an SDC is highly undesirable. We constrain clocks to go as fast as possible when there is no sdc as a convenience feature.  Once there is an sdc, we obey it.  [FYI: this approximately matches what we did in Quartus, and from what I can observe approximately matches what Xilinx does, although both those tools do a "light" opti

[2019-10-23 16:09] litghost commented on #1013
I do not disagree with anything you have written, however an error in sdc constraints resulting in:
[code]

With the only indication of failure is the CPD = NaN and the following message:
[code]

There ought to have a been a message akin to:
[code]

or something.  The only reason I figured out how to get past this issue is the fact that no SDC => everything was fine, SDC only on input clock + glob

[2019-10-23 16:31] mithro commented on #1013
I think there are a couple of things here;
 1) It would be good for VPR to transfer timing constraints through "simple" black box devices like clock buffers.
 2) If providing a timing constraints file (IE An SDC file) then you should provide constraints for *all* clocks in your system. It seem reasonable that this is an *error* not just a warning. If you want a clock to be unconstrained or "as fas

[2019-10-23 16:44] litghost opened #1014 "Placer awareness of "obstructions""
#### Expected Behaviour

Placer should be aware of and avoid placing near obstructions.

#### Current Behaviour

Placer relies on place delay matrix, which does not account for obstructions.

#### Possible Solution

Unclear

#### Context

On the 7-series arch/routing graph, there are "obstructions" that are not captured with the place delay matrix (which works best in the unobstructed sections of

[2019-10-23 16:47] mithro commented on #1014
Could you render some diagrams of this to make it easier to understand the obstructions? I believe vpr recently got the ability to dump a grid to an image file?

[2019-10-24 17:41] vaughnbetz commented on #1013
Agreed on #1 and #4.  Both will take some development, which this issue can track.

#3 is done:  see https://docs.verilogtorouting.org/en/latest/vpr/timing_constraints/#default-timing-constraints (explains the defaults and the equivalent SDC constraints)

#2: I disagree that this should be an error.  Not specifying a constraint on a clock, or on paths between clocks, or on some I/O paths means you

[2019-10-24 18:36] vaughnbetz commented on #1013
#1 is the most important, and shouldn't be that hard as Kevin's code already traces through .names buffers (he thinks). Keith, can you attach a small test case (arch file, small example design, and point us at the exact global clock buffer syntax / definition in both the architecture and .blif files).
I think -- and Kevin seems to agree although he's less sure :) -- we should flip our clock propag

[2019-10-24 18:37] vaughnbetz commented on #1013
4 is a good ramp up or summer student task.  Will look for an owner.

[2019-10-25 00:20] mithro commented on #1013
@vaughnbetz - I agree that with #2 most CAD tools let you forget a constraint on a clock it'll just continue happily. I have lost **many** hours to this behaviour. This also frequently trips up beginners. It would be perfectly fine to have a `--ignore-missing-timing-constraints` type flag.

[2019-10-25 19:47] #526 closed

[2019-10-25 19:54] kmurray commented on #1009
Yep makes sense that VTR_ENABLE_SANITIZE should work for clang too.

I recall there was an issue related to the linker (with some versions of GCC?) which required a GCC specific option to make work. I think backing that out to only be active if GCC was the compiler would fix this.

[2019-10-25 20:02] kmurray commented on #1014
Yes, these would be helpful

Yes, via the [--save_graphics](https://docs.verilogtorouting.org/en/latest/vpr/command_line_usage/#cmdoption-vpr-save-graphics) option.

[2019-10-25 20:10] litghost commented on #1009
Clang requires that the sanitize flags be passed to both the compile and link steps, hence why I listed both `add_compile_flags` and `add_link_flags`.

[2019-10-25 20:11] kmurray commented on #1014
It makes sense that this should have an effect.

A quick and dirty (i.e. probably not a good long term solution), would be to leverage [placer delay model overrides](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/place/place_delay_model.h#L82l). Currently they are used to override the delay estimates between particular pairs of pins. You could try leveraging them

[2019-10-27 00:57] yurivict opened #1016 "clang-8: error: static_assert failed due to requirement 'integral_constant<bool, false>::value' "the specified hash does not meet the Hash requirements""
[code]

FreeBSD 12

[2019-10-28 18:25] yurivict opened #1017 "Build breaks with the latest abc: error: cast from pointer to smaller type 'ABC_PTRINT_T' (aka 'int') loses information"
[code]

clang-8 on FreeBSD.

Version 8.0.0_rc1
abc f9309ce

[2019-10-28 21:29] litghost opened #1018 "Thread safety in core router algorithms"
#### Proposed Behaviour

All core router algorithms should have thread safety, by which I mean the following properties:
 - Constant read-only data may be shared between router data structures and invocations.  This includes things like the rr node definition list and switch list, which is only mutated during rr graph generation.
   - Examples:
     - RR nodes
     - Switch list
     - Non configu

[2019-10-28 22:00] litghost commented on #1018
Remaining callsites where mutable global data is use:
 - mutable_* :
[code]

Distribution of mutable data:
[code]

[2019-10-28 22:01] litghost commented on #1018
Use of routing_ctx data:
[code]

[2019-10-29 12:46] kmurray commented on #1013
I've implemented (1). It was somewhat more involved as it required some changes to how the timing graph is constructed and how Tatum handles propagating clocks.

The new behaviour is as follows.
For a white-box `.names`, we track back from the output pin to the *input* pin (this captures `.names` buffers if they weren't already swept from the netlist).
For black-box primitives we trace back to the

[2019-10-29 13:43] vaughnbetz commented on #1013
Thanks Kevin!  This looks great.
I think your example below should go in the architecture file documentation somewhere -- what do you think?

[2019-10-29 17:48] litghost commented on #1018
- [x] check_route.cpp
 - Used in `recompute_occupancy_from_scratch`, which is only done during `check_route` and `read_route`
- [x] clock_connection_builders.cpp
 - Okay, done prior to routing
- [ ] clock_network_builders.cpp
- [ ] route_breadth_first.cpp
- [ ] route_common.cpp
- [ ] router_delay_profiling.cpp
- [ ] router_lookahead.cpp
- [ ] route_timing.cpp
- [ ] route_tree_timing.cpp
- [ ] rr_g

[2019-10-29 18:52] kmurray commented on #1013
For something like:
[code]
It would detect clka and clkb as separate clocks. Any downstream paths using clk_downstream would be analyzed for both clka and clkb.

For automatically generated constraints this means clocks would be created for both clka and clkb, and the downstream logic would be analyzed for both clocks. The automatically generated constraints do not analyze cross-domain paths so yo

[2019-10-29 18:53] kmurray commented on #1013
Agreed, I'll work on getting that in the docs.

[2019-10-29 19:28] vaughnbetz commented on #1013
That clock muxing behaviour all sounds good. Thanks Kevin.

[2019-10-29 20:38] kmurray commented on #1013
I've updated the [timing modelling tutorial](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#clock-buffers-muxes) to include these examples.

Closing as I believe the primary issue is now addressed.

[2019-10-29 20:38] #1013 closed

[2019-10-30 02:45] vaughnbetz commented on #1018
I generally agree it's best to minimize global state, and making a parallel router would be useful. Sameh Attia is interested in trying some new ideas we have for parallel routing for his PhD, so we may have a person to work on an algorithm that should scale better than existing approaches (but that is a ways off as he has other things to work on first).

Basic principles I'd like to follow:

1. H

[2019-10-30 02:59] vaughnbetz commented on #1013
Looks great; thanks Kevin!

[2019-10-30 03:03] vaughnbetz opened #1022 "Create VPR timing report on unconstrained paths"
See #1013 .
This is to track item 4 from that issue -- creating a report on unconstrained paths (clocks in particular, but also can include IO->reg paths and so on).

#### Proposed Behaviour
We should produce a report on unconstrained paths in final timing sign off.
Possibly we should also produce a big warning if we find nothing to optimize (but I'm not sure if that behaviour is easy to trigger g

[2019-10-30 18:09] litghost opened #1023 "Nightly golden QoR is out of date?"
#### Expected Behaviour

[code]
should run without error.

#### Current Behaviour

@ f98a99ffc7d63c92e4d87d6b024e649c80a4c681
[code]

#### Possible Solution

It is unclear if the QoR regressions are expected or not.  If they are expected, I guess the golden QoR needs to be updated.

#### Steps to Reproduce

1.
2.

#### Context

#### Your Environment

VPR FPGA Placement and Routing.
Version: 8.0.0-

[2019-10-30 19:24] vaughnbetz commented on #1018
Adding Sameh @samehattia

[2019-10-31 15:20] kmurray commented on #1023
Yep, I noticed this too. Should be fixed with 4a559a23a

[2019-10-31 15:20] #1023 closed

[2019-10-31 22:11] litghost opened #1027 "Handling IPIN delays at rrgraph / pb_type interface"
## Context

This question is a mix of modelling and route behavior.  I'll start with a description of the 7-series rrgraph import behavior around "site pin delays", and then describe the observed effect this has on the router.  Then a short discussion around potential alternatives.

### Modelling of delay between the rrgraph and pb_type

The 7-series rrgraph part description has 3 principle parts:

[2019-10-31 22:12] litghost commented on #1027
After writing out https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1027#issue-515780120, I realized a simple solution to fix the "hump" behavior.  There is still an option question of whether the modelling strategy should be changed to accommodate LUT rotation.

[2019-10-31 22:13] litghost commented on #1027
@vaughnbetz @kmurray @HackerFoo

[2019-10-31 22:31] HackerFoo commented on #1027
@litghost What is the simple solution?

[2019-10-31 22:35] litghost commented on #1027
There is already a connection box annotation per `IPIN` node, so we can add the site pin delay to the that annotation, and combine the generic delay matrix with specific site pin delay.

During computation of the delay matrix, we can also subtract out the specific site pin delay, so that we have compatible data.

[2019-11-01 17:07] kmurray commented on #1027
I'd classify this as a lookahead issue. If you aren't capturing these characteristics then the router will continue to explore since it doesn't realize there is no better path.

Yes, fixing the lookahead to capture the effect of these different delays seems like the right approach.

[2019-11-01 17:10] kmurray commented on #1027
I'll add that at the moment the packer router is not timing driven, so it only performs LUT rotations for routability purposes.

On the long-term roadmap the plan is to unify the inter and intra block RR graphs which would allow a single stage routing which would do LUT rotations correctly for delay.

[2019-11-01 18:26] jeanlego commented on #589
@georgkrylov this might be of interest to you

[2019-11-01 21:33] litghost opened #1029 "Better documentation/description of lookahead definition of "congestion""
The map lookahead precomputes two values:
 - Delay
 - Congestion

And the cost calculation is:
[code]

I believe I understand the definition for delay, but I don't really grok what the `congestion` number is.  What is a good definition of the `congestion` value?

I assume there is a VTR paper (or potentially a code comment) explaining it, but I haven't located it just yet.

For context, I'm debugg

[2019-11-01 21:48] litghost commented on #1029
An alternative name for this idea I believe is the "base cost".

One example of base cost is delay normalized, which seems to be closest to what the map lookahead implements

[code]

[2019-11-01 22:05] litghost commented on #1029
In particular the congestion value that is tripping up the lookahead at this point is for the "FAN_ALT" node type.  This node is fairly odd, I've made a little diagram:

![Drawing](https://docs.google.com/drawings/d/e/2PACX-1vREZAzbCdHFcKV_dfK89d7LzmtWRIK63YZfQu32tkno0Mop8TvdL0zCQMRmz7BfjZ147USb8nvK89_f/pub?w=1210&amp;h=911")

[2019-11-01 22:07] mithro commented on #1029
@litghost - That image appears to be broken?

[2019-11-01 22:13] litghost commented on #1029
Fixed, looks like Google Drawing returns to wrong context type, as a result github's image caching breaks.

[2019-11-02 15:31] JakeMercer commented on #987
A `begin` and an `end` did not solve/improve the issue, parsing still fails.  I have made the following change which allows the parsing to complete but the elaboration of the AST fails when looking up `irqline`.  The below change allows for more than one statement between `generate` and `endgenerate`.

[code]

[2019-11-02 15:51] jeanlego commented on #987
If you wouldn't mind, I think it would be good if you made a fork and did a WIP pull request out of this. Simplify the work and put the code through the regression test

[2019-11-03 22:29] vaughnbetz commented on #1029
The congestion cost is really base_cost * pres_cost * acc_cost.  pres_cost and acc_cost are automatically computed, so base_cost is the only thing to worry about setting.

Base costs are set at https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/6c8608c8afab583e52c690133d090db7ccc7e3cd/vpr/src/route/rr_graph_indexed_data.cpp#L145

The default base_cost_type is DELAY_NORMALIZED_LENGTH

[2019-11-03 23:29] vaughnbetz commented on #1027
Modeling the average input pin/site delay in the lookahead will help avoid back-tracking.  You could at least model the smallest delay, which will lead to some backtracking, but less than if you model 0 ps in the lookahead for these elements.
If the router really has no ability to choose a better input and get a faster result, then modeling the average delay in the lookahead and changing the rr-gr

[2019-11-04 17:44] mithro opened #1031 "cmake fails to configure if no Qt install is found"
`blifexplorer` requires Qt5, however this seems like a very optional tool. Currently cmake fails if no qt is found;
[code]

[2019-11-04 20:16] litghost opened #1032 "Unbounded memory usage in case of pathelogical heap behavior"
#### Expected Behaviour

Router should have bounded memory usage in all circumstances

#### Current Behaviour

A pathological graph can trivially cause a memory explosion.

#### Possible Solution

I haven't thought about solutions, I wanted to document the issue first.

#### Context

The core router expansion is roughly:
 1. Expansion lowest code node
 2. Add heap entries for all nodes that have c

[2019-11-04 20:50] mithro opened #1033 "./run_reg_test.pl gives unreadable errors on invalid test suite"
#### Expected Behaviour

The `./run_reg_test.pl` script tells you that the test suite is invalid.

#### Current Behaviour

Currently the `./run_reg_test.pl` script will says something like `Error: 4 tests failed!` for any -- including invalid - test suites.

See full output below;
[code]

[2019-11-04 22:07] kmurray commented on #1031
I agree this could be made more robust.

However I believe this only shows up if the BUILD_BLIFEXPLORER cmake parameter is explicitly set to ON (should default to OFF).

[2019-11-05 21:54] litghost opened #1036 "Unexpected variation between iteration display and analysis report"
#### Expected Behaviour

Critical path delay should be the same between the iteration display (within tolerance) and the analysis setup delay report.

#### Current Behaviour

Variations as large as 14 ns (iteration estimate ~19.5 ns, analysis reporting 33 ns) have been observed.  On a more typical run, variations of of .5-3 ns are typical.

#### Possible Solution

Unknown at this time.

#### Steps

[2019-11-05 22:01] litghost commented on #1036
I added a simple debugging step to print the full `report_timing.setup.rpt` at each iteration, and the critical path delay in the timing report is correct.  So the question is why is the critical path different in the router iteration display from the value in the timing report?

[2019-11-05 22:12] litghost commented on #1036
Looks like the routing iteration display uses `tatum::find_critical_paths` and the reporter uses `tatum::TimingPathCollector::collect_worst_setup_timing_paths`.  So the question is why do they return a different CPD?

[2019-11-05 22:23] litghost commented on #1036
Bug was introduced in https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/485697eacfdea46ebf4efdb727866e0b522e186f , the cache was not invalided when `update_setup()` is called, only when `update()` was called.

[2019-11-06 02:37] litghost commented on #1036
Fixed by #1037

[2019-11-06 02:37] #1036 closed

[2019-11-06 19:51] litghost opened #1038 "Assertion failure with PLLs potentially due to propigated clocks"
#### Expected Behaviour

No assertion is fired on PLLs.

#### Current Behaviour

Following assertion is firing, I've added more to the assertion message:

[code]

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blame/master/vpr/src/timing/timing_graph_builder.cpp#L200

Assertion was introduced in https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/53510d94baf7691e1f15b

[2019-11-06 19:55] litghost commented on #1038
Sorry I think the bug was here: https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/5007035d3389c84b7506d050e7b2b01bd9017a26#diff-31ec6c191fb261c72ad6804a23bf1a26

[2019-11-06 20:08] litghost opened #1039 "Better documentation on the libtatum, and its usage in VPR"
#### Context

I've been trying to debug #1038, but I don't understand how libtatum builds its timing graph, and there is insufficient comments in https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/timing/timing_graph_builder.cpp for me to understand what is being done.

There are two asks:
 - A short piece of documentation explaining libtatum from a higher level.  Exa

[2019-11-06 20:08] litghost commented on #1039
@kmurray

[2019-11-06 20:15] litghost opened #1040 "Code review comments from tracing timing graph build"
This issue tracks various code review comments on the timing graph code.

[2019-11-06 20:16] litghost commented on #1040
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/base/atom_lookup.cpp#L163-L164

This oaught to be a `tnode_atom_pin_.insert`, with a `VTR_ASSERT` that the insert succeedeed, e.g.
[code]

[2019-11-06 20:18] litghost commented on #1040
Neither
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/base/atom_lookup.h#L90
nor
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/base/atom_lookup.h#L81

should have a default argument of `BlockTnode::EXTERNAL`, given that they represent disjoint sets.  Whenever `a

[2019-11-06 20:21] litghost commented on #1040
Wondering if there needs to be a comment close to https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/timing/timing_graph_builder.cpp#L122-L123 about how the timing edge between the `INTERNAL` and `EXTERNAL` nodes are built.  More over, I'm wondering why that `EXTERNAL` to `INTERNAL` edge is not simply built here.

[2019-11-06 20:22] litghost commented on #1040
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/timing/timing_graph_builder.cpp#L150

This comment tells me what the code does, but it is missing the **why**.

[2019-11-06 20:23] litghost commented on #1040
FYI @kmurray

[2019-11-06 20:25] litghost commented on #1040
https://github.com/kmurray/tatum/blob/751112a2c6632e36ba5a8dce651b5bd159622fb3/libtatum/tatum/TimingGraphFwd.hpp#L21-L23

What is the meaning of `intermediate` in this context?  Maybe deserves an example?

[2019-11-06 20:28] litghost commented on #1040
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/timing/timing_graph_builder.cpp#L119-L121

`add_block_to_timing_graph` really needs a diagram of the how internal/external `SOURCE`, `SINK`, `IPIN`, `OPIN`, and `CPIN` all relate.

[2019-11-06 20:30] litghost commented on #1040
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/timing/timing_graph_builder.cpp#L234

Misspelling of `coming`?

[2019-11-06 20:33] litghost commented on #1040
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/timing/timing_graph_builder.cpp#L257-L262

Given that `INTERNAL` nodes are "reversed", is this code backwards?  Does this loop really make sense for `INTERNAL` nodes?

[2019-11-06 20:33] kmurray commented on #1039
Yep, agreed this is an area in need of improvement!

[2019-11-06 20:35] litghost commented on #1040
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/timing/timing_graph_builder.cpp#L279-L280

To lower indentation level here, maybe make this like:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/timing/timing_graph_builder.cpp#L232

and continue when the node is miss

[2019-11-06 20:39] litghost commented on #1040
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/timing/timing_graph_builder.cpp#L354

This should probably say: "Propagating clock from X to X"?

[2019-11-06 20:42] litghost commented on #1040
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/4a16cd69263923109e321eb108b9f3b47508e637/vpr/src/timing/timing_graph_builder.cpp#L200

This assertion problably needs to explain why it is an assertion.  As far as I can tell, it is because output clock pins should **only** have external timing nodes, and https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/s

[2019-11-06 21:09] litghost commented on #1038
So as far as I can tell, because `find_netlist_logical_clock_drivers` now propagates clocks through black boxes (which correctly are marked ` <port is_clock="1" name="CLKFBOUT"/>` https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc7/primitives/plle2_adv/plle2_adv.model.xml#L21), but that results in the clock output not be marked as `is_netlist_clock_source`
https://github.com/verilog-t

[2019-11-06 22:33] litghost commented on #1038
I've created a test case demostrating this failure https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1041

[2019-11-12 15:11] #592 closed

[2019-11-12 15:20] litghost opened #1043 "Placer congestion awareness"
#### Expected Behaviour

Placer avoids creating "hard to route" placement.

#### Current Behaviour

Placer may generate two placements with roughly equivilant CPD, but have dramatically different routability.

#### Possible Solution

A quick google search has lead me to believe that congestion aware placement exists (example: [GPlace 3](https://dl.acm.org/citation.cfm?id=3233244)).  Does VPR's pla

[2019-11-12 17:04] litghost commented on #1043
@vaughnbetz @kmurray

[2019-11-12 18:29] vaughnbetz commented on #1043
Yes, you can make placers congestion aware. There is a significant literature on it, so probably a longer conversation about approaches, etc.
Before making the placer congestion aware you want to trust the router, however, as congestion terms will compete against wirelength minimization and timing optimization, so you don't want to do more congestion optimization than necessary.  If you don't trus

[2019-11-12 19:56] mithro commented on #1043
I agree with what @vaughnbetz says. Let's first figure out what is congested...

I did find http://www.ispd.cc/contests/16/ispd2016_contest.html - ISPD 2016 : Routability-Driven FPGA Placement Contest (targeting Xilinx Ultrascale rather than Xilinx Series 7 -- but still might have interesting information).

[2019-11-12 20:54] litghost commented on #1043
I'm running the iteration now, but the congested nodes do not look super specialized.

[2019-11-12 21:11] litghost commented on #1043
Preliminary results (iteration 24, over used nodes 397):
[code]
FAN, BYP and GFAN are specialized routing resources.  Overall about half of the congestion is on specialized resources, but the other half is on more generalized routing resources.

The router tends to start stalling hard around now (between 200 and 300 overused nodes).

Here an example where the router behaviors "cleanly":
[code]

He

[2019-11-12 21:16] litghost commented on #1043
Overuse counts at iteration 29 (overuse count 346):

Segment | Overuse count
-- | --
FAN | 97
BYP | 97
GFAN | 13
interconnect | 162

[2019-11-12 21:19] litghost commented on #1043
Here is a visual display of the overuse:
![iter_29_overuse](https://user-images.githubusercontent.com/537074/68711672-f9843300-054e-11ea-8be5-2cdef4fcaaef.png)

[2019-11-12 21:22] litghost commented on #1043
Overuse counts at iter 32 (overused nodes 305):

Segment | Overuse count
-- | --
FAN | 87
BYP | 72
GFAN | 7
BRAM Address | 2
interconnect | 148

[2019-11-12 21:26] litghost commented on #1043
Router iterations for above data:
[code]

[2019-11-12 21:37] litghost commented on #1043
Overuse logs for iteration 1-40:
[overuse_logs.tar.gz](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3838334/overuse_logs.tar.gz)

[2019-11-12 21:41] litghost commented on #1043
@vaughnbetz @mithro So I think your questions are valid, but from my untrained eye, I believe that the hypothesis of router misbehavior matches the data.  What are some concrete things to check and/or test for to estimate router "trust"?

[2019-11-12 21:45] litghost commented on #1043
Overuse counts for iteration 41 (overused nodes 227):

Segment | Overuse count
-- | --
FAN | 56
BYP | 73
GFAN | 8
BRAM Address | 4
interconnect | 98

[2019-11-12 21:50] mithro commented on #1043
It might be worth checking what the nets are that have not been successful routed? I could imagine an issue where a clock net or high fan out net gets routed really late and that causes issues.

[2019-11-12 23:53] vaughnbetz commented on #1043
The router often takes more than 50 iterations to converge.  So the fact that it runs out of memory at iteration 53 is odd.  Is this with the re-tuned / improved lookahead?
If you set the maximum criticality in the router to 0 does it converge?  That would test what happens when the router is focusing less on timing. Could do the same experiment with maximum criticality of 0.1.

[2019-11-13 00:08] litghost commented on #1043
Ya, this is with an expansion on summed base cost, and base cost is correctly used.

[2019-11-13 00:47] litghost commented on #1043
Criticality 0:
[code]

Router is still having trouble resolving the same type of nodes, but it is making more progress with `--max_criticality 0`.

Given how slower the router is resolving the congestion on a hand full of nodes, I've taken a look at congestion lookahead for the relevant bits, and they look pretty reasonable.  One thing I've thought about (but haven't had an answer too) is the fact

[2019-11-13 03:02] vaughnbetz commented on #1043
The lookahead assumes no congestion, so pres_cost and acc_cost = 1.  Optimistic, but hard to predict much better. Note that if a node is not congested, and has never been, acc_cost and pres_cost are both 1, no matter how big pres_fac and acc_fac become.

[2019-11-13 18:17] litghost commented on #1043
@vaughnbetz Sorry for the lengthy discussion, I've isolated the problem to the initial bound box sizes.  By relaxing the initial bb factor (from 6 to 10), the router behaves well.  There is an open question why the router didn't open the bounding boxes on its own, but that probably should be examined in another issue.

[2019-11-13 18:17] #1043 closed

[2019-11-13 18:23] vaughnbetz commented on #1043
Ah, that is good.  We should still figure that out though!

[2019-11-13 18:24] litghost commented on #1043
[code]

[2019-11-13 22:48] litghost opened #1045 "Placer awareness of dedicate routing resources"
#### Proposed Behaviour

Placer should be place instances to take advantage of dedicated routing resources

#### Current Behaviour

Placer only uses delay matrix to choose placement decisions

#### Possible Solution

Open to suggestions

#### Context

This is in the context of the 7-series routing fabric.  There are two classes of placements that are relevant here:
 - Placements where the nets are

[2019-11-13 23:20] mithro commented on #1045
Does marking these as carry chain pack patterns have an effect?

[2019-11-13 23:23] litghost commented on #1045
They do not qualify, because they actually have routing.  For example, the CCIO -> PLL connections can route to either CLKIN1 or CLKIN2.

[2019-11-13 23:25] mithro commented on #1045
Well, you mentioned two types of issues. The first type might be solved in a similar style to dedicate carry chain outputs.

The second is more complicated.

[2019-11-13 23:26] litghost commented on #1045
Nah, they both are really the same issue.  BUFH to clock in also has routing choices.

[2019-11-13 23:28] mithro commented on #1045
Can the routing just be moved into a tile and then a pack pattern used to keep these things together?

[2019-11-13 23:29] litghost commented on #1045
For the BUFIO, maybe?  For the BUFH and it's ilk, absolutely not.

[2019-11-13 23:29] mithro commented on #1045
What prevents it?

[2019-11-13 23:31] litghost commented on #1045
One BUFH drives an entire CMT (e.g. SLICEL, SLICEM, BRAM)?  You are very confused about the problem at hand here.

[2019-11-14 15:51] vaughnbetz commented on #1045
These detailed, relatively one-off, placement constraints are fairly nasty to make fully data-driven, so I suspect the best we can do is make them partially data-driven, and have some cleanly isolated architecture-specific code and clean data hand offs to the main placer.  So here's a proposed high-level plan:

1. Before main placement starts (before even initial placement, or maybe as the first l

[2019-11-14 23:38] litghost opened #1046 "LUT rotation and congestion on 7-series graph"
@vaughnbetz suggested testing whether adding LUT equivalence would enable faster congestion avoidance on the 7-series graph.  This issue for tracking the results of the router behavior in this case.

[2019-11-14 23:40] litghost commented on #1046
I've started a route run, but the results don't look good from a router congestion standpoint.  The first run starts as follows:

[code]

What is nice is that the critical path has dropped by 2 ns by adding the LUT rotation, which is one of the expected results.  However, the number of overused rr nodes actually increased!  It will take more time to see what will happen after further iterations.

[2019-11-14 23:42] litghost commented on #1046
For comparision, here the router log for the graph without LUT rotation support:
[code]

[2019-11-14 23:43] vaughnbetz commented on #1046
Having more congestion initially might be due to everything wanting the fastest LUT input.  Hopefully will still converge faster.
You may also want to try a run with max_criticality clipped to something small (e.g. 0.1, or 0) so the router doesn't care that one input is faster.

[2019-11-15 00:59] litghost commented on #1046
Some results are in.

LUT equivilance | A* factor | BB factor | first_iter_pres_fac | initial_pres_fac | pres_fac_mult | acc_fac | Reconvergence count | max_criticality | Iterations | CPD (ns) | Runtime (sec)
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
On | 1.2 | 10 | 0 | 0.5 | 1.3 | 1 | 1 | 0.99 | 34 | 18.4141 | 2884.13
On | 1.2 | 10 | 0 | 0.5 | 2 | 1 | 1 | 0.99 | 22 | 71.9663 | 194

[2019-11-15 16:46] litghost opened #1047 "Debugging router congestion speed"
#### Context

On the 7-series graph, congestion resolution for the picosoc on the 50T graph is quiet slow.  This issue documents the data I've gather attempting to diagnose the "failure".

@vaughnbetz @kmurray If you have specific data to gather to debug this issue, that would be very value.

[2019-11-15 16:48] litghost commented on #1047
The baseline router convergence I'm debugging is the following one:
[code]

Parameters for this routing were as follows:

LUT equivilance | pres_fac_mult | acc_fac | max_criticality | A* factor | BB factor | first_iter_pres_fac | initial_pres_fac | Reconvergence count
-- | -- | -- | -- | -- | -- | -- | -- | --
Off | 2 | 1 | 0.99 | 1.2 | 10 | 0 | 0.5 | 1

[2019-11-15 16:51] litghost commented on #1047
I've adding debugging display the overused nodes at each iteration, and the over used node log is attached:
[overused_nodes.tar.gz](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3852443/overused_nodes.tar.gz)

[2019-11-15 16:57] litghost commented on #1047
I've added debugging to display time take for each iteration per connection, so that slow connections can be isolated and debugged.  I've gather the data for the first two iterations, and pasted them here:
[code]

I enabled sink debugging on 3081251 to determine the behavioral change from iteration 1 (pres_fac = 0) and iteration 2 (pres_fac = 0.5).  Here is the log for iteration 1:
[code]

And ite

[2019-11-15 17:06] litghost commented on #1047
Fun facts about iteration 2:
[code]

So of the 679110 pops, 75% were not useful!

[2019-11-15 17:59] litghost commented on #1047
Completed iteration with connection timing is below, worst conn and net is displayed, along with all connections that took long than 1 second.
[code]

[2019-11-15 19:12] vaughnbetz commented on #1047
Thanks @litghost
I see some strange data in these logs that I think should be checked out (or explained, if you know why they're happening).

1.
799538 "CLBLM_R_X27Y132/CLBLM_M_AQ", cost = **4.93243e-14**, first explored at pop 2 (5.405405405405405 %) @ 20
2. 794810 "CLBLM_R_X27Y132/CLBLM_M_AQ", cost = **1.08912e-09**, first explored at pop 3 (8.108108108108109 %) @ 35

How do we get a cost that i

[2019-11-15 19:17] litghost commented on #1047
That isn't a clock wire, it is a portion of a long vertical length 9 wire that is traversing the HCLK tile.  Clock wires are named like `HCLK_CK_` or `GCLK_L_B0` or `CLK_L0`.

[2019-11-15 19:18] litghost commented on #1047
Those early nodes are the nodes modelling the output site pin delays.  The lookahead for those nodes are very bad (and very simple), but I expect they shouldn't matter because there is no choice, which is why the router very quickly gets out of that space.

[2019-11-15 19:24] litghost commented on #1047
Profiling data confirms some things:
 - Dead pops are relatively cheap, about 8.5% of the connection runtime total.  So even if the number of dead pops were lowered.
 - Dead pushes are problematic, because an unused push still requires the computation of the lookahead and congestion values. Given that only 28% of pushed nodes were even popped, that means roughly 60% of the connection runtime was w

[2019-11-15 19:56] litghost commented on #1047
Flame graph for profile of relevant run:

![flame_graph](https://user-images.githubusercontent.com/537074/68971675-eb2c5600-079e-11ea-83af-44e8ee3c5697.png)

[2019-11-15 19:59] litghost commented on #1047
Breakdown of time:
- 91% of the time is spent expanding nodes
- 9% is spent popping nodes

[2019-11-15 20:20] litghost commented on #1047
Important observation about the lookahead behavior:

[code]

Lookahead queries account ~21% of the runtime, because there were 33 million lookups (total).  However only 39k unique queries were made, so it is very likely a lookup LRU cache would do very well.

[2019-11-15 20:26] vaughnbetz commented on #1047
So the first opin pop is just the lookahead cost of that opin, and the second has the real base cost of that opin added?  If so, that should be OK (i.e. the base cost is reasonable / not near 0).

[2019-11-15 20:27] litghost commented on #1047
Yep!

[2019-11-15 20:32] vaughnbetz commented on #1047
I believe we're doing too much expansion for a design of this size; not sure why (maybe try higher astar_fac or ensuring the lookahead understands how many nodes are necessary to reach the destination once you are in the various final muxes?).  I think those will be higher impact than low level code optimization at this point.

To test that theory, you could run the same design on the stratixiv-li

[2019-11-15 20:34] litghost commented on #1047
I agree, but as far as I can tell, the reason for the excessive expansion is that the cost map is flatish.  So once congestion is introduced, the router spills into parallel reasonable paths.

[2019-11-15 20:41] vaughnbetz commented on #1046
Thanks.
The fact that max_crit = 0.1 takes longer than max_crit = 0.99 is very strange.  It implies something weird is happening; maybe the lookahead is not predicting the total base_cost of the resources expected on the path well?

[2019-11-15 20:42] vaughnbetz commented on #1047
That should be addressable with good base_cost prediction, possibly in combination with a higher astar_fac though.  If you turn off all timing costs (set max_crit to 0), but predict the base_costs well, the router should find it easier to converge, but it seems the opposite is happening.

[2019-11-15 20:44] litghost commented on #1047
I'll start look at the router behavior with only base cost lookahead (e.g. max_crit = 0).

[2019-11-15 21:03] litghost commented on #1047
So I believe that we have good base cost prediction, based on the following evidence:

Max_criticality = 0.99 and pres_fac = 0:
[code]

Max_criticality = 0.0 and pres_fac = 0:
[code]

Should that first iteration at max_crit = 0 be even faster?

[2019-11-15 21:31] litghost commented on #1047
I have a gut feeling there is a problem around how congestion through non-configurable node sets are computed.  @kmurray can you explain something about the expansion step that confuses me.

1. When a non-configurable node set is encountered, the congestion code for that entry includes all nodes in that set, see https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/30fe417dd191b2233b53

[2019-11-15 21:38] litghost commented on #1047
I tried changing the behavior around https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1047#issuecomment-554536454 and it didn't have a large impact, so that isn't the whole picture.  Still digging.

[2019-11-15 21:40] kmurray commented on #1047
@litghost I believe the logic was to push the nodes individually into the heap in order to account for timing differences between the different nodes. I think you have a draft of the VTR 8 paper, Section 9.4 describes the method used for non-configurable edges.

[2019-11-15 21:42] litghost commented on #1047
Individually pushing makes sense, I'm wondering if the backwards congestion cost computation is now wrong.

[2019-11-15 21:50] kmurray commented on #1047
Actually, looking at

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/30fe417dd191b2233b534cc42ee3a4d58dcf5bfa/vpr/src/route/route_common.cpp#L724-L737

Is the continue condition wrong? As written it will only add the congestion cost of other nodes in the set when node == inode (which was already done outside). That would mean we aren't counting the full congestion cost of the ot

[2019-11-15 21:50] litghost commented on #1047
Ya, I think the algorithm in Section 9.4 has the same issue.  Let me layout an example for clarity.

Let's imagine a U shaped wire, so it will have two CHANY and one CHANX, yes?  They will be connected via shorts, so they will be a non-configurable set.  Lets assume the router enters on one CHANY, and exits the other CHANY.  Algorithm 4 and 5 will behave as follows:

Diagram of u-shaped wire:
[cod

[2019-11-15 21:52] litghost commented on #1047
No that particular code is actually correct.  The node == inode condition is to prevent a double counting of the congestion cost of inode, which was already accounted for here: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/30fe417dd191b2233b534cc42ee3a4d58dcf5bfa/vpr/src/route/route_common.cpp#L724

[2019-11-15 22:06] litghost commented on #1047
Here you can see a routing trace for the criticality = 0:
[code]

This is with A* factor = 1.2, and you can see that the cost does increase the whole way to the target.  So that does likely indicate an under-predict of the base cost.   However that under predication is somewhat expected, given that pres fac will cause the cost to increase in a way that is hard for a static lookahead to predict.

[2019-11-15 22:11] litghost commented on #1047
Effectively the original lookahead for that connection was `8.58244e-10`, and the final congestion cost was `1.19094e-09`.  That is ~1.39 times, which is about what we would expect given that pres fac was 0.5, yes?

[2019-11-15 22:33] litghost commented on #1047
I've isolated at least one gross mispredict, I'll keep digging.  Relevant data:

[code]

The backwards cost from 1442556 -> 1441658 went from 5.49967e-10 to 6.14089e-10 (6.4122e-11), however the lookahead expected the forward cost to drop from 3.65e-10 to 3.40338e-10 (2.4662e-11).  So the lookahead under predicted the base cost change by a factor 3!  That's pretty bad.

[2019-11-16 01:21] litghost commented on #1047
I've created a full router trace dump here:
[route_debug_iter_2_net_5375_sink_2996576.json.tar.lzma.zip](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/3853662/route_debug_iter_2_net_5375_sink_2996576.json.tar.lzma.zip)

It is a in a JSON format, with a handful of keys.  The important ones are `final_route`, which has a list of the traceback rr nodes in the final route, and `no

[2019-11-16 20:23] vaughnbetz commented on #1047
For the first routing iteration, we shouldn't see any lookahead mispredicts due to congestion as congestion isn't being costed (pres_fac = 0).  Later iterations will get some mispredict *when there is congestion*, as you noted. If there is no congestion, there still should not be any mispredict, as pres_cost is 1 if there is no congestion, no matter what pres_fac is.  So we want to get rid of misp

[2019-11-17 01:31] mustafabbas commented on #732
Hi Kevin, how do I get access to coverity? Or can you past the scan result. Thanks

[2019-11-18 15:20] kmurray commented on #732
I've sent the invitation, once you register you should be able to see the results.

[2019-11-18 15:26] kmurray commented on #1047
Yep agreed, this would give a good ball park numbers which may point us in the correct direction.

[2019-11-18 19:30] litghost commented on #1047
Here is my first shot at an analysis of the lookahead and router behavior:
[code]

[2019-11-18 19:33] litghost commented on #1047
What this is show is the delta between two nodes in the final route, first showing the first pop of the relevant node, and second showing the "best" (e.g. lowest total cost).

The backward cost increment is: `nodes[N+1].back - nodes[N+1].back`
The forward cost decrement is: `nodes[N].forward - nodes[N+1].forward`
The lookahead cost decrement is `nodes[N].lookahead - nodes[N+1].lookahead`

The rela

[2019-11-18 19:42] litghost commented on #1047
For reference, this is the same analysis as above, but one iteration 1 (e.g. no congestion, max_crit = 0):

[code]

[2019-11-18 19:45] litghost commented on #1047
What https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1047#issuecomment-555177138 shows is that lookahead is behaving okay in congestion free cases, except for one part of the path.

[2019-11-18 19:59] kmurray commented on #1047
@litghost FYI, I've fixed two bugs related to the costing of non-configurable node sets:

1. Incorrect/under-predicted get_rr_cong_cost() for nodes in a non-configurable set (fixed in 83fdb1529)
2. Multiple counting of non-configurable set cost congestion when re-expanding nodes within the set (fixed in 68877d9a6)

Where (2) was the issue you pointed out earlier where we were re-adding the full co

[2019-11-18 20:01] litghost commented on #1047
I saw those changes, and they explain something I was seeing but couldn't explain around the non-config sets.  Anyways, I'm re-running to see if there is any impact.

[2019-11-18 20:12] litghost commented on #1047
I'm seeing a somewhat faster convergence, so that is hopeful.  Individual iteration time is unchanged, but it might converge faster?

[2019-11-18 20:15] kmurray opened #1049 "Add Regression Tests for Cinternal"
As noted in #1042 the [Cinternal feature](https://docs.verilogtorouting.org/en/latest/arch/reference/#tag-%3Cswitchtype=) (#607) seems to not be covered by the vtr_reg_strong regression test.

A regression test of this feature [should be added](https://docs.verilogtorouting.org/en/latest/dev/developing/#adding-tests).

[2019-11-20 15:06] vaughnbetz commented on #1047
Adding @YFWang97 @xuqinziyue @cindyhou to the discussion as they're working on Symbiflow quality.

[2019-11-20 15:07] vaughnbetz commented on #1046
Adding @YFWang97 @xuqinziyue @cindyhou to the discussion as they're working on Symbiflow quality.

[2019-11-20 15:11] vaughnbetz commented on #1047
Adding @MohamedElgammal

[2019-11-20 15:21] vaughnbetz opened #1050 "Router options should print out the lookahead being used"
We don't echo this option back out to the user; we should.

[2019-11-20 15:45] litghost commented on #1047
I'm working on a change that seems to help somewhat, here are the new results, `max_crit = 0.0`:
[code]

What I changes was the base cost length scaling.  The current code in master allows unlimited scaling.  In the 7-series arch, there are length 1 segments and segments that are ~44 units long.  This means the ratio of max(base_cost)/min(base_cost) ~= 44.  As a result when the router chooses a lo

[2019-11-20 19:49] litghost opened #1051 "Congestion backwards cost missing from add_route_tree_node_to_heap"
#### Expected Behaviour

`add_route_tree_node_to_heap` should include congestion costs?

#### Current Behaviour

`add_route_tree_node_to_heap` only includes delay backward costs

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/route_timing.cpp#L1775-L1781

#### Possible Solution

Unclear if this behavior was intention or unintentional?

#### Steps to Reproduc

[2019-11-20 19:49] litghost commented on #1051
@vaughnbetz @kmurray

[2019-11-20 20:34] kmurray commented on #1051
I believe what is being assumed here is that any node which is part of the existing route tree (i.e. used by other connections in the same net) is 'free' from a congestion perspective. This is why it doesn't have any (i.e. zero) congestion cost associated with it.

Effectively this encourages the router to share nodes between connections. This is good for wirelength at the net level, as it encoura

[2019-11-20 21:14] litghost commented on #1051
Even in the absence of congestion, the backward costs should still have `(sum of base costs of previous nodes) * (1 - criticality)`

[2019-11-20 21:50] vaughnbetz commented on #1051
This is an intentional behaviour; those wires are already part of the routing tree, so they are free from a congestion & base cost perspective.  They still have delay, so their timing cost is included, but not their base cost or any congestion multipliers.

[2019-11-20 22:24] vaughnbetz commented on #1047
Interesting.
We're getting some bad behaviour above in terms of re-routing: while there is little congestion, we are re-routing a ton of nets and connections, probably because we detect their timing is bad.  That's presumably because we're hacking the router a bit to set max_crit to 0, so it still thinks it's trying to get fast routes, but in fact we've crippled its timing optimization :(.
Could h

[2019-11-20 22:25] litghost commented on #1047
There is a command line for that

[2019-11-20 22:33] litghost commented on #1047
One thing @mithro suggested was to look at the bounding box for slow nets, and it does turn out that the slow nets have large bb's:

[code]
There are connections with large bounding boxes that route fast, but I haven't explored why this might be.

[2019-11-20 22:54] kmurray commented on #1047
Another thing to try would be running with `--timing_analysis off` which would target the router only at routability/wirelength and should avoid delay-based rip-up & re-route.

[2019-11-20 23:02] vaughnbetz commented on #1047
If the lookahead works well and there isn't significant congestion, the bounding box size doesn't matter much since the router only explores a small part of the routing graph anyway. With significant congestion and/or lookahead mispredicts we explore a lot more, and the bounding box caps the worst-case behaviour. My guess would be that is the cause of the bi-modal behaviour.

If you don't route th

[2019-11-20 23:03] litghost commented on #1047
Because none of the congestion resources are clocks, I don't believe clock nets are relevant.  None of the slow nets/connections I've examined are clock nets, they are all logic nets.

[2019-11-21 00:17] litghost commented on #1047
Good catch!  When I turned off ripup and ran with `--max_criticality 0.0` runtime was only 120 seconds:

[code]

[2019-11-21 00:31] litghost commented on #1047
I've disabled ripup on picosoc, and the runtime drops by more than half:
[code]

[2019-11-21 00:38] litghost commented on #1047
So I've found 3 changes that have dramatically improvement the runtime:
 - Disable ripup
 - Limit the scaling of base cost on length 4 orders of magnitude
 - Increase the pres fac cost scheduling to 3 (from 1.3)

I believe that last change is likely an intermix of the limiting of the scaling of the base cost, which effectively lowered base costs by too much.  So by increasing the pres fac cost sch

[2019-11-21 00:44] mithro commented on #1047
to

to

?

[2019-11-21 17:58] litghost commented on #1038
@kmurray Friendly bump

[2019-11-21 19:04] vaughnbetz commented on #1047
We wouldn't want to leave timing optimization off (which is basically what max_crit = 0 has done) but it's useful to see if the router speeds up when only trying to solve congestion (it should, and now it does) and to see how the lookahead is working for non-critical nets (since we made everything non-critical).  The long critical path should be an artifact of that, so we should leave timing optim

[2019-11-21 19:08] vaughnbetz commented on #1047
FYI, we can probably save a little CPU time by making the first iteration have at least a small tie-break for congestion (don't set first_iteration_pres_cost to 0, set it to 1 or 0.5 or something above 0).  Could also set (all) criticalities to somewhat less than 0.99 in the first iteration (0.95? 0.9?) so we pay a little attention to congestion.  Would break ties that are nearly equal speed to sp

[2019-11-21 19:09] litghost commented on #1047
I effectively did that be increasing the iteration 2 pres fac from `0.5` to `4` and used the default pres fac schedule, and the router completed in about 400 seconds.

[2019-11-21 20:35] vaughnbetz commented on #1047
Makes sense.  Changing iteration 1 as I mentioned above may squeeze a little more out ...

[2019-11-25 22:27] #1051 closed

[2019-11-25 22:41] litghost opened #1056 "Diamond route reduction"
#### Context

This is about matching vendor tool behavior, but I want to open an issue in case this should be solved in a general way.

#### Problem statement

In the 7-series fabric, `VCC` (e.g. logical true / 1) is available from the local switch boxes `HARD1` pin.  This is then connected to some nodes by default (e.g. an empty bitstream connects `VCC` to nodes.  After VPR routing is completed,

[2019-11-26 00:49] vaughnbetz commented on #1056
I don't see what the problem is. The two routings use the same number of resources (nodes); in fact the nodes used are the same. The VPR one has a slightly longer connection to the CLK_L1 (branches off FAN_ALT1 instead of HARD1) but as Vcc nets have infinite time to arrive at their destination it doesn't matter.
Does Vivado complain about the VPR routing?  If not, there's no problem that I can see

[2019-11-26 21:25] aoguzatli opened #1057 "Core dump in VPR due to buffers"
In an attempt to run VPR on a .blif description of a RISCV processor core, I am getting a "double free or corruption" error followed by a core dump during the netlist pre-processing step.

Using the option "--absorb_buffer_luts off" or removing the buffers in the design seems to prevent the error, but I wanted to post the bug because this might be indicative of a corner case or a bug in the pre-pr

[2019-11-27 16:05] litghost commented on #1056
No, but one of subgoals is to have automated bitstream generation verification.  In this case, Vivado cannot express the `FIXED_ROUTE` that we use, which is less than ideal.  I agree VPR is not at fault here, I was just picking your brain on whether a VPR cleanup around this might be possible.  Given that this issue is simply an artifact of route expression, I'll like fix it up after VPR generates

[2019-11-27 16:05] #1056 closed

[2019-11-27 16:46] vaughnbetz commented on #1056
If you make criticality of this signal slightly above 0 you probably will reduce the odds of getting slightly longer connections (FAN_ALT1->FAN_ALT5 connection) by telling the router there is some timing impact (even though there isn't).  Not sure if that's a good idea or not, but you could try it by setting a min_crit as well as a max_crit in the router, and making min_crit small (say 0.05 or so)

[2019-11-27 18:09] rljacobson opened #1058 "Official prebuilt binary download website is broken"
The links to download the official prebuilt releases eventually land here:
http://www.eecg.utoronto.ca/vtr/register.html

This form appears to be broken no matter if I complete the form or I click "Download without registration."  I get the following error (screenshot attached):

[code]
<img width="471" alt="Screen Shot 2019-11-27 at 1 01 37 PM" src="https://user-images.githubusercontent.com/14125

[2019-12-06 18:35] HackerFoo commented on #359
`vpr/src/pack/output_blif.cpp` was removed in https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/280634e5cc9789bd8addf071eaac45cb32e9dd01

[2019-12-06 19:20] HackerFoo commented on #359
The remaining BLIF writers seem to vary in what they support:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/bd6a0acffd7d8521db5ea6d0f7a3c88d1c5b35d3/vpr/src/base/atom_netlist_utils.cpp#L193-L208
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/bd6a0acffd7d8521db5ea6d0f7a3c88d1c5b35d3/vpr/src/base/netlist_writer.cpp#L1235-L1238

And `print_netlist_as_blif()` add

[2019-12-09 15:44] kmurray commented on #1058
Thanks for the report.

@vaughnbetz can you look into this? It seems like the CGI script should be moved under the 'vtr' directory (rather than jluu which no longer exists).

[2019-12-09 18:26] vaughnbetz commented on #1058
Working on this ... unfortunately I need to get the directories moved so I have permission to edit them. Asking our sysadmins for that ...

[2019-12-09 21:23] kmurray commented on #1057
Thanks for the report @aoguzatli, and the test cases to reproduce the issue!

It seems the problematic buffers were of the form:
[code]
where `bus_address[0]` is a top level primary output, and `address[0]` is a dangling net (i.e. has no sinks).

or

[code]
where net `singlecycle_datapath.adder_pc_plus_4.result[2]` has no driver.

VPR was not handling these case correctly (since it perform buffer

[2019-12-09 21:23] #1057 closed

[2019-12-10 17:58] #1029 closed

[2019-12-11 11:32] acomodi opened #1062 "Prepacker fails to find primitive"
With latest master revision (https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/97ea31dec0fc6cda40914dee25ffae722fcbf9ef) packer fails with some SymbiFlow v2x tests (https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/utils/vlog/tests) with the following message:

[code]

#### Expected Behaviour

Packer completes successfully

#### Current Behaviour

Prepacker fails

####

[2019-12-11 16:38] kmurray commented on #1062
Thanks for the report, I'll take a look!

[2019-12-11 17:19] litghost opened #1063 "Allow for heterogenous placements"
#### Proposed Behaviour

Enable a tile definition that has the following properties:
 - Heterogeneous placement types
 - Non-uniform physical to logical pin mappings

#### Current Behaviour

Tile capacity causes a full duplication of the tile ports and each instance in the capacity stack must be identical.

#### Possible Solution

I believe this feature requires two steps:
1. Decouple how physical

[2019-12-11 17:19] litghost commented on #1063
@acomodi @vaughnbetz @kmurray

[2019-12-11 17:26] kmurray commented on #1062
The raw netlist considered is:
[code]

After cleaning the netlist revisions prior to 3005451 produce (as atom_netlist.cleaned.echo.blif when VPR is run with --echo_file on):
[code]
where the comment in front of the buffer indicates the buffer was actually absorbed (the atom netlist BLIF writer inserted a buffer to produce a valid BLIF so ABC's LEC could be used, as its not possible to represent a

[2019-12-11 17:26] #1062 closed

[2019-12-11 17:44] kmurray commented on #1063
Thanks for filing the issue @litghost.

I do not quite grasping what 'heterogeneous placement types' and 'Non-uniform physical to logical pin mappings' mean. Can you perhaps provide some examples and diagrams of what you want to model, and how these ideas would enable that?

One thing we want to avoid is putting all of the complexity of the packer into the placement engine (see discussion of case

[2019-12-11 17:44] kmurray commented on #513
I believe this is now complete with #1053.

[2019-12-11 17:44] #513 closed

[2019-12-11 17:46] kmurray commented on #268
Modelling different IO tiles with alternate pin-outs and capacities is now supported with the new equivalent placement site support from #1053, so closing.

[2019-12-11 17:46] #268 closed

[2019-12-11 17:47] kmurray commented on #512
This was added with #1053, so closing this issue.

[2019-12-11 17:47] #512 closed

[2019-12-11 19:13] litghost commented on #1063
To address this specific concern, the modelling I'm talking about has no impact on packing, as the relevant logical tiles have zero within cluster connections.  They are simply bels that are collocated at a routing graph location.

[2019-12-11 19:18] litghost commented on #1063
Let's talk about this first.  Consider the cmt tile in the 7 series graph.  It contains several BELs, but they don't represent co clustered instances. The BELs  at this tile are a couple ADC BELs, some fabric BELs (bitstream reset and reconfigure logic).  Each of these BELs are really independently placeable instances, but they share a routing graph location.

[2019-12-11 19:21] litghost commented on #1063
The current modelling language requires that a port have an location e.g. side and height and width offset.  When capacity is added, all instances of the port share these values.  In some cases, each instance of the port might need different height or width offsets, or even sides in stranger configurations.

The example i gave was:

[2019-12-12 08:45] litghost opened #1064 "riscv_core_lut6.blif not checked in"
The new absorb buffer test is missing a file (riscv_core_lut6.blif), I think it was not checked in.

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_absorb_buffers/config/config.txt

This could've been found if a PR was opened rather than commits made directly on master.

[2019-12-12 08:45] litghost commented on #1064
FYI @kmurray

[2019-12-12 10:12] acomodi commented on #1062
Great, thanks for the fix!

[2019-12-12 14:38] kmurray commented on #1064
Noted, and thanks for pointing this out!

[2019-12-12 14:38] #1064 closed

[2019-12-12 19:15] vaughnbetz commented on #1063
Basic change: [x][y].type to [x][y][z].type (where z in 0..capacity -1, i.e. a subblock).

[2019-12-12 19:27] vaughnbetz commented on #1063
Discussion on case 3 of 36k vs. 18k RAMs: I suggest modeling 18k RAMs in the placement grid and using placement macros to tie two 18k together when necessary.  Keith thinking about the SW engineering.

[2019-12-13 01:14] litghost commented on #1063
I realized a downside to this approach, which is that the resource utilization will get filled with spam.  If there are 32 global buffers, each with their own physical tile type, it will make the resource utilization harder to read.  This isn't a huge problem, but it is less than ideal.

[2019-12-13 01:33] tanvir-a opened #1066 "Generating incomplete .fasm file"
Recently I am working with VTR Flow to generate a small FPGA. I was facing some issues while generating the .fasm file. I tried a working version from an open-source project and the flow is working on the developer’s system. However, in my system, I found that the .fasm file is incomplete (the expected file has more information). Also, I tried with the debug and sanitizer option on and found the f

[2019-12-13 02:36] kmurray commented on #1066
Thanks for the report @tanvir-a.

Would it be possible for you to include a test-case which triggers this behaviour?

@litghost The stack trace appears to be in the FASM generation code, can you take a look?

[2019-12-13 02:54] tanvir-a commented on #1066
Thanks for your quick reply. @kmurray

I checked the previous issue #1010 (issued by @leon575777642 ) which has merged in the master branch but not in the release. I modified the fasm.cpp, and the problem is solved. By the way, I am using PRGA project.

[2019-12-13 05:48] litghost commented on #1066
Sounds like you have found the solution, and can close this issue?

[2019-12-13 06:04] #1066 closed

[2019-12-13 15:08] vaughnbetz commented on #1063
You can re-use the same physical type when it is re-used in multiple places.  So unless the physical implementation (pin-out) of all 32 buffers is truly different for all 32, you wouldn't need 32 different physical types.  You'd have some number of different physical types, and then the 32 global buffers would each refer to the appropriate one.

This is a bit like the horizontal and vertical IOs i

[2019-12-16 21:46] vaughnbetz commented on #1058
Fixed. Thanks for flagging this.

[2019-12-16 21:46] #1058 closed

[2019-12-23 15:49] georgkrylov opened #1070 "Past-ABC simulation error for soft multipliers implementation"
ODIN simulator fails with a segmentation fault running the post-abc simulation for circuits that have multiplication operation, implemented on architectures having no hard blocks.
I am calling this a "post-abc" bug, since if I run simulation by reading the odin-generated blif, (i.e. two-multipliers.odin.blif resulted as part of the flow) the simulation will succeed.
#### Expected Behaviour

The si

[2019-12-25 01:46] yonghaoXuGit opened #1071 "Error when doing power analysis"
#### Expected Behaviour

VTR should execute successfully with power analysis.

#### Current Behaviour

I want to do power analysis when executing run_vtr_flow.pl. So I use options -power and -cmo_tech,the cmos technology file I use is PTM_22nm/22nm.xml and benchmarks include sha.v,boundtop.v, or1200.v,arm_core.v,mkDelayWorker32B.v and stereovision3.v.But they all failed and report Error：“**Activit

[2019-12-26 12:34] natanvotre commented on #614
I got the same error, it seems that this error persists.

[2020-01-17 22:12] litghost opened #1072 "Adding dependency on abseil"
The abseil library (https://abseil.io/docs/cpp/guides/container#construction-1) contains several useful containers that are missing in VTR, in particular:
 - flat_hash_map (more compact and faster version of std::unordered_map)
 - inlined_vector (std::vector that requires no allocations for small storage)
 - string_view (without depending on C++17)

I can understand VTR not wanting another depende

[2020-01-17 22:13] litghost commented on #1072
@vaughnbetz / @kmurray This issue is intended as a discussion on whether to add abseil into `libs/EXTERNAL`.  I'm working on examples where abseil will be able to deliver concrete improvements.

[2020-01-17 22:21] litghost commented on #1072
It is worth noting that in almost all cases, `std::map` and `std::unordered_map` should be replaced with `absl::flat_hash_map`, as it will consume less memory and be faster.

[2020-01-19 09:45] wujiaxuan commented on #888
I meet with the same problem.
I install VPR7 with ENABLE_GRAPHICS = true, but the graphics does't open..

[2020-01-22 16:25] kmurray opened #1073 "Routing: Investigate interactions between initial iteration criticality and high-fanout nets"
#### Current Behaviour

Currently the HF net routing code (spatial look-up to avoid putting large route trees repeatedly on the heap) is only active for non-timing critical connections (e.g. criticality < 0.9).

Since we route all connections with criticality = 1 on the first routing iteration, this likely means the HF spatial look-up is not being used during the first routing iteration. This like

[2020-01-22 16:25] kmurray commented on #1073
@vaughnbetz FYI

[2020-01-23 18:00] litghost opened #1079 "RR graph edge storage refactoring"
#### Proposed Behaviour

The edge storage should be optimized for router behavior, which is driven by two concerns:
 - Ability to iterate quickly (see https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/route_timing.cpp#L1984-L1986)
 - Memory locality

The current allocation strategy has poor memory locality, and requires a pointer per node.

#### Current Behavio

[2020-01-23 20:42] litghost commented on #1079
FYI @vaughnbetz / @kmurray this is the issue we were talking about

@tangxifan This is issue is relevant to your refactoring.  @tangxifan in particular, your first iteration (https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/device/rr_graph_obj.h#L804-L808) preserves this same 1 allocation per rr node).

I'm going to be making several further posts fleshing out my no

[2020-01-23 21:08] litghost commented on #1079
Current usage of the edge interfaces
============================

All rr node edge access is controlled by the `t_rr_node` object.

There are 4 classes of methods:
 - Get node to edge relationships (6 methods)
 - Get data for an edge (2 methods)
 - Node to edge mutation (4 methods)

Methods: Get node to edge relationships
------------------------------------------------------
There are 6 methods

[2020-01-23 21:13] litghost commented on #1079
Methods: Get data for an edge
-----------------------------------------
There are 2 methods in this category:
- `t_rr_node::edge_sink_node`
- `t_rr_node::edge_switch`

These methods are currently basically key'd as `(RRNodeId, edge offset)`.  This is not strictly speaking required (or desirable).  They should simply be key'd as `RREdgeId`, with the caveat that `RREdgeId` is only available after mu

[2020-01-23 21:33] litghost commented on #1079
Methods: Node to edge mutation
-------------------------------------------
There are 5 methods in this category:
- `partition_edges`
- `add_edge`
- `set_num_edges`
- `set_edge_sink_node`
- `set_edge_switch`

Usage:
- `partition_edges` is used exactly once, during global rr graph node/edge partitioning.
- `set_num_edges` and `set_edge_sink_node` is used twice:
  -  `alloc_and_load_edges`, which is

[2020-01-23 21:53] litghost commented on #1079
Proposed refactoring
================

There are several parts to this, but here is the key idea:
 - `t_rr_node` will never own edge storage
 - There will be one entity responsible for edge storage
 - Write methods (`Node to edge mutation`) will only be allowed prior to partitioning
 - Read methods (`Get node to edge relationships` and `Get data for an edge`) will be forbidden or expensive prior t

[2020-01-23 22:24] litghost commented on #1079
There are effectively 3 edge mutation paths, and the confusing thing is that the RR clock graph generator is located in an odd place and does the graph mutation in a weird way.

The 3 edge mutation implementations are:
 - `alloc_and_load_rr_graph` which does several semi-batch edge insertions via `t_rr_edge_info_set` and `alloc_and_load_edges`.  The reason I say that this path is a semi-batch is t

[2020-01-23 22:37] litghost opened #1080 "ClockRRGraphBuilder uses bad allocation strategies and duplicates work"
#### Expected Behaviour

Per the comment [here](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/rr_graph.cpp#L1201-L1214), memory fragmentation should be avoided when creating the rr graph for performance reasons.  The new `ClockRRGraphBuilder` should avoid incremental allocation patterns, and instead batch edge insertion.

In addition `ClockRRGraphBuilder::c

[2020-01-23 22:42] litghost commented on #1080
@kmurray / @vaughnbetz This likely needs to be fixed before working on #1079, as the original plan for #1079 requires a boundry between writing and reading, and because `ClockRRGraphBuilder` violates that, either the design in #1079 needs to be changed or `ClockRRGraphBuilder` needs to change.

IMO, the current implementation `ClockRRGraphBuilder` is incorrect, and should be fixed.

[2020-01-23 22:53] litghost commented on #1080
I just noticed that `ClockRRGraphBuilder::create_and_append_clock_rr_graph` is called after `check_rr_graph` (which is located within `build_rr_graph`)!!!  So the invocation point of `ClockRRGraphBuilder` from my perspective is simply wrong.

[2020-01-23 23:04] litghost commented on #1080
As far as I can tell `add_rr_switches_and_map_to_nodes` should simply not exist.  In generally the `ClockRRGraphBuilder` code seems to not properly distinguish between `arch_switch_idx` and `rr_switch_idx`, and intermixes them improperly.

For example:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/clock_connection_builders.h#L49 is clearly supposed to be an

[2020-01-23 23:11] litghost commented on #1080
For clarity, the mismatch between **arch_switch_idx** and **rr_switch_idx** means that it is relatively trival to create an architecture XML that will segfault VPR.  In particular, if the clock connection arch switch index is greater than the rr graph switch count, it will cause memory violations.

[2020-01-23 23:34] litghost commented on #1080
I think I see what should've happened.

`ClockRRGraphBuilder::create_and_append_clock_rr_graph` really needed to be inserted into the flow at the "right" place.  It looks like `remap_rr_node_switch_indices` is the place where **arch_switch_idx** become **rr_switch_idx**, but because `ClockRRGraphBuilder::create_and_append_clock_rr_graph` is trying to run **after** `remap_rr_node_switch_indices` ha

[2020-01-23 23:51] vaughnbetz commented on #1080
Adding Mustafa so he can comment. @mustafabbas
I haven't traced all the code paths, but your analysis looks correct to me Keith. The idea was to insert the clock part of the rr-graph without disturbing the already complex main rr-graph building from an arch file (for the regular routing channels). The clock rr-graph should therefore be inserted before check_rr_graph, before any clean up / partitio

[2020-01-24 01:04] litghost commented on #1080
I've taken a shot at fixing this in #1081.  I'm not totally confident how to verify I haven't broken anything.  @mustafabbas / @kmurray Were tests added to vtr_reg_strong for the clock network?

[2020-01-24 01:06] litghost commented on #1080
Yes and no.  In particular the mutation of [here](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/clock_connection_builders.cpp#L53) is not something the rr graph writer/reader preserves.  On that particular front, I would wait until we've merged https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1060, and then fixing that specific issue is rel

[2020-01-24 05:29] raminrasoulinezhad opened #1083 "xc6vlx240tff1156.xml"
Hi,

Unfortunately xc6vlx240tff1156.xml model is not working. Would you please help with that?  Thanks

command to run
[code]
Configuration file for running experiments in ./task/config/config.txt file.
[code]

#### Expected Behaviour
work same as intel based models

#### Current Behaviour
failed: vpr (exited with return code 1) (took 0.43 seconds)

by running vpr single alone on the same files, t

[2020-01-24 08:06] mustafabbas commented on #1080
Hi Keith, there is a vtr strong test in
`vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_dedicated_clock/config/config.txt`
The test checks that when using an architecture where the fc from clock pins (of logic blocks, RAMs, ...) to local routing is zero and instead clock pins connect to just the dedicated clock network an additional net is routed (the clock net) successfully.
This architect

[2020-01-28 21:51] litghost opened #1087 "Overuse of heap in initialization"
#### Expected Behaviour

Dynamic allocation should be done deliberately, and avoided when possible.  1 allocation is better than N allocations, and N allocations is better than N*N allocations.

#### Current Behaviour

Dynamic allocation is being used in several places that is simply generating garbage.  Concrete examples:

- [my_atof_2D](https://github.com/verilog-to-routing/vtr-verilog-to-routin

[2020-01-28 21:54] litghost commented on #1087
@kmurray / @vaughnbetz FYI

[2020-01-29 21:09] kmurray commented on #1017
This looks like an ABC issue. We include ABC in VTR as is, and don't actually develop it, so this issue should probably go to https://github.com/berkeley-abc/abc

[2020-01-29 21:09] #1017 closed

[2020-01-29 21:13] kmurray commented on #1070
Thanks for the report.

@jeanlego Can you or someone on the ODIN team take a look?

@MohamedEldafrawy I recall you also looked into soft multiplier mapping. Do you happen to have any insights?

[2020-01-29 21:14] kmurray commented on #1071
Thanks for the report.

Can you provide the exact command you ran with run_vtr_flow.pl?

[2020-01-29 21:45] kmurray commented on #1079
This all sounds good to me!

If we take this approach, we'll have to think carefully about how to handle the dummy. There are a number of places which do loops like:
[code]
which could be tripped up by the dummy at the end.

This is a pretty clever way to eliminate the storage of num_nodes in t_rr_node. However it has two drawbacks which will need to be addressed:
1) Using array indexing on this (

[2020-01-29 21:48] kmurray commented on #1083
The `xc6vlx240tff1156.xml` model only works with the ISPD benchmark netlists (already techmapped) . It will not work with the VTR benchmarks (synthesized from verilog).

For an example of using `xc6vlx240tff1156.xml` see: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vtr_flow/tasks/regression_tests/vtr_reg_weekly/vpr_ispd/config/config.txt

where you'll need to run:
[cod

[2020-01-29 21:48] #1083 closed

[2020-01-29 21:56] litghost commented on #1079
I've side stepped this entire problem by implementing a flyweight RR node and an rr node storage class (see https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1084) and then having the rr node storage class handle this gracefully (https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1085)

[2020-01-29 21:56] litghost commented on #1079
No question, I've attempted to take an approach to the rr graph refactoring that is more incremental and can allow comparisons to changes along the way.

[2020-01-29 21:58] kmurray commented on #1087
Yep the code which deals with the architecture delay annotations is messy and has been problematic for a while.

If I recall correctly, it actually has O(N^2) behaviour at one point but that got reduced (86bda51bd7534acb407409bff37b0e9a63d36d2c). I'm sure its still far from optimal. Its one of those code areas which has been a 'would be nice to fix' but was relatively low on the priority list.

@l

[2020-01-29 22:05] litghost commented on #1087
I haven't opened many PR's yet, I'm trying to get the amount of heap garbage during performance sensitive code significantly lower.  Once I've gotten the performance critical path cleaner (e.g. build rr graph, place delay computation, router lookahead computation, placement, routing), I'll start putting up PRs.

Examples:
 - https://github.com/litghost/vtr-verilog-to-routing/commit/78840cecea9cc00

[2020-01-29 23:18] MohamedEldafrawy commented on #1070
Yes Kevin, I have ran into this before but it wasn't fixed. The code that implemts multiplies using only LUTs doesn't work. It seg faults as mentioned in this issue. Therefore in this case since the architecture has neither hard adders nor multipliers, ODIN will try to implement multiplies using LUTs only and therefore seg fault.

[2020-01-30 00:46] jeanlego commented on #1070
Thanks for this @georgkrylov.
@sdamghan could you have a look?
@georgkrylov any chance you could add that in the PR that will include test cases for https://github.com/CAS-Atlantic/vtr-verilog-to-routing/pull/2?

[2020-01-30 00:54] jeanlego commented on #848
@Shreyv could you have a look at the related issues?

[2020-01-30 13:58] georgkrylov commented on #1070
@jeanlego I will create a separate PR with tests, sure.

[2020-01-30 15:48] litghost commented on #1087
So I have a some preliminary number from https://github.com/litghost/vtr-verilog-to-routing , where I've eliminated most of the heap thrashing, and I'm starting to run some of the mediumish titan benchmarks:

Circuit (directrf_stratixiv_arch_timing.blif):

baseline:
[code]

refactor_edges2:

[code]

cleanup_garbage2:

[code]

The larger cleanup PR has finished, but you can already see a 40% reduct

[2020-01-30 19:18] Shreyv commented on #848
@jeanlego sure

[2020-01-30 20:16] tangxifan commented on #1079
Thanks for point this out. If separated storage of `rr_node` and ``rr_edge` can bring some benefits, we can experimentally try this in another version of RRGraph object.
This is why I am in favor of a unified object for routing resource graph. If you want to rework the internal organization, you do need to bother other parts as long as you keep APIs unchanged.

[2020-01-31 00:45] vaughnbetz commented on #1079
@tangxifan: @litghost had another good point in a recent meeting; possibly has already been discussed with you or posted, but in case not:

Your WIP rr-graph data structure refactoring proposal would result in one more level of indirection in going from a node to its outgoing edges (the key operation in the router).  node->start_edge_index->edges vs. the current node->edges (variable names made up

[2020-01-31 05:23] raminrasoulinezhad commented on #1083
Thanks,

After preparing the ISPD benchmarks, I ran the mentioned config.txt files. It works. However, after changing the architecture file from "ultrascale_ispd.xml" to "xc6vlx240tff1156.xml," the config file fails during VPR.

So, I have two questions:

1- since the inputs are already tech mapped, it can not be applied to another architecture file, such as xc6vlx240tff1156.xml. Am I right?

2- C

[2020-01-31 17:11] tangxifan commented on #1079
Got it. Let me try to apply this to the RRGraph data structure.

[2020-01-31 17:35] kmurray commented on #1083
Oops, I got mixed up between `ultrascale_ispd.xml` and `xc6vlx240tff1156.xml`. Sorry for the confusion!

`ultrascale_ispd.xml` is derived from the ISPD contests.

`xc6vlx240tff1156.xml` [is derived from](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vtr_flow/arch/timing/xc6vlx240tff1156.xml#L1-L2) the V2B project: https://eddiehung.github.io/vtb.html
I believe that flow

[2020-02-03 04:29] georgkrylov opened #1101 "Formatting changes for ODIN, global revamp"
Hello everyone,

I am working on ODIN and contacted one of ODIN maintainers, @jeanlego, directly to review my improvements. I have got suggestions on cleaning up my code, which also involved style and  formatting changes. Looking for an automated formatting tool, as well as in search for strict guidelines I have noticed that VTR project already has a set of defined rules. The root of the repositor

[2020-02-03 08:43] mithro commented on #1101
Hi @georgkrylov,

The code formatting is currently used for vpr and automatically checked by Travis-CI. It would be awesome to have ODIN-II using the same formatting style.

Autoformat changes should have the following properties;
 - [ ] Committed via the VTR Robot account (see https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/b56bb368c8d1de907a467a488e0ee7a654561190 for example)

[2020-02-03 12:45] jeanlego commented on #1101
I'd love to see this happen @mithro!
I agree that it would be preferable to have it done by the VTR Robot.
If it's not too much work for you, the changes would be more than welcome!

[2020-02-03 13:55] mithro commented on #1101
To do a commit as the VTR Robot, you just do
 `git commit --reset-author --author="VTR Robot <robot@verilogtorouting.org>"`

To get `make format` to be applied to ODIN-II, you just need to add it to the path at https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/6945966dbfcb5a62da7a5ea4a90e4cc3aaa002bd/CMakeLists.txt#L388-L397

I would recommend the following process;
 - [ ] Step 1 -

[2020-02-03 16:50] kmurray commented on #1101
FYI, there is a script which should to what @mithro described directly: dev/autoformat.py

[2020-02-03 17:26] jeanlego commented on #1101
thanks!
tried it but I run into some issues with it (can't create file in /tmp)
went the manual route instead

[2020-02-03 19:11] jeanlego commented on #1101
closing since #1105 got merged

[2020-02-03 19:11] #1101 closed

[2020-02-03 21:05] #1080 closed

[2020-02-06 15:12] kmurray opened #1114 "Unitialized Variables in rr_graph_uxsdcxx_serializer.h"
#### Expected Behaviour

VPR should build without warnings

#### Current Behaviour

With gcc-7:
[code]

#### Possible Solution

Since this is in the generated code, it seems like the uxsdcxx generator will need to be updated to ensure these variables are always initialized.

#### Steps to Reproduce

1. Checkout  revision: 868126ec9545344db9b36a02534d7ca7814b1a97 (current master)
2. make vpr

####

[2020-02-06 15:13] kmurray commented on #1114
@duck2 Any thoughts on this?

[2020-02-06 15:34] kmurray commented on #1114
Interestingly, some further investigation shows that these warnings only show up if built with VTR_ENABLE_IPO_BUILD=off.

Likely when doing IPO/LTO the compiler defers the warnings until the final link stage. But we've suppressed those link-stage warnings for other reasons (#634)

[2020-02-06 19:34] vaughnbetz opened #1117 "Router lookahead idea (may help Artix7): adjust for different wire type->ipin->sink reachability"
The router map lookahead builds a lookahead table from wires to a particular (arbitrary at the right location) sink.  That is OK for most of the architecture we run VTR on, but if an architecture had some wire types that could reach certain sinks but not others, the lookahead will not capture it.

Does Artix7 have such wire->sink structure?  E.g. are a subset of wires able to reach a subset of the

[2020-02-06 21:06] litghost commented on #1114
This is caused by a bug in gcc 7's static analyzer. I've tried added "[[noreturn]]" to attr_error, which would be called if the variable in question was in fact uninitialized.

[2020-02-06 21:35] duck2 commented on #1114
I'm seeing the same warnings on g++ 9. Maybe g++ can't follow our (rather convoluted) way of initializing, say, `switch_id`? In the currently generated code, if there is no `id` attribute, the code would throw. And else, if there is an `id` attribute which would cause `strtol` to report an `errno`, the code would again throw. So we know that we have an `int` to assign to `id` if the code didn't th

[2020-02-06 21:40] litghost commented on #1114
There is actually a runtime cost to zero initialization, so ideally we'd avoid it.

[2020-02-06 21:40] litghost commented on #1114
I dramatically simplified the checking (just a bool), and gcc still couldn't figure it out.  GCC is simply broken in this check.

[2020-02-06 21:51] kmurray commented on #1114
I'd suggest giving this a try. It really isn't good to have these warnings (even if they're actually false positives). We can then measure if there is a significant run-time cost.

[2020-02-06 21:51] litghost commented on #1114
As far as I can tell GCC cannot be trusted with detecting uninitialized variables in this case.  Overall my recommendation is to disable this code, link with examples: https://stackoverflow.com/questions/14132898/gcc-wuninitialized-wmaybe-uninitialized-issues

I can also refactor the code to avoid zero initialization using `std::tuple`.

[2020-02-06 22:37] litghost commented on #1114
This does not work, the same warning is generated.  Interestingly enough, the simple bool check works with the tuple addition, so the compiler isn't totally broken.  It just is unable to through follow pointers or bitset logic.

[2020-02-07 00:19] litghost commented on #1117
Yes, the "connection box" part of the "connection box lookahead" models allows the lookahead to capture how certain segments reach certain IPIN's.  Specifically rather than having 1 lookahead per segment, it is 1 lookahead per (segment * connection box).

[2020-02-07 15:14] kmurray opened #1121 "RR Graph Round-Trip Consistency Error"
#### Expected Behaviour

The RR graph's generated by VPR should round-trip correctly with no loss/change in precision.

#### Current Behaviour

Some of the nightly regression tests (vpr_verify_rr_graph_bidir) which check this currently fail.

The offending precision change appears to be:

_arch.xml:_
[code]

_rr_graph.xml:_
[code]
where there has been round-off in the Rmetal/R_per_meter fields.

A

[2020-02-07 15:15] kmurray commented on #1121
@duck2 @litghost Any thoughts?

[2020-02-07 15:55] litghost commented on #1121
Should these be in nightly (versus being in strong)?

[2020-02-07 16:00] kmurray commented on #1121
I was thinking the same. They run quick (<30 sec) and are really more functionality coverage tests, so they would likely be better suited to being in strong.

[2020-02-07 16:01] litghost commented on #1121
Do want the fix in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1120 or a new PR?

[2020-02-07 16:18] litghost commented on #1121
I went ahead and added it to #1120.

[2020-02-07 16:48] litghost opened #1124 "New get_rr_node_indices doesn't swap X/Y for CHANX"
See https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/rr_graph2.cpp#L1288-L1291, which is missing from https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/rr_graph2.cpp#L1227

[2020-02-07 16:48] litghost commented on #1124
@kmurray I think this is you?

[2020-02-10 17:52] kmurray commented on #1124
Yep, thanks for the catch! I'll fix that.

That RR node indicies requires that is generally very error prone, which is why we eventually want to fix it (see #355)

[2020-02-11 15:17] #1124 closed

[2020-02-11 16:37] kmurray opened #1130 "Run Regression Tests with Sanitizers"
#### Proposed Behaviour

While we have some regression tests which check for memory errors using Valgrind, Valgrind is slow preventing us from running very extensive tests with it.

The compiler sanitizers (i.e. VTR_ENABLE_SANITIZERS) perform very similar checking with much lower run-time overhead.

We should include a sanitizer build and run more extensive tests.

#### Current Behaviour

Run some

[2020-02-11 16:47] #1114 closed

[2020-02-11 16:47] #1121 closed

[2020-02-11 19:13] HackerFoo opened #1132 "Stalls in congestion resolution should increase routing effort"
#### Proposed Behaviour
VPR should increase routing effort in response to a lack of progress in congestion resolution.

#### Current Behaviour
There is a CONFLICTED router mode that can be enabled after a number of iterations, controlled by the `--congested_routing_iteration_threshold` flag. The default setting of this flag prevents the router from using this mode.

#### Possible Solution
VPR has

[2020-02-11 20:05] kmurray commented on #1132
This is a reasonable idea, but would need to be tuned carefully.

When I first put the conflicted mode in the experiments didn't really justify turning it on (from a QoR & run-time trade-off perspective). Although that was with a simplified iteration threshold based trigger.

Since turning on the conflicted mode increases search effort it also slows the router down (time per iteration increases).

[2020-02-11 22:38] litghost opened #1134 "Related clock constraints (PLL/MMCM)"
#### Proposed Behaviour

SDC files should support `create_generated_clock` to allow for PLL/MMCM generated clocks to be defined.  This feature does not imply that VPR should understand the PLL/MMCM itself, but there does need to be a way to create synchronous relationships between clocks.  In particular important relationships are:
 - Clocks that have an integer fractional relationship
 - Clocks t

[2020-02-11 22:39] litghost commented on #1134
@kmurray I could use your help on this.  If this feature is already supported, how is it used?  If this feature doesn't exist, is this plan to implement it feasible?

[2020-02-11 23:01] litghost commented on #1134
Issue tracking design being tested: https://github.com/SymbiFlow/symbiflow-arch-defs/issues/1301

[2020-02-11 23:26] kmurray commented on #1134
Yep this makes complete sense. It would be good to support this.

However my understanding is that create_generated_clock is just a short-hand/syntatic-sugar which makes it easier to write the SDC files.

Off the top of my head I think it should be possible (although likely painful) to specify this by hand.

So something like:
[code]
Should be equivalent to:
[code]

VPR does support the `-waveform

[2020-02-11 23:27] litghost commented on #1134
Ok, let me try that.  How does VPR know that these two clocks are the same virtual clock?

[2020-02-11 23:30] kmurray commented on #1134
To clarify, VPR doesn't know they are the same, they will be treated as independent clocks. However the analysis results should be the same (e.g. worst case slacks on transfers between those two clocks).

[2020-02-11 23:33] kmurray commented on #1134
Put another way:
[code]
creates rising edges at 0, 20, 40,... ns.

While:
[code]
creates rising edges at 0, 10, 20, 30, 40, ... ns

VPR already determines what the minimum time window is between those sequences of edges which is what are used as the actual inter-domain timing constraints.

[2020-02-11 23:35] litghost commented on #1134
Okay, I believe we might not need anything then.  I believe the SDC we are using already captures the relative clock relationships.  The fact that VPR doesn't see any CDC paths must be another error in our timing model.

[2020-02-11 23:44] #1134 closed

[2020-02-12 01:06] HackerFoo commented on #1132
I've created a flag with a conservative default. The `get_slope()` method of the routing predictor considers all iterations, so a sudden change won't have a large effect.

[2020-02-12 02:12] jeanlego opened #1136 "Regression results are inconsistent accross platforms"
#### Proposed Behaviour
reproducible regression test results between machines

#### Current Behaviour
Google's CI (more specifically looking at vtr_reg_strong ) does not produce the same result as it does on Travis or locally.

#### Proposed Solution
Taking a stab in the dark here, After looking through the repo, it seems ABC makes heavy use of rand().

[2020-02-12 15:01] kmurray commented on #1134
One thing to keep in mind is that VPR's _default_ timing constraints (if no SDC file is provided) [don't analyze inter-domain (i.e. CDC) paths](https://docs.verilogtorouting.org/en/latest/vpr/timing_constraints/#default-timing-constraints). But if you specify an SDC file they are analyzed by default (i.e. unless you use `set_false_path` or `set_clock_groups -exclusive`).

[2020-02-12 17:55] litghost opened #1137 "Setup and hold constraints from multiple clocks"
#### Proposed Behaviour

An input to a sub-circuit should be able to specify multiple clocks, and therefore multiple setup/hold constraints.

#### Current Behaviour

Each input port can only support one clock source, and therefore one setup/hold constraint.

#### Possible Solution

#### Context

Advance IO constructs (think DDR serializers and deserializers) may use multiple clocks, and may impose

[2020-02-12 19:20] kmurray commented on #1137
Can you give an example (e.g. SDC file) which illustrates this? I don't quite follow the scenario.

[2020-02-12 19:25] litghost commented on #1137
Example:
[code]

[2020-02-12 19:25] litghost commented on #1137
CLKB and CLK are clocks with 180 degree phase relationship.

[2020-02-12 19:29] litghost commented on #1137
[code]

See `Figure 3-7: Logical View of ISERDESE2 Primitive in Oversample Mode` from https://www.xilinx.com/support/documentation/user_guides/ug471_7Series_SelectIO.pdf for diagrams and timing models.

[2020-02-12 19:31] litghost commented on #1137
Another example: `Table 3-12: OSERDESE2 Switching Characteristics`

[code]

[2020-02-12 19:33] litghost commented on #1137
@mithro FYI

[2020-02-12 19:39] kmurray commented on #1137
Ok, this is an architecture primitive modelling issue, and not an SDC support problem.

[2020-02-12 19:40] litghost commented on #1137
Sorry, ya!

[2020-02-12 19:46] kmurray commented on #1137
In that case I think this should be supported. You just need to specify the 'edge' between the clock ports and related I/O ports, and then annotate the relevant T_setup/T_hold values in the pb_types.

See for instance [this scenario](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#multi-clock-sequential-block-with-internal-paths).

There are other (more complex) example

[2020-02-12 19:55] litghost commented on #1137
Sorry, maybe I think I haven't been clear.  All of the examples you gave have 1 clock, so 1 setup/hold constraint.  I'm suggesting that there might be more than 1, so more than 1 clock would need to be specified in the model XML?

[2020-02-12 19:59] kmurray commented on #1137
I guess I'm not following either :)

Isn't that the 'Multi-clock Sequential block (with internal paths)' example [in the tutorial](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#multi-clock-sequential-block-with-internal-pathsl)? Multiple clocks with different Tsu/Thld?

[2020-02-12 20:01] litghost commented on #1137
That is still not enough, because in that case `we1` only goes to a FF under `clk1`.  Consider what would happen if `we1` went to a FF under `clk1` and another FF under `clk2`.

[2020-02-12 20:02] litghost commented on #1137
I guess we could duplicate the input port, and have the an internal pb-type connection to each of the duplicated ports :/

[2020-02-12 22:07] kmurray opened #1138 "Invalid Memory Access in Odin on strong_fpu_hard_block"
#### Context

PR #1131 (for issue #1130) is trying to perform a regular sanitizer run of the vtr_reg_basic and vtr_reg_strong regression tests to detect undefined behaviour and memory errors.

The only outstanding issue is a bad memory access in ODIN that should be fixed.

Once fixed PR #1131 should begin passing the sanitizer test.

#### Steps to Reproduce

1. Build VTR with sanitizers enabled:
[

[2020-02-12 22:08] jeanlego commented on #1138
Thanks for the heads up, I'll have a look :)

[2020-02-13 01:38] #1138 closed

[2020-02-13 05:17] jeanlego commented on #1130
Fixed the related issue and once #1141 lands, I'm thinking it would be great to enable Asan on Odin micro-benchmark too,
it runs pretty quickly as it is already (with some of the tests running with valgrind) but this could allow bigger benchmarks to run on Odin also, unless you have some reservations.

[2020-02-13 14:28] kmurray commented on #1138
Thanks!

________________________________
From: jeanlego <notifications@github.com>
Sent: Wednesday, February 12, 2020, 8:38 p.m.
To: verilog-to-routing/vtr-verilog-to-routing
Cc: Kevin Murray; Author
Subject: Re: [verilog-to-routing/vtr-verilog-to-routing] Invalid Memory Access in Odin on strong_fpu_hard_block (#1138)

Closed #1138<https://github.com/verilog-to-routing/vtr-verilog-to-routing/issu

[2020-02-13 14:38] jeanlego opened #1142 "Compile warnings"
#### Current Behaviour
[256/343] Building CXX object vpr/CMakeFiles/libvpr.dir/src/device/check_rr_graph_obj.cpp.o
../vpr/src/device/check_rr_graph_obj.cpp: In function ‘bool check_rr_graph(const RRGraph&)’:
../vpr/src/device/check_rr_graph_obj.cpp:23:27: warning: potential null pointer dereference [-Wnull-dereference]
   23 |             result.first->second++;
      |             ~~~~~~~~~~~~~~^

[2020-02-13 21:51] HackerFoo opened #1146 "Generalize connection box lookahead from SymbiFlow"
#### Proposed Behaviour
Generate and use a lookahead map based on entry and exit from routing fabric.

#### Current Behaviour
The existing map lookahead only considers the current wire type and direction of the target.

#### Possible Solution
We have already implemented this lookahead ("connection box lookahead") in a fork, but it may be specific to SymbiFlow. This should be generalized to work wi

[2020-02-14 00:21] jeanlego commented on #1136
VTR strong test failures just seems to be cpu time mismatches on fast running circuits (probably machine load).  Maybe we need to have very wide cpu ranges on very fast (1 s or so) circuits.

_Originally posted by @vaughnbetz in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1144#issuecomment-586034389_

Make sense !

Any way we can disable QoR on runtime alone? I'll gladly help

[2020-02-15 05:25] #605 closed

[2020-02-15 09:04] #940 closed

[2020-02-16 00:23] #1031 closed

[2020-02-18 21:25] kmurray commented on #1142
@tangxifan Can you take a look?

[2020-02-18 21:29] kmurray commented on #1146
Yep this makes sense. I've recently generalized the mainline map lookahead to capture the SOURCE->OPIN->CHANX/Y components (i.e. routing fabric entry). It would make sense to also capture the routing fabric exit (i.e. CHANX/CHANY -> IPIN -> SINK).

To figure out the right path forward it would be good to understand what characteristics of the routing architectures you're working on that are import

[2020-02-18 21:37] tangxifan commented on #1142
For the warning at `check_rr_graph_obj.cpp:23:27`, I will use count() instead of insert(). The problem should be solved. Do you want me to check the warning at `router_lookahead_map.cpp:426:10` as well?

[2020-02-18 22:05] kmurray commented on #1136
I don't think rand() is the issue as the actual build results are consistent, but not the run-times.

I suspect this large run-time bounds is due to the tests being run on VM's which are over-committed (e.g. more threads trying to run than real cores).

@mithro / @litghost Do you guys have any insight into this? Would it be possible to have the koroko tests be run on non-overloaded machines? I exp

[2020-02-18 22:11] kmurray commented on #1142
Thanks @tangxifan

I can take that one.

[2020-02-18 23:16] litghost commented on #1136
Currently the vtr_reg_strong is run with -j16 (see https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/.github/kokoro/presubmit/strong.cfg#L44), which is the number of cores on the VM's.  The placer is multithreaded, so I'd expect some variation from running with job number that high.  However, the sum of the entire run is likely fine, and so is the geomean of the run.  Indivi

[2020-02-18 23:17] litghost commented on #1136
These machines are not overloaded, they are "dedicated" VMs.  What is true is that they are not necessarily always the same type of CPU and memory performance will vary based on a number of factors.

[2020-02-19 17:05] kmurray commented on #1136
Can you clarify this? My understanding is that only parallel part of VPR is the timing analyzer, but that we disable parallelism by default.

I agree small circuit run-times aren't particularly meaningful. However having individual circuit sanity checks is useful for detecting outliers (which can indicate bugs/unexpected behavior), although this is more useful for larger designs.

Yep I completely

[2020-02-19 17:08] #1130 closed

[2020-02-19 17:09] litghost commented on #1136
Sorry, I mean the timing analyzer in the placer.  I typically see VPR using multiple threads specifically when running the placer, and less so otherwise.  This may me an observation artifact, and not reality.

[2020-02-19 19:58] litghost commented on #1142
It is worth noting that the `std::map::insert` cannot return an invalid iterator without throwing `bad_alloc`, so this warning is incorrect.  The fix in #1157 is not the correct solution because there are now two lookups into the b-tree.  If suppressing the warning is desired, the solution is:
[code]

not to use `std::map::count`.  There is almost never a reason to use `std::map::count` followed b

[2020-02-19 20:16] HackerFoo opened #1161 "RR graphs with reordered nodes don't load correctly"
#### Expected Behaviour
Remapping node IDs should not change the behavior of VPR, other than affecting cache locality.

#### Current Behaviour
Doing so will crash VPR if `grid_loc` ptc attributes are not in increasing order with respect to the enclosing node ID.

#### Possible Solution
Fix code in the serializer.

#### Steps to Reproduce
Reorder node IDs, using a program such as https://github.com

[2020-02-19 21:14] tangxifan commented on #1142
I agree. This is not the most efficient way to fix-up the warning. But it does not lead to malfunction. What you propose looks good for me. I can apply the fix. @kmurray

[2020-02-19 21:22] kmurray commented on #1142
Sounds good!

[2020-02-19 22:45] kmurray commented on #1136
Hmm, I didn't realize the Kokoro configuration set VPR_NUM_WORKERS to something non-zero. Combined with the fact that a GCE [vCPU is a hyper-thread](https://cloud.google.com/compute/docs/faq#virtualcpu) means the previous configuration (before #1160) would run 16 instances of VPR, each using up to16 threads (so up to 256 threads total) on 8 'real' cores.

It correspondingly makes sense the run-tim

[2020-02-19 23:06] litghost commented on #1136
Won't this adversely affect nightly and weekly runtimes?  For large designs, the placer timing update tends not to overlap and serializing the timing analysis might have a negative impact.  Thoughts?

[2020-02-19 23:16] kmurray commented on #1136
There will be some impact (~10% placement time on Titan, see [Table VII here](http://www.eecg.utoronto.ca/~kmurray/tatum/fpt2018_tatum.pdf)), but the overall run-time effect is smaller (other stages like the packer/router spend less of their run-time on STA).

Since the impact isn't too big, I think the trade-off of getting more consistent run-times is worth it.

[2020-02-19 23:17] kmurray commented on #1136
There will be some impact (~10% placement time on Titan, see [Table VII here](http://www.eecg.utoronto.ca/~kmurray/tatum/fpt2018_tatum.pdf)), but the overall run-time effect is smaller (other stages like the packer/router spend less of their run-time on STA).

Since the impact isn't too big, I think the trade-off of getting more consistent run-times is worth it.

[2020-02-19 23:18] kmurray commented on #1136
Also, looking at #1163 and #1164 (for example) I don't see the Kokoro runs showing up in the status checks anymore? Is that expected, or something unrelated to this?

[2020-02-19 23:20] litghost commented on #1136
We are looking into a fix.  Earlier this week there was a configuration change that likely messed up a permission somewhere.

[2020-02-20 04:42] #1161 closed

[2020-02-20 17:40] #1072 closed

[2020-02-27 10:50] a3456410 opened #1172 "Hi, I find some problems about switchblock description of VPR."
For some reason, I want to describe a custom switch block connection for my FPGA architecture, but not use the way which VTR 8.0 provide to choose custom SB type.
I try to modify `rr_graph_sbox.cpp` file and add a new SB description in it, and use two FPGA xml files to test this SB. One is `k6_N10_40nm.xml`, which segments is unidir and its length is modified to 1 unit, and another is `k4_n4_v7_l1

[2020-03-02 16:04] kmurray commented on #1172
Since you've gone in and modified the VPR RR graph generator yourself there isn't much support we can provide (you wrote the code and we don't have the resources to debug it). All we can do is provide limited advice.

It sounds like you may have only edited the part of the RR graph generator which creates bi-directional RR graphs. If you want your SB to also work for uni-directional RR graphs you'

[2020-03-02 18:39] tangxifan commented on #1172
I have the same advice as @kmurray
The RR graph builder has two different entries when building the connection inside switch blocks for bi-directional and uni-directional architecture.
I would suggest you set a breakpoint in your rr_graph_sbox.cpp and see if these codes are indeed executed in your run.

[2020-03-03 01:37] jeanlego commented on #1142
Seem fixed in latest Travis build but a fallthrough showed up
[code]
@kmurray want me to raise a separate issue?

[2020-03-03 20:25] kmurray opened #1180 "Odin micro regression test failures"
The VTR Buildbot is currently reporting build failures for the odin_reg_micro regression, as shown [here](http://builds.verilogtorouting.org:8080/builders/strong/builds/1211/). (These were previously masked by other issues with Buildbot which have recently been resolved).

There are two issues to resolve:

1. Fix the build failures in the Odin tests
2. Determine why the same failures weren't occur

[2020-03-03 20:26] kmurray commented on #1180
@jeanlego Could you please take a look?

For issue (2), are we not testing odin_reg_micro on TravisCI/Kokoro? And if not, should we be?

[2020-03-03 20:33] kmurray opened #1181 "Upgrade Scripts to Python 3"
There are a number of python scripts included with VTR, which are a mix of python 2 and python 3.

Since Python 2 is now [officially unsupported](https://www.python.org/doc/sunset-python-2/), we should upgrade those scripts to Python 3. None of those scripts are that complicated, so the process should be fairly straightforward:

- Run the [2to3](https://docs.python.org/2/library/2to3.html) tool to

[2020-03-03 21:30] jeanlego opened #1182 "Odin: remove linking against abc for pthread"
#### Expected Behaviour
Odin is independent of abc

#### Current Behaviour
currently needs abc built to build odin.

#### Possbile fix
link against pthread rather than libabc

[2020-03-03 21:38] jeanlego commented on #1180
thanks! I'll defer this to @sdamghan and @Shreyv.
Could you guys have a look? these are expected failures but seem to return success on buildbot.

[2020-03-04 15:14] #1182 closed

[2020-03-05 19:50] litghost opened #1193 "Remove all usages of is_input_type/is_output_type/is_io_type"
#### Proposed Behaviour

None of the core VPR algorithms should care if the relevant `t_physical_tile` is an input / output / IO type.

#### Current Behaviour

Some behavior is still dependent on whether a tile is an input / output / IO type.

#### Possible Solution

The relevant code shouldn't need to care.  Once all callsites of is_input_type/is_output_type/is_io_type are removed, the utility fu

[2020-03-05 22:28] kmurray commented on #1193
Thanks for filling this, it would be good to clean this up!

[2020-03-06 18:52] sdamghan commented on #1180
Sure, I'll have a look ASAP!

[2020-03-09 08:58] a3456410 commented on #1172
Hi, thanks for your suggestions!
I tried to modify the range from the line 2307 to the line 2334 of ` rr_graph2.cpp` file, which described the connection functions of from sides and opposite to sides, and the SB generation result was successful. So I think my problem was solved.

[2020-03-09 08:59] #1172 closed

[2020-03-09 18:47] jeanlego commented on #977
@djns99 This would be a good first issue.
I think it is resolved with https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1119 but can you confirm?

[2020-03-09 18:51] jeanlego commented on #848
@djns99 there are other linked issue here that you can start looking at
@Shreyv can you also start working through them also.
@sdamghan can you do the first review on @djns99 and @Shreyv PR's once they submit them.
Also @sdamghan can you have a look at the benchmark suite? Some new change now display known failing benchmark that should pass as part of Verilog 2005.

[2020-03-09 19:27] Shreyv commented on #1180
Sure I will have a look at it

[2020-03-09 19:33] Shreyv commented on #848
@jeanlego Sure I will work on it

[2020-03-09 19:40] sdamghan commented on #848
@jeanlego Sure, I'll handle it!

[2020-03-10 17:47] HackerFoo opened #1203 "Add support for a new annealing schedule"
#### Proposed Behaviour
Placement optimizes many variables of varying sensitivities. For this reason, an annealing schedule that makes many small temperature sweeps at different rates can be more effective than a fixed continuous  schedule, or even a schedule that uses one rate at any point.

#### Current Behaviour
The existing schedules available are either fixed, or a schedule that adjusts based

[2020-03-17 03:13] wallacejohn commented on #1181
Hello,
I am new here and decided to start working on this issue. I submitted my first pull request for 5 scripts and will continue working on others. Any feedback or criticism is appreciated. Thanks!

[2020-03-17 03:25] #977 closed

[2020-03-20 03:52] xuqinziyue opened #1225 "std::tie is slower than expected for symbiflow benchmark tests"
comparison using std::tie in **operator<(const t_override& lhs, const t_override& rhs)** for struct **t_override** in **place_delay_model.h** seems to be slower than expected

#### Expected Behaviour
The function is supposed to only do several comparison between short numbers, so it is not expected to consume too much execution time.

#### Current Behaviour
gprof shows the function is consuming mo

[2020-03-20 19:21] vaughnbetz commented on #1225
Adding @kmurray to comment.
Easton, are other QoR metrics for Symbiflow unaffected (should be, but best to check).
The next step is to turn on the placement_delay override for the VTR and Titan benchmarks (see https://docs.verilogtorouting.org/en/latest/vpr/command_line_usage/) as it is a non-default option, and see what impact there is on place time (reduction hopefully) and other metrics (should

[2020-03-20 19:31] xuqinziyue commented on #1225
I have compared the vtr_stdout.log before and after the change, and I did not see any qor change there. I will run the for and titan benchmark tests and see what's the qor result.  I will create some inline functions and wrap the change into the functions.

[2020-03-20 20:32] mithro commented on #1225
@hzeller - Could you help @xuqinziyue find a solution which doesn't require the nasty code?

FYI - @litghost

[2020-03-20 21:32] hzeller commented on #1225
How does a primitive, but slightly more 'boring to read' solution like this measures, performance wise:

[code]

It would also make it easier to extend later for anyone adding a field without having to bitfiddle.

[2020-03-20 23:32] xuqinziyue commented on #1225
@hzeller
I have just done a quick measurement with picosoc and here's the result:

placement time of original result: 37.86
placement time of using initializer_list: 37.03
placement time with the code I posted above: 34.95

so it seems changing std::tie to std::lexicographical_compare & initializer_list does not provide much performance benefit based on my measurement.

[2020-03-21 00:09] hzeller commented on #1225
Mmh, some thought to consider exploring: If the struct only contains these values and no holes, which it does:

[code]

Maybe we can treat it as array of 6 int16_t and cast it to some `int16_t*` and do some trickery with some relative relative of `memcmp()` that can deal with short ?
(I'd made the struct packed then to make sure the layout is as we expect).

 (Maybe `wmemcmp()` ? Though might be w