[2020-03-21 00:15] mithro commented on #1225
I would suggest you get out https://godbolt.org/ and see why the `std::tie` and the faster proposed method don't end up with similar set of assembly instructions.

[2020-03-21 00:20] hzeller commented on #1225
Oh yes, godbolt is funt.
I suspect the `std::tie` and initializer  list version create all kinds of branches while the data assembly version does better in this regard even though it has to slurp in the whole data vs. only the first mismatch in the other case.

[2020-03-21 01:47] xuqinziyue commented on #1225
@hzeller
Thanks for indicating the signedness issue. My code above only works if two numbers have the same sign (both positive or both negative), which means in some cases the implementation won't work. Also thanks for your other suggestions, I will do some measurements to see which option works better.

[2020-03-21 18:38] xuqinziyue commented on #1225
@hzeller
I tried some simple solutions like this:
          short left [6] = {lhs.from_type, lhs.to_type, lhs.from_class, lhs.to_class, lhs.delta_x, lhs.delta_y};
          short right [6]= {rhs.from_type, rhs.to_type, rhs.from_class, rhs.to_class, rhs.delta_x, rhs.delta_y};
          unsigned int i = 0;
          while (i < 6){
            if (left[i] == right[i]){
              i++;

[2020-03-21 19:16] hzeller commented on #1225
Let's try an even simpler solution first (the simple, the easier to maintain in the future).

Can you performance compare your manual loop (while leaving the array assignment the same) with a call to
[code]
? I *should* do the same thing, but that way, we give the std library an opportunity to employ optimized versions that might be available on that system. So I suspect it will not be slower than

[2020-03-21 19:43] hzeller commented on #1225
Looks like using std::lexicographical_compare vs. manual compare is very similar, in both cases the loop is unrolled with `-O3`.

And casting the struct to pretend it is an array of short is better still.

https://godbolt.org/z/xVc53j

[2020-03-21 21:48] xuqinziyue commented on #1225
It seems based on the https://godbolt.org/z/xVc53j the result should be very similar, but when I actually run the test, manually implemented code is ~2s faster than lexicographical_compare.

I have checked the assembly file of vpr for the manually implementation and lexicographical_compare and it seems lexicographical_compare is not inlined properly even with -O3 optimization flag.

I found a func

[2020-03-21 21:53] hzeller commented on #1225
did you also try the casting the address of the struct to `const short*` ?

[2020-03-21 21:56] xuqinziyue commented on #1225
The code I dumped the assembly for is:

const short *left = reinterpret_cast<const short*>(&lhs);
const short *right = reinterpret_cast<const short*>(&rhs);
return std::lexicographical_compare(left, left+6, right, right+6);

and the place time for this version is around 36s (compared with 38s)

[2020-03-21 22:37] hzeller commented on #1225
So I'd say choose the fastest version you came across: if the manual written version is faster, then use that (and write a comment that `std::lexicographical_compare` was considered but slightly slower). If `const short*` casting is better than copy-to-array, use that.

[2020-03-21 22:41] xuqinziyue commented on #1225
Based on my experiment, using `const short* casting` is faster than copy to array, so the fastest version up to now will be `const short* casting `+ manual comparison

Thank you so much for your help! I will create a pull request and run some qor benchmark tests later today!

[2020-03-21 22:52] mithro commented on #1225
@xuqinziyue

I think we should figure out why using the operator is not inlining and unrolling correctly. If it is not happening here then there are probably other places that it should be happening that are getting missed.

My naive guess with no evidence is that it is likely to be something to do with compile units? BTW Are we using LTO?

[2020-03-21 23:10] xuqinziyue commented on #1225
I think the LTO is currently used since the -flto is there, but I am not familiar with LTO so the sample command for linking vpr:

[2020-03-21 23:39] jeanlego commented on #1180
any update @sdamghan ?

[2020-03-21 23:51] jeanlego opened #1227 "Odin: remove flex duplicate keyword"
odin verilog_flex line 236 still contains "buf" as unsupported keyword but ws recently added.
The duplication of the keyword gives off a warning.

## possible fix
remove duplicate

also moving all the unsupported keywords up in the flex file would prevent an issue like this from reocurring.

_Originally posted by @jeanlego in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1217/r

[2020-03-21 23:54] jeanlego commented on #1227
@djns99 can you look into this?

[2020-03-22 00:07] mithro commented on #1225
@xuqinziyue If the comparison method ends up in a separate compile unit to where it is used, then the compiler will be unable to inlining things.

[2020-03-22 01:40] xuqinziyue commented on #1225
@mithro
The function that is not inlined is `std::lexicographical_compare`, and I am not sure what's the rule to be applied to a standard library like this.

[2020-03-22 18:20] mithro commented on #1225
https://en.cppreference.com/w/cpp/language/inline and https://gcc.gnu.org/onlinedocs/gcc/Inline.html might help.

[2020-03-22 18:28] mithro commented on #1225
Just FYI - that function call is the following according to `c++filt`
`<bool std::__lexicographical_compare_impl<short const*, short const*, __gnu_cxx::__ops::_Iter_less_iter>(short const*, short const*, short const*, short const*, __gnu_cxx::__ops::_Iter_less_iter) [clone .isra.96] [clone .lto_priv.4077]>`

[2020-03-22 19:30] xuqinziyue commented on #1225
Just for more clarifications, I don't think there is a way to force the compiler to always inline a function in libraries. I haven't found anything that suggests std::lexicographical_compare is defined to be an inline function, and even if a function is defined as inline within the transition unit, compiler can still not inline the function.
So isn't that compiler's choice on whether to inline the

[2020-03-22 22:54] mithro commented on #1225
[code]

[2020-03-23 03:50] djns99 commented on #1227
@jeanlego How do I check for warnings? Are they in the make output?

[2020-03-23 03:55] jeanlego commented on #1227
travis should show the warning https://travis-ci.com/github/verilog-to-routing/vtr-verilog-to-routing/builds/154502216#L2564

[2020-03-23 23:00] jeanlego commented on #1180
http://builds.verilogtorouting.org:8080/waterfall
Fixed with #1230 closing since it is resolved

[2020-03-23 23:00] #1180 closed

[2020-03-24 01:42] #1227 closed

[2020-03-25 16:52] litghost opened #1233 "Night and weekly QoR updates?"
#### Expected Behaviour

Nightly and weekly QoR should be update to date

#### Current Behaviour

Nightly:
[code]

Weekly:
[code]

#### Possible Solution

Update nightly and weekly QoR.  All changes seem to be improvements?

#### Steps to Reproduce

1. See Kokoro continuous nightly and weekly
2.

#### Context

#### Your Environment

* VTR revision used:
* Operating System and version:
* Compiler v

[2020-03-25 17:43] kmurray commented on #1233
Yep, agreed. I'm working on closing out the nightly updates in #1209

[2020-03-25 17:45] litghost commented on #1233
Great!

[2020-03-26 05:40] djns99 commented on #980
Ill pick this up

[2020-03-26 12:58] jeanlego commented on #980
Make sure to: make a WIP PR asap to indicate such. It'll make it easier for us to help you also

[2020-03-26 18:37] vaughnbetz commented on #1225
Easton: just discussing this in a meeting.
Still confusion about why this isn't inlined properly by the compiler; ideally the fix would be to get this inlined.  Maybe there is a bigger gain to be had if we figure out why inlining isn't happening (if it is a general issue)?
1. Does Tim's always_inline work?
2. Try make build_type = release_pgo to see if that also captures the cpu gains.
3. Is this

[2020-03-27 16:26] leon575777642 opened #1240 "Direct inter-block connections identified but warnings are still given during placement delta delay lookup computation"
I'm using a custom architecture file very similar to `k6_frac_N10_frac_chain_mem32K_40nm.xml` (attached below). Specifically, the architecture has a carrychain basically identical to the one in the flagship architecture (`cin` on the top of the CLB, `cout` on the bottom of the CLB, both have `fc` set to 0). When running vpr with this architecture, the carrychain is successfully identified and util

[2020-03-27 18:05] leon575777642 commented on #1240
Tried with other benchmarks. Computing delta delay look-up takes about 70-80% of the total runtime.

[2020-03-27 18:41] kmurray commented on #1240
A quick work around appears to be re-ordering the pins in the architecture file so the cin/cout come last in the `<tile>` and `<pb_type>` definitions. For instance:
[code]

That reduces stereovision3's delay look-up time from 60 to 8 seconds on my machine (with a debug build).

[2020-03-27 18:43] kmurray commented on #1240
In the mean time I'm looking into how to avoid this more generally.

The existing code tried to avoid this by looking for the pin class with the most pins (which is usually not a cin/cout). However in this case the architecture has no pin-equivalence, so each pin gets it's own class, and it effectively falls back to picking based on the architecture file order.

[2020-03-27 19:04] leon575777642 commented on #1240
Thanks for the quick response. This is really helpful.

I'm not using pin equivalence now because I haven't figured out how to correctly generate bitstream for them. This is on my TODO list as well.

[2020-03-28 02:23] HackerFoo opened #1244 "MacOS support"
#### Proposed Behaviour
VtR should build successfully on MacOS. This will allow people to work on VtR using a Mac machine without using a Linux VM.

#### Current Behaviour
It doesn't.

#### Possible Solution
Add a `default.nix` file and fix any bugs preventing a successful build.

#### Context
I was working on improving my [Nix](https://nixos.org/nix/) setup, and realized Nix works on MacOS too.

[2020-03-30 19:54] xuqinziyue commented on #1225
I have done some experiment with always_inline:

When operator< is implemented as follows:
[code]

The operator< and the lexicographical_compare seems be inlined properly by compiler and the performance is similar to manual implementation.

However when I change the implementation to
[code]
The operator< is not inlined properly again, and there is no reduction in execution time.

I have collected

[2020-03-30 20:09] vaughnbetz commented on #1225
Thanks Easton.  That code is significantly easier to read (would still need a clear comment explaining what it does and why it is coded that way).  No idea why it doesn't inline as a friend function but as long as it inlines with one option we hopefully get the cpu improvement.  Getting full QoR data makes sense.

[2020-03-30 20:50] #1240 closed

[2020-03-30 23:09] #980 closed

[2020-03-30 23:31] djns99 opened #1249 "Compound statements segfault when used as the output of a gate"
When using a compound statement (any statement that is not just an identifier) as the output for a gate ODIN_II will segfault.

#### Expected Behaviour

#### Current Behaviour

#### Possible Solution

Currently when a gate is constructed the output is added to a list of outputs and any undefined outputs are removed. However, this assumes that the output has an identifier associated and searches th

[2020-03-31 00:27] jeanlego commented on #979
@Shreyv is this resolved with #1229?

[2020-03-31 00:58] Shreyv commented on #979
@jeanlego  Yes this one gets resolved with #1229 1229

[2020-03-31 02:17] #979 closed

[2020-03-31 02:22] jeanlego commented on #602
@sdamghan can you verify this is still an issue, I think this was resolved. if not it should be a simple fix

[2020-03-31 02:26] jeanlego commented on #533
for future reference, VTR 7.0 does compile successfully with GCC 4.9, anything above seems to fail.
@kmurray I think this can be closed?

[2020-03-31 13:37] kmurray commented on #533
Yep @jeanlego now that VTR 8 is [released](https://verilogtorouting.org/download), we can close this.

[2020-03-31 13:37] #533 closed

[2020-03-31 17:40] xuqinziyue commented on #1225
Update QoR result for inline change:

  | original_results.txt | modified_results.txt
vtr_flow_elapsed_time | 1 | 0.98708214
odin_synth_time | 1 | 1.078524821
abc_depth | 1 | 1
abc_synth_time | 1 | 0.986797326
num_clb | 1 | 1
num_memories | 1 | 1
num_mult | 1 | 1
max_vpr_mem | 1 | 1.000129628
num_pre_packed_blocks | 1 | 1
num_post_packed_blocks | 1 | 1
device_grid_tiles | 1 | 1
pack_time | 1 | 0.9

[2020-04-01 04:03] jeanlego opened #1253 "Odin: bison 2 shift/reduce conflicts"
#### Current Behaviour
[code]

it seems the culprit code would be

build/ODIN_II/verilog_bison.output
[code]

[2020-04-01 05:30] jeanlego commented on #978
@djns99 could you have a look into this?

[2020-04-01 20:08] mithro opened #1256 "Add animations from README into the docs"
You have some nice animations now.

You should put them somewhere early in https://docs.verilogtorouting.org/en/latest/

[2020-04-02 04:21] sdamghan commented on #602
@jeanlego It is already solved, we only have inout problem for this Verilog file.

[2020-04-02 15:42] jeanlego commented on #602
Thanks. Closing

[2020-04-02 15:42] #602 closed

[2020-04-02 16:46] #1256 closed

[2020-04-02 20:41] kmurray commented on #1038
I've looked into this, and I believe (based on the test case from #1041) that this is primarily a modelling issue.

As noted in the [timing modelling tutorial](https://docs.verilogtorouting.org/en/latest/tutorials/arch/timing_modeling/#clock-generators), PLLs should specify their clock outputs with `is_clock="1"`.

However the example architecture specifies both `is_clock="1"` **and** combinationa

[2020-04-03 13:31] #1038 closed

[2020-04-03 16:51] kmurray commented on #1142
I believe these have all been resolved, closing.

[2020-04-03 16:51] #1142 closed

[2020-04-03 16:53] kmurray commented on #1073
Supported added with #1109 and and enabled by default with #1239.

[2020-04-03 16:53] #1073 closed

[2020-04-03 21:22] xuqinziyue commented on #1225
An update for Titan results for the inline change:

following 3 tests did not run due to running out of disk space and data collected is based on other tests:
segmentation_stratixiv_arch_timing.blif
SLAM_spheric_stratixiv_arch_timing.blif
des90_stratixiv_arch_timing.blif

  | titan_original_results.txt | titan_modified_results.txt
vtr_flow_elapsed_time | 1 | 0.975597952
num_LAB | 1 | 1
num_DSP | 1

[2020-04-03 22:22] mithro opened #1263 "Make travis.yml file configuration valid."
Currently the `.travis.yml` file has a bunch of issues. See https://travis-ci.com/github/verilog-to-routing/vtr-verilog-to-routing/builds/158302571/config for details. See the travis documentation at https://docs.travis-ci.com/user/build-config-validation/ for more information.

[code]

Once these errors are fixed, we should enable the `version: ~> 1.0` so that it stays valid.

[2020-04-03 23:12] vaughnbetz commented on #1225
Looks good to me.  I think you just have to write some nice comments and commit.

[2020-04-04 00:17] mithro commented on #1225
Let's land your improvement.

I do think we should investigate further what is going on with `std::tie` stuff you mentioned here -> https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1225#issuecomment-606211485 but that is a task for someone in the future.

BTW To create a way to use `always_inline` attribute in a portable fashion, see the example in the Chromium source code at ht

[2020-04-06 12:24] jeanlego commented on #85
@sdamghan can you check that this is still an issue

[2020-04-06 12:51] sdamghan commented on #85
@jeanlego So based on our last meeting, let's @msohrabi2019 try to do this

[2020-04-09 19:50] #1040 closed

[2020-04-10 17:11] HackerFoo opened #1270 "Reorder RR graph nodes to improve caching"
#### Proposed Behaviour
Reordering RR graph nodes can improve the spatial locality of the data structure.

#### Current Behaviour
No explicit optimization exists.

#### Possible Solution
I have [tested a number of algorithms](https://github.com/HackerFoo/GraphReorderAndConverter) and found that the [`hybrid_bfsdeg`](https://github.com/HackerFoo/GraphReorderAndConverter/blob/master/graph-reordering

[2020-04-14 17:59] #1263 closed

[2020-04-14 18:11] kmurray opened #1279 "Coverity issues in vtr_string_interning.h"
#### Expected Behaviour

Coverity should be clean (no issues detected via static analysis)

#### Current Behaviour

Coverity detects the following issues in vtr_string_interning.h:
* [208511](https://scan9.coverity.com/reports.htm#v39728/p13131/fileInstanceId=64013101&defectInstanceId=7486370&mergedDefectId=208511)
* [208509](https://scan9.coverity.com/reports.htm#v39728/p13131/fileInstanceId=6401

[2020-04-16 17:10] litghost commented on #1279
My github account lacks access to those coverity issues.

[2020-04-30 13:47] emacdo12 opened #1291 "Odin: Comparing simulation output file with generated output (header specifically)"
#### Expected Behaviour
Odin should compare the titles by name and make sure they match. Also be case sensitive (which I think odin is).

#### Current Behaviour
Odin uses strcmp thus comparing the names and blank spaces not the tokens.

#### Possible Solution
Compare the tokens instead of using strcmp

#### Steps to Reproduce

1. create three files, a verilog file, an input file and an expected ou

[2020-05-05 16:33] emacdo12 opened #1294 "Gates (and,or,etc) don't support more than 1 bit inputs"
#### Expected Behaviour

When using gate functions such as and(..) it is expected that these gates can support ranges larger than 1 bit. According to the IEEE Standard for Verilog® Hardware Description Language

— For each port or terminal where the bit length of the instance-array port expression is the same as the bit length of the single-instance port, the instance-array port expression shall b

[2020-05-07 14:54] kmurray opened #1297 "Configure Profile Guilded Optimization Builds to use partial traning"
New versions of GCC (e.g. GCC 10) support the [`-fprofile-partial-training` flag](https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html), which means code not profiled is optimized as usual (i.e. with out profile-guided heuristics), instead of being optimized for minimum code size.

Since collecting a full profile of the various operations/flag combinations isn't easy, this is likely to produce

[2020-05-11 18:36] emacdo12 opened #1299 "Odin fails to connect register to output"
#### Expected Behaviour

Odin should connect the register defined in the initial to the output.
(Very situational specific)

#### Current Behaviour

Odin shouldn't try to build circuitry if the output is defined in the code by an initial and not an operation on an input.
#### Possible Solution

#### Steps to Reproduce

1.
[code]

[code]
[code]

#### Context

#### Your Environment

VTR revision use

[2020-05-20 20:49] andrewboutros opened #1307 "Routing Traceback Order Issue"
I am working on implementing a SAT-based router in VPR. My router creates routing traces that are supposed to be legal according to the data structure description, however, they cause a crash.

My explanation is that there is an underlying assumption that routing branches are supposed to be listed in order (when I fixed the order of my generated traces, the problem was resolved). The figure below

[2020-05-21 17:46] vaughnbetz opened #1310 "Regression test to check incremental timing analysis results/qor match full timing analysis during optimization"
#### Proposed Behaviour
We now have an incremental STA mode that is much faster for small changes in the optimizers. To confirm it always gets the same results as the full timing analysis, we should have one or two regtests on small circuits that check that we get the same results (should be identical placement output file, and identical routing output file) with incremental vs. full static timing

[2020-05-21 19:53] dpbaines commented on #1307
The problem is a result of dangling branches I've decided, a few tests I've ran have resulted in successful parsing no matter the ordering of branches. I only get the seg fault in the functions listed above if there is a dangling branch, I will fix it so it produces an error message instead of crashing.

[2020-05-21 21:33] jeanlego opened #1311 "Odin: $display and $finish only accepting constant values (parameters don't work)"
#### Expected Behaviour
parameters should work in $display and $finish but only constant value will compile

#### Steps to Reproduce

[code]

[2020-05-21 21:39] jeanlego opened #1312 "Odin: improve Preprocessor test in regression"
Preprocessor was not properly replacing variables, better testing would have caught this error

[2020-05-22 16:26] leon575777642 opened #1313 "FASM: Unexpected fasm_prefix added to output features"
In a corner case, the `fasm_prefix` of an inner pb_type is prepended to features belonging to an outer pb_type.

Specifically, in the `arch.xml` attached below, there are two `cluster` pb_types inside the top-level pb_type `clb`, and each of the `cluster` pb_types has a `fasm_prefix`. In the top-level pb_type `clb`, there are a few muxes connecting `clb` inputs and `cluster` outputs to `cluster` i

[2020-05-22 17:35] litghost commented on #1313
Can you please supply the output FASM that you expected, versus what you got?

Please make an effort to reduce the test case to something small if possible, e.g. a small circuit.

[2020-05-22 17:58] leon575777642 commented on #1313
Hi @litghost , thanks for your response. I've digged more into the source code and come up with a fix.

The bug is in this line:

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/7465954b5cb7addbd8fa79b590287cd0867d370e/utils/fasm/src/fasm.cpp#L682

Here it's using the parent pb graph node of the mux input when searching the prefix. However, if the mux input is an output of an inn

[2020-05-22 18:10] leon575777642 commented on #1313
Hi @litghost please review the draft pull request.

[2020-05-25 19:25] Bill-hbrhbr opened #1317 "VTR cannot build on Cygwin due to 'posix_memalign' not declared"
#### Environment
OS: Windows 10, 64 bits
Cygwin: 3.1.4, x86_64
GCC/G++: 9.3.0
Cmake: 3.14.5

#### Expected Behaviour
Trying to build VTR on Windows Cygwin. The build should be successful since the function **posix_memalign** should be declared in stdlib.h

#### Current Behaviour
~/vtr-verilog-to-routing/libs/libvtrutil/src/vtr_memory.h:67:12: error: ‘posix_memalign’ was not declared in this scope

[2020-05-28 20:11] MahshadJ opened #1322 "ODIN produces mult primitives that don't exist in the architecture file"
I was following the Quickstart Tutorial to run a circuit through ODIN and ABC. I was using LU8PEEng.v for the circuit file and k6_frac_N10_frac_chain_mem32K_40nm.xml for the architecture file. I was able to generate the odin.blif, abc_no_clock.blif, and the pre-vpr.blif files successfully. However, when running the last step which was vpr, I got an error saying "failed to find matching architectur

[2020-05-28 20:23] kmurray commented on #1322
@jeanlego Any ideas? Are there specific options ODIN requires to control synthesizing multipliers?

I would have expected ODIN to pick up from the architecture file what (if any) multipliers exist in the architecture, and only generate multiplier primitives if the architecture supports them.

[2020-05-29 12:27] jeanlego commented on #1322
This is odd. It does, it reads the architecture to find multipliers available and their port sizes.
mult_24_24-48 could only show up if it's specified in the architecture file. I'll dog into this more and come back to you on this :)
Thanks for resporting this!

[2020-05-29 12:58] Niranjananiranju opened #1323 "Power estimation could not be implemented for certain circuits"
![Screenshot from 2020-05-30 21-23-09](https://user-images.githubusercontent.com/46195277/83334343-77c5de00-a2c3-11ea-932d-47ece48d947e.png)
Could you tell the syntax for running power estimation for stereovision circuits?
This is the syntax which i tried to execute
./vtr_flow/scripts/run_vtr_task.pl power/power_std
where all the required circuits and architecture files were called inside the conf

[2020-06-01 12:41] acomodi opened #1325 "Enhance VPR lookahead map to account for CHAN to IPIN costs"
#### Expected Behaviour

Router correctly predicts the expected cost with correct lookahead map values

#### Current Behaviour

Router mispredicts expected costs to reach a target node from an intermediate one due to incorrectness of the lookahead map.

#### Possible Solution

This issue is related to the Series 7 fabrics.
The Lookahead map consists of expected costs that guide the router in findi

[2020-06-01 12:41] acomodi commented on #1325
@vaughnbetz @kmurray @litghost FYI

[2020-06-01 18:19] #1323 closed

[2020-06-02 00:30] vaughnbetz opened #1326 "Report all command line options in vpr log file"
It appears some of the command line options are not being echoed to the log output. A specific example is --router_high_fanout_threshold so that one for sure should be fixed, but there may be others so it would be good to check the output from vpr.log against the command line documentation to look for other missing options.

#### Proposed Behaviour
Each algorithm control that can be set via the co

[2020-06-02 00:35] vaughnbetz opened #1327 "Routing log output: segment usage by type should give wire type names"
#### Proposed Behaviour
The router output to vpr.log that tells the user how much demand there is for each kind of wire could be more user friendly. Currently it identifes wire types by numeric ids; instead it should use the name of the appropriate wire type.

#### Current Behaviour
Snippet from report:
Segment usage by type (index): type utilization
                               ---- -----------

[2020-06-02 14:21] acomodi commented on #1325
While debugging the router lookahead map behaviour, I have noticed that the `get_expected_cost` function that queries the lookahead map returns null values and all the queries end up with an expected cost equal to 0.

[code]

I have double-checked the `f_wire_cost_map` values after the calculation of the lookahead and, for the same (CHAN index, SEG index, delta_x, delta_y), the delay value is non-

[2020-06-02 15:03] acomodi commented on #1325
Turns out that there was an issue while printing these values, fixing the VTR_LOG strings showed up correct expected cost values, hence this is not an issue as previously thought.

[2020-06-02 15:47] acomodi commented on #1325
By further investigating, I think there is something odd happening during the lookahead map-based routing. It seems that the total cost gets reduced by a factor of 100 as soon as the router gets to expand the routing nodes.

Below there are some examples of expansion of the same net, one is with using the lookahead map and the second is obtained by using the connection box lookahead map:

Lookahea

[2020-06-02 15:53] rw1nkler opened #1328 "Automatic API documentation"
#### Proposed Behaviour

Currently, there is no explicit standardization in the code comments, which makes it impossible to include the API description in the main documentation.  Converting the current code comments to the Doxygen style will allow for generating automatic API documentation. Doxygen description can be used standalone or can be imported to Sphinx using the [Breathe](https://breathe

[2020-06-02 16:11] rw1nkler commented on #1328
I'm interested in helping with this task

[2020-06-02 16:28] kmurray commented on #1328
I agree this would be a good upgrade. I've looked briefly at Breathe before and it seems like the right way to integrate with sphinx and readthedocs.

There are effectively two layers of documentation in VTR: user facing (i.e. those using and running the tools), and developer facing (those making code changes). I think we want to keep that division pretty clean. Most users won't be interested in t

[2020-06-03 00:55] vaughnbetz commented on #1328
Agreed.  This is a good idea, and a practical plan.  Documenting the key data structures you list is the best place to start, and the most important.

[2020-06-03 01:05] vaughnbetz opened #1333 "Better messages for vpr graphics support missing packages / not supported"
We disable graphics in vpr if we don't find the necessary packages. But we can make the messages better / more helpful.

1. cmake currently gives easygl error messages (at least in the 8.0 release) if it can't find the x11 development headers. It should only be giving ezgl error messages, as easygl is obseleted.  I can't find the lines that print this in the master (trunk) so perhaps it's only in

[2020-06-03 13:20] kmurray commented on #1333
@vaughnbetz I believe VTR 8 branched before we upgraded from EasyGL to EZGL.

Yes this would be an excellent improvement.

[2020-06-03 14:39] kmurray opened #1334 "Memory leak when packing disable code causes failures"
#### Expected Behaviour

Code should be free of memory errors.

#### Current Behaviour

When with sanitizers enabled there is an [error](https://source.cloud.google.com/results/invocations/a90d3085-ffd1-42fe-a51d-907094009e6f/targets/foss-fpga-tools%2Fverilog-to-routing%2Fupstream%2Fcontinuous%2Fstrong_sanitized/log):
[code]
where 23 usually indicates a memory leak detected by ASAN.

The resulting

[2020-06-03 14:45] kmurray commented on #1334
@tangxifan Could you take a look?

[2020-06-03 15:02] tangxifan commented on #1334
Sure. I should be able to patch it this week.

[2020-06-03 16:13] MahshadJ commented on #1333
@vaughnbetz which flag enables and disables graphics? is it VPR_USE_EZGL or EZGL_BUILD_EXAMPLES?

[2020-06-03 16:23] kmurray commented on #1333
For (2), I believe we'd want to print out a messaged based on the 'NO_GRAPHICS' define (see vpr/src/draw.cpp). Specifically, we should probably put it in the `#else` section of `init_graphics_state()`, and print the warning provided any of the --save_graphics  on/--graphics_commands/--disp on  options have been specified (i.e. informing the user that they won't see graphics since VPR wasn't compil

[2020-06-03 16:25] acomodi commented on #1325
It seems that adding the site_pin_delay (CHAN --> IPIN delay info from the switch), helps in improving the lookahead map with a reduction in the number of backtracking performed by the router.

The major issue seems to be the fact that, when expanding a node that has many edges (e.g. a node that is on the interconnect tile and from which there are several possible routes), the lookahead does not c

[2020-06-03 17:18] MahshadJ commented on #1333
Yes, I know I've already done that, I just wanted to test it. So I wanted to disable graphics and run --disp on to see if it does give me the warning.

[2020-06-03 17:20] emacdo12 opened #1336 "Compiler directives `ifdef don't function properly"
#### Expected Behaviour

The compiler `ifdef should behave similarly to any if structure however the argument being past is a text macro name. It performs the operations in the statement if it is defined or jumps to else if it's not. Same idea with ifndef but opposite.

#### Current Behaviour

Instead, Odin may not be respecting the ifdef and else and will perform both set of statements. For examp

[2020-06-03 17:25] emacdo12 opened #1337 "Creating an operation with more than one `define"
#### Expected Behaviour

The define text macro should be replaced with the string specified and there is no limit on how many defines can be placed in a define.

#### Current Behaviour

Odin errors stating there are too many arguments

#### Possible Solution

#### Steps to Reproduce

This bug can be replicated in my PR that I created (preprocessor branch). Specifically the nested_operation_define.

[2020-06-03 17:49] emacdo12 opened #1338 "Nand gate 1 bit error"
#### Expected Behaviour

If a nand gate is called upon, it should produce the appropriate output based on it's inputs.

#### Current Behaviour

An error occurs while parsing. This is actually an issue with the compiler directives not nand gate. However, it's odd because the errors don't occur with any other gate.

#### Possible Solution

#### Steps to Reproduce

This bug is replicated in a PR I ma

[2020-06-03 18:11] emacdo12 opened #1339 "Bug in ast_util c_simple_print"
#### Expected Behaviour

c_simple_print should check the length before checking it's an octal number incase there aren't enough characters.

#### Current Behaviour

It doesn't check the length which causes a memory leak in certain situations.

#### Possible Solution

check length first.

#### Steps to Reproduce

This problem is produced when $display("Some_message\n") is used in that format.  The

[2020-06-03 18:41] kmurray commented on #1325
I believe that is the case the the map lookahead, which is indexed in 4 dimensions as:
[orientation][segment_type][dx][dy]

See for instance:
- https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/router_lookahead_map.h#L36-L37
- https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/router_lookahead_map.cpp#L220

The rest is somewh

[2020-06-03 21:19] vaughnbetz commented on #1333
VPR_USE_EZGL not being set looks to be the control variable for running without graphics libraries.  So I'd test that one.  If it's easy to also test NO_GRAPHICS being set I'd test that too (should be set automatically when VPR_USE_EZGL isn't set).

[2020-06-04 16:55] mustafabbas commented on #971
(2) is complete here: PR https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1104

[2020-06-05 02:59] tangxifan opened #1347 "Logic Block Pin Mapping should Synchronize with Post-Packing/Routing Results"
1. When users define equivalent pins in architecture, such as
` <input name="I" num_pins="10" equivalent="full"/>`,
VPR's router is allowed to swap the nets that are mapped to these pins during packing stage.
This enables more optimization space for routers, when resolving routing congestion and also for tight timing constraints.

However, when routing is finished, the swapped nets will mismatch t

[2020-06-08 09:42] acomodi commented on #1325
@kmurray I will try to get some diagrams prepared to easily get an overall view on how the RR graph looks like, to get a better understanding on what is going on.

Regarding BI-DIR segment types I am unsure whether we can move them to be unidirectional, I would need to test this, probably @litghost could provide some more insight on this matter.

By analysing the current behaviour and the connecti

[2020-06-08 16:17] litghost commented on #1325
@HackerFoo spent a good deal of time developing the current connection box lookahead sampling method.  This method should be suitable for the lookahead map, and should help and/or solve missing entries.  That code likely needs to be made into a library and/or function that both the connection box lookahead and map lookahead can use as a sampling pattern.

[2020-06-08 18:53] tangxifan commented on #1334
Hello, I have patched in the [pull request](https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1344)

[2020-06-08 21:01] kmurray commented on #1334
Fixed with #1344.

[2020-06-08 21:01] #1334 closed

[2020-06-09 17:08] #1307 closed

[2020-06-11 13:24] #568 closed

[2020-06-11 16:11] kmurray opened #1357 "Markdown files fail to link into documentation"
#1354 seems to have introduced some build issues with the documentation. In particular where we were linking to .md files in the docs.

For instance, the developer guide (from README.developers.md) no longer appears in the main docs at: https://docs.verilogtorouting.org/en/latest/dev/

Before:
![image](https://user-images.githubusercontent.com/1386492/84409628-ac973680-abdb-11ea-9657-ad2b446375b9.

[2020-06-11 16:11] kmurray commented on #1357
@rw1nkler can you look into this?

[2020-06-11 16:12] kmurray commented on #1357
@vaughnbetz @sfkhalid FYI

[2020-06-11 16:19] vaughnbetz commented on #1357
Thanks Kevin.  @rw1nkler: this has resulted in a lot of inaccessible documentation and broken links so it's an important one to resolve quickly.

[2020-06-11 17:38] mithro commented on #1357
@acomodi

[2020-06-11 17:51] rw1nkler commented on #1357
@kmurray @vaughnbetz The fix is available in the https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1358

[2020-06-11 18:24] #1357 closed

[2020-06-12 00:38] #1326 closed

[2020-06-16 14:59] emacdo12 opened #1366 "ODIN_II: Initial blocks do not assign the value"
#### Expected Behaviour

In an initial block, assignments are given to outputs, register,etc. It can be sequential or instaneous depending on the assignmnet used.
#### Current Behaviour

Odin isn't assigning the values in the initial block. It says the value is undriven.

#### Possible Solution

#### Steps to Reproduce

The output was verified with quartus.

[code]

[code]
[code]
error produced:
[

[2020-06-16 16:26] emacdo12 opened #1368 "ODIN_II: always block doesn't behave properly with or and *"
#### Expected Behaviour

An always block executes when the signal inside changes. For instance, if the always block is written as: always@(a or b), the statements in said block will execute when either signal a or b changes. This error also occurs when always @(*) . This is the equivalent of always@(a or b) if a and b are the only inputs. If there was an input c it would be equivalent to always@(a

[2020-06-16 18:31] emacdo12 opened #1369 "ODIN_II: overriding parameters doesn't work"
#### Expected Behaviour

If the proper syntax is in place, it is possible to override the parameters in a seperate model with new values. There are two ways to do it, defparam and model #(.paramter(new_parameter)) model (ports[]); I have included test cases for both.
#### Current Behaviour

Odin_II doesn't do the overried (defparam) or can't handle it and aborts.
#### Possible Solution

#### Steps

[2020-06-24 21:44] litghost opened #1377 "Flag "--enable_timing_computations" removed"
#### Expected Behaviour

`--enable_timing_computations option` enabled disabling of timing calculations.

#### Current Behaviour

Flag is now removed.

#### Context

`--enable_timing_computations` option was removed in https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/1b2a445308a822d78156e0627497dde9315510a7

This flag was being used to create dummy rr graphs that could be patche

[2020-06-24 21:46] litghost commented on #1377
It is possible that `--enable_timing_computations off --place_algorithm bounding_box` is now equivalent to simply `--place_algorithm bounding_box`, testing that now.

[2020-06-24 23:02] litghost opened #1378 "Placer crashing"
#### Expected Behaviour

Placer should not crash when running.

#### Current Behaviour

[code]

#### Possible Solution

Still investigating, recent changes in the placer (near https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/7f39b64da4a3c6f301d5bd4bb3ab92f45f9bfb72) appear to be the changes that caused the issue.

#### Steps to Reproduce

Working on reduced tested case, TBD.

1.

[2020-06-25 08:43] acomodi opened #1379 "Net alias not properly considered when creating set_{min,max}_delay constrainst"
Issue from https://github.com/SymbiFlow/vtr-verilog-to-routing/issues/524.
Alias are not considered when processing the `get_clocks` call when doing min/max delay constrainsts in the SDC.

#### Expected Behaviour

In the input netlist where you have theses aliases :

[code]

Then the constraints :

[code]

and

[code]

should be equivalent. But in reality, only the latter works because aliases are

[2020-06-25 17:26] vaughnbetz commented on #1378
Bill, can you take a look?  It appears to be in the new code that adds up timing costs in a hierarchical way to minimize round off.  Keith is working on a small test case, but says making a circuit with a single input connected to a single output appears to cause the problem.  So maybe there is a degenerate case where very small circuits break this code (maybe an out of bounds error for such a cas

[2020-06-25 17:27] vaughnbetz commented on #1378
So this may not be debuggable without more info, but if you inspect the code perhaps you'll see it.
Also may indicate a missing test case (extremely small, one net circuit).

[2020-06-25 21:21] litghost commented on #1378
When I tried to replicate this outside of CI, the issue did not appear.  I'm confused about why, but for now I'm going to close this issue.  I will re-open once I get a replication :/

[2020-06-25 21:33] litghost commented on #1378
I've been able to replicate this issue!  GCC 5 and GCC 6 generate the exception, and clang-7 does not!  This hints at possibly some kind of undefined behavior being present?

[2020-06-25 21:51] litghost commented on #1378
Ya, I believe the assertion fires when `num_connections = 1`.  Let me add a vtr_reg_basic wire test, and see if it I can get a replication.

[2020-06-25 23:03] Bill-hbrhbr commented on #1378
It seems to me that this for loop in timing_place.cpp:

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/place/timing_place.h#L165-L180

is skipped entirely when there is only one unignored net within the netlist. This problem disappears when there are two or more unignored nets.

For example, the following code generates the error, even if there are 3 nets in total

[2020-06-26 16:31] Bill-hbrhbr commented on #1378
Sorry about my previous comment on the for loop. I misused VTR_LOG. The looped isn't skipped.
I think the error occurred due to this function `num_nodes_in_level`:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/place/timing_place.h#L374-L377
I think it should be
`return (1 << (ilevel));`
for this heap data structure. It seems like root has index 0.
I think **num_n

[2020-06-29 14:44] kmurray commented on #1377
That seems like a reasonable behavior.

One thing which may come up is whether `--place_algorithm bounding_box` constructs an RR graph for placement. I think it may not (since it isn't strictly needed for non-timing driven placement, since no delta delays need to be calculated).
If that is the case, we could just unconditionally build the RR graph before placement (regardless of --place_algorithm)

[2020-06-29 14:45] kmurray commented on #1379
Thanks for the report @acomodi this is something that should be fixed.

[2020-06-29 15:37] kmurray opened #1385 "VPR Debug Breakpoint Expressions"
#### Proposed Behaviour

As @MahshadJ is building a breakpoint-like infrastructure into VPR to aid debugging, it is important to ensure the system is sufficiently flexible to make debugging easier.

#### Current Behaviour

In @MahshadJ's current proposal there are a fixed number of pre-defined breakpoint types. In practice when debugging algorithms these will likely be insufficiently flexible. Dev

[2020-06-30 02:23] #1378 closed

[2020-06-30 18:51] Bill-hbrhbr opened #1387 "Calculation of RR node congestion cost"
#### Description
The RR node congestion cost should be calculated as a product of individual cost components:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/route_common.cpp#L730-#L732

however, in draw.cpp, the cost is calculated as a sum:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/draw/draw.cpp#L1202-#L1204

Not sure i

[2020-06-30 20:23] vaughnbetz commented on #1387
The route_common code is for sure correct.  I suspect the draw code is just a bug.  Just to double check: Kevin, was this intentional to make drawing look nicer?

[2020-07-01 12:49] kmurray commented on #1387
Yep that looks like a bug. To fix it, I'd suggest using `get_single_rr_cong_cost()` in draw.cpp so we have only a single definition of how costs are calculated.

[2020-07-01 18:40] Bill-hbrhbr commented on #1387
Ok, I will update this in a future pull request.

[2020-07-02 21:40] helen-23 opened #1391 "VPR GUI: Enhance critical path drawing"
#### Proposed Behaviour
Enhance the VPR GUI so that when Toggle Crit. Path is selected during routing, it should track and illustrate the critical paths clearly, meaning that it should take no effort for the user to find the paths drawn on screen.

#### Current Behaviour
The Toggle Crit. Path function in the VPR GUI currently tracks and illustrates the critical paths during routing. However, these

[2020-07-03 16:52] vaughnbetz opened #1394 "Improve block selection / colouring in VPR GUI"
Block selection via the search dialog currently only accepts clustered block names, and clustered block IDs.
1. Ideally it would also accept primitive names (atom netlist names) and highlight the block that contains that primitive.
2. Longer term, it would be good if we could also search for/highlight individual primitives using the intra-block visualization feature.

#### Proposed Behaviour

1. W

[2020-07-03 19:37] kmurray commented on #1394
Useful information for this is found in `g_vpr_ctx.atom().lookup`.

Specifically, the function [atom_clb()](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/base/atom_lookup.h#L65) will return the the CLB block associated with a specific atom block.

[2020-07-03 21:31] #1391 closed

[2020-07-04 01:01] vaughnbetz opened #1397 "Documentation Enhancement: how to see inside a cluster-level block in the VPR graphics documentation"
One major button/function in the vpr graphics is missing from the documentation at https://docs.verilogtorouting.org/en/latest/vpr/graphics/: "Toggle Block Internal"

#### Proposed Behaviour
The function of this button should be described in a new heading (clicking it shows inside a cluster-level block). The more times you click, the deeper into the hierarchy within the cluster level block you see

[2020-07-06 17:15] jeanlego commented on #1368
could you also attach the blif file to verify whether this is indeed a synthesis problem and not part of the simulator

[2020-07-06 17:16] jeanlego commented on #1339
fixed as of now

[2020-07-06 17:16] #1339 closed

[2020-07-06 17:17] jeanlego commented on #1338
could you link to the file here to be able to reproduce

[2020-07-06 17:18] jeanlego commented on #1312
@emacdo12 thanks for improvign the test set :)

[2020-07-06 17:18] #1312 closed

[2020-07-06 22:51] jeanlego opened #1401 "odin reg micro preprocessor error on buildbot"
Buildbot shows some errors on odin micro regression, more specifically the newly added preprocessor tests.

### Current Behaviour
see latest build [here](http://builds.verilogtorouting.org:8080/builders/strong/builds/1341/steps/odin_reg_micro/logs/stdio)

#### Possible Solution
it seems that some json entries are missing

[2020-07-06 22:52] jeanlego commented on #1401
@emacdo12 this seems to be caused by the latest PR, its odd that it did not get caught by Travis.
Can you have a look?

[2020-07-06 23:36] litghost opened #1402 "Placer reporting cost errors during consistency checks"
#### Expected Behaviour

Placer places circuit and writes placement file.

#### Current Behaviour

Placer aborts with the following error:
[code]

#### Possible Solution

Working on reduced test case.  Circuit in this case was very simple, multiple inpad -> outpad connections.

#### Steps to Reproduce

1.Get input test data:
 - `wget https://storage.googleapis.com/debug_data/vpr_failing_test.tar.b

[2020-07-06 23:42] litghost commented on #1402
I'm working on identifying when this abort started happening.  @acomodi believes it was around when the incremental timing analysis was added.

[2020-07-06 23:48] litghost commented on #1402
I tested a circuit that was a little more complicated (a counter), rather than simple straight inport -> outport, same issue.  I'll see how much I can reduce the circuit and still produce the error.

[2020-07-07 16:53] HackerFoo commented on #1402
I also ran into this issue when working on https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1205. [Disabling incremental timing](https://github.com/HackerFoo/vtr-verilog-to-routing/commit/7e35d152ce2d1f05aa70bbbc017f9b8f44668138) avoided the error.

[2020-07-07 17:11] litghost commented on #1402
Which graph were you running on?  So far I've noticed the placer error showing up on 7-series ROI based graphs, but I would've assumed you would've been testing on either full 7-series graphs or a titan arch.

[2020-07-07 17:15] litghost commented on #1402
@acomodi mentioned this, but if the ASSERT level is increased from 2 to 3 the error changes to:
[code]

[2020-07-07 17:20] acomodi commented on #1402
An additional note, the function that provides the driver pin, which causes this assertion error is the following:

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/6af4a382ff4187bd4ac7659bdb427d9eff6bcec0/vpr/src/place/place.cpp#L1862-L1923

[2020-07-07 18:23] emacdo12 opened #1405 "Odin: automatic says unsupported"
#### Expected Behaviour

Odin should be able to synthesize the keyword automatic and support recursive functions (because automatic is listed as a supported keyword).

#### Current Behaviour

There is a warning saying that odin does not differentiate between static and automatic tasks and functions. It errors because it has issues witht the output.

#### Possible Solution

#### Steps to Reproduce

[2020-07-07 18:48] HackerFoo commented on #1402
@litghost I was using the full 50t graph. I assumed that the problem was triggered by my new placement code.

[2020-07-07 18:51] litghost commented on #1402
No I don't believe so.  However in my limited testing, the full 50T graph did not produce this error, so it possible that ROI or full 50T + new placement triggers the issues.  Something is latent here.

[2020-07-07 21:11] emacdo12 opened #1406 "Odin: defparam overrides localparam"
#### Expected Behaviour

Localparam is in place so it can not be overriden by deparam, additionally it should define a parameter.

#### Current Behaviour

When using localparameter, odin doesn't recognize it.

#### Possible Solution

#### Steps to Reproduce

[code]
[code]

This should fail:

[code]
[code]

#### Context

#### Your Environment

* VTR revision used:
* Operating System and version:
*

[2020-07-07 22:12] emacdo12 opened #1407 "Odin: Function errors when calling another function"
#### Expected Behaviour

Functions are able to call other functions (just not tasks).

#### Current Behaviour

When calling a function within a function, there is a netlist error.

#### Possible Solution

#### Steps to Reproduce

[code]

[code]

#### Context

Error arrose when creating benchmarks for keywords.

#### Your Environment

* VTR revision used:
* Operating System and version:
* Compiler

[2020-07-07 22:16] emacdo12 opened #1408 "Odin: Functions don't support all syntaxes"
#### Expected Behaviour

Like modules, input ports of a function can be declared inside the parenthese or outside.

#### Current Behaviour

Odin only supports it when it's outside the parentheses and not inside.

#### Possible Solution

Adjust this like module.

#### Steps to Reproduce

[code]

[code]

#### Context

Issue arrose when creating benchmarks for keywords.

#### Your Environment

* VTR

[2020-07-07 22:24] emacdo12 opened #1409 "Odin: While keyword not supported"
#### Expected Behaviour

While should be supported. Underneath the supported keywords in the flex it's labelled.

#### Current Behaviour

There's an error that while statements aren't supported.

#### Possible Solution

#### Steps to Reproduce

[code]

[code]

#### Context

Error arrose while creating benchmarks for keywords.

#### Your Environment

* VTR revision used:
* Operating System and vers

[2020-07-07 22:29] emacdo12 opened #1410 "Odin: wire is a net type and cannot be on left in always block"
#### Expected Behaviour

An error should occur when a net type is assigned a value in an always block. Only data types are allowed for that. ex reg

#### Current Behaviour

Odin does not error.

#### Possible Solution

#### Steps to Reproduce

[code]

#### Context

Happened upon whilst creating keyword benchmarks

#### Your Environment

* VTR revision used:
* Operating System and version:
* Compil

[2020-07-07 22:32] emacdo12 opened #1411 "Odin: error when task calls task or function"
#### Expected Behaviour

Tasks, unlike functions, can call both a task and a function while executing.

#### Current Behaviour

An error occurs when a task or function is called in a task. Netlist issue. Same error as when a function calls a function.

#### Possible Solution

#### Steps to Reproduce

[code]

[code]

#### Context

Error occured when creating benchmarks for task.

#### Your Environm

[2020-07-08 22:43] litghost commented on #1402
I did a quick test with https://github.com/HackerFoo/vtr-verilog-to-routing/commit/7e35d152ce2d1f05aa70bbbc017f9b8f44668138 and the counter test on the xc7 50T ROI arch was able to complete if assert level was 2.  On assert level 3, I got:
[code]

WIll continue investigating this week.

[2020-07-09 00:07] litghost commented on #1402
@kmurray Why is the assertion at https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/6af4a382ff4187bd4ac7659bdb427d9eff6bcec0/vpr/src/place/place.cpp#L1963 valid?  In the parent context DRIVER pin types are ignored, see here: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blame/master/vpr/src/place/place.cpp#L1889

I'm not clear why `ipin == 0` is an assertion violation

[2020-07-09 00:28] litghost commented on #1402
The assertion from here should probably be behind the incremental `#ifdef`.

[2020-07-09 02:54] vaughnbetz opened #1412 "Titan Architecture README is out of date"
The README looks to be out of date, as it refers to architectures that aren't in the repo.  It should be updated.
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vtr_flow/arch/titan/README.rst

I think the architecture names basically line up with the architectures in the VTR 8 paper (see the part on new Stratix IV capture) except the legacy one, which I assume is the olde

[2020-07-09 18:14] vaughnbetz commented on #1402
The assumption that pin #0 on a net is the driver is deeply embedded in the netlist data structures.  So the assert looks valid.
I'd run the sanitizers to check memory faults, since this is a strange failure.  I agree that this assertion doesn't look like it should fire based on the code, so something strange is going on (memory corruption? bad data in the architecture file?).

[2020-07-09 18:17] vaughnbetz commented on #1402
@Bill-hbrhbr this may be of interest; hard to debug without being able to run Symbiflow though.

[2020-07-09 19:00] litghost commented on #1402
@vaughnbetz / @Bill-hbrhbr I've added instructions for replicating our failure.  I can provide more blif's if that is useful, however the current one is just a single input / output.

[2020-07-09 19:09] vaughnbetz commented on #1402
@Bill-hbrhbr : Keith has provided instructions on how to reproduce at the top of this issue -- can you take a look?

[2020-07-10 12:11] Bill-hbrhbr commented on #1402
The inherent rule is that the criticalities, delays, and timing costs are only calculated for sink pins, not the driver pins. All the data structures (or at least for Kevin's incremental sta code) are based on this fact, including the PlacerTimingCosts's heap in timing_place.h

Indeed, the bug appeared since **place_crit.pins_with_modified_criticality()** provided a driver pin in the failed test c

[2020-07-10 15:04] vaughnbetz commented on #1402
Nice work finding this so quickly Bill!
I agree that code looks wrong.  Perhaps this is also the underlying reason Kevin had to implement a more complex summation (tree summation) when he added incremental timing analysis, in order to get the timing costs close enough to pass the incremental vs. brute-force timing cost consistency check (i.e. perhaps the new summation order masked this bug for the

[2020-07-10 19:24] litghost commented on #1402
If you have a fix, please create a PR as soon as possible.  This bug is currently blocking downstream VTR + symbiflow integration, and it would be good to confirm if your fix works or not.

[2020-07-10 20:10] vaughnbetz commented on #1402
Bill has a fix --

[2020-07-10 20:10] vaughnbetz commented on #1402
Whoops, fat finger.  Bill has a fix.

[2020-07-10 20:11] Bill-hbrhbr commented on #1402
Yep working on it right now

[2020-07-10 21:35] litghost commented on #1402
@Bill-hbrhbr : We are still seeing:

[code]

Which I believe you will replicate if you increase the ASSERT level from 2 to 3.

[2020-07-10 21:37] litghost commented on #1402
Maybe there needs to be an additional check to the assert that "crit_exponent == last_crit_exponent_ && ..."?

[2020-07-10 21:38] Bill-hbrhbr commented on #1402
looking into it right now

[2020-07-10 21:39] litghost commented on #1402
The way I see it, the logic that you modified does a brute for retiming if `crit_exponent` changes.  However, if the underlying result is not a function of the `crit_exponent`, (e.g. 0 ^ crit_exponent => 0), then the assertion might fail?

[2020-07-10 22:35] Bill-hbrhbr commented on #1402
@litghost I haven't been able to replicate this bug. Is this produced on a different set of benchmarks?

[2020-07-11 02:44] jeanlego opened #1422 "Odin: keyword benchmarks have too many architecture"
#### Current Behaviour
The keywords benchmark all run against 4 architectures (none, mem, mem+mul, mem+mul+add)

#### Proposed Behaviour
unless there are implicit blocks or explicit calls, these should be reduced to 1, k6_N10_mem32k.xml.

#### Context
running on 4 architecture is unnecessary bloat for unit benchmarks. and makes the regression longer than it needs.

[2020-07-11 02:44] jeanlego commented on #1422
@emacdo12

[2020-07-13 13:05] #1401 closed

[2020-07-13 13:07] jeanlego commented on #1406
@emacdo12 could you look into this?

[2020-07-14 14:02] #1422 closed

[2020-07-14 14:12] jeanlego opened #1426 "Rename "master" branch"
## Proposed Behavior
the main branch should be renamed to remove references to slavery.

#### Possible Solution

possible names:

- development, dev
- primary
- main
- rolling

[2020-07-14 15:22] aarongraham9 commented on #1426
I don't disagree. Seems to be some consensus in the larger software development sphere.
- https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=49decddd39e5f6132ccd7d9fdc3d7c470b0061bb
- https://lkml.org/lkml/2020/7/4/229
I'd suggest `master` -> `primary` or `main`.

[2020-07-15 14:44] #1291 closed

[2020-07-15 17:41] jeanlego commented on #1291
Fixed with 1320

[2020-07-16 00:05] litghost opened #1430 "Packer extensions"
#### Proposed Behaviour

In order to conform to some packing rules for the 7-series architecture, there are rules the pack needs to follow that I don't believe can easily be expressed.  I want to discuss them in turn, and determine good ways forward.

1. Mux priority

There are two cases in the 7-series CLB where the cluster router should prefer a particular mux path when possible over another.  I

[2020-07-16 13:46] jeanlego commented on #1410
@emacdo12 could you have a look into this? the error should be thrown during netlist creation.
this would be a good place to start looking

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/ODIN_II/SRC/netlist_create_from_ast.cpp#L2969

[2020-07-16 14:01] jeanlego commented on #1369
this is odd, we have test that work for this form, only hierarchical overrides are not yet supported

[2020-07-16 14:02] jeanlego commented on #1338
this is actually a preprocessor error. closing

[2020-07-16 14:02] #1338 closed

[2020-07-16 17:06] #1412 closed

[2020-07-16 17:50] jgoeders opened #1434 "Python linter in CI"
There are several Python scripts already part of the repo, and with #1429 beginning to convert the core scripts to Python, it would be good to run a python linter as part of CI.

#### Proposed Behaviour
Run flake8 and/or pylint with CI checks.

#### Current Behaviour
No python linting in CI.

#### Possible Solution
Check output of flake8 and pylint with current checked-in python scripts to see whe

[2020-07-16 18:11] jgoeders opened #1435 "Python auto-formatting"
We are currently auto-formatting C/C++ code using `clang-format`, but we aren't formatting Python code.  With the inclusion of more Python scripts (#1429), we should add Python formatting.

#### Proposed Behaviour
`make format` should also format Python code.

#### Current Behaviour
No automated Python formatting

#### Possible Solution
Try something like https://github.com/google/yapf or https://

[2020-07-16 23:40] litghost commented on #1402
@Bill-hbrhbr I've been able to replicate this issue, here are the latest replication instructions:

1.Get input test data:
 - `wget https://storage.googleapis.com/debug_data/replicate2.tar.bz2`
 - `mkdir vpr_failing_test`
 - `pushd vpr_failing_test`
 - `tar -xf replicate2.tar.bz2`
 - `popd`
2. Build Symbiflow VPR at 2d2c0b6490c7914383bf326bee973feac455269b
  - `git clone https://github.com/litghos

[2020-07-17 00:16] litghost commented on #1402
@vaughnbetz / @Bill-hbrhbr I believe this assertion is not in error, but I'm not totally sure.  I'm debugging on my side, let me know if you find anything.

[2020-07-17 00:44] vaughnbetz commented on #1402
Responding to a prior comment: I don't think this assert has anything to do with crit_exponent.  The assert checks that the delay of a connection stored in a certain matrix entry matches what we get if we ask for the delay of that connection right now.  We're failing that test.  It looks like the routine is called in two places: once by the regular (incremental) timing cost update routine, and onc

[2020-07-17 00:49] litghost commented on #1402
Nope!  In fact this design is super simple, one `inpad` and one `outpad` connected.  I working on adding diagnostics prints to see if can find the issue first.

[2020-07-17 00:54] vaughnbetz commented on #1402
Does the assert only occur on that design, or also on larger ones? Are both I/Os locked in place (nothing to move)?  Maybe there's a corner case if we don't move anything.

Or, if it happens on larger designs too, it's not that ...

[2020-07-17 00:55] litghost commented on #1402
They are not locked.  I've already added a print checking a move took place.

[2020-07-17 01:02] litghost commented on #1402
Looks like the bug is in `driven_by_moved_block`.  I'll provide a print trace in a minute that points in that direction.

[2020-07-17 01:05] litghost commented on #1402
This design has 1 net, with two pins 0 (driver) and 1 (sink).  You can see in the trace that the placer only moves one block, but the incremental logic sees that the sink has been affected, but still skips the update because it believes the driver has *also* moved.  Not sure why just yet:

[code]

[2020-07-17 01:06] litghost commented on #1402
It looks like on iteration 1, both the driver and the sink move, which makes sense.  However in further iterations, only the sink moves, but the `driven_by_moved_block` still returns true, causing the timing update to be skipped.

[2020-07-17 01:07] litghost commented on #1402
I believe this logic is broken if it happens to be that the source and sink are from the same block, and their placement changes the net cost, but I do not believe that is what is happening here, as there are two clusters.

[2020-07-17 15:30] litghost commented on #1402
The bug is in the "PinType" annotation in the clustered netlist.  It looks like the driver pin is being marked as a sink.

[2020-07-17 18:59] litghost commented on #1402
I added an assertion that I believe demostrates the issues:

The assertion:
[code]

Which basically states that the driver pin for the net should be the DRIVER pin_type, and the assertion failed:

[code]

I'm going to see if there was sanity checking code in the clustered netlist to detect this problem and see if memory something corrupted the clustered netlist or what!

[2020-07-17 19:04] litghost commented on #1402
I've added an assertion to confirm what I believe is the PinType bug:

[code]

which does throw an assertion violation:
[code]

[2020-07-17 19:47] litghost commented on #1402
I added the following sanity check to `check_netlist`, and it is failing:
[code]

If that check looks good, we should probably merged that, and I'll create a PR.

[2020-07-17 20:28] litghost commented on #1402
I add a call to `Netlist::verify` and go a similar assertion violation:
[code]

[code]

I think this confirms my earlier investigation.  Now to determine where the problem is coming from.

[2020-07-17 21:02] litghost commented on #1402
Something weird is going on:
[code]

So pin 0 is added to net 0, and is pin type = 0 (DRIVER).  Then a little while later, pin 0 is pin type 1?  Still investigating.

[2020-07-17 21:33] litghost commented on #1402
I've located the bug, making a fix now.

[2020-07-17 21:53] litghost commented on #1402
PR opened for fix.  I still need to make a replicating regression test, which I'll start on now.

[2020-07-18 01:35] vaughnbetz commented on #1402
Nice bug hunting on this Keith!  You probably already thought of this, but just in case: you can turn on sanitizers in the makefile if you suspect memory corruption.

[2020-07-18 21:38] kmurray commented on #1430
Perhaps a more general way would be to add a cost (definable in the arch file) to each mux? That would guide the cluster router better guidance about what is prefered, and be a bit less mysterious than depending on declaration order in the arch file.

[2020-07-18 21:47] kmurray commented on #1430
Perhaps I'm missing something, but wouldn't it be possible to model this as two different modes (one with the CARRY4, the other with the 4xMUXCY and 4xXORCY)? They could then have different timing models in that case.

That seems rather unusual to me, if the underlying hardware is actually using the same MUXCY/XORCY primitives then things should add up (otherwise STA is broken as a general method.

[2020-07-19 17:17] jgoeders commented on #1434
@mithro How did you envision us using the python linter?  I tried flake8 and pylint on some existing scripts and there are lots of issues that are detected, some more critical than others.  If we enforce a clean lint, it is going to take some work to clean up all of our scripts.

Are you using a python linter in other projects, and if so, how are they used?

Some ideas:
- We could identify only ce

[2020-07-19 17:26] mithro commented on #1434
@jgoeders -- I would probably start by enforcing new python files to be lint free and then slowly reduce the list of "grandfathered" existing Python scripts?

[2020-07-19 19:18] jgoeders commented on #1434
OK, sounds good.  I'll start with a manual list files we are going to enforce, and we can slowly grow it until we have everything covered.

[2020-07-19 19:27] mithro commented on #1434
@jgoeders I would suggest an **exclude** list (files we are not enforcing on) rather than an include list. That way any new files need to be compliant.

[2020-07-20 15:01] litghost commented on #1430
You are focusing the on logical expression of the hardware (4x MUXCY/XORCY), but not thinking about how the hardware designers could build a shorter logic path with a combined 4 tall carry chain.  Consider something like a https://en.wikipedia.org/wiki/Carry-lookahead_adder

The key idea here is that is possible to have hardware that must be model as a lumped whole for STA, but logically decompose

[2020-07-20 19:39] litghost opened #1444 "Extension of fc==0 logic"
#### Context

Currently I don't believe VPR can handle packing or placing nets that make use of both dedicated fabric ports (e.g. carry chains) and general routing fabric ports.

There are some behaviors in the packer that mean that it can make "impossible" choices.  The easiest example to visualize a carry chain that has a both a general routing fabric port and a dedicated path port.  The other c

[2020-07-20 19:43] litghost commented on #1444
@kmurray / @vaughnbetz Thoughts?

[2020-07-21 03:09] kmurray commented on #1444
I recall some extended discussions with @mithro a while back on this topic. Its definitely an open issue.

In the long term, we hope to use the inter-block router to also route inside the clusters, which should avoid the awkwardness of two stage routing (which has issues like this one).

Your overall approach seems reasonable to me. As you noted we should be able to detect most of these cases pre-

[2020-07-21 03:22] kmurray commented on #1430
I agree you could have a faster path if you had special hardware in parallel (and some configuration bit controlling a mux selecting between the fast carry and MUXCY/XOR paths etc.). But I thought you're concern was that the underlying hardware _was_ the same. My comments were that you could still end-up with different delays just depending on whether you modeled it as 4 independent MUXCY/XOR, or

[2020-07-21 15:12] litghost commented on #1430
The hardware _is_ the same.  However it can be understood and packed both as a 4 tall carry chain (CARRY4) and as 4x MUXCY / XORCY from a logical perspective.

There is not configuration bit, both the CARRY4 and 4x MUXCY / XORCY are the same hardware from a combinational logic perspective.  However if tried to decompose the delays from the CARRY4 into 4x MUXCY / XORCY, you would find it impossible

[2020-07-21 15:20] litghost commented on #1444
This will not help because of output muxing congestion.  You would need to enable the router to pop blocks out of a cluster, because it will be possible to pack a cluster such that isn't routable.

[2020-07-24 18:15] litghost opened #1452 "LUT duplication for packing CARRY4's tightly"
#### Context

The 7-series (and US+) carry chain has effectively a dedicated LUT5's in front of each carry input (S/DI).  If that LUT5's output *only* goes to the carry chain, then the packer can tightly pack the input LUT5's to the carry chain.  However if the output to the LUT5 goes to two locations, the packer currently *must* pack the input LUT5 into another cluster, because it generally is no

[2020-07-24 18:16] litghost commented on #1452
It is possible this should be solved in synthesis, I'm open to answers.

[2020-07-25 03:15] vaughnbetz opened #1453 "Print out information / report on which rr-nodes are overused at the end of a failed routing"
Sometimes routing fails with only a few overused routing resource nodes. This often indicates a problem with the architecture input and output pin connectivity or switch pattern, often on specific blocks only.  It would be useful to get more information about which routing resource nodes are overused in such cases.

#### Proposed Behaviour
We should have a new command line option --set_max_overuse

[2020-07-27 15:53] litghost commented on #1032
@vaughnbetz We are seeing failures of this class with semi-regular frequency.  In the case of non-RCV routers, we only need to keep the "best" copy of each rr node.  For RCV routers, what should we keep?  I could code a pruning routing to keep a copy of each rr node with a histogram of codes.

I'll work on a proposed fix for this pathological behavior.

[2020-07-27 21:10] vaughnbetz commented on #1032
I think it's too soon to say what to do for RCV.  So long as we can turn the pruning on and off, we can experiment with it later when we have RCV, so your changes aren't gated by any future (impossible to predict) RCV requirements.

A quick thing to test: if you update the best_cost when you put something on the heap, and make sure the pruning test when you take things off the heap at
https://gith

[2020-07-27 21:13] litghost commented on #1032
My first PR is to add heap pruning in the first place, to prevent the unbounded memory usage in all cases.  A follow up PR can try to tune avoiding heap pushes that would never get seen.

[2020-07-27 21:15] litghost commented on #1032
I guess what I'm saying is I have two goals:
 1. Prevent unbounded memory usage in the pathological case
 2. Avoid unneed heap pushes that result in work (allocation and / or pointer manipulation)

The first change is a robustness change, the second change is a performance fix

[2020-07-27 21:16] litghost commented on #1032
I almost want to add a route_inf var that is "cheapest pushed" and a "cheapest popped", because those are two different parameters.  The overhead of adding the second float is not clear compared with the performance gain by having a smaller heap.

[2020-07-27 21:33] vaughnbetz commented on #1032
Yup, not sure if that would be a win or not.  Doing the first change (update best_cost early, and change to a >= in taking things off) also may not be a win (depends how many ties we have usually).  Easy to try though, so I think they're worth trying.
Also, I understand this is separate from worst-case checks -- will look at that PR now.

[2020-07-27 22:07] #1397 closed

[2020-07-28 12:08] #1406 closed

[2020-07-28 21:10] #1434 closed

[2020-07-30 18:27] #1453 closed

[2020-07-31 01:48] tangxifan opened #1458 "run_vtr_task script does not take the max_router_iteration setting in Titan task"
The `run_vtr_task.pl` script does not take the `max_router_iteration` setting in Titan task config file but give a random number.

#### Expected Behaviour

In the task config.txt file, user can specify the parameters passed to vpr run, e.g.,
`script_params=-starting_stage vpr --route_chan_width 300 --max_router_iterations 400 --router_lookahead map -timeout 172800`.
The run_vtr_task will pass the

[2020-07-31 21:04] vaughnbetz commented on #1458
Hi Jeff,

Xifan tells me this is holding up his work on re-tuning the Titan architecture; it's also going to hold up others in my group who are doing QoR tuning.  Xifan is running run_vtr_task.pl, not vtr_flow.py, so I'm not sure what's changed, but perhaps there is some link?

[2020-07-31 21:18] vaughnbetz commented on #1458
@shadtorrie can you take a look?

[2020-07-31 21:55] Bill-hbrhbr opened #1459 "vtr_reg_strong test failures"
#### Expected Behaviour
vtr_reg_strong should pass on the master branch

#### Current Behaviour
There are six failed tests.
target_pin_util:          EArch.xml/styr.blif/common_--target_ext_pin_util_-0.1
target_pin_util:          EArch.xml/styr.blif/common_--target_ext_pin_util_1.1
target_pin_util:          EArch.xml/styr.blif/common_--target_ext_pin_util_io:0.1,0.1_clb:0.7_0.8,1.0_1.0
target_pin_

[2020-08-01 00:48] shadtorrie commented on #1458
This issue is caused by my changes with run_vtr_flow, I found what was causing it have have now fixed it. Should I make a new pull request to fix this issue?

[2020-08-01 02:03] vaughnbetz commented on #1458
Yes, please do.  This would be good to get fixed right away.

[2020-08-01 03:34] shadtorrie commented on #1458
@vaughnbetz I have submitted the pull request as seen above. @tangxifan could you review the fix as well?

[2020-08-01 04:22] tangxifan commented on #1458
@shadtorrie I just tried your branch by running the titan benchmarks. The problem is fixed.

[2020-08-03 11:27] anaarduengo opened #1461 "When building vtr , warning message: CMake Warning at libs/libeasygl/CMakeLists.txt:49 (message): EasyGL: Failed to find required X11 library (on debian/ubuntu try 'sudo apt-get install libx11-dev' to install)"
When building vtr, not able to enable graphics. Warning message: "EasyGL: Failed to find required X11 library (on debian/ubuntu try 'sudo apt-get install libx11-dev' to install)". Installing libx11-dev not solving the problem.

In the file "vtr-verilog-to-routing-8.0.0/libs/libeasygl/CMakeLists.txt" there are the following lines related to this:
[code]

#### Expected Behaviour

Enable graphics.

#

[2020-08-03 17:12] #1458 closed

[2020-08-04 18:22] litghost commented on #1459
Looks like there is a strong sanitized failure:
[code]

[2020-08-04 22:51] mithro opened #1464 "Add support for using libbacktrace for nicer backtraces on errors (like assert failures)"
The [libbacktrace](https://github.com/ianlancetaylor/libbacktrace) is a cool library which may be linked into a program or library and used to produce symbolic backtraces. Sample uses would be to print a detailed backtrace when an error occurs or to gather detailed profiling information.

[2020-08-04 22:53] mithro opened #1465 "Improve the ability to interactively debug Verilog to Routing with GDB"
It would be nice if we made it easier to debug Verilog to Routing with GDB.

Some random ideas;
 - Enable better debug symbols (see #1026 for example) (and probably splitting and saving dwarf symbols from release / CI builds?)
 - Have GDB pretty printers for all important structures inside GDB - https://rethinkdb.com/blog/make-debugging-easier-with-custom-pretty-printers/
 - [Automatically embed u

[2020-08-04 22:53] mithro commented on #1465
FYI - @HackerFoo

[2020-08-05 03:09] dpbaines commented on #1459
Someone just needs to enclose the graphics command portion:

 `set_draw_block_outlines 0; set_draw_block_text 0; set_draw_block_internals 2; set_draw_net_max_fanout 128; save_graphics place.png; set_nets 1; save_graphics nets1.png; set_nets 2; save_graphics nets2.png; set_nets 0; set_cpd 1; save_graphics cpd1.png;`

in quotation marks it looks like.
`/usr/bin/env time -v /tmpfs/src/github/vtr-veri

[2020-08-05 03:18] jeanlego commented on #65
@vaughnbetz the source code is inaccessible from google code.
Any chance these have been also stored somewhere?

[2020-08-05 13:31] vaughnbetz commented on #65
I don't see the history going back that far in github (not to the google code days) so I don't think we have a repo from then.  The VTR 7 code base (released) is available from https://www.eecg.utoronto.ca/vtr/download.allow.html.  I think this issue is old enough that you should just try to reproduce it in the latest code base and if it doesn't reproduce, close it.

[2020-08-05 14:13] vaughnbetz opened #1467 "Add block type for IPINs in overused rr-node report"
The new overused rr-node report file looks good.
One thing that would be good to add though: when an IPIN is overused, print the type of block it is part of.  This should be obtainable by checking the grid at the IPIN location (for large blocks, you'll have to be careful and may have to check the origin of the block, which the offset values in the grid will point you to). If more than one block is

[2020-08-05 17:03] litghost commented on #1459
The test is fully controlled by "run_reg_test.pl", etc.  Given that the non-sanitized version doesn't fail, I don't believe your analysis of the failure is not correct.  I assume that the output upon failure is not right, but the invocation has quotes in the right places.

Bottom line is that I don't believe that kokoro is related to the failure itself.

[2020-08-05 17:25] sfkhalid commented on #1459
After running the tests on the master branch, it now seems like vtr_reg_basic and vtr_reg_strong are failing all tests. Has anyone else had this happen?

[2020-08-05 17:28] litghost commented on #1459
I don't see that on the CI side of things:
https://travis-ci.com/github/verilog-to-routing/vtr-verilog-to-routing/jobs/368413853
https://travis-ci.com/github/verilog-to-routing/vtr-verilog-to-routing/jobs/368413851

Those are both green?  Do you mean with or without sanitization?

[2020-08-05 17:39] sfkhalid commented on #1459
Not on the CI side, I checkout out master on my local machine and ran the tests and every single test failed for vtr_reg_basic and vtr_reg_strong. That didn't happen yesterday when I ran those tests on master - just the six tests that Bill mentioned above failed.

[2020-08-05 17:45] litghost commented on #1459
I just believe the problem in that case is on your machine.  I just re-built at master and re-ran vtr_reg_basic and it passed.  Given that it matches CI, that provides reasonable evidence that master is not _that_ broken.

At this point, I would recommend you clean your build directory and rebuild.  Also what git hash is your local repository at?  The default repo branch is currently at https://gi

[2020-08-05 17:51] sfkhalid commented on #1459
Ok, I'll try that. Actually, on the CI side the tests are all failing as well, on a branch I just pushed new commits to. I'll try what you said and try to investigate what's happening.

[2020-08-05 19:56] dpbaines commented on #1459
As for this issue, I agree, but it appears the config for graphics_commands on Kokoro isn't inline with what's in the config file here: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_graphics_commands/config/config.txt

So it appears to be configured correctly on the Github side, but the CI side appears to be running a

[2020-08-05 20:06] litghost commented on #1459
The `max_router_iterations` comes from `run_vtr_flow`: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/380743285feb2c97653077e31869d3ada564eee6/vtr_flow/scripts/run_vtr_flow.py#L333-L338

[2020-08-06 04:15] vaughnbetz commented on #1459
I believe all 6 failures flagged by Bill are cases where we expect VPR to fail with an error (they test error checking). So the error may be due to the vtr_flow rewrite — are expected VPR errors being incorrectly flagged as CI failures?
@shadtorrie @jgoeders

[2020-08-06 14:17] sfkhalid commented on #1459
For the CI, the only test that fails in the strong tests is the graphics_commands test from what I've seen.

[2020-08-06 15:46] sfkhalid commented on #1459
graphics_commands:        k6_N10_mem32K_40nm.xml/stereovision3.v/common         		Error: Executable vpr failed
	full command:  /usr/bin/env time -v /tmpfs/src/github/vtr-verilog-to-routing/vpr/vpr k6_N10_mem32K_40nm.xml stereovision3 --circuit_file stereovision3.pre-vpr.blif --route_chan_width 100 --graphics_commands set_draw_block_outlines 0; set_draw_block_text 0; set_draw_block_internals 2; set

[2020-08-06 15:49] sfkhalid commented on #1459
There seem to be two separate issues with regards to the strong test:

1. graphics_commands fails the CI on sanitized build but not locally
2. the six tests Bill mentioned fail locally but pass the CI with an OK* message. Vaughn speculates above that this is due to the vtr_flow.py rewrite not passing expected errors the same way as CI.

[2020-08-06 16:44] shadtorrie commented on #1459
I as well can not reproduce either issue locally, I noticed that the old vtr_flow gave basically vpr.out as the output for the error message. I could submit a pull request to do the same in the python version and that way we could see was is going on in the vpr.out.

[2020-08-06 16:55] litghost commented on #1459
There used to be a flag `-show_failures` that was run during CI:

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/d4ea40548ee30aa13e27df5268760a86e38ad289/run_reg_test.pl#L85-L86

that would output vpr.out.  Did this feature get dropped?

[2020-08-06 16:59] shadtorrie commented on #1459
The show failures flag still shows more than without it but I did miss the functionality to output the whole output file as the failure.

[2020-08-06 22:09] vaughnbetz commented on #1461
Workaround: try the master branch; we've switched to ezgl (updated / more powerful rewrite of easygl layered over gtk).  Hopefully that builds.
Assigning to Mashad in case she has any ideas of why the required packages are not installing for 8.0.

[2020-08-06 22:11] vaughnbetz commented on #1459
Discussed in the vtr meeting.
Issue 1: Sarah didn't compile with sanitizers locally. She has the action to compile, run and send out the error log (likely will go to Mashad).
Issue 2: There is a difference in how errors are propagated up depending on the show_failures flag in vtr_flow.py.  Shad is fixing that; it is believed to be the reason why this fails locally but not in CI.
Issue 3: Shad is a

[2020-08-06 22:22] litghost commented on #1459
Log is located here: https://storage.googleapis.com/vtr-verilog-to-routing/artifacts/prod/foss-fpga-tools/verilog-to-routing/upstream/continuous/strong_sanitized/104/20200806-134600/vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_graphics_commands/latest/k6_N10_mem32K_40nm.xml/stereovision3.v/common/vpr.out

Found by following "details" on failed master CI on "Strong Sanitized" (e.g. https:/

[2020-08-06 23:50] vaughnbetz opened #1470 "Memory leaks in vtr_reg_strong graphics test"
When vpr is compiled with sanitizers (which check memory, much like valgrind), it has a few memory leaks when graphics are run.  This causes a regtest failure in vtr_reg_strong that should be fixed.

#### Expected Behaviour
vpr should not leak memory, or leaks that cannot be fixed (e.g. deep in a library that we can't fix) should be added to a supression file so that we don't flag them as errors.

[2020-08-06 23:54] vaughnbetz commented on #1470
This post might be helpful on sanitizers and finding the stack trace leading to a leaked memory allocation:
https://stackoverflow.com/questions/46575977/how-to-find-reason-of-memory-leak-with-leak-sanitizer

Seems if the libraries don't have debug symbols the sanitizers can't give a good stack trace; valgrind is worth trying in that case.
Also, Sameh knows how to update suppression files for sanit

[2020-08-06 23:54] vaughnbetz commented on #1470
@samehattia : Adding Sameh to comment on suppression files (and because he's tracked some libfontconfig leaks before).

[2020-08-07 00:02] vaughnbetz opened #1471 "Add doxygen link and doxygen info (comment style we want) to vtr developer guide"
vtr now builds doxygen documentation, but I don't know where the top level link is to get to it and I suspect others don't either.
We also don't tell developers that they should make new comments doxygen compatible.

#### Proposed Behaviour
1. doxygen should be built automatically or periodically and there should be a link to it from the VTR developer guide.  A good place would probably be right a

[2020-08-07 00:38] vaughnbetz commented on #1471
@rw1nkler

[2020-08-07 14:40] shadtorrie commented on #1459
See the above mentioned pull request for this fix.

[2020-08-07 16:08] jeanlego commented on #65
unable to reproduce. closing

[2020-08-07 16:08] #65 closed

[2020-08-07 16:09] #85 closed

[2020-08-07 16:10] jeanlego commented on #85
cannot reproduce.

[2020-08-07 20:28] dpbaines opened #1473 "Travis CI intermittently failing to fetch llvm packages, causing fails"
#### Expected Behaviour

Travis CI normally tests pull requests to ensure they build correctly, and on many different compilers like GNU GCC and LLVM clang.

#### Current Behaviour

On a number of PR's Travis is reporting failed jobs due to an inability to fetch LLVM libraries from apt-get. This doesn't happen always, and sometimes restarting the job fixes it, sometimes it causes another job to fa

[2020-08-07 22:34] helen-23 opened #1475 "VPR Memory Error when input pin equivalence applied to DSPs and RAMs"
When running the titan_new DLA benchmark variants with the stratixiv_arch.timing.xml architecture under Titan flow, VPR succeeded. However, after input pin equivalence is applied to the M9K block in stratixiv_arch.timing.xml, VPR reported memory access failures during routing.

#### Expected Behaviour
VPR should pass when input pin equivalence is applied to the DSP and RAM blocks in stratixiv_arch

[2020-08-08 08:06] helen-23 opened #1476 "Sanitizer error in Threading Building Blocks"
When running the titan_new DLA benchmark variants with the stratixiv_arch.timing.xml architecture under Titan flow, VPR succeeded, but the AddressSanitizer reported a few runtime errors in the TBB. There are also some memory leaks.

#### Expected Behaviour
Should not have any runtime errors with sanitizer build turned on.

#### Current Behaviour
The sanitizer currently reports the following 2 issu

[2020-08-08 15:02] vaughnbetz commented on #1476
Thanks Helen.  @kmurray, any ideas?  If this is a flaw in TBB, we could suppress the error.  Helen is running vpr without multi-threading on, so Tatum is presumably not talking to tbb much in this case either.

[2020-08-08 15:06] vaughnbetz commented on #1473
@litghost @HackerFoo any ideas?  This is annoying (slows down CI).
We could try changing the mirror list as David suggests (best option), or could disable the llvm requiring CI (not too bad to turn off llvm compiler compatibility if it's causing these CI problems; turning off format checks would be a bigger deal).

[2020-08-08 15:07] vaughnbetz commented on #1470
Sameh, I think you're the best person to track this one down and add it to a sanitizer file, so setting this to you.

[2020-08-08 15:27] vaughnbetz commented on #1475
Hi Helen,
If you rerun vpr with
--router_high_fanout_threshold -1
it should turn off the code that uses that function.  That will let us see if that function is the problem, or if it is just the first location that crashes when memory has been corrupted somewhere else.  Can you run that test and post the results here?

[2020-08-08 15:57] vaughnbetz commented on #1475
Checked CBRR, t_rr_node_storage, t_rr_node_route_inf, and t_edge_size.  All have the ability to store at least short/uint16 values in everthing (pin numbers, edge counts, etc.) so no overflow in them with large IPIN or OPIN equivalence classes with more than 256 members.  So it doesn't look like it's overflow, unless it's happening in some rr-graph building code temporary structures (which is stil

[2020-08-08 16:15] HackerFoo commented on #1473
It's possible to cache dependencies on Travis: https://docs.travis-ci.com/user/caching/

[2020-08-08 16:21] vaughnbetz commented on #1475
Checked the rr-graph building code and rr_node_indices and again don't see anything that is using char for storage of rr-related data.  So I don't see an issue with overflow in the rr-graph.

[2020-08-08 16:31] vaughnbetz commented on #1475
Also no problems I can see in the routing data structures (t_rt_tree and t_trace). No chars in them, nothing that should overflow.
@tangxifan : adding you in case you're seeing (or not seeing a similar) problem on your branch when you make M9K or other blocks have equivalent inputs.  I think doing M9Ks alone is probably a good first step; they are not as large as the other blocks so one less thing

[2020-08-08 16:39] vaughnbetz commented on #1473
That sounds like a good solution.

[2020-08-08 19:51] tangxifan commented on #1475
Hi @vaughnbetz
   I have tried on my side and see the same router failure.
   It seems that in my test, it is an assertation error at route_tree_timing.cpp:938, which says the node id is invalid.
[code]

   I attached my `vpr.out` FYI
[neuron_vpr.zip](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/5046150/neuron_vpr.zip)

[2020-08-08 23:43] vaughnbetz commented on #1475
Thanks Xifan.  That's in the same routine:  prune_route_tree_recurr.  Suggested things to try:
1. rerun vpr with --router_high_fanout_threshold -1 (as I mentioned to Helen above) to turn off that code and see if it completes.  If it does, we've narrowed it down.

2. If that crashes too, then I think trying an experiment with only M9Ks having input pin equivalence (assuming that's not what you did)

[2020-08-09 01:50] helen-23 commented on #1475
Hi @vaughnbetz @tangxifan ,

I've tried running VPR with **--router_high_fanout_threshold -1**, but it didn't seem to have turned off the function. The run still aborted in the same routine: prune_route_tree_recurr. Is it another option that turns the function off?

This time however, the sanitizer-reported error looks a bit different (please see screenshots attached). Also, note that in the previ

[2020-08-09 08:40] helen-23 commented on #1475
Found the option that turns route tree pruning off: **--min_incremental_reroute_fanout <int>**.
I set **<int>** to 10000 so that it is definitely higher than the largest fanout of any net.

Turns out **prune_route_tree_recurr** was indeed the first location that crashed due to memory corruption elsewhere. After disabling that function, VPR failed at another location, **free_route_tree(t_rt_node*)*

[2020-08-10 01:02] helen-23 commented on #1475
Also tried adding assertions to check the validity of the node tree at various locations of the code:
`VTR_LOG("Checking if routing skeleton tree is valid...");
VTR_ASSERT(is_valid_skeleton_tree(rt_root));`
It turns out the tree was still valid before going into **free_route_tree (rt_root)**, so there should not be any NULL or misaligned pointers in the original tree, otherwise **is_valid_skeleton

[2020-08-10 16:01] samehattia commented on #1470
Sounds good.

[2020-08-10 17:03] samehattia commented on #1470
The sanitizer suppression file was added in 9c0353b (it's under vpr/lsan.supp), and it was included in the VPR run environment in 1c0818a. So as long as the executable is run through run_vtr_flow.pl, there shouldn't be any reported leaks related to libfontconfig.

I'll check if __strdup leaks are fixable or not.

[2020-08-10 17:21] samehattia commented on #1470
I think the run_vtr_flow.py, which is currently used in running the regression tests instead of run_vtr_flow.pl, doesn't include the suppression files.

[2020-08-10 19:22] vaughnbetz commented on #1475
Nice detective work Helen!
1. Yes, I think turning the VPR_ASSERT level up to the max and running is a very good idea.
2. I think checking the rr-graph is a very good idea.  Probably the best thing to do is to dump the rr_graph.echo file (see the developer guide for how) and checking the generated rr-graph around the IPINs and SINKs of the M9K RAM (we should only turn on input pin equivalence for

[2020-08-10 19:24] vaughnbetz commented on #1470
@shadtorrie @jgoeders Shad, Jeff: can you take a look?  We should include the suppression files Sameh mentions with vtr_flow.py.

[2020-08-10 22:19] helen-23 commented on #1475
Thanks, Vaughn, sounds like a plan.
I've tried it on a smaller circuit (the dot product circuit I had earlier to test the DLA designs), and it passed with M9K input pin equivalence enabled. This is probably because the design used very few, if any, RAM blocks. Trying it again with DSP input pin equivalence enabled and I'll update again once that's done.

[2020-08-10 22:22] helen-23 commented on #1475
Also trying just enabling M9K input pin equivalence on a smaller Titan23 design.

[2020-08-10 23:37] tangxifan commented on #1475
Hi @vaughnbetz
- During my test, I only set the M9K input port `data_addr_control_in` to be equivalent. VPR failed in the same way that Helen reported.
- I have checked the rr_graph through GUI, as you can see the IPIN-to-SINK connection is correct. There are 104 pins in the port `data_addr_control_in`, and the GUI does show 104 incoming edges to the sink node.
![image](https://user-images.githubu

[2020-08-11 20:54] vaughnbetz commented on #1475
Thanks Xifan and Helen.  Xifan, Helen told me today that she has a candidate bug location identified:  it looks like the route_tree code does not properly remove connections the look like:
IPIN->SINK
 ->SINK
 ->SINK

and so on.  I think this may never have been exercised in the code before because logic blocks (when they have input equivalence on) build a clustered netlist that just brings a signa

[2020-08-11 21:31] helen-23 commented on #1475
Thank you, Vaughn, for explaining it all!

Another issue came up though.

For the case that we've observed (as Vaughn mentioned above), here is an example of such tree structure that failed during **delete_route_tree()** (did **print_node_tree()** to the log file):
![print_tree_segfault](https://user-images.githubusercontent.com/25372596/89949030-3754db80-dbf5-11ea-947e-116daaeaf803.PNG)

During d

[2020-08-11 22:39] vaughnbetz commented on #1475
Thanks Helen.  I think that is another bug -- a SINK should be allowed to be part of more than one tree branch when it has capacity > 1.  So I think relaxing the error check for that case is fine, and hopefully fixes this bug.

[2020-08-12 08:58] rw1nkler commented on #1471
We also don't tell developers that they should make new comments doxygen compatible.

Doxygen is currently used for generating intermediate XML format, which is required by the Breathe plugin. Because of that, there is no "Doxygen HTML" output. The API documentation is built as a part of the VTR documentation in Sphinx, and is available here:
https://docs.verilogtorouting.org/en/latest/api/vpr/

T

[2020-08-12 11:57] helen-23 commented on #1475
Thanks, Vaughn,

Fixed **delete_route_tree()** and **prune_route_tree()** to only free a node once in the tree.
Also modified **verify_traceback_route_tree_equivalent()**, and **collect_route_tree_connections()** to use std::multiset instead of std::set since there are now more multiple tuples containing the same values {prev_node, prev_switch, to_node}

One more concern though: an rt_node struct

[2020-08-12 12:17] helen-23 commented on #1475
Please see branch "allow_ram_dsp_input_equivalence"
[https://github.com/verilog-to-routing/vtr-verilog-to-routing/compare/allow_ram_dsp_input_equivalence](url)

[2020-08-12 14:43] vaughnbetz commented on #1475
Hi Helen,

I can't see that branch.  Maybe it isn't pushed to github yet (i.e. is only local on your machine)?

For the non-tree errors:

I think there are two basic ways we could attack it.

1. We could try to special case sinks, putting the same rt_node into the tree multiple times when we reach a SINK multiple times in a single route.  I think this way is likely going to become problematic, as

[2020-08-12 15:19] vaughnbetz commented on #1475
I think there is a bug in check_sink.  It should be marking netlist pins as sinks that could match them are found, but the code isn't correct if you can connect to the same sink more than once.
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/ed158403a987301be30965c2010283daf835d6ca/vpr/src/route/check_route.cpp#L205

I've fixed the code below (haven't compiled or tested though, b

[2020-08-12 20:20] helen-23 commented on #1475
Hi Vaughn,

Thank you for the detailed explanation! Yes I can see how #2 would work the best. Currently working on it and will update whether it works or not.

I think I got the link to my branch wrong, it should be the following:
[https://github.com/verilog-to-routing/vtr-verilog-to-routing/tree/allow_ram_dsp_input_equivalence](url)

Now, I'm noticing a bunch of regtest failures in this branch du

[2020-08-12 20:32] vaughnbetz commented on #1475
We have regtests that set compiler warnings as errors so somebody gets rid of the warnings.  Not sure if the declaration for that function was accidentally deleted (which would trigger the warning)?

[2020-08-12 21:32] sfkhalid opened #1478 "vtr_reg_strong failures on master branch"
When running vtr_reg_strong on the master branch with sanitizers on (locally, not on Travis CI), there are multiple run failures and qor test failures.

#### Expected Behaviour
All runs and qor tests should pass when on the master branch.

#### Current Behaviour
Many of the tests fail. Many of the qor tests return result = -1, and a few of the qor tests have results = exited with return code 3. A

[2020-08-13 06:38] helen-23 commented on #1475
Hi Vaughn,

Good news: it finally worked! After investigating into the code further, I realized that the problem is actually simpler than what I originally thought. There are 2 ways a route could be created:

1. If a route tree is initialized from **init_route_tree_to_source** and is updated by **add_subtree_to_route_tree**, any repeated node would be added as a separate rt_node already, so if a s

[2020-08-13 15:05] vaughnbetz commented on #1475
Yaay!  Nice work Helen; this was a tricky thing to figure out in a large code base!  Great job reading code and figuring out algorithms.

[2020-08-13 15:22] vaughnbetz commented on #1476
This may be due to the lack of a sanitizer suppression file in CI (vtr_flow.py issue) which is tracked in another issue.

[2020-08-13 17:00] tangxifan commented on #1475
@vaughnbetz @helen-23 Thanks for the bug fixing. I will port this to my local branch once it is merged to master, and continue my experiments.

Actually, I am curious about why the routing tree creation has such a problem only when we set pin equivalence to M9K, DSP etc. For CLBs with input pin equivalence, it works fine. Do you have any insights about this?

[2020-08-13 17:23] shadtorrie commented on #1470
Regarding this issue, I cannot seem to reproduce it. I have added the suppression files and put in a pull request, I just am not  actually sure if it fixes the issue because I cannot reproduce the error.

[2020-08-13 17:34] helen-23 commented on #1475
Hi @vaughnbetz  @tangxifan ,
Actually, one more thing. The Carpat design and a bunch of regtests failed in check_sink due to "node xxx does not connect to any terminal of net". I tried running the regtests locally, when the check_sink function is reverted back to the original, the regtests passed. I think there is still something wrong in the check_sink function. It looks alright to me though, Vau

[2020-08-13 18:14] sfkhalid commented on #1478
To add extra detail:

The following file has the output of vtr_reg_strong when it is run on the latest master branch with sanitizers turned on:
[reg_strong_log.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/5070604/reg_strong_log.txt)

The majority of runs and qor tests fail with some exceptions.
The tests that pass include:
no_timing
fracturable_luts
four of the target_pi

[2020-08-13 18:16] helen-23 commented on #1475
I added back the iblk forloop and the the if statement, and it worked for both the regtests and the dot product design. So basically the only difference between my branch and master is adding the "break" in the loop. Frankly though, this is a situation where the code works but I'm not sure why it does.

[2020-08-13 18:25] sfkhalid commented on #1478
This is a sample vpr.out file from one of the tests that fail (strong_analysis_only):

[strong_analysis_vpr_out.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/5070778/strong_analysis_vpr_out.txt)

[2020-08-13 18:42] helen-23 commented on #1475
Update: the Carpat design also completed successfully. I ran this design with input pin equivalence applied to the M9K block.

[2020-08-13 19:46] vaughnbetz commented on #1478
Memory leak: 56 realloc calls.  Unfortunately the sanitizers don't give much info about where the allocation came from.  I suggest waiting and seeing if Shad's inclusion of the suppression file makes this go away.  If it doesn't, run valgrind with --leak-check=full to get a more detailed report on where the leak came from.  If you have time / don't want to wait you could do that valgrind run soone

[2020-08-13 20:09] vaughnbetz commented on #1475
The old check was a weaker check
- wasn't really checking that we hit netlist pin exactly once; was really just counting them and making sure we hit N sinks that were reasonable, but not that each was different

It would be good to get the stronger check to work.  Helen can you give some info on the net that is failing?  Fanout, type of block it is connecting to (suspect it is an IO), ...

[2020-08-13 20:33] vaughnbetz commented on #1475
OK, I think I've got it (well, have an idea anyway :).
I forgot that Kevin refactored the netlists so the pin_id is no longer per net, but instead per netlist (i.e. it no longer goes from 1 to num_sinks for a net with fanout = num_sinks).  So the new usage of pin_done won't work as it assumes ids from 1 to num_sinks. I also had a bug in it, as I used ipin as the index into pin_done, but I think re

[2020-08-13 20:35] vaughnbetz commented on #1475
For Xifan's earlier question: why didn't we hit this before?
I'm pretty sure it's because the clustered netlist builder for logic blocks doesn't connect a net more than once to a logic block if it goes to multiple equivalent inputs; this makes the netlist a little more efficient.  Seems other blocks don't have the same code (and don't need it; there are cases where you would want to connect multip

[2020-08-13 22:09] helen-23 commented on #1475
Hi Vaughn,
I tried what you suggested, but although VPR passed for the dot product circuit, many of the regtests still failed for the same reason.
An example from one of the regtests is the following:
`Message: in check_sink: node 3840 does not connect to any terminal of net diffeq_paj_convert^x_var~0_FF #36`
The net has 2 fanouts.

Here's part of my code:
[code]

In the caller function, I made pi

[2020-08-13 22:20] tangxifan commented on #1475
Thanks @vaughnbetz for the explanation. I understand better where the bug comes from.
Currently, we are forcing a greedy and false pin-equivalence to the M9K or DSP inputs.
In a fully equivalent port, each pin should be mapped to a unique port.
But now, the local routing of M9K is partially fully connected, which the logic block router cannot uniquify nets and then map the same net to 2+ pins in a

[2020-08-13 22:58] vaughnbetz commented on #1471
Thanks; the documentation you pointed at looks good, and I think having guidelines on the comments we want in the future would be great.

I think it would be good to add a little more detail on how to document a new API.  Specifically, I think in this document https://docs.verilogtorouting.org/en/latest/dev/c_api_doc/
you should point the reader at an example path (e.g. https://github.com/verilog-

[2020-08-14 00:16] vaughnbetz commented on #1475
Thanks Xifan. That makes sense.  In parallel, I'd like to get this bug fixed too, since I think it is still a bug (but I agree, modifying the architecture file would change the netlist so that this case doesn't happen for the architecture we're creating).

Helen, that is odd the code doesn't work -- it looked so good :).  One alternative is to not check the driver at all, by changing the check loo

[2020-08-14 02:55] helen-23 commented on #1475
Hi Vaughn,
I think I might have figured out why our code didn't work. In the original code, it loops through all the blocks associated with the SINK node's xlow() and ylow(), and it loops through all the sink pins on the net. Only sink pins that are associated with the blocks are checked to see if they could match the SINK node.

The total number of sink pins on some nets are actually more than th

[2020-08-14 03:37] tangxifan commented on #1475
@helen-23 I just checked these codes and I think you are right.

- A net may have multiple sinks and not all the sinks will end at the same block (it may reach different blocks/grids). So I believe that
[code]
is necessary.

- Regarding to the block capacity, you have to be careful. The capacity indicates how many blocks can be mapped to a grid but in practice a grid may not be fully mapped.  So i

[2020-08-14 04:10] helen-23 commented on #1475
Thank you @tangxifan. Ah I see. I've replaced
[code]
with the following:
`for (auto bnum : place_ctx.grid_blocks[i][j].blocks) {`

[2020-08-14 13:29] vaughnbetz commented on #1475
I think another factor in the code above working is that it isn't really checking that we find a sink matching each pin in the net; it just checks that we find N sinks for a fanout N net, and each sink appears to connect to a block that is reasonable (matches some pin on this net).  That's a weaker check than the one I was trying to code:  match a sink to exactly one pin on the net, and then don't

[2020-08-14 14:30] #1470 closed

[2020-08-14 14:30] #1478 closed

[2020-08-14 16:39] #1435 closed

[2020-08-14 16:41] helen-23 commented on #1475
Hi @vaughnbetz
Ohh okay, right, I see what you mean by the ipin being an issue. Yes I agree that changing pin_done to a set would make more sense. I guess when I tried different things around I accidentally reverted back the set I had before.

I've changed pin_done back to a set and it worked for the regtests and the two small test designs (dot product & Carpat).

[code]

[2020-08-14 18:28] vaughnbetz commented on #1475
OK, I like that code better, thanks :).
Just to double check though: taking out the for loop over bnum and the if statement testing bnum fails?  I.e. deleting these lines:
for (auto bnum : place_ctx.grid_blocks[i][j].blocks) {
and
            if (cluster_ctx.clb_nlist.pin_block(pin_id) == bnum) {

makes the test fail?  If so, baffling, but I'll take it :).  Without those lines I think I understand

[2020-08-16 21:53] tangxifan commented on #1475
@vaughnbetz No worries. I agree that this is a bug that should be fixed as well. FYI, I have adapted the Titan architecture XML to grant DSP input and M144K output pin equivalence. You can find detailed results in the pull request #1448

[2020-08-17 22:36] helen-23 commented on #1475
Hi @vaughnbetz

Yes, confirming (double checked to make sure) that with the modified code, removing those two lines still makes the test fail.

With regards to the issue we discussed on Friday, where VPR failed to route the DLA circuits due to some OPIN-type nodes having a net delay of 0, the problem is actually not in the route tree net delay updates. In fact, when it is checking for SINK nodes t

[2020-08-18 00:27] helen-23 commented on #1475
Actually, the smaller circuits passed because they have very low fanout (less than min_incremental_reroute_fanout) and no pruning is required. In that case, **remaining_targets** is populated simply through:
[code]
No node-to-sink conversion is needed in this case, so there's no problem. For larger circuits like DLA, however, we would want to prune the tree. During pruning, **remaining_targets** i

[2020-08-19 15:03] emacdo12 opened #1485 "Task and Function Defparam lists"
#### Proposed Behaviour

Task and functions should have a defparam list because it's possible for there to be defparams passed in them.

#### Current Behaviour

This feature has been overlooked.

#### Possible Solution

Add it as a child node or just have a seperate list in the scope.

#### Context

[2020-08-19 15:14] emacdo12 opened #1486 "Functions should handle ranges with binary operations"
#### Expected Behaviour

Indexes should pass through the correct bits of a variable. Including if there's a binary operation inside.

#### Current Behaviour

Right now Odin doesn't consider the possibility of a binary operation and fails when it assumes it's a number.

#### Possible Solution

Add binary operation support.

#### Steps to Reproduce

1.
2.
Benchmark syntax/bm_function_1.v produces th

[2020-08-20 13:36] helen-23 opened #1492 "Allow VPR to run with post-fit VQM for larger Titan benchmarks"
To have VPR results more comparable with Quartus II, it is a good idea for VPR to run designs with the post-fit netlist. However, Quartus introduced some extra primitives in the post-fit VQM which are not already in the existing architecture capture.

#### Proposed Behaviour

VPR should be able to run the larger Titan benchmarks with the post-fit VQM file

#### Current Behaviour

The current Strat

[2020-08-20 17:34] mithro opened #1493 "Explore converting the Travis CI / Kokoro CI to instead use GitHub actions"
@FFY00 has set up GitHub actions to generate Arch Linux packages for SymbiFlow at https://github.com/FFY00/symbiflow-arch-pkgs

This has a couple of really nice aspects;
 - It generates a list of tasks to run based on which packages have been modified.
 - It can potentially have a much clearer dependency tree described.

It seems that GitHub actions are the future here. @FFY00 has said he would be

[2020-08-21 22:57] helen-23 opened #1500 "vqm2blif: One-LUT Removal"
Running Quartus Fitter using a Stratix IV device can introduce some one-LUTs in the post-fit netlist that makes it harder for VPR to place and route. Generally these 1-LUTs are inserted by the Quartus router in order to pass a signal through a LUT to the FF in the same BLE. There are two types of one-LUTs:
1. has an input and an output with signal pass-through:  X -> LUT -> Y
2. has just an output

[2020-08-25 11:12] zhaiyif1 opened #1503 "Analytic Placer in VPR"
#### Proposed Behaviour
Add analytic placer in VPR, enabled by option "--enable_analytic_placer true" on VPR command line
If enabled, AP should take random placement by initial_placement and place
Should return legal placement to annealer for further optimization
Can skip annealing and go straight to quench

#### Current Behaviour
Current placer (annealer) takes random placement by initial_placeme

[2020-08-26 19:49] mithro opened #1505 "Move travis build to xenial or newer as trusty has left supported status"
The travis build is currently using `dist: trusty`; see
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/c5c1c0b59460e31f89e64d6da54b43c7b8b3cb41/.travis.yml#L4

The "End of Standard Support" for Ubuntu 14.04.6 LTS was April 2019 which has meant things like the llvm upstream packages have started to remove support. For example from https://apt.llvm.org/;

We should move to a new L

[2020-08-26 19:49] mithro commented on #1505
@vaughnbetz - Thoughts?

[2020-08-27 02:32] vaughnbetz commented on #1505
Makes sense.  Is the reason the apt-get's have been problematic for llvm lately?
Not sure what needs to be done for this to happen, but sounds good to me.  From my side I'd appoint Mohamed as contact if we need to do things (once he's back from vacation). But I'm happy to let the experts in your group do this if at all possible!

[2020-08-27 03:34] #1492 closed

[2020-08-28 00:45] #1500 closed

[2020-08-28 19:22] #1505 closed

[2020-08-29 01:03] #1467 closed

[2020-08-29 01:03] #1459 closed

[2020-08-29 03:03] mithro opened #1513 "Travis warning check failing due to gtk_widget_set_margin_start being deprecated"
With the update to Bionic, a new GTK version is installed and travis is now failing the "no warnings allowed" check as `gtk_widget_set_margin_start` has been deprecated.

See https://travis-ci.com/github/verilog-to-routing/vtr-verilog-to-routing/jobs/378950130
[code]

[2020-08-29 03:07] mithro commented on #1513
@MahshadJ  -- It looks like you wrote this code?

[2020-08-29 03:08] mithro commented on #1513
https://developer.gnome.org/gtk3/stable/GtkWidget.html#gtk-widget-set-margin-left

[2020-08-29 17:03] MahshadJ commented on #1513
I got those warnings when I ran my code locally as well, so changed all of them to the new name (gtk_widget_set_margin_start) but Travis CI would error and fail to build. This was around early July, has the GTK version been updated since?

[2020-08-29 19:54] #1513 closed

[2020-08-31 15:53] aman26kbm commented on #1475
I have a question about working around this issue until it is fixed.

For now, I am specifying the connections using "direct" instead of "complete" and specifying the local crossbar delay (obtained from COFFE) in those "direct" interconnect statements. That feels like paying double penalty (router will have difficulty routing because there is no local crossbar AND the delay specified is reasonably

[2020-08-31 16:14] #1475 closed

[2020-08-31 16:18] vaughnbetz commented on #1475
Hi Aman,

I think that's overly conservative; I would use either the lower delay and no pin equivalence or the higher delay and pin equivalence.
I have just merged in the fix for pin equivalence on DSP and RAM blocks. This makes the quick and dirty pin equivalence where you just mark pins as equivalent without putting in the details of the crossbar in the arch file work. Putting the details in the

[2020-09-03 17:37] kmurray commented on #1476
I've seen this before, it seems to be latent within TBB. It goes away if we build with out TBB, so I don't think its something we can fix. A suppression file is likely the best approach.

[2020-09-03 20:33] tangxifan opened #1523 "vtr_flow scripts search executable from system paths prior to ${VTR_ROOT} directory"
I am not sure if this should be considered a bug. Here is my context:
We installed a version of ABC in the system path, i.e., `/usr/local/bin/abc`, which is different than the version inside the vtr project.
When executing the vtr regression test script `./run_reg_test.pl vtr_reg_strong -show_failures -j20`, it reports errors like
[code]
I checked the `abc.py` script, it seems that the vtr_flow sc

[2020-09-03 20:43] vaughnbetz opened #1524 "Create / link in Doxygen documentation for clustered and atom netlists in the vtr documentation"
The Doxygen documentation on the netlist part of the vpr api available from https://docs.verilogtorouting.org/en/latest/api/vpr/netlist/ covers only the base class (netlist.h).  There are a lot of very good comments in Doxygen style in the two derived classes (AtomNetlist and ClusteredNetlist) that should also be included as sub-topics under the netlist documentation.

#### Proposed Behaviour
Atom

[2020-09-03 23:06] vaughnbetz commented on #1476
Thanks Kevin.  It seems to have gone away once we fixed the suppression file. At least I haven't heard any more about it, which I'm interpreting as it is gone :).

[2020-09-04 21:26] vaughnbetz commented on #1524
@mkurc-ant @rw1nkler: these would be good to add to Doxygen.

[2020-09-04 21:41] vaughnbetz opened #1526 "libvtrutil: Create Doxygen documentation and link to vtr web documentation"
libvtrutil has a lot of very useful utility classes and functions. However, many developers (especially new ones) don't know about these utilities.

#### Proposed Behaviour
Create Doxygen compatible comments for the use of (not implementation of) key classes and functions in libvtrutil.  Link the new doxygen documentation to a new tab under https://docs.verilogtorouting.org/en/latest/api/vpr/

###

[2020-09-04 21:42] vaughnbetz commented on #1526
Adding @kmurray in case he can add any more key utilities that he thinks we should document.
Hoping @mkurc-ant can drive this, so I've added you.  Added myself in case no one else can find an owner :).

[2020-09-06 18:03] aman26kbm commented on #1475
Coming back to this..  I am still seeing a segmentation fault. I tried on the latest master today. Note that I am providing the full details of the crossbar.

I am pasting here snapshots of the the differences in two arch files. Left one has no local crossbar on the memory block. Right one has local crossbar on the memory block.

When I use the left one, things work. When I use the right one, I se

[2020-09-06 20:15] aman26kbm commented on #1475
I posted it on the VTR user group as well (https://groups.google.com/g/vtr-users/c/3Fcuo4r4wz4), in case someone else sees it. Please respond there if you can. Appreciate any help.

[2020-09-07 18:35] vaughnbetz commented on #1475
Adding Xifan in case he can share his partial crossbar for memory blocks,
as that may help.  From looking at the arch file it's not apparent to me
what 's causing the segfault. Alas, we need more user-friendly errors on
arch file parsing for cases like this.

Best,

Vaughn

On Sun, Sep 6, 2020 at 4:16 PM Aman Arora <notifications@github.com> wrote:

[2020-09-07 21:34] vaughnbetz opened #1527 "Need better commenting of t_physical_tile_type and t_sub_tile"
Exactly how physical tiles are described, and what a sub_tile within each is, are core concepts.  Physical tiles were recently generalized to make it possible to place different types of logic blocks at one x,y location, and to allow multiple physical implementations of a logical block (e.g. CLB and MCLB).  However, the commenting of these types and how to use them isn't sufficient (or I'm not fin

[2020-09-08 15:42] aman26kbm commented on #1475
Thanks, @vaughnbetz

@tangxifan , it'll be very helpful if you can share your XML arch with the crossbar description.

[2020-09-08 16:24] tangxifan commented on #1475
@aman26kbm
You can find the LINE 12165 in the XML about how I create crossbars for part of DSP inputs.
Hope that it can help.

[stratixiv_arch_DSP_pin_eq.timing.xml.zip](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/5189587/stratixiv_arch_DSP_pin_eq.timing.xml.zip)

[2020-09-08 17:47] aman26kbm commented on #1475
Thanks, Xifan. I looked at it and it is very similar to how I'm doing it. The weird thing is that it works for DSP slice. But it doesn't work for memory (and for another hard block I am adding to the architecture). So somehow the crossbar on memory is triggered some specific code path in VPR that has a bug.

I am attaching a zip file that has a arch and a design file. If you run them, you'll see t

[2020-09-09 15:12] aman26kbm commented on #1475
@vaughnbetz , regarding this point that you had mentioned:

I have some confusion here. Wanted to enumerate the options we have to get some clarity.

Option#1:
Express the crossbar (using "complete" keyword) + specify delay of the local mux from COFFE (using the "delay_constant" tag) + specify pin equivalence ("equivalent = full") -> This is the right thing, but is crashing.

Option#2:
No crossbar

[2020-09-09 15:22] vaughnbetz commented on #1475
I would do #2 if it works (used to have a bug, but Helen fixed that so
hopefully it now works).  It is almost the same as #1.
Note that for large blocks the lookahead is not great right now (always
tries to go to the lower-left corner of the block), so a lower astar_fac
(.75, maybe even .5 if the cpu time is not crazy) may be helpful.

If #2 and #1 don't work, #4 is next best as it is self-consist

[2020-09-09 16:19] aman26kbm commented on #1475
Thanks. I'll try #2 tomorrow to see what happens.

[2020-09-10 16:21] acomodi commented on #1527
@vaughnbetz FYI, opened this PR: https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1531.

Please let me know if more details need to be added.

On a side note, there is more explanation on the sub tile and equivalent tiles in the tutorial section of the documentation that might provide more information:
- [Heterogeneous tiles](https://docs.verilogtorouting.org/en/latest/tutorials/a

[2020-09-10 17:59] vaughnbetz commented on #1523
Adding @sshadtorrie

[2020-09-10 20:33] dpbaines opened #1533 "RCV should report a successful routing even if hold isn't completely resolved"
#### Expected Behaviour

If a successful routing is achieved, i.e. there are no overused nodes and all nets have been routed the router should report a successful routing.

#### Current Behaviour

Right now when the RCV router is enabled, there is an exit condition that checks to see if hTNS is resolved before allowing the router to complete. There is a function to tell RCV to stop early and repor

[2020-09-11 15:28] #1523 closed

[2020-09-11 16:11] jgoeders commented on #1523
Fixed with #1532

[2020-09-11 17:12] acomodi opened #1537 "Revisit the median cost entry calculation for the lookahead"
#### Expected Behaviour

Median calculation for lookahead map cost entries should do what it is supposed to do.

#### Current Behaviour

Currently the get_median_entry does not do what it is supposed to do:

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/98810f87d33737ffecea841d177ae6142aa288c9/vpr/src/route/router_lookahead_map.cpp#L1054-L1055

https://github.com/verilog-to-rou

[2020-09-11 17:17] acomodi opened #1538 "Lookahead get expected cost function should have RRNodesIDs instead of int"
#### Expected Behaviour

the get_expected_cost function for the lookahead should accept only RRNodeIDs instead of plain int, this to have consistent usage of RRNode identifiers.

#### Current Behaviour

the get_expected_cost function uses int parameters to refer to the RR nodes

#### Possible Solution

#### Steps to Reproduce

1.
2.

#### Context

#### Your Environment

* VTR revision used:
* Oper

[2020-09-13 22:34] dpbaines opened #1539 "Warning from g++ in vtr_vector_map.h due to unsigned integer sign check"
#### Expected Behaviour

There should be no or very minimal warnings during the build process. This means that when there are warnings or errors we can see them clearly.

#### Current Behaviour

Updating g++ has created the warning output I posted below when building VPR. This warning is generated everytime the vector_map class is referenced, which is a lot. This means the output is completely spa

[2020-09-15 18:02] vaughnbetz opened #1544 "Move and clean up alloc/load_legal_placement_locations"
1. The two routines below are in vpr_utils.cpp but are only used in placement. They should be moved to place_util.cpp instead.

void alloc_legal_placement_locations(std::vector<std::vector<std::vector<t_pl_loc>>>& legal_pos,
                                     std::vector<std::vector<int>>& num_legal_pos);

void load_legal_placement_locations(std::vector<std::vector<std::vector<t_pl_loc>>>& legal

[2020-09-16 11:34] mkurc-ant opened #1546 "Packer assertion failure on clock buffer primitive"
I want to make a net of a top-level input port become a clock source so that I can constrain it using SDC directive(s).

The target FPGA architecture requires that there is a `CLOCK_CELL` IO buffer primitive at a clock input that drives a global clock distribution buffer `GMUX_IP`. From there the clock can be routed to flip-flops. I want the clock to be propagated through both of these primitive c

[2020-09-17 10:58] mkurc-ant commented on #1546
@kmurray Could you take a look at it?

[2020-09-17 11:01] mkurc-ant commented on #1546
@vaughnbetz Could you take a look at it?

[2020-09-17 17:32] jgoeders opened #1550 "Remove old perl scripts"
Now that we have transitioned to Python scripts for the VTR flow, we should remove the old Perl scripts in a few weeks, once we are satisfied that things are stable.

[2020-09-17 22:34] tangxifan opened #1552 "Routing Resource Graph Generator Support on Obstacle Channels"
I have been searching for if the routing resource graph generator supports trimming channel inside wide/tall programmable blocks. This is the option which seems to do the job:

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/8508bbe630ee56b84d2e53e00e4f7dd0d6254030/vpr/src/base/SetupVPR.cpp#L361

This is an internal switch of the router options which cannot be turned on/off throu

[2020-09-22 00:14] vaughnbetz commented on #1546
The proposed fix looks OK to me; see PR for comments.

[2020-09-22 00:46] jeanlego commented on #1539
I am getting the same error.
@dpbaines where you gonna make a PR for it? I am more than happy to do so otherwise.

[2020-09-22 00:47] jeanlego commented on #1550
@georgkrylov FYI

[2020-09-22 01:31] dpbaines commented on #1539
I can make one right now, I was just waiting to make sure it wasn't just me!

[2020-09-22 01:44] jeanlego commented on #1539
I should've stepped up earlier I guess!

Thanks :)

[2020-09-22 22:05] mithro opened #1562 "Make the RoutingDelayCalculator filename consistent with other header files."
I noticed in @HackerFoo's CL at https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1561/files that VtR has `#include "RoutingDelayCalculator.h"` and `#include "router_delay_profiling.h"`

It seems like this should actually be `#include "routing_delay_calculator.h"`?

[2020-09-24 18:00] jeanlego commented on #38
closing since #1560 add variable shift support

[2020-09-24 18:00] #38 closed

[2020-09-25 18:38] litghost opened #1563 "VPR packer doesn't account for row routing when packing"
#### Expected Behaviour

The VPR packer should align elements within a cluster to enable packing without inter-cluster routing when possible.

#### Current Behaviour

![Screenshot from 2020-09-25 11-23-02](https://user-images.githubusercontent.com/537074/94302835-b9892d00-ff21-11ea-9358-b68ed34439c1.png)

Context: 7-series clusters are 4 rows tall.  Each row has a LUT6_2 (fracturable LUT6/LUT5), 1

[2020-09-29 22:07] #1539 closed

[2020-10-08 17:18] #1544 closed

[2020-10-13 16:58] acomodi opened #1571 "Unroutable connection on SymbiFlow tests"
#### Expected Behaviour

Routing passes correctly.

#### Current Behaviour

Routing fails to find a connection between SOURCE and SINK.

[code]

#### Possible Solution

I have tracked down the source of this error being in this piece of code: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/489eb5b0aeb80873eb72f4e8a46da45d8c593dbe/vpr/src/route/rr_graph2.cpp#L1139-L1181

More spec

[2020-10-13 17:00] acomodi commented on #1571
@litghost @vaughnbetz FYI.

@tangxifan tagging also you as I see these changes were included in the RR graph fixup PR. Maybe you can have some additional insights on this.

[2020-10-13 17:31] vaughnbetz commented on #1571
The prior code wasn't correct for pins that could occur on multiple sides/locations; they were each given their own rr-node rather than having one rr-node with more switches. If symbiflow was relying on the same pin number on different sides / locations on a block being different rr-nodes, the right fix would be to make two different pins for the two distinct inputs.  I'm not sure of exactly how s

[2020-10-13 18:36] acomodi commented on #1571
@vaughnbetz Thanks for the insight.

I think I have solved the issue on the symbiflow side, as suggested. Basically, with the local fix in symbiflow, now multiple switches are generated for the same node that is related to a pin that can occur on multiple sides.

I'll need to further test this and make sure that everything is working as supposed.

[2020-10-26 16:40] jgoeders commented on #1550
Fixed in #1551

[2020-10-26 16:40] #1550 closed

[2020-10-27 17:04] litghost opened #1577 "RRNode side method no longer correct"
#### Context

#1448 changed the rr graph build to only generate one IPIN/OPIN RR node even if the relevant cluster had pins on multiple sides of the tile.  However when this change was made, the underlying RRNode method for getting the sides of a node was not changed, see:

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/37095c742471af2e2c8d90faf10ab13156a47942/vpr/src/route/rr_g

[2020-10-27 17:47] tangxifan opened #1578 "Post-routing synchronization cannot handle output pins"
Post-routing synchronization is under development to update packing results with the net/pin remapping due to routing optimization. However, current fix-up methodology is applicable to the net remapping on input pins. Any remapping on output pins cannot be fixed.

#### Expected Behaviour

The post-routing synchronization should work for both input/output pins in any pin equivalence type.

#### Cur

[2020-10-28 17:15] tangxifan commented on #1577
@litghost I noticed this issue when fixing the bug in routing resource graph. I have the same idea on changing the `side()` and `node_side()` method to `sides()` and `node_sides()`. But I am not sure what the `is_on_side()` will do? Does it record which side is used by the router?

[2020-10-28 17:19] litghost commented on #1577
The signature of `is_on_side()` would be `bool RRNode::is_on_side(RRNode node, Side side)`, and returns true if the rr node connects to that side.  This would be a scalar version of `sides` or `node_sides`.

[2020-10-28 17:51] tangxifan commented on #1577
@litghost Got it. Do you expect me to fix this on another pull request? Or you have a solution in the Symbiflow version?

[2020-10-28 17:53] litghost commented on #1577
We are have a workaround, but the current VPR data model in upstream is broken until this is fixed.  I'm surprised `check_rr_route` didn't fail somewhere, because we both agree that `node_side` no longer works correctly.  I suspect we've just gotten lucky so far.

[2020-10-28 18:57] vaughnbetz commented on #1577
Yup, we should fix.  Depending on what the callers want, I am fine with coding only sides / node_sides, or also coding is_on_side if callers would also benefit from that.

[2020-10-29 19:09] #1503 closed

[2020-10-29 19:09] #1476 closed

[2020-10-29 19:10] vaughnbetz commented on #1473
This doesn't seem to be happening much anymore ... not sure if llvm.org got more reliable or we're caching.

[2020-10-29 19:10] #1471 closed

[2020-10-29 19:15] vaughnbetz opened #1580 "Router lookahead inefficiency for large blocks"
Currently the router lookahead takes two things:
- rr_node you are currently on
- the rr_node you are trying to get to, which is a SINK.

For large blocks, VPR's rr-graph builder sets the (x,y) of all SINK nodes to the lower-left corner of the block. This may be far from the actual pins we're trying to get to, making the router slower and less effective.

#### Expected Behaviour
Router should rout

[2020-10-29 19:16] vaughnbetz commented on #1580
@litghost @acomodi @tangxifan FYI.
Looking for an owner ...

[2020-10-29 19:29] MohamedElgammal opened #1581 "run_vtr_flow.py throughs an error"
When using run_vtr_flow.py on directedMoves_and_RL, it errors out with the following error:
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa6 in position 1379: invalid start byte`
However, it runs correctly when I used run_vtr_flow.pl.

This also causes running `./vtr_flow/scripts/run_vtr_task.py regression_tests/vtr_reg_basic/basic_timing -j8 ` to run endlessly

#### Steps to Reproduce

1

[2020-10-31 18:35] jgoeders commented on #1581
OK, thanks for the info.  I'll keep that in mind and see if we can catch that Exception in the future.

[2020-10-31 18:35] #1581 closed

[2020-11-01 03:49] cr1901 commented on #1317
I am also running into this issue. I'll try the solution @Bill-hbrhbr suggests and report back.

`_aligned_malloc` and `_aligned_free` appear to be [Microsoft-specific](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/aligned-free?view=msvc-160), not standard C.

I would personally leave `posix_memalign_free` alone on *nix systems since it's guaranteed to be there. Something shorte

[2020-11-02 19:41] vaughnbetz commented on #1317
@cr1901 : It would be good to land this one, so if you can check out those options and report back that would be great.

[2020-11-05 19:36] tangxifan opened #1587 "The need on a Re-arrangement for the APIs in vpr_utils.h/cpp"
#### Current Behaviour

Currently, there are many APIs in [vpr_util.cpp](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/util/vpr_utils.cpp) but are not categorized well.
Based on the input argument and return values, the APIs can be classified into two categories:
- Pure device-level inquiry: where input arguments and return values are all device-level parameters

[2020-11-08 16:36] aman26kbm opened #1590 "Updates related to adding TPU-like design to VTR benchmarks"
PR https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1573 resulted in adding a TPU-like design to the VTR benchmark suite. But there are some action items that need to be done. Filing an issue to track these. @aman26kbm will work on these items.

Pasting actions from @vaughnbetz 's comments in that PR:

**#1: Adding tests**
For tests, I suggest
* Add both designs to the list of ben

[2020-11-12 00:49] vaughnbetz commented on #1590
Assigning to Aman.

[2020-11-17 18:58] #1279 closed

[2020-11-17 18:59] #1313 closed

[2020-11-17 18:59] litghost commented on #1313
Fix in PR #1314 has been merged.

[2020-11-19 19:25] #1317 closed

[2020-11-21 21:35] #1552 closed

[2020-11-23 09:21] KKtiandao commented on #71
@qaarah I encountered the same problem; How do you resolve it?

[2020-11-23 14:42] MohamedElgammal opened #1599 "Remove the placement clipping condition that assumes IOs are on the edge"
I found that the clipping done in the attached line assumes the I/Os are only on the edge of the device. I think we already have removed these constraints. So, this condition should be updated.

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/18b7ca64d432271796b59f6c67fb6613c99e275a/vpr/src/place/place.cpp#L1981

[2020-11-26 02:46] KKtiandao commented on #155
@kmurray Where to find the latest abc_with_bb_support?

[2020-12-03 18:38] HackerFoo opened #1603 "Fail if PGO flags are not supported on a PGO build"
TODO: fill in details.

#### Proposed Behaviour

#### Current Behaviour

#### Possible Solution

#### Context

[2020-12-08 13:52] acomodi commented on #621
Closing. Fixed in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/926

[2020-12-08 13:52] #621 closed

[2020-12-09 19:28] MohamedElgammal opened #1605 "Get rid of placement breakpoints compilation guard"
Do we really still need to the compilation guard for placement breakpoints?

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/d912bdb88c05ec2a81637358c94e864b9443a332/vpr/src/place/place.cpp#L1369

[2020-12-10 15:39] mkurc-ant opened #1606 "Routability-based placement constraints"
VPR placer is not aware of whether placement of a block is legal in terms of its routability to other connected blocks (as the actual rr graph defines it). This poses an issues in architectures where the FPGA grid is divided into clock regions (eg. Xilinx 7-series or QuickLogic EOS-S3) as placement of flip-flops driven by a regional clock buffer should be constrained by its placement. All these ar

[2020-12-10 17:58] #1587 closed

[2020-12-10 19:03] vaughnbetz commented on #1606
I think this should be tackled in 3 parts:
1. Choose where to put the global clock buffers. This tends to be quite constrained and device specific, and I know Symbiflow has an external solution for this for Artix7.  Possibly a general engine based on the rr-graph could be developed, but that's a research task and we shouldn't wait for it.  In the interim, we can write external tools or (if necessa

[2020-12-11 01:05] MohamedElgammal opened #1607 "Remove checking all subtile locations for placement"
Longer term:  I don't think we really need usage anymore (really need to check all the sub_tile_locations to see what's there).  So I think it could be deleted from the code base (but haven't looked really carefully).  Suggest a separate issue to track that.

_Originally posted by @vaughnbetz in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1570#discussion_r540375018_

[2020-12-14 18:29] acomodi opened #1611 "Separate VTR nightly build for each set of benchmarks"
#### Proposed Behaviour

The Nightly Kokoro CI is currently running two sets of test:
- ISPD benchmarks
- Titan benchmarks

With https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1564 there will also be the Symbiflow benchmarks enabled.

The idea is to have one CI for each of these benchmarks to have faster and contained tests.

#### Context

CI

[2020-12-14 18:32] acomodi opened #1612 "Transition to use bigger Kokoro machines"
#### Proposed Behaviour

The current Kokoro machines have the following setup:

- 16 vCPUs, 104 GB - n1-highmem-16

Transitioning to bigger machines can improve run-time to get results from big test benchmarks such as the Titan ones (as well the soon-to-be-merged SymbiFlow ones).
Bigger machines would allow us to use more cores, given the higher amount of RAM:

- 96 vCPUs, 360 GB - n1-standard-96

[2020-12-17 19:55] vaughnbetz opened #1616 "Differentiate clock from other routing (better filtering in graphics)"
Tuo Xie requested the ability to visualize clocking (pins & wires I believe). We should make it easier to visualize subsets of the device routing resource and types of routing nets.

#### Proposed Behaviour
Add filtering to the rr_nodes displayed (ToggleRR), and to the nets displayed (ToggleNets). I think we should have an option to filter what is shown by node type, node name (segment or pin type

[2020-12-17 20:01] vaughnbetz opened #1617 "De-clutter vpr clustering output (and some other output ideas)"
- vpr prints too much information in clustering. The detailed per cluster information should be deleted or printed only at high verbosity (or to an echo file). Instead we should indicate progress (% of design clustered, with updates every 10% or so and a cpu time so far and a few key stats).  Once clustering completes we should print some key statistical outputs.

- we should also echo the command

[2020-12-18 06:56] xtthu commented on #1616
Besides the filtering function added to the rr_nodes displayed (ToggleRR) and the nets displayed (ToggleNets), I suggest to take consideration of some special cases (such as the element <clocknetworks> defined in the xml file, which specifies the clock architecture). If this clock network distribution (i. e. the H-tree) could be visualized in the VPR’s graphics conveniently, it would be helpful to

[2020-12-18 16:02] vaughnbetz commented on #1616
Thank Tuo.  That's a good idea; wires under the <clock_network> tag could have some additional information (a flag, or some metadata) that identifies them as part of the clocking network, and we could make that a setting.

[2020-12-22 00:49] HackerFoo opened #1618 "Exploration of some constants in vpr/src/route/bucket.cpp"
This is to document a failed experiment, in case it might prove useful later.

I had success sweeping over various flags to improve VPR's runtime, so I figured I'd take it further and sweep over some *constants* in VPR, which is something only the Hydra cluster can do effectively. The most apparent target to me was the bucket heap, because it showed up pretty high in CPU profiling.

So, I created:

[2020-12-22 01:26] HackerFoo opened #1619 "During pathfinder_update_path_occupancy(), nodes in a non-configurable node set are not updated."
#### Expected Behaviour
If a path passes through a non-configurable node set, all nodes in that set should have their occupancy updated.

#### Current Behaviour
There is no special consideration for non-configurable node sets.

#### Possible Solution
I started on a solution in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1615

#### Context
In the above PR, I was attempting to

[2020-12-28 16:06] mkurc-ant opened #1620 "Issue around equivalent port pins"
VPR crashes in some circumstances during static timing analysis after routing. This happens for architectures in which individual port pins that are equivalent ("full" equivalence) are connected using `direct` instead of `complete` interconnect.

#### Expected Behaviour
VPR flow completes successfully.

#### Current Behaviour
After routing VPR crashes on the assertion:
`vpr/src/util/vpr_utils.cpp:

[2021-01-01 15:28] suravichatterjee opened #1622 "Windows support"
I have installed CMake and Visual Studio 2019 on my Windows 7 system. Can you tell the next steps to install VTR on my system?

[2021-01-04 00:06] jay20162016 opened #1623 "Build on Mac doesn't recognize latest bison version"
I have the latest bison version installed, in PATH and CPPFLAGS/LDFLAGS. However, `make`ing the project results in vtr not recognizing the latest bison version.

#### Expected Behaviour
VTR should build with the latest bison version.

#### Current Behaviour
[code]

#### Possible Solution
Recognize the proper bison version.

#### Steps to Reproduce
1. clone git master on mac os
2. `make`

#### Cont

[2021-01-04 01:15] jay20162016 commented on #1623
Manually building the library in question works, but building vtr still gives the same error.

[2021-01-05 18:09] #1270 closed

[2021-01-05 18:10] #1203 closed

[2021-01-05 18:10] #1244 closed

[2021-01-08 14:15] mkurc-ant opened #1625 "Using rr graphs from earlier VPR version"
I'm trying to use a rr graph generated using the VPR version currently used in OpenFPGA project (can't establish exact VPR revision, the OpenFPGA revision is `a9f91513`) with the upstream VPR. I'm encountering the following assertion failure during post-load rr graph check:
[code]
When I commented out the assertion I managed to successfuly load and use the graph throughout the whole VPR flow.

###

[2021-01-08 14:16] mkurc-ant commented on #1625
@tangxifan Could you please take look at this issue? Is it relevant to what are you currently working on? (single node for multiple pin sides)

[2021-01-10 09:07] shubham0312 commented on #388
I am working on this.

[2021-01-11 19:29] HackerFoo opened #1628 "Implement multiple runs of vtr_flow to collect statistically significant data for runtime"
#### Proposed Behaviour
Modify the vtr_flow scripts to allow running tests multiple times to compensate for variations in runtime on a single machine.

#### Current Behaviour
Currently, the vtr_flow scripts execute each test once.

#### Possible Solution
I suggest adding this as a flag, either specifying the number of times to run or the desired confidence.

#### Context
I have seen runtimes vary

[2021-01-14 15:43] suravichatterjee opened #1630 "CMake error in Visual Studio"
<img width="960" alt="error_cmake" src="https://user-images.githubusercontent.com/45279854/104613559-5cbaa980-56ad-11eb-897e-33d48d697395.png">

[2021-01-14 16:19] sfkhalid commented on #1617
-RoutingArch. lines should be either deleted or moved to be with the arch file description (probably better to be deleted)
-Printing out of all the CAD control parameters (the Opts) should come before we print the circuits stats, arch file

[2021-01-14 18:57] #847 closed

[2021-01-14 18:57] #1473 closed

[2021-01-15 04:38] aman26kbm opened #1632 "Post-routing crash (SIGABORT) seen with some specific arch and design files"
<This issue was reported on commit: https://github.com/verilog-to-routing/vtr-verilog-to-routing/commit/ea7acf1582ece35e892c26b756aa302d2e12ddb2.  Please see the comments there for historical details>

#### Expected Behaviour
There shouldn't be a crash.

#### Current Behaviour
There is a SIGABORT failure post-routing. Seeing this failure when the arch file has a local crossbar in the DSP block. He

[2021-01-16 14:50] djc31318826 opened #1634 "When a verilog module which has a like {expression,expression}<=constant pass in odi-II,Program received signal SIGSEGV, Segmentation fault."
#### Expected Behaviour

The module like below,it should no problem to be synthesis:

module	test
(
    input clk_sys,
    input reset  ,
    input [20:0]  addr,
    output reg[20:0] lcos,
    output reg[20:0] lsin
);
reg [4:0] addr_d1;
always@(posedge clk_sys or posedge reset)
begin
    if(reset==1'b1)
        addr_d1<=5'd0;
    else
        addr_d1<=addr;
end
always@(posedge clk_sys or posedge r

[2021-01-17 12:46] yongjiangwang opened #1636 "FPGA structure size definition in Architecture Description XML file"
I run the example code in quick start manual and it does run accordingly. But I confused on Architecture Description XML file which does not have the definition on how many tile in x and y direction, why run example provide in quick start always give out 10x10. If I want to try 10x1 structure, where do I need to modify? Thanks

[2021-01-20 02:45] yongjiangwang commented on #1636
Further play to tools and use different design and it seems the flow any support N x N type of structure and does not support K x N structure. Also the flow automatically expands the array size to accommodate the design. So it does not need pre-set boundary.

[2021-01-21 02:56] yongjiangwang opened #1638 "run genfasm unsuccessfully with error"
follow the quickstart manual to run blink through vtr flow and it seems I can get synthesis, place and route successfully with 8.0.0. version of download. But when I try to use genfasm in utils directory, I got the error 1 and program stopped.
#### Expected Behaviour

expect the program to generate blink.fasm
#### Current Behaviour

Error  1:
Type: Other
File:  fasm.cpp
Message: Failed to find LUT

[2021-01-27 17:48] aman26kbm opened #1642 "[ODIN] Fix/improve code in ODIN that infers RAMs from RTL"
_**Moving discussion from VTR users group to a Github issue for better tracking and history**_

ODIN isn't correctly inferring RAMs from RTL code. Here are some experiments and observations:

### Number 1.A
Tool = VTR
Arch used = k6_frac_N10_frac_chain_depop50_mem32K_40nm.xml
Code =
    always @ (posedge clk)     begin
        if (we)     begin
                RAM[addr] <= data;
        end

[2021-01-27 20:11] aman26kbm opened #1643 "Generate statement seems to be resulting in code with multiple fanins for a net"
Attached zip file has a piece of Verilog code that instantiates 8 hard blocks using a generate statement. The hard blocks happen to be RAMs here but that shouldn't matter.

Each hard block's output signal is 32 bits and separate and are muxed in the end. Also in the attached zip is a schematic from Vivado to show the structure of the design.

Looking at ODIN's generated output (blif), I see the sa

[2021-01-27 20:57] aman26kbm opened #1644 "[ODIN] Support for $signed missing in ODIN"
Currently ODIN reports an error when an occurrence of $signed is seen in the HDL file. Requesting support for $signed through this ticket.

#### Expected Behaviour
No error should be thrown. The argument to $signed should be treated as a signed number. I don't think simple arithmetic operations (like addition or subtraction) will need to change. Main thing to update is how right shifts and compari

[2021-01-28 17:29] tangxifan commented on #1620
May be this is another limitation of the post-routing synchronization than #1578 .
Currently, the pin equivalence is applicable only when
- You have a fully-connected crossbar which guarantees swappable nets between any pins in a port (which is labelled as ``equivalence="true"``.
- All these pins are **directly** connected to LUT inputs, which are equivalent by nature.

In SOFA architecture, we ha

[2021-01-28 17:42] tangxifan commented on #1632
@aman26kb Do you have the ``blif`` version of the ``spree.v`` benchmark? I can try to run it locally. What are the VPR options you were using?

[2021-01-28 18:59] litghost opened #1647 "Very long runtime in parse_vtr_flow"
[code]

[2021-01-28 19:19] litghost commented on #1647
Long stack trace:
[code]

[2021-01-28 19:22] vaughnbetz opened #1648 "vtr weekly runs not completing"
The vtr weekly runs are not completing.  We should take a look at why.

#### Expected Behaviour
These should complete in kokoro

#### Current Behaviour
It almost always fails, due to some jobs not finishing.  Keith looked at it and it is limited to 3 cores in kokoro. We are running on a 60 GB machine, so we can't push the core count very high.  Kevin ordered the benchmarks in the script so high me

[2021-01-28 19:36] vaughnbetz opened #1650 "Update vtr_vector_map comment to recommend vtr_vector"
The difference between vtr_vector and vtr_vector_map should be highlighted a bit more in vtr_vector_map. vtr_vector_map should say that:
 new code should prefer vtr_vector.
 vtr_vector_map adds some additional "map-like" functions; if you don't know what those are or why you would need them, use vtr_vector instead.

[2021-01-28 23:27] tangxifan commented on #1647
I have run vtr_strong regression test on my local machine (64-core 2.6GHz CPU), where I push test run on 32 cores.
The runtime results I get is
- vpr runs finished in ~120s
- result parser takes ~60s

I am trying to get a detail profiling report like the stack trace but have no clue how to run it. If you can share the command to run, I will try.

[2021-01-28 23:33] litghost commented on #1647
I used https://github.com/benfred/py-spy

[2021-01-29 00:44] aman26kbm commented on #1632
I was running the standard VTR flow. So, the VPR options that flow uses were being used. I wasn't running VPR separately. If you run the VTR flow (using run_vtr_task.py), the blif file will get generated in the output directory.

[2021-01-30 03:01] aman26kbm opened #1651 "[ODIN] Support expressions in instance port connections"
Currently ODIN errors out when there is an expression in a port connection. We have to create a new signal and assign to that signal, and then use that signal in the port connection.

Example:
[code]

Attaching the full Verilog file.

It will be very helpful if expressions in port connections were supported.

[temp.zip](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/5897266/tem

[2021-02-02 07:12] #1577 closed

[2021-02-02 15:42] sdamghan commented on #1643
That's really odd! Thanks for mentioning @aman26kbm
@nanjekyejoannah would you please have a look?

[2021-02-02 15:46] sdamghan commented on #1410
@harpreetbamrah would you please have a look?

[2021-02-02 15:51] sdamghan commented on #1369
@hmoein87 Would you please have a look at this?

[2021-02-03 16:28] mkurc-ant opened #1655 "Assertion 'parent_pb->mode == pb_graph_node->pb_type->parent_mode->index' failure"
Recently I've encountered the assertion failure during clustering: `vpr/src/pack/cluster.cpp:1437 try_place_atom_block_rec: Assertion 'parent_pb->mode == pb_graph_node->pb_type->parent_mode->index' failed.`

I've spent some time debugging the code and I've roughly narrowed the problem down. For some reason `child_pbs` together with a selected mode of a `pb`  are not cleared correctly. Those are al

[2021-02-04 18:42] vaughnbetz commented on #1647
@jgoeders can you or somone on your team take a look?  This is a long time for parsing with log files that aren't that big. We had an issue with lots of warnings that was exacerbating this, but even after fixing that we have slow parse times (parse time is 50% of the time of a total vpr run).
@litghost speculates that this may be a regular expression with a back-reference (can get slow).  The stac

[2021-02-04 19:02] tangxifan commented on #1655
If it is related to the ``disable_in_packing``, I am the author of that part. I am glad to help on this issue

[2021-02-04 19:06] mkurc-ant commented on #1655
@tangxifan It is related to that but not only to. I've been able to trigger the issue even with no disabled modes in the arch. However, the bug is pretty hard to trigger. It showed up in a couple of QuickLogic test designs.

If you run VPR with the architecture and circuit I've attached (`design.tar.gz`) you will see that it fails during packing a `.latch` into the `io` pb_type (there are register

[2021-02-04 19:32] tangxifan commented on #1647
Procedures to replicate my tests：
- Checkout vtr github repo: ``git clone https://github.com/verilog-to-routing/vtr-verilog-to-routing.git``
- Compile VTR project ``make -j``
- Run strong regression tests ``time python3 run_reg_test.py vtr_reg_strong -j 32`` (you may use another number if your local machine does not have 32 cores available).

[2021-02-05 00:33] tangxifan commented on #1655
@mkurc-ant No worries. I managed to reproduce this error in other OpenFPGA architectures.

[2021-02-08 05:18] jgoeders commented on #1647
I can't reproduce.  I've added a PR that prints the parse time, and the CI runs with 618s vpr, 14s parse.  https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1658/checks?check_run_id=1852010637

I see similar results on two different local machines, testing with `-j8` and `j20`.

[2021-02-08 13:33] mkurc-ant opened #1659 "Python 'inspect' package name conflict"
There appears to be a Python package name conflict that prevents the `parse_vtr_task.py` script to be run (at least on my system).

#### Expected Behaviour
The script `vtr_flow/tasks/scripts/python_libs/vtr/parse_vtr_task.py` executes successfully

#### Current Behaviour
The script crashes with the following Python import error:
[code]

It turns out that the actual error is not about missing `load

[2021-02-08 18:29] tangxifan commented on #1647
@jgoeders I managed to reproduce your results on my local machine. I may did something wrong last time. Let me investigate and go back to you later.

[2021-02-08 19:28] tangxifan commented on #1647
I just did some tests to find out where the runtime difference coming from. Here is what I have found:
- I have managed to reproduce both my previous results and Jeff's results.
- It seems that the hard disks impact a lot in the parsing flow.

On my local machine, there are two types of hard disks:
- A NFS mounted hard disk where data are transferred through network. This is where I am working on.

[2021-02-08 21:08] jgoeders commented on #1647
Thanks for the additional info.  Both of the local machines I tried are SSDs, so it sounds like this is bound by disk I/O.  Not sure if there's much to be done to speed it up but I'll take a look.

[2021-02-09 00:51] vaughnbetz commented on #1647
We might be able to put some files we parse on a diet. Sarah is simplifying and summarizing the clustering log file output.  Are we parsing any big files other than the log file?  Is some of the log file too big?

[2021-02-09 16:33] litghost commented on #1647
Kokoro disks should be pretty fast, but if we are disk limited and it is taking between 10 - 60 seconds on local machines, we probably need to put the logs on a diet (like Vaughn suggested).

[2021-02-09 16:40] litghost commented on #1647
For additional context relevant to this issue, kokoro was spending more ~1.5 hrs parsing nightly logs in some instances.

[2021-02-09 22:45] jgoeders commented on #1647
My plan is to take a look at the code, and make sure we aren't reading the file in more than once, and that there aren't any unnecessarily complicated regexs.  Aside from that, not sure there's much to do aside from slimming the logs.

[2021-02-11 17:22] mkurc-ant opened #1662 "Cell parameters in post P&R verilog"
Cell parameters representation is not correctly preserved during the whole synthesis + P&R flow resulting them having incorrect values in post P&N verilog file.

This may not be strictly a VPR issue but solving it may require enhancing it.

#### Expected Behaviour
A parameter of a cell in a design preserves its type and bit width throughout the whole synthesis + P&R flow.

#### Current Behaviour
C

[2021-02-11 18:22] mkurc-ant commented on #1662
EBLIF specification (the only I could find) is in the VPR documentation: https://docs.verilogtorouting.org/en/latest/vpr/file_formats/#param

Yosys BLIF/EBLIF writeout code:
- https://github.com/YosysHQ/yosys/blob/73d611990d7f39b4e14ffc367c646686f0d2b209/backends/blif/blif.cc#L160
- https://github.com/YosysHQ/yosys/blob/73d611990d7f39b4e14ffc367c646686f0d2b209/kernel/rtlil.cc#L4189

[2021-02-16 23:05] aman26kbm opened #1665 "[ODIN] Support arrays in ODIN"
Currently, ODIN doesn't support any usage of arrays other than as memories. But there are many places where arrays are useful, merely as a way to make coding easy and methodical (instead of handling 1D bit-vectors). Here are some examples:

[code]

This is just one dimension. Sometimes, multiple dimensions are useful too: `wire [7:0] arr[3:0][4:0];` But this is lower priority.

Adding support for

[2021-02-17 02:36] sfkhalid opened #1666 "vtr nightly runs not completing"
The vtr nightly runs are not completing. They may not be running at all in some cases. For example, the nightly run in this pull request #1641 says that the tool failed and duration is 00:00. The same thing is happening after trying to run nightly a few times on this pull request. The same issue also seems to be occurring on other pull requests - #1663 and #1658 are some examples of this.
Also, it

[2021-02-17 16:25] mithro commented on #1666
FYI - @litghost

[2021-02-18 19:17] sfkhalid commented on #1666
Solution: clean up log files on CI and run nightly again
Link with instructions:
https://github.com/SymbiFlow/symbiflow-arch-defs/blob/45c83a2592923b9a785aa05c9464b5f453ebd151/.github/kokoro/package_results.sh#L43-L48

[2021-02-21 04:13] aman26kbm commented on #1659
I saw this too. https://groups.google.com/g/vtr-users/c/r2Y9tCsAw1I

[2021-02-21 04:14] aman26kbm commented on #1651
Adding @sdamghan to assign

[2021-02-21 04:14] aman26kbm commented on #1644
Adding @sdamghan to assign

[2021-02-21 04:15] aman26kbm commented on #1665
Adding @sdamghan to assign

[2021-02-21 04:16] aman26kbm commented on #1643
Can you please update the assignee field, @sdamghan ?

[2021-02-21 04:18] aman26kbm opened #1668 "[ODIN] Error: Tried to join nets but this would lose 1 drivers"
We're seeing a failure with ODIN for a design. From the error message, we are not able to identify the problem.

 30 ==========================
 31 Detected Top Level Module:  top
 32 ==========================
 33 error[NETLIST]:  Tried to join nets but this would lose 1 drivers
 34
 35 /export/aman/vtr_aman/vtr-verilog-to-routing/ODIN_II/SRC/netlist_utils.cpp:472: void join_nets(nnet_t*, nnet_t*

[2021-02-21 04:31] aman26kbm opened #1669 "[ODIN] Segmentation fault, probably from infinite recursion in finalize_ast()"
We're seeing a segmentation fault at the ODIN stage when running VTR on a design. It looks to be an infinite recursion on the function finalize_ast. The logfile said "AddressSanitizer: stack-overflow".

The design is: https://github.com/aman26kbm/vtr-verilog-to-routing/blob/master/vtr_flow/benchmarks/verilog/ml_benchmarks/tiny_darknet_hls.v

Note that this design is very large. It's generated usin

[2021-02-21 04:37] aman26kbm opened #1670 "[ODIN] Segmentation fault seen at the top-level of the design, all submodules are fine"
I'm seeing a segmentation fault in the ODIN stage when running VTR on a design.

With a debug build, I see this summary:
SUMMARY: AddressSanitizer: heap-buffer-overflow /export/aman/vtr_aman/vtr-verilog-to-routing/ODIN_II/SRC/ast_elaborate.cpp:1387 in finalize_ast(ast_node_t*, ast_node_t*, sc_hierarchy*, bool, bool)

The design is: https://github.com/aman26kbm/vtr-verilog-to-routing/blob/master/vt

[2021-02-22 00:00] aman26kbm opened #1671 "[ODIN] define_add_function: Assertion node->input_pins[i]->net->num_driver_pins == 1 failed"
I'm seeing this assertion failure during the ODIN stage when running a design through VTR.
vtr-verilog-to-routing/ODIN_II/SRC/adders.cpp:321: define_add_function: Assertion node->input_pins[i]->net->num_driver_pins == 1 failed

The assertion code is:
oassert(node->input_pins[i]->net->num_driver_pins == 1);

I don't see any adders in the design that don't have any drivers for their inputs. I have s

[2021-02-22 08:58] balivila commented on #1638
same problem
have you solved the problem?

[2021-02-22 10:20] yongjiangwang commented on #1638
Actually the tool is not for this. After studying more on the tools, actually the tool is really for given RTL, logic cell arch, routine resoucese, how many logic blocks are needed to implement the given RTL. For me, I actually want to have a tool with the fixed x y boundaries, run synth, routing and generate bitstream.

[2021-02-22 10:21] yongjiangwang commented on #1638
it can be considered as closed.

[2021-02-22 10:21] #1638 closed

[2021-02-22 10:21] yongjiangwang commented on #1638
it can be considered as closed.

[2021-02-22 14:08] nanjekyejoannah commented on #1643
Yes, working on this...please assign.

[2021-02-22 14:14] sfkhalid commented on #1666
@litghost There seems to be an issue with vtr_reg_coffe having QoR failures that is contributing to the nightly test failures.

I first saw these failures in this pull request #1637. I thought they were odd since in this pull request, I only changed the order of how things are printed in the vpr log file.

Then, I ran nightly on my other branch, (in a pull request here #1641) which has significant

[2021-02-22 15:52] sdamghan commented on #1644
Thanks @aman26kbm , The signed support has been already underworking. To solve the problem now, I recommend you to put the value of a signed value manually into a variable.
I'll also update you on this topic in the future :)

[2021-02-23 11:31] lnsharma commented on #551
From eFPGA fabric perspective, it is important to do STA on different process corners. I am wondering if this issue is still in lower priority or are you planning to address this in near future? We are currently using VTR for our new QuickLogic eFPGA devices and this feature is really helpful for our users.

[2021-02-23 20:04] aman26kbm commented on #1670
I was trying some more experiments today.

Here's the hierarchy of the design:
top_module
|--module1
|  |--submodule1
|  |--submodule2
|-module2
|  |--submodule3
|  |--submodule4

All modules and submodules use parameters.
I did some binary search and only when the parameters are provided when instantiating module2 in the top-module, the error shows up. At all other places, parameters work fine.
S

[2021-02-23 21:00] aman26kbm commented on #1671
This turned out to an issue because of this kind of code:

case(state)
....
 5: count <= count + 1;
     if (count==5) begin
      count <= 0;
      some_other_sig <= value;
    end
....

There were two drivers for "count" in the same state when count==5 was true.
Fixed it to:
....
 5:
     if (count==5) begin
      count <= 0;
      some_other_sig <= value;
    end
    else begin
      count <= c

[2021-02-23 21:00] aman26kbm commented on #1671
Closing this issue.

[2021-02-23 21:01] #1671 closed

[2021-02-23 23:15] aman26kbm commented on #1668
This is likely because of unconnected port on a module instance.

[2021-02-24 05:38] aman26kbm commented on #1668
This turned out to be because ODIN thinks that there are multiple drivers for a signal in a situation like this:

count <= count + 1; //default driver
if (state==STATE1)
  count <= 0;  //this driver overrides the default driver, in this specific state, in most synthesis/simulation tools

ODIN thinks there are two drivers and raises an error.

It will be good to fix this in ODIN, but for now we hav

[2021-02-25 12:22] mkurc-ant commented on #1625
I've discovered that the graph I'm trying to read has two `CHANY` nodes at the same location with identical `ptc` numbers:

[code]

This makes VPR overwrite the 153753 node with 153777 in the `t_rr_node_indices` array of the device context.

[2021-02-25 16:09] mkurc-ant commented on #1625
I'm closing this issue as the problem I've encountered was not caused by any issue with VPR itself.

Meanwhile it may be worth adding a check if during rr graph loading nodes are not getting overwritten there: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/7be7cbe3d726da76fd6280e77fb5731fd4ab4873/vpr/src/route/rr_graph_uxsdcxx_serializer.h#L1638-L1666

[2021-02-25 16:09] #1625 closed

[2021-02-25 16:12] tangxifan commented on #1625
@mkurc-ant  actually, this is due to staggered wires that are frequently seen in tileable routing architecture.
To model staggered wires, a rr_node may have multiple ``ptc_num``.
However, VPR RRGraph only supports 1 ``ptc_num``. That is why you see duplicated ``ptc_num`` because the ``ptc_num`` given for each ``rr_node`` is the 1st one in the ``ptc_num`` list.

[2021-02-25 18:22] #1655 closed

[2021-02-25 19:33] vaughnbetz commented on #1666
The golden results for the vtr_reg_coffe look wrong. The pack times, place times and channel widths on these golden results are much higher than what we are achieving, so we're failing the tests by having too good a result.  I think the golden results need to be updated, or there is some other issue. @aman26kbm can you take a look?

That's not the fundamental issue for the vtr nightly runs not com

[2021-02-26 01:17] aman26kbm commented on #1666
Sure I can take a look. But I won't be able to get to this anytime soon. I can try to get to it late next week. Is that okay? If this is urgent, please let me know.

[2021-02-26 04:10] the-centry opened #1675 "Problem in packing"
the Error detail is here:

Finish prepacking.
Using inter-cluster delay: 2.18008e-09
Packing with pin utilization targets: BLK-TL-CLBLL_L:1,1 BLK-TL-CLBLL_R:1,1 BLK-TL-CLBLM_L:1,1 BLK-TL-CLBLM_R:1,1 BLK-TL-BRAM_L:1,1 BLK-TL-LIOPAD33_M:1,1 BLK-TL-LIOPAD33_S:1,1 BLK-TL-LIOPAD33_SING:1,1 BLK-TL-LIOPAD_M:1,1 BLK-TL-LIOPAD_S:1,1 BLK-TL-LIOPAD_SING:1,1 BLK-TL-RIOPAD_M:1,1 BLK-TL-RIOPAD_S:1,1 BLK-TL-RIOP

[2021-02-26 16:00] litghost commented on #1666
I've identified one of the problems and fixed it, see #1674.  @acomodi had already added some logic to cleanup the workspace to drop the working space below 100G.  As you can see from https://source.cloud.google.com/results/invocations/b7799e26-286f-4691-820a-3193adb4cd3b/log , the working space is at 89 GB  with cleanup, not the 25 GB that @sfkhalid on their run.  Now that the nightly is finishin

[2021-02-26 16:03] litghost commented on #1666
To be clear, because the nightly working space directory is at 89 GB, it is fairly close to exceeding the max.  While right now, nightly runs are completing, it is easy to expect that to change in the future.  I'm leaving this issue open to see if we can trim the nightly working directory some more.

[2021-02-26 18:00] dlrauch15 commented on #1670
I have encountered a similar issue. After some debugging I determined that it only happens in this scenario: module A instantiates module B which instantiates module C; B and C have parameters with the _same name_, and the parameter in B is passed to the parameter on C when instantiating it.

Here is some minimal code that reproduces the issue:
[code]
Interestingly, the segfault does not occur if

[2021-02-26 19:44] sfkhalid commented on #1666
I ran the du command as suggested and here are some findings:

First to summarize: I ran nightly three times on my local machine, once it did not run fully because I had not made the symbiflow benchmarks and the next two times it ran through fully. The commands I used to run nightly were as follows:
make get_symbiflow_benchmarks
make get_titan_benchmark
make get_ispd_benchmarks
./run_reg_test.py v

[2021-02-26 19:46] litghost commented on #1666
I was suggesting adding the "du" commands to the CI script so you can get a report from the CI machine.

[2021-02-26 19:51] sfkhalid commented on #1666
Oh I see, by CI script do you mean vtr-test.sh?

[2021-02-26 21:24] litghost commented on #1666
Ya, `vtr-test.sh`.

[2021-03-01 05:07] aman26kbm opened #1676 "[ODIN] Support for multiple case_item's separated by comma"
ODIN throws an error on a statement like the following:

[code]

The error is:
` warning[PARSE_TO_AST]    :  error in parsing: (syntax error, unexpected ',')`

The error goes away if I do:

[code]

@sdamghan , Filing a ticket to support having multiple case_items separated by comma.

[2021-03-02 05:04] aman26kbm commented on #1668
This is a pretty common situation actually. In pretty much all situations where case statements are used.

[code]

[2021-03-02 08:03] acomodi commented on #1666
FYI, as @litghost pointed out I had added some logic to clean the benchmarks data, but that did not prove to be enough.

I remember noticing that the circuits files from the "big" tests such as the Titan ones were copied in the run directory instead of using a symlink or such.
I believe this is a good route to pursue to reduce disk-usage, as well as possibly allowing the increase of the number of

[2021-03-03 14:37] sfkhalid commented on #1666
I add the suggested command du -h --max-depth=2 to the CI script and the results show that out of the 89 G, 87 G are coming from vtr_flow/tasks.
<img width="119" alt="vtr_flow_tasks" src="https://user-images.githubusercontent.com/61606358/109821351-e1349d80-7c03-11eb-8fd9-dd8e0e278656.PNG">

The full log file is below which has the full breakdown of space.
[kokoro-sisyphus_resultstore_prod_foss-fp

[2021-03-03 14:52] vaughnbetz commented on #1666
Thanks.  Sounds like we need to start cleaning up some files, starting with the .net files.
1. Sarah, can you add a little more detail CI script du command?  You can explore interactively on your local version to see what works and gives a reasonable amount of info (useful, but not overwhelming).  I think adding something like:
cd vtr_flow/tasks
du -h --max_depth=2   // or maybe max_depth = 3?

Wo

[2021-03-03 14:56] sfkhalid commented on #1666
Yes, I was just looking into that. I'll run it now so nightly can finish running by the symbiflow meeting tomorrow.

[2021-03-04 02:36] #1675 closed

[2021-03-04 05:43] rourabpaul1986 opened #1680 "power report is not generated"
I am working voltage scaling technology in FPGA. I was exploring VTR but I am unable to generate the power report. I am using below commands
vtrROOT/vtr_flow/scripts/run_vtr_flow.pl blink.v vtrROOT/vtr_flow/arch/timing/EArch.xml -track_memory_usage -power -cmos_tech vtrROOT/vtr_flow/tech/PTM_22nm/22nm.xml --pack --place.
I got place, route and net report, but not getting power report.
More over I

[2021-03-04 14:10] sfkhalid commented on #1666
From running with a greater -max-depth in the CI script, most of the space is coming from vtr_reg_nightly, and from vtr_reg_nightly a large amount of space is taken up by the titan_quick_qor test.
<img width="321" alt="nightly_space" src="https://user-images.githubusercontent.com/61606358/109975795-050de700-7cc9-11eb-9c83-74eb6c5d377b.PNG">
 The full log file is here :
[kokoro-sisyphus_resultstore

[2021-03-05 09:39] Xiretza opened #1681 "VPR ignores some IO placement constraints"
A regression seems to cause VPR to ignore some IO placement constraints, producing a `.place` file with wrong positions.

#### Expected Behaviour
The constraints file is applied correctly.

#### Current Behaviour

With the following constraints file:

[code]

executing the test script below on adbaf771e gives a wrong placement result:

[code]

As you can see, the placement of `switches[1..3]` is w

[2021-03-05 17:00] sfkhalid commented on #1681
Thank you for bringing this issue to my attention. I have taken a look and I think the fix @acomodi linked above should take care of this issue. Initial placement was checking whether the IO blocks were fixed, but the move generator was not. With the fix by Alessandro, this bug should be taken care of.

[2021-03-05 21:54] aman26kbm commented on #1643
Hi @nanjekyejoannah , just wanted to check if this has been fixed. Please let me know. Thanks.

[2021-03-05 22:56] tangxifan commented on #1580
Hi @vaughnbetz ,
   I have reading the router lookahead map codes.

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/574525c9f14e4c2c8856ee992d37888eaa0b3526/vpr/src/route/router_lookahead_map.cpp#L1055

It seems that @acomodi has patched the issue as you said. Currently, the sink coordinate to be used in calculating the ``delta_xy()`` is the center coordinate of a multi-height an

[2021-03-05 23:08] vaughnbetz commented on #1580
Thanks Xifan.
1. The code averages the xlow,xhigh etc. coordinates.  But I'm not sure that most rr-graphs actually set the SINK and SOURCE rr-nodes to have xlow != xhigh.  It looks like the symbiflow graphs do (otherwise why have this code?) but I don't think the rr-graph builders in vpr do that (at least they used to just set the xlow and xhigh of SINK or SOURCE rr-node to be the lower-left (anch

[2021-03-05 23:09] vaughnbetz commented on #1580
I agree with your plan (reproduced below), but fixed a typo:
We can visit all the fan-out nodes of the **SOURCE** node, which are OPINs. The we average the x_low(), ylow() of these OPINs as the final coordinate to return.
We can visit all the fan-in nodes of the **SINK** node, which are IPINs. The we average the x_low(), ylow() of these IPINs as the final coordinate to return.

[2021-03-05 23:41] tangxifan commented on #1580
@vaughnbetz Thanks for the insights.
 I double checked the rr_graph builder
- SINK/SOURCE nodes actually use an coordinate of the bounding box of a grid.

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/574525c9f14e4c2c8856ee992d37888eaa0b3526/vpr/src/route/rr_graph.cpp#L1437

You can see (xlow, ylow) is the left-bottom point of a grid, while (xhigh, yhigh) is the top-right point

[2021-03-05 23:48] nanjekyejoannah commented on #1643
Am opening a PR tomorrow, after some verification, sorry I had some school work holding me this week.

[2021-03-06 00:11] jgoeders opened #1683 "/dev/pylint_check.py should take file arguments"
`/dev/pylint_check.py` should take a variable number of arguments that point to files to lint, instead of the default of linting all files.

#### Proposed Behaviour

#### Current Behaviour

#### Possible Solution

#### Context

[2021-03-06 00:37] vaughnbetz commented on #1580
Thanks @tangxifan. I agree.

[2021-03-06 00:49] jgoeders commented on #1647
Looks like we were reading each log file file multiple times: once for each things we were looking for.  I'm fixing it in #1658 so that it groups parse items by filename and only reads each file once.

@tangxifan Can you see if this fix is faster for you?

[2021-03-06 02:52] tangxifan commented on #1647
Hi @jgoeders,
   Just run ``vtr_reg_strong`` tests on both a RAID disk and a SSD disk.
   The runtime for parsing results has been reduced by 50%.

Results on a RAID disk (was 36.08 seconds)

[code]

Results on a SSD (was 11.28 seconds)

[code]

[2021-03-06 05:16] jgoeders commented on #1680
If you specify `--pack --place` then only packing and placement will be run and then it will stop.  Power estimation requires the full flow to be run, so just remove these arguments and then it should work.

[2021-03-06 05:16] #1680 closed

[2021-03-06 05:34] rourabpaul1986 commented on #1680
I understood, I think the blink.v has some issue, because the same commands
are working on other other verilog file. I have solved the problem. Thank
you for the report.
I want to report another issue. The VTR flow does not support input output
declaration in the module of sub circuit.
Let us have two example codes : code 1 and code 2. The  code 1 will not
have any issue if you run it in Odin II,

[2021-03-06 07:19] rourabpaul1986 commented on #1665
I have also faced the same issue in Odin II, multi dimensional reg array is supported but multi dimensional wire array is not supported here

[2021-03-07 15:30] #1659 closed

[2021-03-07 18:32] tangxifan commented on #1580
@vaughnbetz I have started the code implementation. But I have realized a serious problem:
There is no input edge storage for any ``rr_node`` in current data structure.
Without the input edge list, I cannot find the IPIN nodes that drive a SINK node easily.
As you said that SINK node position is very critical, it has been a critical roadblock then.

Therefore, I would like to learn any solution th

[2021-03-07 21:38] #1683 closed

[2021-03-08 18:03] nanjekyejoannah commented on #1643
This is my analysis, the way you are doing block instantiation in the generate statement seems strange.
See the use of iter, compare to how you did the same in the manual instances.
[code]
For example, the first instance from the loop will be:

[code]

Instead of the intended:

[code]
If you want to test, copy one of the manual instances to the generate statement, no loop, and the output files wil

[2021-03-08 18:19] nanjekyejoannah commented on #1643
This is my analysis, the way you are doing block instantiation in the generate statement seems strange.
See the use of iter, compare to how you did the same in the manual instances.
[code]
For example, the first instance from the loop will be:

[code]

Instead of the intended:

[code]
If you want to test, copy one of the manual instances to the generate statement, no loop, and the output files wil

[2021-03-08 20:09] litghost commented on #1580
So one memory efficient way to do this is change how `rr_graph_storage` sorts the edge arrays, see https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/ce725b0f6b1b3fef1b880a5618b390cfd77a2552/vpr/src/route/rr_graph_storage.cpp#L406-L413
 When you do this kind of sorting, you need to put it back once you are done.

Basically the process would look something like:
 - Sort edges from de

[2021-03-08 21:18] aman26kbm commented on #1643
Thanks, @nanjekyejoannah

Can you please provide the code for the generate loop that I should use?

I think
`q_a_long[32*iter+:32]`
should expand to:
[code]

[2021-03-08 21:24] sdamghan commented on #1643
@aman26kbm I think this code works, however, would you please test it and let us know about the final results?
[code]

[2021-03-08 21:27] aman26kbm commented on #1643
I can try that, but this
`q_a_long[32*iter+:32*iter]`
is not allowed in Verilog. The width expression (the part after the `+:`) should be a constant.

[2021-03-08 22:14] nanjekyejoannah commented on #1643
Apologies, I may have missed something.

Please test and confirm. I think the generate statement itself has no issue..its maybe how we are dealing with instantiating the blocks.

[2021-03-08 22:17] sdamghan commented on #1643
@aman26kbm  Yes, that's true. You are right.
@nanjekyejoannah  I have just tried the following codes in Odin, the simulation results of both were the same. I have also attached the input and output vector for the simulation. Would you please have a look at blif files? Moreover, Odin does not throw an error while facing with non-constant value after ``+:`` operation however it should.

[generate_st

[2021-03-08 22:24] nanjekyejoannah commented on #1643
@sdamghan , so to see if I understand, are we now solving to make sure Odin throws the error for the faulty behaviour of using non-constant values when instantiating the blocks? Then this means we are now investigating another issue related to how Odin
is handling instantiating.

[2021-03-08 22:31] sdamghan commented on #1643
@nanjekyejoannah first, please make sure the provided code working properly (i.e. generate loop instantiates the hard blocks correctly and produces the same results as we instantiate them manually and outside of the loop). Moreover, please see why Odin does not show any error while facing a non-constant (the value of ast_node is not vNUMBER).

[2021-03-08 22:40] nanjekyejoannah commented on #1643
@sdamghan, I think

1. the fact that we can not have non-constants is why instantiating hard blocks this way i.e  in a loop is problematic in the first place but let us talk about this tomorrow I guess.
2. I think I can go on to work on the check to show an error for constants in this scenario as we think about 1

[2021-03-08 22:49] sdamghan commented on #1643
@nanjekyejoannah Please consider this as well, http://staff.ustc.edu.cn/~songch/download/IEEE.1364-2005.pdf#G6.118955

[2021-03-09 01:00] vaughnbetz commented on #1580
Could we do this operation once (at rr_graph build or load time) by walking through an on-demand created fanin edge list (routines to create it exist), and updating the location of a SINK to be the average of the fan-in IPINs?  Then this computation moves out of the CPU- and memory-critical router routines.  I think it achieves the same results as computing the average of the pin locations during

[2021-03-09 01:23] aman26kbm opened #1687 "Need to enable vtr-reg-coffe test in nightly regressions"
It was disabled because the golden results needed to be updated. The outdated golden results were causing spurious failures.

See: https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1686 and https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1666

[2021-03-09 05:14] jgoeders commented on #1680
You should probably open another ticket for that. I don't do any work on the Odin tool.

[2021-03-09 08:56] rourabpaul1986 opened #1688 "power data is not generated with sdc file, says "Power analysis only supported on single-clock circuits""
I have one simple circuit stated below
`_____________source________________
module SYNCHRO (ASYNC,SYNC,CLK);
  input ASYNC;
  input CLK;
  output SYNC;
  wire C1_ASYNC;
  DFF DFF1(
    .Q(C1_ASYNC),
    .D(ASYNC),
    .CLK(CLK)
  );
  DFF DFF2(
    .Q(SYNC),
    .D(C1_ASYNC),
    .CLK(CLK)
  );
endmodule
module DFF (Q, D, CLK);
  input D, CLK;
  output reg Q;
  always @ (posedge CLK)
    Q <= D;
e

[2021-03-09 14:50] vaughnbetz commented on #1647
Thanks @jgoeders. Nightly should pass now; Aman had some stale QoR data in a new regtest he added and he has disabled that test until he has time to get the QoR data updated.  So if you do a PR the nightly should pass and we can merge this

[2021-03-09 15:05] sfkhalid commented on #1666
As discussed in the last symbiflow meeting, I added a command in the CI script to gzip the output .net files from the vtr_reg_nightly tests in #1678. After adding this command, the disk space of vtr_flow/tasks/ was reduced from 87G to 65G.
The full breakdown of space in vtr_flow/tasks/ can be seen in the log file below
[nightly_disk_space_after_gzip.txt](https://github.com/verilog-to-routing/vtr-v

[2021-03-09 15:17] litghost commented on #1666
Great minds et all, see https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1678/files#r590454170

[2021-03-09 22:43] jgoeders commented on #1071
This has been a while now, so I'm going to close the issue.  If you can provide the exact command + files to reproduce the issue I would be happy to re-open the issue and look into it.

[2021-03-09 22:43] #1071 closed

[2021-03-10 14:52] sfkhalid commented on #1666
After zipping all of the files from nightly, the vtr_flow/tasks/ directory is reduced to 3.7G. It took 15 minutes to zip all the files.

[2021-03-10 15:48] litghost commented on #1666
I think that is a good trade off, 15 minutes into a 17 hr run is probably fine.

[2021-03-10 15:53] litghost commented on #1666
No.  The 100 GB requirement is once the job is completed.  Basically kokoro copies the working space off of the VM and then kills the VM.  If that copy process exceeds 100 GB, then the job will fail.

[2021-03-10 16:26] vaughnbetz commented on #1666
OK, that sounds OK given what @litghost said.  We'd get more parallelism if we zipped each directory as the regtest completed so we might hide the 15 minute zip time (distribute it across multiple machines, so still worth considering if it's easy, but not essential.

[2021-03-10 16:50] jgoeders commented on #1647
@vaughnbetz  Hmm, my PR #1658 is still failing the nightly.  Not sure if this is from my changes or not, but it doesn't look like master is passing the nightly either.

[2021-03-15 22:54] #1647 closed

[2021-03-16 02:57] jgoeders commented on #62
Closing as this is quite old, and doesn't currently cause an error.

[2021-03-16 02:57] #62 closed

[2021-03-19 14:27] mkurc-ant opened #1690 "libvtrcapnproto doesn't follow file symlinks"
Whenever VPR is told to read a rr graph from a symlink to a binary (cap'n'proto) file it tries to read the symlink itself instead of following it.

#### Expected Behaviour
VPR should follow symlinks for a file path given for the `--read_rr_graph` command line option.

#### Current Behaviour
When it comes to load the graph VPR throws  this (or very similar)error:
[code]
In my case 125 is the size o

[2021-03-20 16:20] rodrigomelo9 opened #1691 "[QUESTION]: when the VTR project started?"
Hi. I want to add basic VTR's info at https://hdl.github.io/awesome/items/vtr/ and I am not sure about when the project started. The first commit in this repository is from 2011, but I found copyright notices from years before. Also useful to know when VPR started, to be documented at https://hdl.github.io/awesome/items/vpr.

EDIT: the first paper about VTR that I found is from 2011 (https://ieeex

[2021-03-20 16:38] rodrigomelo9 commented on #1691
I opened a draft PR (https://github.com/hdl/awesome/pull/184) to update VTR and VPR info at [hdl/awesome](https://github.com/hdl/awesome). Would be great a review from people involved in the project, to ensure the quality of the provided data.

[2021-03-20 22:04] mithro commented on #1691
FYI -- It is my understanding that VPR was part of Vaughn Betz's PhD. He then started the company RightTrackCAD which was acquired by Altera to become Quartus II. Vaughn let Altera at some point, came back to the University of Toronto, dusted off the original VPR and created VtR.

[2021-03-20 22:05] mithro commented on #1691
V. Betz and J. Rose, "VPR: A New Packing, Placement and Routing Tool for FPGA Research,'' Seventh International Workshop on Field-Programmable Logic and Applications, London, UK, 1997, pp. 213 - 222.

[2021-03-20 22:05] mithro commented on #1691
https://www.eecg.utoronto.ca/~vaughn/publications.html

[2021-03-22 12:05] rodrigomelo9 commented on #1691
Hi @mithro, so VPR is around 1996/7. Thanks for the info and the provided links. I am still not sure about dates, but for sure before 2011 :-D I will try to found when VtR started. Regards

[2021-03-22 13:50] #1642 closed

[2021-03-22 14:05] #1651 closed

[2021-03-24 23:20] tangxifan commented on #1691
@rodrigomelo9 You may refer to the https://janders.eecg.utoronto.ca/pdfs/p77-rose.pdf which is the 1st paper that announces the VTR project. It was published in FPGA'2012.

Before that, only VPR codes are released. As @mithro said, the first version is VPR 4.3 which is published at FPL'1997.
Some major update are
- VPR5 which is published in FPGA'2009
- VPR6 which is published in FPGA'2011
- VPR7

[2021-03-25 02:28] rodrigomelo9 commented on #1691
Great! The paper that you mentioned is from February 2012, so VTR is probably from 2011, which is where the repository was initialized :-D

Thanks! I think that it was solved (I will use 1997 for VPR and 2011 for VtR).

Regards,
Rodrigo

[2021-03-29 20:15] aman26kbm opened #1698 "Routing utilization histogram printed by VPR has a missing bin"
VPR log contains a routing utilization histogram. Here's a snapshot from a vpr log:

[code]

The code in vpr/src/route/channel_stats.cpp prints this. It's missing the 0.6-0.7 bin:

[code]

The 0.6-0.7 bin needs be added.

@MohamedElgammal , please take a look.

[2021-03-29 20:26] dlrauch15 opened #1699 "[ODIN] Remove the requirement that module instantiation port assignment order must match port order in module definition."
Right now, ODIN requires that port assignments in module instantiations must match the order in which the ports are defined in their module definitions. While this is a simple requirement to satisfy for hand-written RTL designs, it is a challenge when dealing with large HLS-generated designs that can be 10s of thousands of lines long with 10s to 100s of module instantiations that do not obey this

[2021-03-30 13:18] sdamghan commented on #1699
@dlrauch15 , would you please attach a small Verilog sample code plus relevant input/output files? If memory helps me this wasn't a problem. Odin can only do either port connection by name OR by ordered list. However, it cannot perform the combination of them.
[code]

[2021-04-01 16:58] vaughnbetz opened #1702 "Remove excessive / spurious rr-graph warnings about inability to make direct connections at the edge of the chip"
#### Proposed Behaviour
We shouldn't warn about rr-graph connections that can't be made if they're at the edge of the chip, as this is expected behaviour. We get a lot of warnings right now; we should check if they're at edge of the chip and expeccted, and not print the warnings if they are.

#### Current Behaviour
Pointless warnings printed.

#### Possible Solution
Check if you are at the edge of

[2021-04-06 05:21] harpreetbamrah opened #1703 "Odin: Default data type should be wire"
#### Expected Behaviour
Data type should be inferred as wire if not specified

#### Current Behaviour
Odin does not default data type to wire when there is no wire/reg definiton

#### Possible Solution

#### Steps to Reproduce
[code]

#### Context
Happened while investigating #1410

#### Your Environment

* VTR revision used:
* Operating System and version:
* Compiler version:

[2021-04-11 02:05] aman26kbm commented on #1699
Hi @sdamghan , just wanted to clarify. The issue is not with port connection by name or ordered list. The issue is with the requirement of matching the order in which the ports are defined in the module definition and the order in which they are provided on the module instantiation.

Example:
Let's say this is the module definiton:
module mymodule(
input x,
input y,
output z);
...
endmodule

Or it

[2021-04-11 02:10] dlrauch15 commented on #1699
That is correct but it sounds like Seyed is saying he believes that works (see the second line in his provided code). I will investigate this more next week.

[2021-04-11 02:10] aman26kbm opened #1705 "[ODIN] Enable users to provide a pragma to decide how to infer a 2d array"
Moving an email discussion to a github issue for better tracking.

[Seyed]
Previously, every array of registers considered as an implicit memory block.
By last changes, a threshold has been considered for inference of implicit memory blocks. That means if the size of register array (or previously depth of the implicit memory block) is less than the threshold, Odin does not infer the array of regis

[2021-04-11 02:13] aman26kbm commented on #1665
Moving bit slicing support problem from email to this github issue for better tracking:

[Aatman]
Example code:
[code]

This gives an error, even on the branch where array support is enabled.

[Seyed]
   Actually, the aforementioned syntax is not yet supported for bit slicing in arrays (Some array problems like two brackets usage (2D or similar) have still remained). However, the infrastructure fo

[2021-04-12 20:31] dlrauch15 commented on #1699
Hi @sdamghan,

I confirmed that mixed port instantiation order works for simple cases, but not more complex ones. Here is a minimal test case that reproduces the issue:

[code]
The problem goes away if I remove any of the four ports, or if I reorder the ports in some ways (I did not try every possible order, but this one fails).

The error message I get is:
[code]
Let me know if there's any other

[2021-04-13 03:17] sdamghan commented on #1699
Thanks, @dlrauch15 , This is quite odd behaviour. If the output is not defined at the first line, the error will disappear. This happens while I have tested other files like this and did not see anything similar. Anyway, this is a bug; let me go through it, and I will let you know.

[2021-04-16 04:43] harpreetbamrah commented on #1703
may refer to object "out" in regression_test/benchmark/verilog/syntax/multi_clock_reader_writer.v

[2021-04-19 15:39] sfkhalid opened #1711 "vtr_reg_nightly run failures"
vtr_reg_nightly is currently having six run failures.
#### Expected Behaviour
All of the runs should pass.

#### Current Behaviour

Six runs are failing.

The runs that are failing are all run with similar command line arguments. Many command line arguments are specified, including --fix_clusters and --sdc_file.

The failures can be seen in the following log file:
[log_with_nightly_failures.log](h

[2021-04-22 17:00] sfkhalid commented on #1711
@acomodi Are the sdc files used in the commands mentioned in point 1 coming in from the symbiflow repo? I don't see the sdc files in the directory /vtr_flow/benchmarks/symbiflow/sdc/ on github and I was thinking that may be the reason for the vtr_reg_nightly failures

[2021-04-22 17:01] sfkhalid commented on #1711
@MohamedElgammal Could you add in the necessary checks in the move generators as mentioned in point 2? This may be the source of the vtr_reg_nightly failures, but also the .is_fixed check should be added to each move generator anyway.

[2021-04-22 17:34] vaughnbetz commented on #1703
@seyed: I suspect you're the bet person to look into this.

[2021-04-22 17:36] vaughnbetz commented on #1705
Suggest investigating the Xilinx, Synopsys and Intel pragmas and trying to align with at least one of them.

[2021-04-22 17:36] sdamghan commented on #1703
Thanks @vaughnbetz ,
We are actually working on this issue on the CASA fork. Will make a PR and let you know when it's done.

[2021-04-22 17:47] vaughnbetz commented on #1711
@kgugala can you take a look?  As you noted in the meeting, there is an error embedded in a warning (which is itself a bug I think), and it flags some issue with the arch.xml.

[2021-04-22 18:03] MohamedElgammal commented on #1711
@sfkhalid The checks are done in the pick_from_block() function that is used to select the moving block for all moves except the feasible_region and the critical_unifrom moves. That's why we added the check to both of them explicitly.
The to_block_is also checked in is_legal_swap_to_location() function.

[2021-04-23 11:20] acomodi commented on #1711
@sfkhalid the SDC alongside with the synthesized circuit are coming from artifacts generated by the symbiflow-repo. See the [download_symbiflow](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/aeddc0229b47b22de3b80ae93ec51f8399060b87/vtr_flow/scripts/download_symbiflow.py#L17-L21) script for more info.

I am looking into the issue in the symbiflow side at the current VTR head, an

[2021-04-23 19:10] vaughnbetz commented on #1711
@acomodi @sfkhalid : Sarah was recently modifying that file, so Sarah if you're able to run this locally it is probably worth you taking  look too.  And if you don't know how to run it locally hopefully @acomodi can point you at documentation (and if there isn't any, we should put it on the developer guide somewhere).

[2021-04-23 20:53] sfkhalid commented on #1711
Sure, I'll take a look into it.

[2021-04-23 20:56] sfkhalid commented on #1711
@acomodi When is the seg fault taking place? Is it when you run the commands that are failing in the above log file?

[2021-04-26 06:25] acomodi commented on #1711
I have tried to use one of the latest failing [VTR versions](aeddc0229) in [symbiflow-arch-defs](https://github.com/SymbiFlow/symbiflow-arch-defs). I am currently trying to run the symbiflow VtR nightly tests to see if I get the same segfault, or at least reproduce the issues seen in CI.

[2021-04-26 07:26] acomodi commented on #1711
@sfkhalid By further debugging the issue, I found out the following:

1. The VTR nightly issue is not related to the fix in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1713. What we can see from the failing logs is the following:
[code]
The problem here is that the IPAD_GTP_VPR model does not have any pin with a combinational connection, therefore this should rather be a warn

[2021-04-26 08:27] acomodi commented on #1711
@sfkhalid I have opened [this PR](https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1714)) that adds a `strong_place` regression test that runs against a pre-computed `.net` file. This test can be used to trigger the segfault

[2021-04-26 14:25] vaughnbetz commented on #1711
Thanks Alessandro.  That hypothesis makes sense -- Sarah, I don't recall seeing any separate pack, then place tests.  In addition to fixing the bug we should fix that testing hole with some more separate pack then place reg tests as this is pushed.

[2021-04-26 15:01] sfkhalid commented on #1711
Thanks Alessandro. What you are saying makes sense, if the pack stage wasn't run it could cause those issues in the placement stage.

Vaughn, yes, in terms of fixing the bug I think the cluster constraints data structure should be initialized independent of the pack stage. I will add tests to check this as I go along.

[2021-04-30 14:51] sfkhalid opened #1716 "Python Lint CI Failures"
The python lint tests are currently failing on the CI because of two scripts that have python lint errors.

#### Expected Behaviour
The python lint tests should pass.

#### Current Behaviour
The python lint tests fail because two scripts have lint errors - run_vtr_task.py and util.py

![image](https://user-images.githubusercontent.com/61606358/116712391-ced7a580-a9a1-11eb-8402-166937892ff9.png)

!

[2021-05-04 17:35] mithro opened #1717 "Broken images on https://docs.verilogtorouting.org/en/latest/vpr/debug_aids/"
The page at https://docs.verilogtorouting.org/en/latest/vpr/debug_aids/ seems to have broken images for;

![Screenshot from 2021-05-04 10-34-46](https://user-images.githubusercontent.com/21212/117045450-60a62200-acc4-11eb-9fde-fbc2998981be.png)
![Screenshot from 2021-05-04 10-35-06](https://user-images.githubusercontent.com/21212/117045483-6b60b700-acc4-11eb-9e2e-5dcb786ba7e7.png)

[2021-05-04 17:36] mithro commented on #1717
Page works when viewed at https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/doc/src/vpr/debug_aids.rst