[2021-05-04 17:37] mithro commented on #1717
![Screenshot from 2021-05-04 10-36-21](https://user-images.githubusercontent.com/21212/117045651-977c3800-acc4-11eb-8c14-2f3a3ac24d21.png)
![Screenshot from 2021-05-04 10-36-38](https://user-images.githubusercontent.com/21212/117045676-a19e3680-acc4-11eb-94c2-e2a4fd456ab7.png)

[2021-05-04 17:37] mithro commented on #1717
Looks like this documentation was added by @MahshadJ ?

[2021-05-06 17:21] #1716 closed

[2021-05-06 17:40] vaughnbetz commented on #1711
@acomodi believes this is fixed now; was a CI download from symbiflow issue. @sfkhalid please update this if the new CI passes (can close).

[2021-05-07 14:50] mkurc-ant opened #1721 "Inconsistency between post synthesis BLIF and Verilog netlists"
VPR can write post synthesis netlist (it is more of a post-pnr netlist IMO) as BLIF and Verilog. In the BLIF file unconnected input and output ports are tied to special nets named `__vpr__unconnXX` which is fine. However, in the Verilog file they are not represented correctly.

#### Expected Behaviour
In post synthesis netlist in Verilog format:
 - unconnected input cell ports should be unconnecte

[2021-05-08 01:02] #1699 closed

[2021-05-09 16:21] sfkhalid commented on #1711
The CI passed all the tests including nightly on #1704, this issue can now be closed.

[2021-05-13 16:06] vaughnbetz opened #1727 "Broken documentation links in read_the_docs, but not in direct viewing of .md files on github"
Most VTR documentation is generated with read the docs, but a few key pieces of documentation are in .md files in the root directory of the vtr repo (e.g. README.developers.md, CONTRIBUTING.md, SUPPORT.md).  You can see a full list at https://github.com/verilog-to-routing/vtr-verilog-to-routing

The read the docs documentation has links to some of these .md files, and they aren't working (get a fi

[2021-05-13 16:17] mithro commented on #1727
FYI -- @acomodi and @rw1nkler

[2021-05-13 17:45] vaughnbetz commented on #1721
Discussed in meeting; agreed that we can copy the blif behaviour so long as it doesn't confuse downstream verilog simulators.
- Also test this to make sure this works with a simple design and a post-routing simulation.
- Suggestion: allow these unconnect inputs to be driven to 0, 1 or X (leave unconnected) by default.

[2021-05-17 00:56] startwarfields opened #1729 "Constant flushing of buffer cripples writing speed of Routing Resource Graph to XML"
Greetings! I found an issue with xml file output and have implemented an adhoc fix.

#### Expected Behaviour
Writing the Routing Resource Graph to XML should perform at worst case the rated 4K write speeds of the device being written to.

#### Current Behaviour
std::endl appends a newline to the stream and flushes the buffer. The 42 uses of endl in rr_graph_writer.cpp causing flushes at every newl

[2021-05-18 09:45] mkurc-ant opened #1730 "genfasm does not do post routing pb pin fixup"
For blocks with equivalent pins cluster routing gets updated after device routing to accommodate for changes in which pins are actually used. This is done when the analysis flow is run via the `sync_netlists_to_routing` function. However this is not done in genfasm which leads to incorrect FASM faeture emission.

#### Expected Behaviour
genfasm should do post routing pb pin fixup so that FASM feat

[2021-05-22 15:18] sdamghan commented on #1369
@HMoein87 :  @ArashAhmadian is one of UoT students working on improving the regression test. He has recently faced the same issue you have been working on last semester.
In [64-16bit-fixed-JACM.v.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/6526667/64-16bit-fixed-JACM.v.txt), Odin_II throws an error at line 1057. When we use a constant value, like 10, instead of depth at

[2021-05-22 16:03] akshar001 opened #1735 "XC7 :: Computing wire lookahead STUCK!!"
Hello,

We have synthesis one Verilog file for Our Arty A7-35T board using Symbiflow.
Now we are trying to generate .SDF file using post-synthesis-timing tool but VPR stucks at.
Computing wire lookahead

I am supplying the files xc7.xml and top.eblif which we are using

Our command in terminal is ,

vpr xc7.xml top.eblif --gen_post_synthesis_netlist on

[code]

These are the end logs we are gettin

[2021-05-23 01:16] sdamghan commented on #1643
@nanjekyejoannah Would you please provide an update on this issue? I would highly recommend you to create a PR and push your changes

[2021-05-25 02:10] sdamghan opened #1738 "VNumber copy constructor with a new length does set defined_size attribute"
#### Expected Behaviour

When a new VNumber is created using a copy constructor with a new length, the `defined_size` value should set to `true`.

#### Current Behaviour

A new VNumber is created with a new size while the `defined_size` is false.

#### Possible Solution

Creating a new VNumber using copy constructor with a new length, the `defined_size` should set to `true`.

#### Steps to Reprodu

[2021-05-25 20:05] ethanroj23 opened #1740 "Implementation Methods for RRGraphView API"
## Overview
In my implementation of API function calls for the RRGraphView class, I have come up with several methods that could be used. Before adding several hundreds of function calls, I figured it would be good to have some input. The three methods are included below. I am currently leaning towards method 2 or 3. Soon after Xifan's PR (#1693) is merged, I will make a PR which will add these ca

[2021-05-25 21:23] vaughnbetz commented on #1740
I'd go for 1 or 2 (no strong preference between them on my part).  I don't like #3 as the cast to RRNodeId is pretty mechanical and adding a temporary for it just creates additional names to keep track of.

In some cases you may be able to pass in an RRNodeId (change the type of the input parameter) to avoid the conversion to RRNodeId.  If that can be done without undue effort it is better, as it

[2021-05-25 22:13] tangxifan commented on #1740
I agree with @vaughnbetz that 1 and 2 are better than 3.
Between 1 and 2, I prefer 2 because it is easier for future refactoring (in my opinion).
2 allows us to easily add RRGraphView as an input argument of the function when we plan to get rid of global variable usage in these functions.

[2021-05-25 23:14] nelsobe commented on #1740
I agree with both of the above.  I would vote for #2 given a choice but it is not super strong.

[2021-05-26 02:13] vaughnbetz commented on #1740
I say we go for #2 then to make future refactoring easier, and since you find it more readable Ethan.

[2021-05-26 20:55] sdamghan commented on #1409
@nanjekyejoannah Would you please provide an update on this issue?

[2021-05-26 20:58] sdamghan commented on #1634
Solved in PR #1660
Closing the issue

[2021-05-26 20:58] #1634 closed

[2021-05-27 02:25] nanjekyejoannah commented on #1409
@sdamghan, I have extensions to the work I presented during the seminar,  that I am working on in time for publication. Once I have all results for this extension work, I will avail the PR. Thanks for the reminder.

[2021-05-27 20:11] ethanroj23 commented on #1740
We have decided on method #2 for now.

[2021-05-27 20:11] #1740 closed

[2021-05-27 23:07] ArashAhmadian opened #1743 "vpr_power_detailed.txt parse-results missing parameter"
Using parse_power_detailed.txt as parsing file will result in incomplete QoR results. Currently, vpr_power.txt is being used in parsing of strong_power under vtr_regression/strong which I suspect is the reason this has not been noticed.

#### Expected Behaviour
QoR results should contain all required parameters.

#### Current Behaviour
![parse_power_detailed](https://user-images.githubusercontent.

[2021-05-28 18:08] ArashAhmadian commented on #1738
@sdamghan PR #1739 didn't fix the concatenation issue we discussed in email.
![Capture](https://user-images.githubusercontent.com/70601261/120024758-a4d3cc00-bfbd-11eb-90b7-a1367800d63a.JPG)
It has the same behaviour as prior to the PR.

[2021-05-28 19:08] sdamghan commented on #1738
@ArashAhmadian That's weird! I've just checked the pipelined_fft_64.v_ with Odin_II, and it worked properly.
Would you compile again and run the following command in the ODIN_II directory? Please let me know the result.
`./odin_II -V ../vtr_flow/benchmarks/arithmetic/generated_circuits/opencores/verilog/pipelined_fft_64.v`

[2021-05-28 19:25] Xiretza opened #1745 "Fails to build with GCC 11.1"
#### Expected Behaviour
vtr compiles.

#### Current Behaviour
Compiling vtr with GCC 11.1 fails:

[code]

#### Possible Solution

This is caused by: https://github.com/gcc-mirror/gcc/commit/10f51543bb81cc953792270b40a9c812049e8b4c

`__glibcxx_assert` now includes a compile-time static assertion even if `_GLIBCXX_ASSERTIONS` are disabled, so the [assert in `std::vector::swap`](https://github.com/gc

[2021-05-28 19:43] ArashAhmadian commented on #1738
@sdamghan I had forgotten to compile ODIN after pulling :) (sorry) . It synthesizes properly based on the results of the command you sent.  However, when running the open_core task an assertion fails:
[code]
It is weird how it synthesizes properly when running Odin on its own but fails when running it through flow.

[2021-05-28 19:47] sdamghan commented on #1738
@ArashAhmadian no worries, the above issue is different from the previous one. This one caused by the architecture file, not the Verilog file. I will investigate more on this, would you please create another issue on this matter? Thanks

[2021-05-28 19:50] ArashAhmadian commented on #1738
@sdamghan Will do. Thanks

[2021-05-28 19:57] vaughnbetz commented on #1745
Thanks for flagging this.  Since you have a proposed solution I suspect you're in the best position to attempt a fix, if you have the time to look into this further.

[2021-05-28 20:03] Xiretza commented on #1745
I can try to look into it, but I don't really know anything about VTR internals, so it will probably take me a while to get something working.

[2021-05-28 20:18] vaughnbetz commented on #1745
Thanks.  Adding @MohamedElgammal as he knows the vtr_vector code so perhaps he has a thought too.

[2021-05-29 04:31] ArashAhmadian opened #1748 "[ODIN] Assertion failure with ripple carry architecture files"
Synthesis fails with [pipelined_fft_64.v](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vtr_flow/benchmarks/arithmetic/generated_circuits/opencores/verilog/pipelined_fft_64.v) given a ripple carry architecture file .
#### Expected Behaviour
Should synthesize
#### Current Behaviour
The following assertion fails:
[code]
#### Steps to Reproduce
Run vtr_flow with the followi

[2021-05-29 04:36] ArashAhmadian commented on #1748
@sdamghan Kindly take a look at this when you find the time. Thanks.

[2021-06-01 10:21] #1735 closed

[2021-06-01 15:59] #1745 closed

[2021-06-01 19:23] vaughnbetz opened #1752 "Should print <none> for floorplan constraint file if no file is specified (not blank)"
If no floorplan constraint file is specified, vpr still echoes out the floorplan constraints file (blank).  It should instead say something like "none".

#### Expected Behaviour
Print out a line that clearly shows no floorplan constraint file is being used.

#### Current Behaviour
Prints:
Vpr floorplanning constraints file:

#### Possible Solution
Print:
Vpr floorplanning constraints file: not spe

[2021-06-02 02:35] mithro opened #1754 "Retire gcc-5 and gcc-6 support"
Follow on from https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1750

We no longer need to support GCC 5 as according to https://wiki.ubuntu.com/Releases -- Ubuntu - 16.04.7 LTS - Xenial Xerus - End of Standard Support: April 2021. Thus I think we can drop 16.04 support.

We no longer need to support GCC 6 as according to https://wiki.debian.org/DebianReleases#Production_Release

[2021-06-02 02:36] mithro commented on #1754
FYI - @Xiretza

[2021-06-02 02:38] mithro opened #1755 "Remove travis name from CI scripts"
Travis CI is no longer used on this project but there still exists a [`.github/travis` directory](https://github.com/verilog-to-routing/vtr-verilog-to-routing/tree/master/.github/travis).

I assume this is because these travis scripts are used by Kokoro or GitHub Actions? If so, they should probably be moved / renamed.

[2021-06-02 02:38] mithro commented on #1755
FYI - @umarcor and @Xiretza

[2021-06-02 02:41] mithro opened #1756 "Actually build the Dockerfile on CI"
Currently there is a Dockerfile @ https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/Dockerfile

I'm pretty sure this Dockerfile is currently broken due to trying to use a trusty base image which hasn't been supported for a very long time.

I suggest we start building and publishing the Docker images using the GitHub Container Registry (ghcr.io) & Google Container Registry (g

[2021-06-02 02:42] mithro commented on #1756
FYI - @umarcor and @Xiretza

[2021-06-03 05:26] nanjekyejoannah commented on #1643
Please unassign me from this issue. Its clear I wont get back to it.

I had to context switch to the project, at the point where we thought, ODIN was not reporting errors on non-constants, which I confirmed was false.

For anyone taking on the issue, I will leave the following pointers as shared by @sdamghan.

As a clue, please consider the following:

- Decrease the the number of for iteration to

[2021-06-03 17:07] #1754 closed

[2021-06-04 01:58] mithro opened #1765 "Move to newer clang-format"
#### Expected Behaviour

Currently we use `clang-format-7` on Verilog to Routing. [`clang-format` is now up to version 13.](https://clang.llvm.org/docs/ClangFormat.html).

clang also helpfully provides precompiled versions of its tools for all major currently supported apt based distros at https://apt.llvm.org/

Given that `clang-format-11` is considered the current "oldstable" version. I suggest

[2021-06-04 02:07] mithro commented on #1765
@Xiretza want to take a look?

[2021-06-05 19:34] vaughnbetz commented on #1755
Makes sense to me.

[2021-06-05 19:39] vaughnbetz opened #1767 "Add doxygen documentation of atom_netlist and clb_netlist to vpr API web documentation"
The base netlist class is documented in the vpr api documentation in read the docs, but the derived atom and clb netlists are not. Those netlists have doxygen-compatible comments already, so they should be added to the doxygen build settings in the documentation so they show up in the read-the-docs documentatin.

#### Proposed Behaviour
Doxygen comments (which already exist) should create new vpr

[2021-06-06 16:33] mithro commented on #1767
@rw1nkler - Any idea why these are not showing up?

[2021-06-07 22:05] bheiner14 opened #1768 "Add the ability to perform detailed routing with different channel widths"
Hi, I am a BYU CCL student working with Jeff Goeders and have been working on an improvement to the detailed routing so that we can specify different channel widths and distributions in the x and y direction.

#### Proposed Behaviour
This change would allow the user to specify a different channel distribution and peak in the x and y directions for detailed routing.

#### Current Behaviour
Currentl

[2021-06-08 16:10] brycejh opened #1769 "Add option to have wire segments run only vertically and/or horizontally"
Hello, I'm a BYU student working with Jeff Goeders, working on routing specifically. Currently any added segments listed in the architecture occur in both horizontal and vertical routing channels. Newer architectures often have certain segments that only occur in one of them, or occur in different frequencies depending upon position.

#### Proposed Behaviour
This would allow a user to specify if a

[2021-06-09 06:55] ArashAhmadian opened #1770 "[ODIN] ifdef-endif not recognized properly"
ifdef-endif seems to not be recongized properly by Odin. The adder circuits located [here](https://github.com/verilog-to-routing/vtr-verilog-to-routing/tree/master/vtr_flow/benchmarks/arithmetic/generated_circuits/adder_trees/verilog) are syntactically correct however Odin marks the output `sum` as undriven.
#### Expected Behaviour
Should synthesize without getting rid of the output `sum` as it is

[2021-06-10 16:48] rw1nkler commented on #1767
The derived classes need to be specified in the proper sphinx RST file, in the similar way as it is done for the base `Netlist` class:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/doc/src/api/vpr/netlist.rst#classes

As it was stated, those files should be already parsed by Doxygen and the references to them should be available in Sphinx.

[2021-06-10 16:53] vaughnbetz commented on #1767
@rw1nkler or @MohamedElgammal : can one of you add the two derived classes in the appropriate spot?

[2021-06-10 19:04] vaughnbetz opened #1774 "Make run_vtr_task/run_vtr_flow/config.txt all support directories with multiple files per benchmark"
Right now the script infrastructure for regtests, running suites of designs etc. in vtr assumes each benchmark consists of one file. We're slightly weakening that by allowing .vh include files, but it would be good to allow benchmarks to include an arbitrary list of files as that is usually how they are created. Right now we have to concatenate all the hdl into one big file, purely for script conv

[2021-06-10 19:43] aman26kbm opened #1775 "Fix path of parse_vtr_task.py in documentation"
The path of parse_vtr_task.py is incorrect at a couple of places in this page:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/README.developers.md
See the "Generating New QoR Golden Result" section.
@ArashAhmadian

[2021-06-10 21:26] ArashAhmadian commented on #1775
Thanks @aman26kbm. These paths have been in corrected in my PR #1728 (from a while back). They will be live once it merges.

[2021-06-11 07:37] Xiretza commented on #1765
Currently, Ubuntu 20.04 is the [latest available image](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#github-hosted-runners) for GHA. Unless we add new apt repositories (I'm not sure what the cleanest way to do that would be), the best we can get is clang 10: https://packages.ubuntu.com/search?suite=focal&arch=any&searchon=names&keywords=clang-format

[2021-06-16 13:27] #1748 closed

[2021-06-17 02:37] sfkhalid opened #1781 "vtr_timing_update_diff_titan reg test failures"
The regression test vtr_timing_update_diff_titan often fails when running on a local machine (specifically wintermute). So far, the test has not failed on the CI, although it has been running continuously on the CI.

#### Expected Behaviour
The test should pass every time when running locally.

#### Current Behaviour
The test fails more often than it passes when run locally. When it fails, the cau

[2021-06-17 18:32] vaughnbetz opened #1782 "Add Koios benchmark QoR example to the vtr developer guide, and add koios to CI"
The Koios benchmarks have been integrated into the vtr repo, but to have the most impact, we should do two more things:

1. Add a short description (and links to the benchmark README) to the VTR developer guide under the QoR Collection section: https://docs.verilogtorouting.org/en/latest/dev/developing/#collecting-qor-measurements
It should come after the Titan benchmarks (or maybe after the VTR b

[2021-06-17 23:11] aman26kbm commented on #1782
Thanks for filing this, Vaughn.

I will add to task #2. I need to add protection of benchmarks without the "\`define complex_dsp". And I need to update the documentation to mention how to run benchmarks with and without complex_dsp (the new include file method).

I will work on these within next week.

[2021-06-18 04:15] mithro commented on #1765
From https://apt.llvm.org/
`bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"`

See also `wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key|sudo apt-key add -` and
[code]

[2021-06-18 13:39] vaughnbetz commented on #1727
Any ideas @acomodoi and @rw1nkler ?

[2021-06-18 13:41] vaughnbetz commented on #1767
@rw1nkler @MohamedElgammal : nag, nag, nag ...

It would be really nice to have these in the readthedocs pages, as I'd like to point some new developers at them.

[2021-06-18 15:00] MohamedElgammal commented on #1767
@vaughnbetz will handle this and mention you in the corresponding PR.

[2021-06-18 15:15] vaughnbetz commented on #1767
Thanks @MohamedElgammal

[2021-06-18 16:30] mithro commented on #1727
@kgugala - Can you poke @acomodi and @rw1nkler to look into this ASAP.

[2021-06-18 16:51] acomodi commented on #1727
Sorry, lost track of this. I'll take a look. Possibly there is an issue with the recommonmark library.

[2021-06-21 11:10] #1767 closed

[2021-06-22 00:46] HMoein87 commented on #1369
seems the code is not complete. it has some declaration errors.

[2021-06-22 19:50] sfkhalid commented on #1752
Was resolved by pull request #1773

[2021-06-22 19:50] #1752 closed

[2021-06-23 07:07] ArashAhmadian commented on #1775
Closing issue.

[2021-06-23 07:07] #1775 closed

[2021-06-23 19:51] aman26kbm commented on #1782
I've created a new PR which includes the changes for task #1 mentioned in this issue.

@ArashAhmadian , can you please guide me on what changes to make changes for task #1?

[2021-06-23 20:00] ArashAhmadian commented on #1782
@aman26kbm Sure,  do you mean changes to add vtr_reg_nightly_test4 to CI? Your previous PR actually added the .cfg file and made the necessary changes in vtr_test.sh so I think  everything is good from our side.

[2021-06-23 20:03] aman26kbm commented on #1782
Right. That's great.
So, that means the Koios tests have been running in nightly regressions over the last week?

[2021-06-23 20:05] ArashAhmadian commented on #1782
I don't see them being run. I think @mithro needs to add the configs on the Google side of things for them to start running.

[2021-06-23 20:08] aman26kbm commented on #1782
Ok. Thanks. We can discuss this with @mithro in this week's VTR meeting on Thursday.

[2021-06-23 20:09] ArashAhmadian commented on #1782
Sounds good.

[2021-06-24 07:43] #1727 closed

[2021-06-24 08:21] siddhpant opened #1788 "Build fails due to errors in `Hashable.cpp`"
Ran `make CMAKE_PARAMS="-DVTR_ENABLE_SANITIZE=ON"`

#### Expected Behaviour
`make` should have been successful.

#### Current Behaviour
It fails, spitting the following:

[code]
In addition to this, I had encountered numerous warnings earlier in the process. I have lost the full dump since my terminal's buffer/history didn't store everything.

#### Steps to Reproduce

1. Download the latest tar.gz

[2021-06-24 18:41] ArashAhmadian commented on #1782
@aman26kbm What's your email? I am drafting the email to Arnaud and I can put you on it.

[2021-06-24 18:47] vaughnbetz commented on #1782
Aman is at aman.kbm@utexas.edu

[2021-06-25 09:48] kkumar23 opened #1790 "The Trunk Status QoR Tracking links are not working"
#### Expected Behaviour

The links ok the Trunk Status and QoR Tracking redirects to http://builds.verilogtorouting.org:8080/waterfall

#### Current Behaviour

But these seems to be broken or no access given!

#### Possible Solution

Fix the link or provide access

#### Steps to Reproduce

1. Go to homepage  https://github.com/verilog-to-routing/vtr-verilog-to-routing
2.  Under section Development

[2021-07-02 17:43] eminfedar commented on #1788
Same. I have tried to build just with `make` and these errors appeared.

My Environment

    VTR revision used: 8.0.0
    Operating System and version: Linux mi 5.10.0-7-amd64 #1 SMP Debian 5.10.40-1 (2021-05-28) x86_64 GNU/Linux
    Compiler version:
        gcc (Debian 10.2.1-6) 10.2.1 20210110
        Debian clang version 11.0.1-2
        GNU Make 4.3
        cmake version 3.18.4

[2021-07-05 20:04] #1738 closed

[2021-07-05 21:00] vaughnbetz commented on #1790
We've been moving away from the buildbot tracking to the CI integrated with github, but should either make those links work again or replace with github equivalents.  @MohamedElgammal let's discuss.

[2021-07-07 22:27] aman26kbm opened #1797 "Improvements/fixes related the power estimation flow"
This issues encompasses a few issues/improvements related to the power estimation flow.

### Documentation fixes/improvements
The documentation for the power estimation flow seems to have a couple of issues:
1. The hierarchy of headings doesn't seem correct (eg. Global Routing heading should be under Architecture Modelling)
2. The function name `power_calc_primitive`, referred to in the documentat

[2021-07-07 22:28] aman26kbm commented on #1797
@vaughnbetz , @jgoeders please take a look.

[2021-07-18 15:12] umarcor opened #1803 "Coordination with hdl/containers"
I'm about to add Verilog-to-Routing to the container collection in [hdl/containers](https://github.com/hdl/containers) (gcr.io/hdl-containers, ghcr.io/hdl, docker.io/hdlc). As commented in hdl/containers#38, there are some issues which I'm unsure about:

I'd be glad if maintainers/developers could help me solve those.

[2021-07-22 16:12] vaughnbetz opened #1806 "mcnc benchmarks in wrong place / missing in regtests"
1. Right now there appears to be an mcnc test over a bunch of benchmarks that tests implementation and formal equivalence in the regression_mcnc in vtr_reg_basic, but it isn't in the task list so it isn't running.
This test is probably too big and slow to be in basic anyway, but it shouldn't be in the directory then.

vtr_reg_strong has a smaller mcnc test (only a few circuits).  It doesn't check

[2021-07-22 16:19] vaughnbetz commented on #1806
@ArashAhmadian : let me know if this is something you can handle.

[2021-07-22 16:43] ArashAhmadian commented on #1806
@vaughnbetz Sure, I will look into this.

[2021-07-29 00:16] vaughnbetz opened #1808 "Runs with sanitization on seems to be running out of memory in github actions CI"
Approximately 10 days ago runs that use sanitization in CI (S: vtr_reg_basic, odin_basic_tests) started failing with an error code that indicates out of memory in the CI tests.  We also get some QoR test failures on those same designs that indicate peak memory footprint has increased by 14x. This is affecting multiple pull requests, so we haven't been able to track it to any recent code change.

@

[2021-07-29 00:26] vaughnbetz commented on #1808
@sdamghan : this PR https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1807 has a strange behaviour.  It appears Odin reg basic succeeded (which would be odd given the sanitization issues in CI) but when I look at the logs I see multiple sigabrts in Odin II runs, and a 14x vpr_peak_memory increase, which leads to QoR failures.  But the final regression test indicates success anyway

[2021-07-29 02:01] tangxifan commented on #1808
Thanks @vaughnbetz for summarizing the issue.

Here are the details:
- I see the sanity checks passed in past when we merge the PRs (even on the current master) but it starts to turn red last Monday when rerun these tests. So, it seems to me that Github runner has changed memory limits.
- I created a branch https://github.com/verilog-to-routing/vtr-verilog-to-routing/tree/test_sanity_basic , which

[2021-07-29 02:10] tangxifan commented on #1808
Here are the log files from my local runs on the sanity basic tests:

[basic_no_timing_ch_intrinsics_vpr.log](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/6897456/vpr_stdout.log)
[basic_no_timing_diffeq1_vpr.log](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/6897460/vpr_stdout.1.log)
[basic_timing_ch_intrinsics_vpr.log](https://github.com/verilog-to-routi

[2021-07-29 02:22] vaughnbetz commented on #1808
Thanks @tangxifan. That is a huge memory footprint increase; from ~300 MB to 6.6 GB or so then?

[2021-07-29 02:25] tangxifan commented on #1808
Yes. On the same test case ``basic_no_timing_diffeq1``, the local run log shows 250MB peak memory usage, while on the github runner it shows 6.6 GB.

[2021-07-29 02:27] sfkhalid commented on #1808
I re-ran the tests on #1802 today and so far of two of the tests that had been failing are passing (Test / S: Basic (push) and Test / ODIN-II Basic Tests (push))

[2021-07-29 02:36] hzeller commented on #1808
Was it ruled out that it could have something to do with large memory pages, which could be a configuration on the github machines in question ?
Wild speculation, but sanitizers often work by placing allocations near page lines to detect things automatically by triggering page faults on overruns.

[2021-07-29 02:53] vaughnbetz commented on #1808
I don't believe that has been ruled out.  Not sure how to check the configuration of the github runners though, and if they were changed.

[2021-07-29 03:06] tangxifan commented on #1808
Same on my side: https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1805

[2021-07-29 06:28] sdamghan commented on #1808
I had an issue with Github runner about a couple of weeks ago regarding a value in Yosys+Odin's expected outputs. The expected result generated in my Desktop (Ubuntu 20.04) was different from the one GitHub runner produced for a single value among all matched values. I ran tests on CentOS and the result matched. Although the git runner (`'2.279.0'`) OS is `Ubuntu 18.04.5 LTS`, I have generated the

[2021-07-29 06:46] ArashAhmadian commented on #1808
I was looking at some of the SIGABRTs earlier today and they seem to be Odin aborting due to e.g. not supported syntax, instantiating non-existent hard-blocks, etc. They don't seem to be actual failures, but expected behavior from Odin since the golden_results for simulation/synthesis match the produced results. Is this understanding somewhat correct? @sdamghan

There could be ones that go over th

[2021-07-29 06:54] sdamghan commented on #1808
@ArashAhmadian yes actually, those are showing SIGABRT are expected to fail. Current failures are for some benchmarks that overuse memory, while they do not use that much memory in local machines (even with sanitizer on). I suspected the issue might come from the runner OS; however, it seemed it was not our case.

[2021-07-29 08:35] sdamghan commented on #1808
@vaughnbetz PR #1807 _not failure_ status   was caused by the verification script. For VTR benchmarks the return value was not considered properly. The solution is pushed in PR #1807
Also in two PRs #1798 and #1807 that I have recently updated, there are no `Odin reg basic` or `Vtr reg strong` failures caused by memory limit!

[2021-07-29 13:39] vaughnbetz commented on #1808
Thanks for the detailed investigation @sdamghan and @ArashAhmadian.  That's good news the SIGABRTs are expected, and thanks for fixing the return value.  At least we have only one problem now: why github runners take so much memory with sanitizers on.

[2021-07-29 16:09] mithro commented on #1808
@kgugala - Could you help by getting someone with GitHub Actions experience from Antmicro to take a take a look at this?

[2021-07-29 16:19] vaughnbetz commented on #1808
@sdamghan : could you change the output from the Odin II regtest log to show "SIGABRT (expected)" or some such to indicate expected failures?  Or have the log file otherwise print some lines explaining that SIGABRT is a valid output, so long as it matches the expected output.  I imagine we may have others confused in the future by the log (as I was) thinking the SIGABRT status for various tests in

[2021-07-29 16:35] sdamghan commented on #1808
@vaughnbetz sure, I will add a comprehensive message explaining if any failure is expected.

[2021-07-30 15:37] #1755 closed

[2021-07-30 22:11] ArashAhmadian commented on #1806
Closing issue.

[2021-07-30 22:11] #1806 closed

[2021-08-02 11:35] TaoBi22 opened #1815 ""num_pins > 0" assertion fails during alloc_and_load_pb_graph_pin_lookup_from_index"
Hi,

I'm working on the FABulous project (https://github.com/FPGA-Research-Manchester/FABulous), aiming to add functionality to program our generated FPGA fabrics with VTR. I've come across an odd issue testing with our generated architecture descriptions, which I can't seem to find record of elsewhere, so any help anyone could give would be very appreciated.

Running with the following command ".

[2021-08-02 23:03] Daedgomez commented on #1788
Did you solve this error?

[2021-08-03 06:50] siddhpant commented on #1788
No... There were many warnings preceding this, and building upto this point took a loooong time on my machine, so I didn't compile again.

Although it seems like they had addressed this specific issue [back in 2020 itself](https://github.com/verilog-to-routing/vtr-verilog-to-routing/commits/master/ODIN_II/SRC/include/Hashtable.hpp), but the release is older than that so we have the earlier file.

[2021-08-09 19:28] heinerb1 opened #1823 "Runs are now failing Python Lint test in github actions CI"
After PR #1793 which dropped python 2.7 was merged into master yesterday, all runs are now failing the Python Lint test. According to the output, this test is failing due to lint errors in vtr_flow/scripts/run_vtr_task.py and no other files seem to have been affected.

[2021-08-09 21:59] mithro commented on #1823
[code]

[2021-08-12 21:50] vaughnbetz commented on #1823
This was fixed in PR #1821

[2021-08-12 21:50] #1823 closed

[2021-08-12 21:56] vaughnbetz commented on #1815
The "insufficient resources" message isn't a problem; you're running with an auto-sized fpga (the default), so a larger grid (chip) is created whenever it's clear the packer needs more resources.  So just consider those progress messages.

I'm also not sure of what's causing the assertion.  The first thing I'd try is the latest (master) code to see if the issue is already resolved though.  There h

[2021-08-12 21:59] vaughnbetz commented on #1803
Commented in https://github.com/hdl/containers/pull/38

[2021-08-12 22:05] vaughnbetz commented on #1797
Thanks @aman26kbm .  I see you've fixed the documentation in PR #1796 (merged). Thanks!
For the missing names in blif file: those look like they should be warnings to me (assuming the flow completes and produces power numbers).  The equivalent conditions in Quartus are warnings for example (found a name in the activity file but not the design).

We can remove nets from designs if they don't go any

[2021-08-12 23:24] nachiket opened #1824 "Resize VTR GUI from top-right corner"
When running remotely from a server from a Mac host, the VTR GUI window size exceeds screen height. The resize option and a few buttons happen to go below the screen and not clickable. Can there be an option to resize window from the top-right corner?

[2021-08-12 23:26] nachiket opened #1825 "Disable timing analysis for paths to/from IO pins"
In VTR SDC syntax, how do I disable timing analysis from input/output ports to the LUTs? I only want to do analysis on internal LUT-LUT paths.

I checked set_false_path and set_disable_timing but it does not look like either would work for this?

[2021-08-13 13:51] laiyao1 opened #1826 "track_memory_usage is not be used in run_vtr_flow.py"
#### Expected Behaviour
the run_vtr_flow.py get a parameter track_memory_usage and it decides whether to track memory.

#### Current Behaviour
this parameter has not be inputed in vtr command

#### Possible Solution
input into vtr.CommandRunner

#### Steps to Reproduce

1. run run_vtr_flow.py --track_memory_usage false

[2021-08-15 00:56] aman26kbm commented on #1797
Ah.. that's it. I checked the netlist/blif generated by VPR. It doesn't contain these nets. (I actually didn't know we could generate a post-implementation netlist from VPR. Thanks for my "you learn something everyday" dose for today :))

So, I guess these messages should just be warnings. I looked at the code that generates this message. It doesn't use the standard error logging function, it just

[2021-08-15 17:32] vaughnbetz commented on #1797
Thanks @aman26kbm .  That fix sounds good to me.

[2021-08-16 15:28] TaoBi22 commented on #1815
That's good to know, thanks!!

I'm trying to build master at the moment and having a couple of issues with my system but I'll report back once I've managed to get it up and running. A recent development is that adding an extra input port (to add another feature) to every tile and top-level pb_type seems to have stopped the assertion failing for some reason, but I'll see what happens on master with

[2021-08-16 22:50] mithro opened #1829 "SymbiFlow benchmarks not listed on benchmarking page in the documentation"
The page at https://docs.verilogtorouting.org/en/latest/vtr/benchmarks/ lists the benchmarks that VtR has.

It should list the SymbiFlow benchmarks?

[2021-08-16 22:53] mithro commented on #1829
@rw1nkler

[2021-08-17 15:24] sdamghan opened #1830 "The compatibility of VTR and Odin-II benchmarks with Yosys + Syntax errors"
#### Bugs
1. The width (or depth) parameter(s) for VTR primitive hard blocks, such as `single/dual_port_ram,` `multiply` and `adder`, should be specified in the instantiation process. Otherwise, these parameters are considered with their default value, i.e., 1. Odin-II inferred these parameters using the size of connected ports; however, such behaviour is non-standard, and other tools, like Yosys,

[2021-08-17 15:33] sdamghan opened #1831 "Documentation of Yosys+Odin-II Implementation"
#### Context

Full documentation of Yosys+Odin-II implementation, including new features, instructions to use, added libraries, testing process, etc., should be added to VTR docs.

#### Related PR / Issues
PR #1798
Issue #1830

[2021-08-17 16:23] sdamghan opened #1832 "Request for a Kokoro Runner"
#### Context

@mithro Would you please assign a new Kokoro runner for vtr_reg_yosys+odin? [[presubmit](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/d779c50137f3ef42a84dae438198531748b64847/.github/kokoro/presubmit/yosys%2Bodin_test.cfg)] [[continuous](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/d779c50137f3ef42a84dae438198531748b64847/.github/kokoro/conti

[2021-08-17 16:27] mithro commented on #1832
@QuantumHD - Can you do this for me? (Happy to show you how.)

[2021-08-18 02:34] QuantamHD commented on #1832
Yeah! Just let me know what I should do

[2021-08-18 10:35] TaoBi22 commented on #1815
I adjusted the file slightly to meet Odin II's sub_tile requirements that have been added since 8.0.0, ran again and it looks like the assertion is still failing - the new architecture file and vpr.out are attached below.

[architecture.txt](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/7006471/architecture.txt)
[vpr.out.txt](https://github.com/verilog-to-routing/vtr-verilog-t

[2021-08-18 15:56] QuantamHD commented on #1832
@sdamghan Can you remove the `+` symbols from the file names?

[2021-08-18 21:17] sdamghan commented on #1832
@QuantamHD thanks for following up, I’ll rename Kokoro config files in the next commits and inform you.

[2021-08-20 19:28] vaughnbetz commented on #1815
That seeM’s reasonable to me. Thanks for the follow up.

[2021-08-23 09:02] #1815 closed

[2021-08-23 15:01] sdamghan commented on #1832
@QuantamHD I have just updated the Kokoro config file names; please let me know if you need further modifications.

[2021-08-23 18:48] tangxifan commented on #1808
@vaughnbetz This issue seems to be resolved last week. But I think we can continue the discussion on enabling artifacts on our CI runner. It will definitely ease our QoR checks for VTR benchmarks, Titan benchmarks as well as other crucial testing suites we care.

We consider the following improvements
- Enable the [run_reg_test.py](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/

[2021-08-25 22:51] yzha3 opened #1833 "route_common.h"
Line 89 in vpr/src/route/route_common.h, I guess the second get_single_rr_cong_base_cost(inode) should be get_single_rr_cong_acc_cost(inode).

[2021-08-27 21:48] vaughnbetz opened #1834 "Add Doxygen-style comments to RRGraphView and RRGraphBuilder, and make new VPR API tab"
We have nice new rr-graph APIs, so we should auto-generate API documentation on them.

#### Proposed Behaviour
New RRGraphView and RRGraphBuilder tabs on the vtr api tab in read the docs.  Also should add some high-level comments (if they aren't there already) explaining exactly when each of these should be used.

#### Current Behaviour
Good comments, but I don't think they're doxygen-compatible a

[2021-08-31 12:57] umarcor commented on #1803
- The naming was clarified.
- The issue with PREFIX was fixed by using cmake only, instead of make.
- The question about runtime dependencies remains. However, container images are available already (gcr.io/hdl-containers/vtr), so we can handle possibly missing dependencies as bugfixes.

[2021-09-02 11:05] acomodi commented on #1808
It is unclear actually what needs to be done regarding the artifacts on Kokoro. When Kokoro completes the tasks, the artifacts are uploaded to GCS, and those include all the QoR data to be inspected.

[2021-09-02 14:47] umarcor commented on #1808
Sorry about the delay in getting back here. I tried to be as strict as possible in preserving the previous behaviour throughout my PRs. Since I'm not confident with the codebase in this repository, I did not want to make any assumption. That lead to some "weird" refactorisation outcomes, such as #1813. Naturally, I am human, and I do silly mistakes, but there was no conscious modification at all.

[2021-09-02 15:01] umarcor commented on #1808
@tangxifan was it solved by itself or did you actually change anything in this repo?

[2021-09-02 15:09] vaughnbetz commented on #1808
It seemed like it was a change on the github side (something in their machine setups?) as the out-of-memory problem stopped occurring without us making a change. Thanks for the follow up though @umarcor !

[2021-09-02 15:20] tangxifan commented on #1808
@acomodi Thanks for the inputs. What we are looking for is the QoR data. If the current set-up can allow us to download the QoR report file (.txt or .csv), it is already good enough. If you can show me how to access these files, I think the problem is solved here.

[2021-09-02 15:32] acomodi commented on #1808
@tangxifan I think that here the GCS API can be used to script the data gathering.

In general, to access the GCS bucket, you can navigate to `Invocation Details -> GCS (link)` from a kokoro run. There you can than navigate to see all the various results of the various benchmarks.

One possible thing to make this step easier might be to just package all of the QoR txt files in a single tarball, so

[2021-09-02 20:02] tangxifan commented on #1808
@acomodi Thanks a lot! I managed to find out all the logs I need. It is indeed solves my issue perfectly.

I attached the screenshot

![image](https://user-images.githubusercontent.com/11499826/131908402-7d3406bc-d6b2-4ea2-8803-a7cf532c9b6a.png)

[2021-09-03 23:55] MohamedElgammal opened #1839 "VERBOSE guarded code is deprecated"
The code inside the _**_VERBOSE_**_ guard is deprecated and isn't tested in any of the CI tests.

#### Expected Behaviour

The VERBOSE guarded code is one of the debugging aid supported by VPR and is included in the documentation. It is activated by including it (de-comment it) in vpr_types.h

As these blocks of code aren't activated by default, it currently includes many deprecated codes like in

[2021-09-06 15:29] mithro commented on #1839
Just another example of the idiom "Code which isn't tested is guaranteed to be broken".

[2021-09-07 20:00] mithro commented on #1829
Ping - @acomodi / @rw1nkler / @kgugala

[2021-09-08 07:28] acomodi commented on #1829
@mithro looking into fixing this

[2021-09-10 17:06] #1833 closed

[2021-09-13 02:54] the-centry opened #1846 "Load rr_graph too slow in windows"
&nbsp;&nbsp; I compile the latest vpr with cygwin and vs2019 ,however I found that it was too slow while loading rr_graph in windows; In linux I load the same rr_graph took about 60s but it need 3600s in windows! Using different computes get different results!

[2021-09-13 23:47] #1829 closed

[2021-09-14 18:53] #1830 closed

[2021-09-14 19:05] sdamghan opened #1848 "Yosys+Odin Kokoro Runner"
@QuantamHD I have a couple of requests about the Yosys+Odin-II Kokoro Runner (You have handled in issue #1832 ).
1. Would you please move the continuous version of the Yosys+Odin test to continuous tests? Usually, there is no continuous test in pull requests.
<img width="848" alt="Screen Shot 2021-09-14 at 3 53 26 PM" src="https://user-images.githubusercontent.com/54898479/133318065-45f0ca15-3663-

[2021-09-15 21:01] jgoeders opened #1849 "Multiple Verilog input files"
It's my understanding that we don't currently support having multiple Verilog source files.  Is that true?  We talked about having the Edalize runner (https://github.com/olofk/edalize/issues/263) support this.

I don't believe ODIN II currently supports it.  I wasn't sure if the plan was to:
a) Update ODIN II to support it, or
b) Update run_vtr_flow.py to accept and concatenate these files before

[2021-09-16 17:36] sfkhalid opened #1852 "Remove redundant vtr_reg_strong run on CI"
Currently the CI runs strong 3 times - twice on github actions (one with the pull request configuration, one with the push configuration, and once on kokoro. The runs on kokoro and github actions push seem to be running strong on the same code (the last commit that was pushed to the branch).

For example, looking at PR #1838, we can see that both the github actions push run and the kokoro run are

[2021-09-16 17:45] sdamghan commented on #1849
@jgoeders
Odin-II currently does support multiple Verilog and Verilog Header files. You would need to pass all files as the same as the following command:
[code]
Regarding the `run_vtr_flow` script, new options, named `include_list_add` and `include_dir` are recently added to VTR task config file, so you would be able to pass additional Verilog files to the main design. However, you would need to

[2021-09-16 18:48] tangxifan commented on #1852
I just double checked. It seems that the VTR strong tests (without sanitizer) are indeed run on both Github Actions and Kokoro.
I do not know the difference between these two runs. If they are the same, we can remove one of them, to save computing power.

[2021-09-17 16:54] jgoeders commented on #1849
OK, thanks.  Didn't realize this existed.  I'll close this since it sounds like the functionality is there.  Thanks!

[2021-09-17 16:54] #1849 closed

[2021-09-22 19:52] QuantamHD commented on #1852
@sfkhalid Just to be clear we want to remove this kokoro configuration. https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/.github/kokoro/presubmit/strong.cfg

Once you confirm I can disable it from the Google side, and then we can remove the file in this repo.

[2021-09-23 18:24] vaughnbetz commented on #1852
You can remove strong.cfg from the continuous runs as well as they are also run by a github runner.  So that is:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/.github/kokoro/continuous/strong.cfg

[2021-09-23 20:05] vaughnbetz commented on #1852
To give a clear spec, there are two configurations to remove:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/.github/kokoro/presubmit/strong.cfg
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/.github/kokoro/continuous/strong.cfg

[2021-09-26 13:34] sdamghan commented on #1848
Thanks @QuantamHD !

[2021-09-26 13:34] #1848 closed

[2021-09-30 01:45] alainlou opened #1858 "xc6vlx240tff1156.xml not supported?"
#### Expected Behaviour
I would expect that the provided .xml architecture definitions should work?

#### Current Behaviour
[code]

#### Possible Solution
Not sure ...

#### Steps to Reproduce

1. clone this repo
2. `make`
3. run `python3 $VTR_ROOT/vtr_flow/scripts/run_vtr_flow.py add8.v $VTR_ROOT/vtr_flow/arch/timing/xc6vlx240tff1156.xml -temp_dir . --route_chan_width 20` with add8.v
[code]

####

[2021-09-30 06:44] baberali-rs opened #1859 "Remove the use of global variable"
#### Proposed Behaviour

Fully modularize the each engine of VTR.
#### Current Behaviour

There are global variables used in many functions.
#### Possible Solution

Remove the use of global variables in any function.
#### Context

[2021-09-30 14:57] sfkhalid opened #1861 "Improve the way the physical pins vector is updated for each physical tile type"
Currently each logical block pin is mapped to corresponding physical pins twice during the vpr flow - once after initial placement and once after the placement stage is done. This mapping is done by calling a routine called place_sync_external_block_connections for each cluster block. The mapping is stored in a vector map in the placement context called physical_pins.
The problem with the current

[2021-09-30 19:47] tangxifan commented on #1859
Let me give more background on this issue.

Motivation
------------
Currently, VPR has an intensive use of global variables in low-level functions. For example,

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/d58f993d07fe752dbe254132e739ce2d62abc9e5/vpr/src/route/rr_graph2.cpp#L570-L590

This has created many barriers for future technical developments
- It is hard to modularize

[2021-10-07 15:46] vaughnbetz opened #1866 "Collect parse_results*.txt as artifacts from CI to make it easier to update golden results"
Right now when we fail a QoR check in CI due to an expected QoR change, the developer needs to rerun the test on his/her machine and run parse_vtr_task.py --create_golden to make a new expected QoR file (golden_results.txt).

We can simplify this by bringing back the parse_results*.txt files (currently parse_results.txt and parse_results2.txt is also used in some tests), and then the developer cou

[2021-10-11 20:23] tangxifan opened #1868 "Dashboard for RRGraph API refactoring status"
#### Motivation of Refactoring effort
A detailed technical plan can be found at [link](https://docs.google.com/document/d/15m7IbVRbQYLxFQjIVNIZT3VjYDhAqK6cjqCxVuSVDGU/edit?usp=sharing)

The overall refactoring effort aims to
- create a unified data structure ``RRGraphView`` as a centralized storage for all the routing resource graph -related information. See Fig. 1
- create a set of frame view obj

[2021-10-11 20:24] tangxifan commented on #1868
@ethanroj23 @hariszafar-lm @hamzakhan-rs
I summarized our ongoing refactoring effort here and created a checklist.
The idea is to keep a memo for all of us on the progress bar, so that we all know where we are and how far we are to reach the destination.

[2021-10-13 02:31] sdamghan opened #1871 "Request for a Kokoro runner"
#### Context

@QuantamHD would you please add a Kokoro runner, named `VtR Yosys`, for the following test? [[presubmit](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/08695524850d071f2186ba80ee71a8e051b9411c/.github/kokoro/presubmit/yosys_test.cfg)] [[continous](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/08695524850d071f2186ba80ee71a8e051b9411c/.github/koko

[2021-10-14 12:26] MohamedElgammal opened #1874 "C2_CPU Quote on google cloud for batch VTR running"
The C2_CPUS quote exceeded when submitting a job to a slurm cluster deployed on google cloud platform.

#### Current Behaviour

When submitting a job to the cluster, I got the following error:
`"Quota C2_CPUS exceeded. Limit: 24.0 in region us-west1.". Details: "[{message: "Quota C2_CPUS exceeded. Limit: 24.0 in region us-west1.", domain: usageLimits, reason: quotaExceeded}]"`

#### Possible Solut

[2021-10-14 17:15] ethanroj23 commented on #1868
@tangxifan I would not mind. That would be very helpful, thanks!

[2021-10-14 17:34] QuantamHD commented on #1871
ChangeList is up for review inside Google. I'll update when I submit.

[2021-10-14 17:36] sdamghan commented on #1871
Thanks @QuantamHD

[2021-10-15 06:08] emincetin452 opened #1875 "Problem when running Titan Benchmark"
Hi there,
I am facing with a problem when I try to run Titan bencmark.

#### Expected Behaviour
Basically `$VTR_ROOT/vtr_flow/arch/titan/stratixiv_arch.timing.xml $VTR_ROOT/vtr_flow/benchmarks/titan_blif/neuron_stratixiv_arch_timing.blif --route_chan_width 300` these commands which is told in [DOCS/TUTORIALS/TITAN_BENCHMARKS](https://docs.verilogtorouting.org/en/latest/tutorials/titan_benchmarks/)

[2021-10-15 19:58] Srivat97 opened #1877 "Build Failure with PR #1869"
Since the "capnproto" library is now added as a submodule, when we do a clone onto the VTR repo, the "capnproto" related files
are not downloaded locally. This ends up breaking the build since the "libs/EXTERNAL/capnproto" directory is empty.

#### Expected Behaviour

During the build procedure the "capnproto" repo should be cloned, so that the relevant files are present locally.

or

During the i

[2021-10-15 20:02] acomodi commented on #1877
Probably the submodule update [step](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/5409e84341dde0292951c273ffc3b5c2065a2fec/Makefile#L65) is not working correctly. You may run `git submodule update --init --recursive` to download the required data from the capnproto repository

[2021-10-16 06:37] acomodi commented on #1877
@mithro I have actually missed that section in the docs, so I wasn't aware that subtree was used in this case. At this point I guess we should stick with the current subtree strategy.

I have opened https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1880 to revert the changes from https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1869

[2021-10-16 15:28] jgoeders opened #1881 "VtR Yosys (Presubmit) is failing"
The required CI "VtR Yosys (Presubmit)" is failing.

This is run on kokoro (foss-fpga-tools/verilog-to-routing/upstream/presubmit/yosys_test), but it's not clear what the issue is as the log is empty.

[2021-10-16 17:04] mithro commented on #1881
Temporary fix is in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1882

[2021-10-18 01:04] mithro commented on #1881
I believe this has been solved now?

[2021-10-18 01:04] #1881 closed

[2021-10-18 01:04] #1877 closed, assigned to acomodi

[2021-10-20 14:43] mithro opened #1888 "Feature to suppress warning messages about provided architecture"
Currently VPR when provided with [a SymbiFlow Architecture Definitions](https://github.com/SymbiFlow/symbiflow-arch-defs) [generated architecture for the Xilinx Series 7 architecture](https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html) currently produces a lot of warnings like;
[code]

This large number of output which an end user has no control over makes it hard to find a

[2021-10-25 07:05] baozi0810 opened #1891 "How to run ISPD2016 provided by XIlinx in vtr？"
Question 1: I tried to put the ISPD2016 reference circuit provided by Xilinx into the VTR, but the official circuit format file is (.nets .pl .lib .nodes .scl .wts .tcl .aux and .dcp), I think Do you know how it can be converted to .blif format to make the circuit run in the VTR? Is there an interface program?
Question 2: I am trying to extract the layout file of the circuit. Is the .place obtaine

[2021-10-27 11:37] szhou888 opened #1901 "If the count of edge is beyond 268,435,455,how to create or load rr_graph?"
According to capnp,the count of element need to be less than 268,435,455.How to deal the condition that edge number is beyond the limits?

#### Expected Behaviour

I want to load a large rr_graph with 303245222 edges.
#### Current Behaviour

Because the rr_graph's edge number is beyond the limits of capnp, and failed in loading the rr_graph.bin.

#### Possible Solution

How to expand the limit of

[2021-11-02 12:42] mithro commented on #1901
@acomodi / @kgugala / @mkurc-ant -- What was our solution for this?

[2021-11-03 08:33] acomodi commented on #1901
I think the solution should be the one proposed in https://github.com/capnproto/capnproto/issues/1370#issuecomment-953067555. The issue we had were mainly related to the reading limit which, IIRC, can be pushed up to `2**63`, but this is should be inherent with a non-modifiable limit of elements in a list.

[2021-11-04 17:48] tangxifan commented on #1868
As discussed with @vaughnbetz, once the API refactoring is done. We should do the follow-up refactoring
- Extract the rr_graph -related data structure to a separated library ``librrgraph``. Then VPR will use linker to access the data structures
  - This library will include ``RRGraphBuilder``, ``RRGraphView`` and ``RRGraphReader`` and ``RRGraphWriter``
  - **Caution: We have to run QoR tests for t

[2021-11-04 17:49] tangxifan commented on #1868
@vaughnbetz If I misunderstood your message, feel free to comment. I will formulate the problem.

[2021-11-04 18:02] tangxifan commented on #1868
As discussed with @ethanroj23 , some of the remaining tasks on the APIs will be assigned to Rapidsilicon team

- node_ptc_num()/node_pin_num()/node_track_num()/node_class_num()  -> @ethanroj23
- edges()/num_edges() -> Rapidsilicon team
- configurable_edges()/non_configurable_edges()/num_configurable_edges()/num_non_configurable_edges() -> Rapidsilicon team
- first_edge()/last_edge() -> Rapidsilico

[2021-11-04 22:12] vaughnbetz commented on #1868
Thanks @tangxifan. You captured my thoughts well.  Basically refactoring into a separate library may not be desirable with a low-level function interface (which is what we have) as we may need inlining for acceptable performance, and that will be left the linker and may not be possible or reliable.

[2021-11-10 04:01] Srivat97 opened #1909 "Using an older version of the 'Catch' unit test framework"
Currently, the VTR repo contains version 1 of the 'Catch' unit test framework. Since there is a newer version of 'Catch' (version 2), would it be worthwhile to upgrade?

[2021-11-10 08:50] acomodi commented on #1909
@Srivat97 I see that the current `Catch` framework used in VTR is not part of a subtree as the other `EXTERNAL` libraries (https://github.com/verilog-to-routing/vtr-verilog-to-routing/tree/master/libs/EXTERNAL/libcatch).

Following the link in the `README` there is a redirection to the `Catch2` framework that I believe is what you are referring to.

I think it may be worth to rework the `libcatch`

[2021-11-10 16:03] Srivat97 commented on #1909
Since I am updating the documentation for the unit test framework we are using, would it be alright if I went ahead and also upgraded to the latest version as well?

[2021-11-10 16:29] acomodi commented on #1909
Sure, sounds good to me

[2021-11-10 16:30] vaughnbetz commented on #1909
Thanks @acomodi .  Adding @kmurray so we can get his thoughts too, as it looks like he added catch to vtr.
From a quick look, it looks like catch2 may be  noticably different than catch (multiple .h files vs. one big header file).  It looks like they may have an option to create one big header style still (although it has a different name than before).

So I suggest investigating a bit to see how

[2021-11-12 01:51] zhugesima commented on #1846
Have you solved this problem? If it is solved, can you share your solution? Thanks very much!

[2021-11-12 02:14] zhugesima opened #1912 "Build rr graph and compute router lookahead map inefficient (too slow)"
When I tested the large chip of Xilinx, the following problems occurred.
    Building routing resource graph and computing router lookahead map is inefficient. It took about 9900s and 101000s respectively.
    Are there any good solutions to speed up and improve efficiency? Thanks very much!

[2021-11-16 00:19] szhou888 commented on #1901
Yeah,following the suggestion to change the struct and the codes that access it!

[2021-11-19 02:22] nbstrong opened #1918 "Typo in absorb_buffer in ShowSetup.cpp"
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/c91800747378df13c008f3db92df43d6c1ebe38c/vpr/src/base/ShowSetup.cpp#L569

[2021-11-19 20:22] suyang5 opened #1920 "No Module name 'prettytable'"
![image](https://user-images.githubusercontent.com/32415942/142686039-0cdfb065-97d6-43d5-a3ad-c7095745bffe.png)
The problem  shown in the picture happens when I downloaded the developer branch source code and run "../scripts/run_vtr_task.py regression_tests/vtr_reg_nightly_test3/vtr_reg_qor_chain"

#### Possible Solution

The issue is fixed after running "python3 -m pip install -U prettytable"

[2021-11-20 03:55] Srivat97 commented on #1909
Catch framework has been updated to the latest version in PR #1913.

[2021-11-20 03:55] #1909 closed

[2021-11-23 15:45] #1831 closed

[2021-11-23 16:08] ethanroj23 opened #1921 "Switching of RRGraphView"

[2021-11-23 18:59] tangxifan commented on #1921
@ethanroj23 Would you mind providing some code examples? I can better understand the scenario.

[2021-11-23 19:57] ethanroj23 commented on #1921
Sure thing. Here are some of the files in question.
[RRGraphViewInterface](https://github.com/ethanroj23/vtr-verilog-to-routing/blob/folded_rr_graph/vpr/src/device/rr_graph_view_interface.h)
[RRGraphView](https://github.com/ethanroj23/vtr-verilog-to-routing/blob/folded_rr_graph/vpr/src/device/rr_graph_view.h)

Specifically, the RRGraphView has a pointer to the interface class that it uses to acces

[2021-11-24 15:46] #1797 closed

[2021-11-25 01:34] zhugesima commented on #1901
How did you solve this problem, can you share it? Thanks very much!

[2021-11-25 01:35] #1912 closed

[2021-11-25 01:50] szhou888 commented on #1901
You met the problem? Not good solution to solve this problem,the good solution just as [capnproto/capnproto/issues/1370](https://github.com/capnproto/capnproto/issues/1370#issuecomment-953067555) mentioned!

[2021-11-29 20:36] tcal-x opened #1928 "Request: Fail if timing is not met"
The user should know when their implementation does not meet their stated timing goal.   It is not clear from vpr when this is the case.

#### Proposed Behaviour
Perhaps by default or perhaps only by an option, vpr should have a "fail" exit status when it does not meet the timing constraints.   Also it should not print "VPR succeeded" in that case.  If it is an option, our wrapper can turn it on b

[2021-11-29 21:42] mithro commented on #1928
I'm sure that we had discussed this previously, but I can't find an existing issue....

[2021-12-03 20:16] ethanroj23 commented on #1868
@tangxifan which API are you referencing above called `nodes()`? I could only find usages of a function called `nodes()` for the `TimingGraph`.

[2021-12-04 07:17] tangxifan commented on #1868
@ethanroj23 You are right.
- ``nodes()`` should be a new API in place of the current methods that are used to walk through all the nodes

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/e6c20492832f1950247c8db7b58274664d190992/vpr/src/route/rr_graph_storage.h#L345-L364

It is designed when we consider the context of ``t_rr_node`` (there are only nodes and we can access a node usi

[2021-12-04 07:39] ethanroj23 commented on #1868
Thank you for the explanation, this makes more sense now! I will begin implementation of this new API and look for feedback once I have done enough for a WIP PR.

[2021-12-05 02:14] kimiatkh opened #1931 "Update the vqm2blif parser in order to add support for Stratix 10 and Agliex vqm files"
The vqm2blif parser grammar is defined based on the vqm files dumped for Stratix IV. The vqm files generated by the new version of Quartus Prime targeting Stratix 10 and Agilex have subtle differences compared to the older versions that causes them not to fit into the currently defined grammar. By making small modifications to the grammar, the parser can support both the old and new versions of th

[2021-12-08 20:23] ethanroj23 commented on #1868
@tangxifan does `nodes()` require an object of `RRNodeIds` to be stored? The example given in `rr_graph_obj.h` makes use of a `vtr::vector<RRNodeId, RRNodeId>`, but the `RRGraphView` does not currently contain a vector of node ids. It would be best if we did not have to create an object to store node ids as this data would be redundant.

[2021-12-08 21:39] tangxifan commented on #1868
Hi Ethan,  I believe you can try the VTR::make_range(begin(), end()), since the existing APIs begin() and end() are already there.  You can refer to the rr_graph_ohj.h    https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/e6c20492832f1950247c8db7b58274664d190992/vpr/src/device/rr_graph_obj.h#L215-L224   The begin() and end() are actually iterators. Just need to find a way to use the

[2021-12-10 06:16] boldasl opened #1933 "How VPR calculate delay using RC parameters?"
Hi. Thank you for making VPR. It's very useful.

How does VPR calculate (channel) delay using Cin, Cout, R, Rmetal and Cmetal parameters in switch and segment tag?
I wonder how VPR models the physical characteristics of FPGA and how it calculates the timing report.

[code]

When calculating the channel delay, is it calculated like
Total (channel) delay = Tdel + Requivalent * Cequivalent ?
In this

[2021-12-10 18:21] tangxifan opened #1934 "Strong sanitized test failed with an internal compiler error"
#### Expected Behaviour

Strong sanitized test is a required test. It should pass all the time.

#### Current Behaviour

Strong sanitize tests are failed on current master after merging PR #1916
- The error messages points to an internal error of gcc-5 compiler
[code]

- Similar errors are captured in other PRs
  - https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1923
  - https://

[2021-12-10 18:23] tangxifan commented on #1934
@jgoeders @vaughnbetz See if the issue captures our discussion well.

For @jgoeders , would you mind helping on double checking the gcc on CI runner? I will try gcc-8 or later version on my local computer.

[2021-12-10 18:25] vaughnbetz commented on #1934
Thanks @tangxifan . This captures it well I think.

And yes, I think the first thing to try is to simply drop sanitized + g++ 5.0 if we're somehow running that, and also running sanitized plus some recent g++.  If we're only running sanitized on g++5.0, we should update.

[2021-12-10 18:33] vaughnbetz commented on #1934
We do indeed appear to use only g++5 on the sanitized build.  We should fix this.

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0

[2021-12-10 18:37] vaughnbetz opened #1935 "Warnings in VTR compilation, and No Warnings CI test is not failing"
There are two issues.

1. We have warnings in the VTR code base when we compile.  Quite a few are in the new catch2 library.
  - Those should be #pragma'd off (can put the #pragma around the offending header file inclusion) so we don't have spurious warnings (we won't fix these, although we could file an issue on the catch2 github repo for the authors to consider fixing.
  - Other warnings should

[2021-12-10 18:42] tangxifan commented on #1934
@umariqbal-rs Since it is seen after merge your PR, would you mind running the sanitized build on your local computer with a later g++ version? I know we have gcc-8, which should be o.k to test.
Detailed cmake parameters and makefile configuration can be found at

https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/e6c20492832f1950247c8db7b58274664d190992/.github/kokoro/presubmit/str

[2021-12-11 05:01] Srivat97 commented on #1935
1. Will work on this.
2. Looks like we only compile with warnings as errors for libvpr, vpr and ODIN2. I will add the compiler flags to treat warnings as errors for the other projects.

[2021-12-13 11:17] Raza-jafari-RS commented on #1934
@tangxifan
I ran the devised command and the target is successfully built. The results are as follow.

![test_result](https://user-images.githubusercontent.com/87646228/145802115-6608dcae-2a8e-43df-8b3c-1a9cb9f724aa.png)

[2021-12-13 19:34] tangxifan commented on #1934
@Raza-jafari-RS Thanks for the input.
@jgoeders @vaughnbetz It seems a problem of gcc-5. I suggest to try later gcc. Rapidsilicon team tried gcc-8 and it is working fine.

[2021-12-13 22:38] vaughnbetz commented on #1934
Sounds good.  Jeff or Xifan: if one of you can update the CI script to use gcc-8 with the sanitized build that would be great, and we can close this.

[2021-12-13 23:55] tangxifan commented on #1934
@vaughnbetz I just looked into all the kokoro tests. And I found that they all use the gcc-5.4.0 when compile VTR. Should we update all the kokoro tests to use gcc-8 or later?

@mithro I am not sure any other gcc compilers are available on the kokoro machine. And which command to check CC/CXX in kokoro context. I am looking into this file as an stabbing point. If you can introduce any engineer who

[2021-12-14 01:42] vaughnbetz commented on #1934
Yes, I think updataing them all to a more recent g++ would be wise.  I don't have a really strong opinion on version number though, as long as it is fairly recent and not known to be unstable.

[2021-12-15 03:14] tangxifan commented on #1934
solved by @acomodi in PR #1924

[2021-12-15 03:14] #1934 closed

[2021-12-16 16:22] vaughnbetz commented on #1935
@Srivat97 : how is this going?  It sounds like there are multiple moving parts; I think getting the catch2 warnings to go away is the highest priority, as other developers are noticing them in code that used to be warning clean and it could make them miss noticing new warnings introduced by their code.

[2021-12-16 17:36] jgoeders commented on #1920
Setup instructions will be fixed in #1914.

[2021-12-16 19:43] Srivat97 commented on #1935
The warnings introduced by catch2 should now be fixed in PR #1940.

[2021-12-17 02:17] jgoeders opened #1941 "recommonmark internal links + move to myst-parser?"
I'm having issues creating internal documentation links.  We are using recommonmark to support markdown files in our sphinx documentation (which is nice), and recommonmark is supposed to support internal links, but I can't get it to work.

For example, if I have a link like:

    [Get VTR](vtr/get_vtr)

The link is being converted to an external github link (<https://github.com/verilog-to-routing/

[2021-12-27 03:11] the-centry commented on #1846
I just changed some computes and found the results are different!

[2021-12-27 03:11] #1846 closed

[2021-12-28 03:34] szhou888 opened #1943 "The reason of using list(pin) in pinclasses?"
**While reading the struct of graph,I found a interesting question that use list (pin) in pinclasses,but I didn't find where need use a list. Could someone give a explanation?**

[2021-12-29 12:13] lpawelcz opened #1944 "Request: Add options for enabling machine readable summary output"
#### Proposed Behaviour
It would be really nice to have options that would enable VPR to write machine readable output files with:
* summary of block types usage
* summary of timing parameters

#### Current Behaviour
This information is available in plain log output.

Block types usage:
[code]

Timings:
[code]

#### Possible Solution
I would see this as two separate options, something like:
* `--s

[2021-12-30 11:26] lpawelcz opened #1946 "Request: Add option for merging top module ports in post-layout Verilog netlist and SDF timing annotation files"
#### Proposed Behaviour

It would be nice to have an option that would enable VPR to write post-layout verilog and SDF timing files with multi-bit ports instead of single-bit ones in top modules.

#### Current Behaviour
Currently post-layout verilogs consist only of single-bit wires, including the top module IO ports, for example:
[code]

#### Possible Solution

Using such option should enable VPR

[2022-01-04 16:54] aman26kbm opened #1949 "error at odin stage doesn't kill process"
#### Expected Behaviour
When ODIN errors out, the run_vtr_task (and run_vtr_flow) should exit.

#### Current Behaviour
I'm running with plain ODIN (not Yosys, not Yosys+ODIN).
If the design has an error, ODIN fails. I can see the error in the odin.out file.
But the run_vtr_task.py process doesn't exit. It stays hanging (the terminal doesn't come back to prompt I mean).

#### Possible Solution

###

[2022-01-06 19:31] jgoeders commented on #1941
@acomodi @mithro
Here is the method I've come up with using myst-parser (new official Markdown processor for Sphinx) to handle all manner of links between top-level Markdown files (eg README.md) and Sphinx documentation (eg /doc/src/), whether they are included in the Sphinx build, or just being viewed on Github.

<https://github.com/executablebooks/MyST-Parser/issues/361#issuecomment-1006873840>

[2022-01-06 20:13] tangxifan commented on #1868
@behzadmehmood-rs @umarcor
Thank you very much on the good work. We have accomplished all the major tasks in this refactoring effort.
We are approaching the final destination! I have listed the last few steps before we can extract the routing resource graph data structure as library.

- [ ] Add RRSwitch APIs to RRGraphBuilder
- [ ] Add RRSegment APIs to RRGraphBuilder
- [ ] Move metadata to RRGrap

[2022-01-07 04:15] behzadmehmood-rs commented on #1868
@tangxifan  Thank you for your support. We are ready to own the first four tasks.

[2022-01-10 18:59] #1920 closed

[2022-01-10 18:59] #1941 closed

[2022-01-11 01:29] sdamghan commented on #1949
solved in #1950

[2022-01-11 01:29] #1949 closed

[2022-01-12 00:30] tcal-x commented on #1928
@jgoeders , @vaughnbetz , any comment?

The concern is that the user finishes the build with no indication of any problems, and then the design does not run on the board, because it had failed timing badly.

Our workaround would be to have the SymbiFlow wrapper grep the router output for a negative WNS:
[code]
but this is not a robust solution.   We'd prefer to have the exit status indicated succe

[2022-01-13 04:48] vaughnbetz commented on #1928
It makes sense to return a different status code or new message to clearly indicate timing failed.  We (and others) have a lot of scripts that might break if we change the status code to be non-zero when execution finished normally, so that solution makes me a bit nervous.  @jgoeders: you know the flow script code better than I; how much would break if we returned a non-zero status for timing fail

[2022-01-13 05:49] tcal-x commented on #1928
How wary are you of adding options?   We could have an option `--fail-status-if-fail-timing` or something like that, that our wrapper would set, but wouldn't change default behavior.

[2022-01-13 06:10] vaughnbetz commented on #1928
I'd be fine with that.

[2022-01-13 06:23] tcal-x commented on #1928
@mithro there was a similar discussion regarding inconsistent treatment of timing failures in LiteX -- it fails for Lattice flows that don't meet timing (unless you give an argument to ignore timing failure), but with Xilinx flows, timing is not checked.

[2022-01-19 08:34] Sun1927 opened #1955 "[Odin] How to trace the fail in odin.out file?"
Hi,

The odin II process fails without generating any .blif file. In the Odin.out file, I am trying to trace back where the problem is. The output file looks like this:

found pg block
Preprocessing verilog.
Adding power gating to module: top.Clock_divider+divider, net: sleep_signal
Removing power gating signal from the module port definition list
Found power gating block: top.pg_block+pg0
**Comma

[2022-01-20 09:57] acomodi opened #1956 "[VPR] Allow for constant generators within the PB types"
As far as I understand, VPR is not able to define a constant generator leaf pb type, unless it is a LUT.

In real devices, there are logic block are provided with internal tieoffs to attach to the GND or VCC network, without the need of getting the constant from outside the block

As an example, in Series7 devices, the Set/Reset or Clock Enable signal for the Flip Flops in a CLB can be tied to GND

[2022-01-27 20:52] aman26kbm commented on #1687
I think this issue/ticket has become obsolete now.
Both the architecture and design used in the vtr_reg_coffe test are now obsolete. They were merged into Koios benchmarks. Through the regression tasks names "koios_*" under vtr_reg_nightly_test4, we have coverage of the design that was a part of vtr_reg_coffe and the architecture file as well.
We can close this issue/ticket.

[2022-01-27 20:52] #1687 closed

[2022-01-29 14:20] choelzl opened #1959 "Not compiling on newer TBB versions"
Does not compile on newer TBB versions (>2021.1) due to library file changes and feature depreation

#### Expected Behaviour
VTR compiles

#### Current Behaviour
VTR  will not compile (and cmake fails finding some files)

#### Possible Solution
Allow CMake to detect the old or new version and to add flags accordingly.

#### Steps to Reproduce
1. clone VTR
2. compile VTR

#### Context
Compilation o

[2022-01-31 18:47] sfkhalid opened #1963 "Kokoro tests not running on pull requests"
The nine kokoro tests that run on VtR pull requests are failing after a few minutes. These tests include ODIN-II strong, all four of the VtR Nightly tests, the VtR strong sanitized tests, the VtR Yosys test, the VtR Yosys+Odin-II tests, and the Yosys+ODIN-II strong tests.

#### Expected Behaviour
The tests should run and check whether the code on the pull request passes the required tests and prod

[2022-02-01 05:26] tangxifan commented on #1963
@mithro Is there anyway to get this issue resolved quickly? It is blocking a few PRs. Thank you in advance.

[2022-02-03 17:33] sfkhalid opened #1965 "Kokoro tests not running reliably"
Some kokoro tests are getting stuck in the pending results stage, or expecting results stage.

#### Expected Behaviour
All of the kokoro tests should run to completion on pull requests.

#### Current Behaviour
On pull requests, most kokoro tests run to completion while one or two get stuck in a pending stage. Different tests get stuck each time.

For example, on PR #1938, all kokoro tests were pas

[2022-02-03 19:01] vaughnbetz commented on #1965
@tangxifan is seeing the same behaviour. He often sees 6 / 9 kokoro tests complete, and has to force a re-run, and then a different subset will team.  It is not consistent in terms of what tests hang.

[2022-02-03 19:02] vaughnbetz commented on #1965
@QuantamHD says kokoro is his domain -- thanks!

[2022-02-03 19:03] vaughnbetz commented on #1965
#1963 may be related.

[2022-02-03 19:28] tcal-x opened #1966 "Error: Could not find config/config.txt for task basic_flow"
#### Expected Behaviour
Following the build instructions in https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/BUILDING.md and running
[code]
I expect to see
[code]

#### Current Behaviour
`Error: Could not find config/config.txt for task basic_flow`

#### Steps to Reproduce
Follow exactly the instructions on https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/m

[2022-02-03 19:57] mithro commented on #1965
Recently we have had some issues with the Google Cloud Platform project which contains the kokoro runners due to some automated log4j checking systems.

@acomodi is looking at trying to move everything to GitHub Action runners hosted on Google Cloud Platform which should be a lot more transparent about when failures.

[2022-02-06 01:03] mithro opened #1967 "Link to BR96b paper is broken"
The BR96b paper in the https://docs.verilogtorouting.org/en/latest/zreferences/ section is currently broken (it ends in a 404).

[code]

[2022-02-06 01:04] mithro commented on #1967
* http://www.eecg.toronto.edu/~vaughn/%20papers/techrep.ps.Z is a 404 (not found)
* http://www.eecg.toronto.edu/~vaughn/papers/techrep.ps.Z is a 403 (forbidden)

[2022-02-06 01:05] mithro commented on #1967
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/81b5aa2a8c54a007046a1d375d934f500bc7471b/doc/src/z_references.bib#L93

[2022-02-07 19:48] ArashAhmadian commented on #1966
@vaughnbetz Sure, I'll make an update to the documentation.

[2022-02-07 20:55] vaughnbetz commented on #1966
Great, thanks Arash.

[2022-02-15 20:40] tcal-x commented on #1966
The updated smoke test works for me now, thanks!

[2022-02-15 20:40] #1966 closed

[2022-02-16 03:41] michael-etzkorn commented on #1967
Seems like this just needs to remove a space in " papers"

[2022-02-23 17:06] umarcor commented on #1967
This can be closed, since #1981 was merged.

[2022-02-23 17:19] #1967 closed

[2022-02-24 02:42] mithro opened #1986 "Remove the Google Kokoro runners"
With @acomodi's work in https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/1973 we have moved to running the tests under GitHub Action Runners hosted on Google Cloud Platform.

We now need to turn down the Kokoro runners.

[2022-02-24 02:43] mithro commented on #1986
We also need to update the required CI tests in the GitHub repository settings.

[2022-02-24 16:28] mithro commented on #1986
I have removed the Google side configuration files. Kokoro should no longer run on this repository.

[2022-02-24 16:31] mithro commented on #1965
With https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1986 - Kokoro has been replaced by GitHub Action Runners and thus this bug is not longer relavent.

[2022-02-24 16:31] #1965 closed

[2022-02-24 16:31] #1963 closed

[2022-02-24 16:31] mithro commented on #1612
With https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/1986 - Kokoro has been replaced by GitHub Action Runners and thus this bug is not longer relavent.

[2022-02-24 16:31] #1612 closed

[2022-02-24 16:32] mithro commented on #1493
@acomodi - I believe this is now done? We have converted to using GitHub Actions (with self hosted runners on Google Cloud Platform replacing Kokoro).

[2022-02-24 16:33] mithro commented on #1611
@acomodi / @umarcor -- Is this bug still relevant?

[2022-02-24 16:36] mithro commented on #1986
I have removed the Kokoro runs from the required to merge pull request checks.

[2022-02-24 16:36] mithro commented on #1986
@acomodi - Which GitHub Actions runs should replace the previously required Kokoro checks?

[2022-02-24 16:37] #1233 closed

[2022-02-24 16:38] mithro commented on #1648
Is this issue still relevant with the move to GitHub Actions?

[2022-02-24 16:38] mithro commented on #1666
Is this issue still relevant with the move to GitHub Actions?

[2022-02-24 16:39] mithro commented on #1666
Given that it was from early 2021 and we are now in 2022, I'm going to close it.

[2022-02-24 16:39] #1666 closed

[2022-02-24 16:39] mithro commented on #1648
Given that it was from early 2021 and we are now in 2022, I'm going to close it.

[2022-02-24 16:39] #1648 closed

[2022-02-24 16:40] mithro commented on #1808
@acomodi / @tangxifan / @ganeshgore -- Is this bug still relevant?

[2022-02-24 16:40] mithro commented on #1852
I believe this is now done with the removal of Kokoro entirely.

[2022-02-24 16:40] #1852 closed

[2022-02-24 16:41] mithro commented on #1136
I believe this bug is now obsolete as it is 2022.

[2022-02-24 16:41] #1136 closed

[2022-02-24 16:49] umarcor commented on #1808
I think this can be closed. The dialogue drifted towards "which artifacts to save", and that was handled as well.

[2022-02-24 16:53] ganeshgore commented on #1808
Yes, this issue is already addressed.

[2022-02-24 16:56] umarcor commented on #1611
I'm unsure. It does not apply to Kokoro anymore. However, the idea of having different workflows which are triggered under different conditions might still be interesting.

[2022-02-24 17:26] acomodi commented on #1986
@mithro `CI Tests` GH action job is replacing the kokoro runs

[2022-02-24 18:18] #1808 closed

[2022-02-24 19:26] acomodi opened #1988 "GH actions artifacts need to be pushed to GCP"
#### Proposed Behaviour

With the GH actions transition we need to store the artifacts on GCP or otherwise they'll have an expiration date and can get removed from GH

#### Current Behaviour

GH actions artifacts are not stored in a long-term time period

#### Possible Solution

Add GCP upload, possibly with https://github.com/google-github-actions/upload-cloud-storage

#### Context

CI history

[2022-02-24 19:28] acomodi opened #1989 "GH action CI: Have a more granular set of nightly tests to run on more machines"
#### Proposed Behaviour

Currently, with the new GH action custom runner we have more flexibility in the number of machines that we can spawn per CI check. Therefore we can find a better balancing between the tests so to reduce runtime

[2022-03-09 17:40] ethanroj23 opened #1994 "Running SymbiFlow Benchmarks with 100t and 200t devices"
@acomodi @vaughnbetz @tangxifan I am attempting to run the VTR SymbiFlow (f4pga) benchmarks with the 100t and 200t devices. Currently, I am able to run the benchmarks with the 50t device. I have included the command that I am using to run the 50t device with the linux_arty benchmark.

Does anyone know which files I need to replace in the command? I have downloaded some files for 100t and 200t from

[2022-03-10 16:17] vaughnbetz opened #1995 "Remove some out of date TO-DO and comments in rr_graph.cpp"
I think there are some out of date comments from the refactoring of the rrgraph apis in rr_graph.cpp (and perhaps related files).

E.g.:

rr_graph.cpp:
 /* TODO: The casting will be removed when RRGraphBuilder has the following APIs:
             * - set_node_cost_index(RRNodeId, int);
             * - set_node_type(RRNodeId, t_rr_type);
             */

(seems to be done).

rr_graph2.cpp:
 https:

[2022-03-10 17:26] acomodi commented on #1994
Hi @ethanroj23, so, to test on either the 100T or 200T you'd need to use the following files from the corresponding tarballs:
- `arch.timing.xml`
- `rr_graph_<part number>.lookahead.bin`
- `rr_graph_<part number>.place_delay.bin`
- `rr_graph_<part number>.rr_graph.real.bin`

There is a catch though using the 200T, and that is that basically the placement constraint file (e.g.  the `--fix_clusters

[2022-03-10 17:56] tangxifan commented on #1995
@behzadmehmood-rs Can you arrange the team on cleaning up the code comments and create PRs? If you have anything unclear, just let me know. I will review your PR once it is available.

[2022-03-10 21:42] ethanroj23 commented on #1994
@acomodi thank you for your response. I will give that a try. If you are able to get a 100T or 200T example running with VTR, please let me know. Thanks!

[2022-03-11 04:07] behzadmehmood-rs commented on #1995
Sure, we will do that @tangxifan.

[2022-03-19 13:37] sildipankar opened #2001 "--graphics command doesn't seem to work"
Trying to use --graphics command on example runs in the document, but command gives error

#### Expected Behaviour
Should save a graphics file

#### Current Behaviour
Command gives error

#### Steps to Reproduce
Use the sample command  with graphics command

$VTR_ROOT/vpr/vpr     $VTR_ROOT/vtr_flow/arch/timing/EArch.xml     $VTR_ROOT/vtr_flow/benchmarks/blif/tseng.blif     --route_chan_width 100

[2022-03-29 06:22] msaideroglu opened #2003 "post synthesis netlist bug"
I generated a counter netlist using VTR flow and vpr. VPR 8.1.0 generates all LUT inputs as 1'bX unlike VPR 8.0.0 in "counter_post_synthesis.v".
Reproducing:
`$VTR_ROOT/vtr_flow/scripts/run_vtr_flow.py $VTR_ROOT/doc/src/quickstart/counter.v $VTR_ROOT/vtr_flow/arch/timing/EArch.xml -temp_dir . --route_chan_width 100
`
`$VTR_ROOT/vpr/vpr $VTR_ROOT/vtr_flow/arch/timing/EArch.xml counter.pre-vpr.blif

[2022-04-11 01:38] dingzex opened #2005 "Msys2 Compilation problem"
#### Expected Behaviour

Excuse me, does anyone compile the VTR project under msys2?
#### Current Behaviour

#### Possible Solution

#### Steps to Reproduce

1.
2.

#### Context

#### Your Environment

* VTR revision used:
* Operating System and version:
* Compiler version:

[2022-04-12 18:01] aman26kbm opened #2007 "Segmentation fault in ODIN+Yosys flow for a very simple design"
#### Expected Behaviour
No segmentation fault should happen.

#### Current Behaviour
I'm seeing a SIGSEGV happening when I run the yosys+odin flow on a very simple design, in a specific case.

I have attached the design. Here's the failing case:

**Failure case:**
Design file: Attached
Flow: ODIN+yosys
Arch file: arch/COFFE_22nm/k6FracN10LB_mem20K_complexDSP_customSB_22nm.xml

But I tried this fil

[2022-04-12 18:09] aman26kbm opened #2008 "Seemingly incorrect optimization of multipliers in ODIN"
#### Expected Behaviour
There should be >4096 multipliers in the design.

#### Current Behaviour
I'm running a design with the ODIN+Yosys flow. I was expecting atleast 4096 multipliers in the design. In the yosys log, I do see this at the end in the statistics section:

 $mul                         4160

In the odin log also, I see this:
Total # of multipliers = 4160

But then towards the end of

[2022-04-15 14:05] dingzex opened #2014 "Cygwin Compilation error"
[](https://fanyi.baidu.com/translate?aldtype=16047&query=&keyfrom=baidu&smartresult=dict&lang=auto2zh###)[](javascript:void(0);)In the process of transplantation, cygwin found problems：

[ 67%] Building CXX object libs/EXTERNAL/libblifparse/CMakeFiles/blifparse_test.dir/src/main.cpp.o
[ 67%] Linking CXX executable blifparse_test.exe
[ 67%] Built target blifparse_test
Scanning dependencies of targe

[2022-04-20 17:49] sdamghan commented on #2008
@aman26kbm - I have checked the design, the number of multipliers is 4160 in the Yosys output and after partial mapping. However, it is reduced to 272 after removing the unused logic phase in Odin-II. This phase actually traverses the netlist from the output nodes and marks every node seeing in a path from an output node to an input node. So technically, nodes that are not in any path that ends in

[2022-04-21 05:09] aman26kbm commented on #2008
I see. Thanks for checking, @sdamghan .
Let me try to find if something isn't connected correctly.
This benchmark is from a tool called DNNWeaver from UCSD. The github page mentions that they ran it through Xilinx Vivado.

[2022-04-21 15:43] sdamghan commented on #2008
Oh, didn't know that. So we should dive more into this since this optimization is actually an old part of Odin-II. We may need to check from where the Yosys coarse-grained netlist is generated until after the unused logic removal.

@alirezazd - can you please have a look at this as well. We got 4160 hard multipliers once Yosys generated the coarse-grained netlist. During the Odin-II partial mappin

[2022-04-21 16:07] alirezazd commented on #2008
@sdamghan Sure, I'll check the source and post it here if I pinpoint the problem.

[2022-04-21 18:32] WhiteNinjaZ opened #2016 "Allow for graphical representation of an architecture without having to build and implement a design"
It would be nice if there was a way to graphically view how an architecture definition is laid out without having to create and implement a design.

#### Proposed Behaviour
Allow vtr graphics to be run on an architecture definition instead of just on a net-list so that general layout of CLB's, carry, RAM, etc, can be checked for correctness. It might also be nice to be able to view a graphical rep

[2022-04-21 19:11] amin1377 opened #2017 "Download QoR Results Generated During CI Run"
Is there any documentation on downloading QoR results generated during the CI tests? I couldn't find any help at [this link](https://docs.verilogtorouting.org/en/latest/README.developers/#collecting-qor-measurements).

It seems that the only way to access those results is to rerun the tests on my local machine.

@tangxifan @vaughnbetz @sdamghan

[2022-04-22 16:26] sdamghan commented on #2017
@amin1377 - once CI tests are completed, you would go to the "checks" tab in a pull request, then click on "Test". Scroll down and you would be able to see artifacts related to all passed tests. By clicking on them you can download each one you like.

I put a sample below which is one of my merged PRs:
1. Click on the "Checks" tab:
![1](https://user-images.githubusercontent.com/54898479/164755511-

[2022-04-23 04:36] aman26kbm commented on #2007
Hey @sdamghan , I am seeing another issue which seems to be related to this multiplier issue.

I'm running yosys+odin flow. I am attaching a design file. I'm running using the same architecture: arch/COFFE_22nm/k6FracN10LB_mem20K_complexDSP_customSB_22nm.xml

The error I get is from ABC:
/export/aman/vtr_aman2/vtr-verilog-to-routing/abc/src/base/abc/abcFanio.c:92: Abc_ObjAddFanin: Assertion `!Abc_

[2022-04-23 21:53] vaughnbetz commented on #2017
Thanks @sdamghan. @amin1377 : can you try this out, and then add this information to the QoR test part of the vtr documentation? We should be quite prescriptive: explain exactly how to do it for the the two standard QoR tests we list (vtr on flagship arch, titan on SIV arch).

[2022-04-24 00:23] amin1377 commented on #2017
Sure. I'll add it to the documentaion.

[2022-04-29 18:38] #2017 closed

[2022-04-30 21:48] aman26kbm commented on #2008
Hi @alirezazd , were you able to find something?

[2022-05-01 00:38] alirezazd commented on #2008
@aman26kbm  hello, I'm working on it and going through the source since the day that this issue was creaed. Be sure that I'll inform you if I find the bug.

[2022-05-01 01:16] aman26kbm commented on #2008
Thanks, @alirezazd

[2022-05-03 13:42] sdamghan commented on #1410
@christtc99 - Can you please have a look into this issue? We got the above PRs related to this issue, it is worth having a look at them to find out what is left to be done.

[2022-05-03 13:55] harpreetbamrah commented on #1410
Thank you @sdamghan for pointing to this.
All the changes put up in the mentioned PR https://github.com/CAS-Atlantic/vtr-verilog-to-routing/pull/33 have been tested and work fine; it's just the expectation results that need to be regenerated, using may be `make regenerate_expectation` or `make test`, I'm not very sure about that.
Let me know if any further help required.

[2022-05-03 14:33] sdamghan commented on #1410
Thanks, @harpreetbamrah - sounds like everything is already in place.
@christtc99 - then please update the branch of PR [CAS-Atlantic#33](https://github.com/CAS-Atlantic/vtr-verilog-to-routing/pull/33) with the current VTR master branch and regenerate the Odin-II expected results. To find out more about Odin-II regression tests and generating/regenerating expected results you would have a look at

[2022-05-05 17:07] WhiteNinjaZ opened #2023 "Update documentation to reflect recent changes in specifying different x and y segment lengths"
#### Current Issue
The merged PR #1836 allows users to specify different segment lengths in the x and y direction (i.e. by specifying axis="x/y"), however the documentation has not been updated to reflect this update.

[2022-05-06 05:42] A-Sathvik commented on #122
Hi, did you find out how to declare tile array size

[2022-05-09 04:24] aman26kbm commented on #2008
I'm seeing another issue that might be related to this.

Running this benchmark:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vtr_flow/benchmarks/verilog/koios/tpu_like.small.v

With this architecture:
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vtr_flow/arch/COFFE_22nm/k6FracN10LB_mem20K_complexDSP_customSB_22nm.xml

When I run with ODIN on

[2022-05-09 13:45] sdamghan commented on #2008
@aman26kbm - I have just noticed that the address width and data width for single/dual port rams have not been specified neither in the Koios benchmarks nor in the `all.v` attached to this issue. While Odin-II automatically assigns the address/data width of a memory block in the AST elaboration phase, we must explicitly specify these values for hard memory block instantiation using the Yosys+Odin-

[2022-05-09 14:22] aman26kbm commented on #2008
Aah. Interesting. Good find, Seyed. Thanks a lot.

[2022-05-09 15:21] aman26kbm commented on #2008
The all.v benchmark infers RAMs behaviorally. So this is likely not the issue in that one.

[2022-05-10 19:50] aman26kbm opened #2031 "Crash when running yosys+odin flow"
I'm running yosys+odin flow on a design. Yosys abruptly ends (at the AUTONAME pass). And an error is logged in odin.out saying blif file not found.

#### Expected Behaviour

Yosys+odin should finish normally.

#### Current Behaviour

I've attached a zip file that contains the design file. This is an HLS generated design.

I ran two experiments to dig into what's going on.

First, I enabled debug b

[2022-05-12 17:14] sdamghan commented on #2031
@aman26kbm - it seems the problem is coming from RAM shortage, at least in my system. In the autoname pass, Yosys actually used up more than 34GB of RAM and after that, my system was halted. I suspect the Verilog design results in a giant netlist and Yosys requires a huge amount of RAM to perform the renaming process, specifically for the module mentioned above. The error shown in the Odin-II log

[2022-05-12 18:18] sdamghan commented on #1955
Hi @Sun1927 - not sure if you have still this problem, but you can compile the Odin-II in debug mode by going into the "VTR_ROOT/ODIN_II" and then run "make debug". You would be able to run Odin-II in GDB by the following commands:
[code]
Then when Odin-II faces the segfault, you would be able to backtrace using the following commands:
[code]
If you would need further help, please provide us with

[2022-05-13 14:38] aman26kbm commented on #2031
It died at the same point on the larger machine (with 130GB RAM) as well. Looking at the odin log, I see:
Maximum resident set size (kbytes): 121873588
That's about 120 GB. Pretty close to the 130GB RAM size. This was the only thing running on the machine.

On the previous machine (with 58 GB RAM), odin.log contained:
Maximum resident set size (kbytes): 20342420
That's about 20 GB. And there were

[2022-05-13 19:10] sdamghan commented on #2031
I have run only Yosys with the `lenet_may10.v` design file and the same synthesis script of Yosys+Odin-II. The behaviour was the same. The following zip file includes the design file, the synthesis script and required library files.

[lenet_may10_YOSYS_ONLY.zip](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/8688926/lenet_may10_YOSYS_ONLY.zip)

Command to execute Yosys with the

[2022-05-13 21:39] aman26kbm commented on #2031
Gotcha. I'll update the YYosys.cpp file and go ahead with that for now.

[2022-05-17 01:12] aman26kbm opened #2036 "Error during placement with hard blocks with chains"
<Moving the discussion from email with @MohamedElgammal  to a Github issue>
In a design where we have DSP blocks instantiated and connected using chains, we see an error during placement.
The error is that the placer can't find an empty dsp_top for multiple blocks of the mult_add_int although the packer earlier in the flow sized the FPGA to have enough sites.
Initial debug suggests a bug in the in

[2022-05-17 04:31] MohamedElgammal commented on #2036
@aman26kbm Thanks for raising this issues. I have looked into it and it's failing to find a location for multiple DSP blocks in this design as the utilization of the DSPs is 100%. It might be something related to the exhaustive search function in initial_placement. We might have a shift of one column for example and the problem appeared in this design as we have full utilization. @sfkhalid Can you

[2022-05-19 17:57] jgoeders opened #2038 "Support SystemVerilog using Surelog parser"
We should be able to handle SystemVerilog input using the Surelog front-end for yosys.

 * Add a simple regression test to check end-to-end flow.
 * Update documentation to explain how to run with SystemVerilog.

[2022-05-19 20:02] #2023 closed

[2022-05-19 20:25] WhiteNinjaZ opened #2039 "Segment SB pattern does not allow for zero fan out on ends"
I have noticed that the current VPR implementation does not allow for wires to terminate without a fan out/fan in from a switch block. This can be an issue if a user wants to specify a segment that terminates with fan in from a connection block but not a switch block (i.e. sb="0 0 1 0 0" cb="1 0 0 1").

#### Expected Behaviour
A user should be able to end a segment without fan in/fan out from a sw

[2022-05-20 04:11] aman26kbm commented on #2036
Hey @MohamedElgammal , based on our discussion earlier today, I ran this design with an architecture that had a bigger grid such that the DSP usage is < 100% and it passed. Just wanted to let you know.

[2022-05-20 13:55] sdamghan commented on #2031
resolved in #2035

[2022-05-20 13:55] #2031 closed

[2022-05-20 13:57] sdamghan commented on #2008
@alirezazd - do you have any update on this issue?

[2022-05-20 17:13] sdamghan commented on #2008
@aman26kbm - according to our previous discussion, I remember you said you would see a decrease in the number of multipliers once you connect memory instances to the design. I tried to use `dual_port_ram` hard memory blocks instead of implicit memory, defined in the `all.v` benchmark. This is mainly because we map Yosys memory blocks to single_port_ram/dual_port_ram in the Odin-II partial mapping

[2022-05-21 05:44] aman26kbm commented on #2008
I made some more modifications and ran the design through Xilinx Vivado.
Just to reduce runtime, I changed the systolic array size to 16x16.
I see 272 DSPs in the synthesis report:

[code]

When I run this design with VTR, the same value shows up in the yosys log:
`$mul                          272`

And also in the ODIN log in the beginning:
`Total # of multipliers = 272`

But later in the ODIN l

[2022-05-21 14:17] alirezazd commented on #2008
@sdamghan @aman26kbm
Hello,
This what I have acquired till now:
There is a function in Odin which marks the "unused" nodes for cleanup; First, The function starts from marking top output nodes and recursively traverses backwards till there is no adjacent nodes and it reaches the ends of netlist. Then, it starts from top input nodes and recursively forward checks for previous markings by back trave

[2022-05-21 16:22] aman26kbm commented on #2008
Thanks, @alirezazd . I suggest using the design file attached in my last message for any further experiments. It is a smaller design (and has some other fixes to ensure it runs on Vivado as well). It will be easier to use.

[2022-05-21 16:51] alirezazd commented on #2008
@aman26kbm  you're welcome, noted.

[2022-05-26 15:25] jgoeders commented on #2038
@benbroce

[2022-05-26 15:26] jmah76 opened #2040 "Invalid Inputs Crash VPR Graphics"
### ####Crash 1: Set Net Transparency
#### Expected & Current Behaviour
When the net transparency fill-in box is filled with something other than a number, VPR graphics should not crash. Should instead tell the user the input is invalid via a pop-up (like when the search box is provided an invalid input). Instead, it crashes and produces an error (stof).

#### Steps to Reproduce
1. in terminal: `$

[2022-05-26 15:32] mithro commented on #2038
FYI - @hzeller

[2022-05-26 17:26] MohamedElgammal opened #2041 "Github CI tests are doubled"
Every CI test on GitHub actions is running twice:

- One triggering push
- One triggering Pull request

Actually, both runs every time anyone pushes to a branch on a PR.

#### Current Behaviour

Currently, some tests are failing on the pull request trigger while the exact same test is passing for the push trigger.

The error is:
`
Could not find rsyslog for current run!

ERROR: (gcloud.beta.comput

[2022-05-26 18:42] MohamedElgammal commented on #2041
@kgugala one example that is currently happening is the failing tests on PR #2034

[2022-05-26 18:45] mithro commented on #2041
@MohamedElgammal - The general idea is that people shouldn't be pushing directly to the `vtr-verilog-to-routing` but to their own fork of the repository and then sending a pull request from that....

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/getting-started/about-collaborative-development-models#fork-and-pull-model
https://gist.github.com/Chaser324/ce0505fbed06b947d

[2022-05-26 19:17] MohamedElgammal commented on #2041
@mithro Thanks for sharing this with me . I will make sure to follow this model in my upcoming pull requests.

[2022-05-26 19:19] MohamedElgammal commented on #2041
However, I think we still have some issues regarding the available resources on the cloud as we are having too many failing tests.

[2022-05-26 19:55] mithro commented on #2041
That should be a seperate GitHub issue.

[2022-05-26 20:16] MohamedElgammal opened #2042 "Failing CI tests due to unavailable cloud resources"
There are many failing tests due to unavailable resources

`ERROR: (gcloud.beta.compute.instances.create) Could not fetch resource:`
`19:41:43 |  - The zone 'projects/***/zones/us-west1-a' does not have enough resources available to fulfill the request.  '(resource type:compute)'.`

[2022-05-26 20:17] MohamedElgammal commented on #2041
Thanks. Closing this issue and opening #2042  to discuss the failing tests due to cloud resources.

[2022-05-26 21:50] WhiteNinjaZ opened #2043 "Unable to Describe Diagonal Wires with Current VPR architecture description"
#### Current Behaviour
Several current FPGA's utilize diagonal routing in their architectures (specifically Xilinx parts). Currently, VPR has no way to implement this functionality. The proposal has been made that diagonal wires could be implemented by using a combination of shorted segments and custom switch blocks. However, there is a major issue with this:
The issue is that switchpoints in vtr

[2022-05-27 22:34] aman26kbm commented on #2036
Hey @sfkhalid, did you get a chance to look into this?

[2022-05-30 14:46] sdamghan commented on #2008
@alirezazd - any update on this issue? have you found the discontinuity reason?

[2022-05-30 18:46] sdamghan commented on #2038
It seems some repositories, like googletest, are recursively used with various versions in the Yosys UHDM Plugins Integration. For instance, we got `googletest @ 8d51dc5` inside _Surelog/third_party_ and `googletest @ e2239ee` inside _Surelog/third_party/UHDM/third_party_. VTR uses subtrees instead of submodules, so it seems we need to add each version of these repositories separately as a subtree

[2022-05-31 14:20] jmah76 commented on #2040
See PR #2045

[2022-05-31 14:20] #2040 closed

[2022-06-01 15:57] alirezazd commented on #2008
@aman26kbm @sdamghan I have added a function to extract the netlist info right after elaboration by yosys. (Link to the branch: https://github.com/CAS-Atlantic/vtr-verilog-to-routing/tree/issue-2008)
I'm feeding the "all_from_seyed.modif.sv" design and I'm detecting multiple nets with no fan-outs or fan-outs not connecting to any node. Here is the .csv file that contains list of these nets and the

[2022-06-01 16:53] sdamghan commented on #2008
@aman26kbm - Since the design file is a bit large, figuring out the schematic design is a little bit time-consuming. It would be great if you could provide us with a high-level schematic of the design. Something that can give us an idea about the connectivity of the processing elements in the systolic array and the logic included in these units, in addition to how other high-level modules like mem

[2022-06-01 17:09] aman26kbm commented on #2008
Ok lemme try.

[2022-06-01 17:09] alirezazd commented on #2008
@sdamghan As you mentioned the design is large and manually checking all multiplier nodes in long paths is hard. What I'm gonna do as the next step is to stick to one of the multiplier nodes that gets removed and dig deeper into the issue. I checked every removed multiplier using above approach and they did not have any unconnected nets or outputs. I'll make a PR once I come up with the solution.

[2022-06-01 17:12] aman26kbm commented on #2008
@alirezazd , just to confirm... you've been able to identify multipliers that were removed by odin/yosys, but these multipliers have no unconnected outputs/nets, right? As in.. these multipliers are feeding to the output of the design, but still being removed by odin/yosys? If my understanding is right, this is great. Then, we are quite close to identifying what's going on, right?

[2022-06-01 17:19] alirezazd commented on #2008
@aman26kbm Yes, the removed multiplier nodes seem normal and have connections both on inputs and output. I think the problem is that somewhere in their path, there might be unconnected nodes (or with some other issue) that results in the multipliers getting marked as useless. I also think that we are close to identifying the reason behind this issue.

[2022-06-02 00:02] WhiteNinjaZ commented on #2043
A major consideration when thinking about how to represent diagonal wires in the xml is that a diagonal wire does not necessarily have the same contribution to the horizontal/vertical channels of an architecture. Consider, for example, an architecture with 24 wires in the vertical and horizontal directions and that we want to create a diagonal wire with a vertical component of length 3 and a horiz

[2022-06-02 03:10] WhiteNinjaZ commented on #2043
The following gives some examples of how diagonal wires might be represented in the xml along with the prose and cons of each. Options are listed from most to least favorable. In all cases the examples given are of diagonal wires with vertical length 4 and horizontal length 2:
## Option 1: create a diagonal "wrapper" for two segment types
__Description:__  Diagonal wires could be represented by wr

[2022-06-02 05:44] aman26kbm commented on #2008
I am able to see the schematic in Vivado. Maybe I can share the Vivado project folder with you guys, or you can run Vivado at your end on this design and open the schematic.
However, I do see several synthesis warnings. I'll look through them carefully to see if they point to some issues.

[2022-06-02 14:51] vaughnbetz opened #2048 "Pictures missing from documentation on getting QoR from CI, and re-running failed CI tests due to infrastructure issues"
There are some missing pictures and broken links in the documentation (noted in the title).  See
https://docs.verilogtorouting.org/en/latest/README.developers/#example-vtr-benchmarks-qor-measurement

#### Your Environment
Latest web documentation (v:latest)

[2022-06-02 16:01] vaughnbetz commented on #2038
I'm far from an expert on this, but it seems like git subtree's are generally recommended over submodules (at least the top few articles I see on them recommend subtrees).  See https://www.atlassian.com/git/tutorials/git-subtree

This is likely a good thing to discuss in the VTR meeting today if you can make it.

[2022-06-02 20:22] vaughnbetz commented on #1928
@jmah76 : adding you to this issue as we discussed you taking it as your task list clears.  It would involve:
- add the command line option described above
- add that option to the documentation
- there is a final timing analysis after routing.  If it returned a negative slack anywhere and this option to error out was set, you would call VPR_FATAL_ERROR (stops processing with a message, which shou

[2022-06-03 02:29] aman26kbm commented on #2008
Here's the Vivado project just in case you need it. It was generated in Vivado version 2019.2: https://utexas.sharepoint.com/:u:/s/LCATeam3-VTR-ML-Benchmarks/EfltJxa5-4lOrkjY7fAu-DYBUfiVCO6sccEaqvSnYHF4xw?e=dB5bEh

[2022-06-06 01:21] aman26kbm commented on #2008
I went through the warnings shown by Vivado and made some modifications to the design. The results stay the same (Vivado shows 272 DSPs, but ODIN log has 80. I'm attaching the updated file, just in case you want to look.

[all_from_seyed.modif.after_vivado.sv.zip](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/8841226/all_from_seyed.modif.after_vivado.sv.zip)
.

[2022-06-06 01:41] aman26kbm commented on #2008
Btw, please take a look at line 8929 of the file attached in the previous message.

assign mem_read_data[(m%GROUP_SIZE)*DATA_WIDTH+:DATA_WIDTH] = local_mem_read_buf_id_dly == buf_id ? local_mem_read_data : 'bz;

This is inside a generate block and is on the output path. Not sure how this gets handled in Yosys. This could be causing some hardware to get optimized out.

[2022-06-06 18:14] alirezazd commented on #2008
@aman26kbm
I have extracted a list of Removed and Not-Removed multipliers (extracted form their output net names), I'm checking the systolic array to see if I can find a pattern. I will attach the list so you can also take a look at it.
[list.txt](https://github.com/CAS-Atlantic/vtr-verilog-to-routing/files/8846584/list.txt)

[2022-06-08 00:50] ArashAhmadian opened #2054 "Supporting rr_graphs with non-identical horizontal and vertical channels in the Serializer"
#### Context

#1883 enables the rr_graph to model different horizontal and vertical channels. As a follow up to this feature, the seralizer should also able to support rr_graphs generated after the above change. As a first step, the serializer should catch rr_graphs generated from non-identical vertical and horizontal channels and throw an error since it's not supported right now.

[2022-06-08 00:52] ArashAhmadian commented on #2054
Passing this on to @duck2 (can't find you on the list of users to assign from)

[2022-06-08 15:02] jmah76 commented on #2001
The documentation for the graphics commands are wrong. I think the correct command should be $VTR_ROOT/vpr/vpr $VTR_ROOT/vtr_flow/arch/timing/EArch.xml $VTR_ROOT/vtr_flow/benchmarks/blif/tseng.blif --route_chan_width 100 --analysis --save_graphics on ----graphics_commands "save_graphics place.png;" .

If you're still interested, see PR #2055.

[2022-06-09 01:24] WhiteNinjaZ commented on #2043
I have found that a rough approximation of diagonal interconnect can be created using a very simple change to the architecture description and custom switch blocks. If a switch override tag is added to the `wireconn` of a switchblock like so:
[code]
the wire_switch of the wire in the to set (`len2_diag_x` in this case) can be overridden to a short, essentially creating a diagonal wire. However, tw

[2022-06-09 15:10] vaughnbetz opened #2059 "VTR flow library documentation is just a skeleton -- should fill in"
https://docs.verilogtorouting.org/en/latest/vtr/python_libs/vtr/ has the skeleton of documentation for this library, but only the headings are there.

#### Proposed Behaviour
Complete the documentation

#### Context
Our flow scripts are pretty complex (and useful) so documenting them is helpful. We do have pretty reasonable documentation on the overall scripts, so if you conclude no documentation

[2022-06-09 23:14] vaughnbetz commented on #2043
I tend to like the lower effort ones, so option 2 and the new option (which I think is close to option 2) seem worth trying, as they have the least code changes.
The switch_override tag seems like a generally useful addition; can be used not just to specify shorts for diagonal routing but also more complex switch blocks.

Issue 0: (index 0 means both start and end of a wire): I suspect this isn't

[2022-06-13 12:13] sdamghan commented on #2008
@alirezazd - do we have any update on this thread?

[2022-06-13 14:35] alirezazd commented on #2008
@sdamghan Yes, I started to analyze the coarse-grained netlist which is available right after Yosys elaboration. Here is what I have found:
1. There are many unconnected buffer nodes (which might be a normal thing)
2.  I'm detecting 12 MUX nodes that have discontinuity.
The interesting thing about MUX nodes is that these nodes share same index with multipliers that not being removed from the sys_a

[2022-06-14 06:04] WhiteNinjaZ opened #2064 "Dangling interconnect occurs when connecting a wire to a switch of type short"
#### Current Behavior
For some reason, when an interconnect is specified between a wire and a wire with an arch_wire_switch of type short there are some cases when unspecified interconnect occurs. For example, if a user specifies a custom SB that connects segments from bottom to left using an arch_wire_switch of type short, a connection will also be made from the bottom to the right as shown in th

[2022-06-15 05:04] saitama0300 commented on #2036
Hello I am working with Aman on a new benchmark and I am coming across errors at Placement stage in VTR:

**Line: 123
Message: 184 blocks could not be placed during initial placement, no spaces were available for them on the grid.
If VPR was run with floorplan constraints, the constraints may be too tight.**

Please find the **design file, vpr.out, arch file and config file** below:
[brainwave_iss

[2022-06-15 14:31] aman26kbm commented on #2036
Adding a few points to @saitama0300 's comment above...
1. The error is the same as we have been discussing in this issue.
2. The resource usage of any resource is not 100% though.
3. The design has many DSP chains of length 8.
4. The layout is auto. So, the FPGA does get sized based on the resource requirement.

[2022-06-15 20:19] alirezazd commented on #2008
@aman26kbm @sdamghan
Here is a detailed description of what I have found:
The problem of nodes getting removed is not rising from Odin. Odin just removes a chain of nodes that do not have a path to output (which is normal).
After checking the coarse-grained netlist acquired from Yosys, I detected couple of unconnected multiplexers. Since these muxes themselves did not have a traceable name, I extr

[2022-06-16 17:42] vaughnbetz commented on #2064
@WhiteNinjaZ : can you look at the rr-graph.echo file (or write out an xml) to see if the edges exist or not.
If they aren't (then graphics issue): Sebastian, can you take a look?

[2022-06-16 21:38] WhiteNinjaZ commented on #2064
@vaughnbetz The echo files didn't seem to provide much useful info regarding the SB interconnect, however turning on verbose (i.e. setting `constexpr bool verbose = true;` on line 863 of build_switchblocks.cpp) did seem to give some useful data. The following is taken from vpr.out and shows the interconnect for the switch block in the first picture above:
[code]
As you can see, there is only one e

[2022-06-16 21:46] vaughnbetz commented on #2064
Thanks.  If you also click on the two wires in question to get their rr_node ids, you can check if there is an edge between those two nodes in the rr-graph.  That's a good check to do as well since you're checking the final data structure; it will help localize the problem between sb->rr-graph creation (stamping out the sb across the whole chip) or draw/visualization.

[2022-06-16 23:54] WhiteNinjaZ commented on #2064
Sure, I had vtr write out an xml of the graph (using --write_rr_graph) and I can confirm that the there is no edge from the bottom segment's node (pictured) to the right segment's node.

__I give a verbose methodology bellow as well as the rr-graph in case it might be helpful for debugging__
For the shorted wire in question (looking at Sb (2,1)): Bottom wire is RR node 1246, left is 1099, and righ

[2022-06-19 20:42] vaughnbetz commented on #2064
Thanks. @SebastianLievano : when you're free it would be good for you to sync up with Joshua so you can reproduce and debug the graphics issue.

[2022-06-23 00:22] WhiteNinjaZ opened #2071 "Needed features in VTR description to represent Xilinx architecture"
#### Proposed Behaviour
The following is a list of functionality that would need to be supported in VTR in order to obtain an approximate capture of the Xilinx architecture:

- [x] Support for different distributions of wires in the vertical/horizontal.
    - Most of the functionality for this was brought in with PR #1883 although porting the functionality to work with custom SB's remains as an ac

[2022-06-23 00:40] WhiteNinjaZ commented on #2071
The following shows the difference between Xilinx and VTR:
![image](https://user-images.githubusercontent.com/83309027/175182423-86055709-b22e-4cee-8d0a-0571a3e5ec19.png)
 Xilinx: In green SB, in red CLB
![image](https://user-images.githubusercontent.com/83309027/175183262-ef745f2f-c186-4d95-97e5-5010c22fa40e.png)

[2022-06-23 18:44] alirezazd opened #2072 "CI tests failing due to error in python packages"
An error in one of python packages causes the CI tests to fail. At the first glance it looks like that a code formater named "black" is causing the issue.

A related PR with failed CI tests: https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/2070

#### Expected Behaviour

#### Current Behaviour

#### Possible Solution

#### Steps to Reproduce

1.  At this point just running the CI t

[2022-06-24 22:45] alirezazd commented on #2072
This issue has been resolved. Closing the issue...

[2022-06-24 22:45] #2072 closed

[2022-06-24 22:46] amin1377 opened #2074 "Can't build VPR when VERBOSE flag is enabled"
When I uncomment VERBOSE flag in "vpr_types.h", I can't build VPR. It seems the problem is mainly related to some parts of the placement code. I had to comment the following sections to build the project.

initial_placement.cpp: line 542-547
place.cpp: line 247-249, 834-838, 921-925, 2856-2873
timing_place_lookup: line 508-514

@vaughnbetz

[2022-06-27 11:48] cristianomodesti opened #2075 "Assertion 'clk_pin' failed"
Hi to everyone.
I am trying to build my own fpga architecture and I was able to make it work for a small design which contained just a multiplier and a few other logic elements. Now I am running the same flow for a bigger design starting by the specification of a vpr architecture composed only by LUTs and FFs.
When I run the vpr command with the `--timing_analysis off` I am able to let the flow do

[2022-06-29 16:46] amin1377 opened #2078 "Double free of rt_node"
In function "connection_router.cpp:timing_driven_route_connection_common_setup", "free_route_tree" is called if no path is found. "cpp:timing_driven_route_connection_common_setup" is called inside "connection_router.cpp:timing_driven_route_connection_from_route_tree_high_fanout" if no path is found based on the default settings. If  "timing_driven_route_connection_common_setup" cannot find a path

[2022-06-29 19:00] jmah76 opened #2079 "Update Documentation for VPR Placement Constraints"
VPR Placement Constraints page example does not show up on page properly:

![image](https://user-images.githubusercontent.com/66747201/176515021-cf38937e-9844-482b-b221-1aad1901e85c.png)

(At https://docs.verilogtorouting.org/en/latest/vpr/placement_constraints/?highlight=floorplanning)

[2022-06-30 05:10] aman26kbm commented on #2008
I looked at the design to understand what was going on and this issue is because of the following code (around line 8929):

assign mem_read_data[(m%GROUP_SIZE)*DATA_WIDTH+:DATA_WIDTH] = local_mem_read_buf_id_dly == buf_id ? local_mem_read_data : 'bz;

There is a complicated temporal and spatial muxing structure generated using generate statements. I believe yosys doesn't infer that correctly, but

[2022-06-30 21:08] aman26kbm commented on #2008
Closing this issue. Thanks a lot, @sdamghan and @alirezazd for debugging this.

[2022-06-30 21:08] #2008 closed

[2022-07-01 01:59] vaughnbetz commented on #2078
I think I'd need a walk through of the code.  If we've freed a route tree we should set it to NULL to a second free call wouldn't do anything. (Without looking at the code that seems like it would be a robust solution).

[2022-07-01 16:28] #2079 closed

[2022-07-07 22:19] jmah76 opened #2087 "VPR Pack: C-style Arrays to C++ Vectors"
Related to PR #2084
Change the C arrays in vpr/pack that get delete[] called on them to C++ vectors.

(From https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/2084#discussion_r915056221)

(From https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/2084#discussion_r915064384)

[2022-07-07 22:22] jmah76 opened #2088 "VPR Pack: Replace hand-implemented linked lists to C++'s std::lists"
Related to PR #2084

Lists such as the ones vpr/src/base/vtr_types.cpp (line 236) might be better implemented as std::lists. Refer to https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/2084#discussion_r915061111

[2022-07-07 23:56] vaughnbetz commented on #2048
Fixed ... closing.

[2022-07-07 23:56] #2048 closed

[2022-07-07 23:56] vaughnbetz commented on #2042
It's much better now, but still happens occasionally (happened today again). Not sure if there's anything more that can be done.

[2022-07-08 00:01] vaughnbetz opened #2089 "Cluster attraction groups for tight floorplan constraints not working"
The merge of Mohamed Elgammal's new clustering api and refactoring somehow broke cluster attraction groups, which are necessary for tight floorplan region constraints. They should be fixed.

#### Expected Behaviour
Attraction groups should force a dense packing on parts of a design with tight floorplan constraints.

#### Current Behaviour
Instead, sfkhalid tells me that they currently don't work (

[2022-07-08 01:12] mithro commented on #2042
I'll work with Antmicro to make sure that we figure out a proper fix for this.

[2022-07-08 01:36] vaughnbetz commented on #2042
Thanks!

[2022-07-08 16:22] alirezazd opened #2090 "Odin: report number of used and unused top nodes sperately"
Currently, at the end of Odin synthesis stage it reports netlist statistics in which one of the entities is Total number of top input nodes. However, it does not provide information regarding number of used and unused top nodes.
#### Proposed Behaviour

In addition to reporting number of all input nodes, it's more convenient to inform the user of number of used and unused input nodes distinctly.

[2022-07-08 17:13] sdamghan commented on #2090
Thanks @alirezazd - please find [here](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/9073907/input_mismatch.zip) the design file. This design has 438 input nodes in the Verilog file and in the Odin-II generated output BLIF file, however, Odin-II only reports 419 inputs in the stat section (the same happens in the VPR stage as well).

Technically, there is a list of all input n

[2022-07-12 20:47] amin1377 opened #2091 "Inconsistency in pb_route data structure"
There is a member variable in *t_pb* named *pb_route*. This is a map-like data structure, and its key is the logical number of a pin. Thus, I can assume that the key of an entry to this data structure should be equal to the pb_graph_node.pin_count_in_cluster (this is the actual logical number assigned to each pin). However, when I tested it, as illustrated in the attached image, it shows that the

[2022-07-14 20:13] sdamghan opened #2094 "CI failures"
It seems the CI failure is coming from my merged PR (#2081). Previously, when we modify GitHub action configuration files, the changes should be merged into the master branch to become effective. However, this time seems like it resulted in failures.

@vaughnbetz - I will have a look at that to find a solution.

#### Expected Behaviour

#### Current Behaviour

#### Possible Solution

#### Steps to

[2022-07-14 20:20] vaughnbetz commented on #2094
Thanks.  If the CI failures can't be resolved quickly we should revert the changes in #2081 while we figure them out.

[2022-07-14 21:05] sdamghan commented on #2094
Sure

[2022-07-15 15:13] sdamghan commented on #2094
The compile flag was missed in other CI tests of vtr_reg_basic. I close this issue as it's fixed by #2095

[2022-07-15 15:13] #2094 closed

[2022-07-15 15:55] #2090 closed

[2022-07-18 14:40] aman26kbm opened #2098 "ODIN crashes with stack overflow during statistics calculation"
<Transferring from email to Github>

#### Expected Behaviour
There shouldn't be a crash.

#### Current Behaviour
With the new TPU 32x32 design for the Koios 2.0 benchmarks, ODIN crashes with a segmentation fault.

I created a debug build of VTR and ran the design again to see what was going on. I saw that there was a stack overflow when ODIN was generating statistics of the circuit. From the stack

[2022-07-18 19:36] FJShen opened #2099 "Basic_flow fails comparison against golden results"
#### Expected Behaviour

As specified in Docs » Tutorials » Design Flow Tutorials » Basic Design Flow Tutorial, running `../scripts/parse_vtr_task.pl -check_golden basic_flow` should output `basic_flow..[Pass]`

#### Current Behaviour

Lots of failures and some errors:

[code]

#### Possible Solution

?

#### Steps to Reproduce

Follow all steps described in Docs » Tutorials » Design Flow Tutorial

[2022-07-20 19:37] cmanovit commented on #284
Since these routing muxes are intra-block, could we also run into #325 (e.g., these intra-block routing, though not visible to packer, may be required in order to fulfill its assumption that it can always 'route outside')?

[2022-07-23 03:38] aman26kbm opened #2103 "Yosys+ODIN flow crashing when ODIN only flow passes in some benchmarks"
#### Expected Behaviour
The Yosys+Odin flow should pass as well.

#### Current Behaviour
I'm seeing a few benchmarks run successfully with ODIN only, but they crash with ODIN+Yosys.

The benchmarks are:
1. [vtr-verilog-to-routing/eltwise_layer.v at master · aman26kbm/vtr-verilog-to-routing (github.com)](https://github.com/aman26kbm/vtr-verilog-to-routing/blob/master/vtr_flow/benchmarks/verilog/koi

[2022-07-24 14:51] aman26kbm commented on #2103
Hey Seyed,

We've been able to identify the root cause of this issue. It happened when we got the same error in another benchmark (brainwave).

This crash is happening because there are multiple pb_types for the same model (subckt) in the arch file.
For example, see 'multiply_fp_clk' in the arch file linked above. This is the name of the model (subckt).

[code]

But there are two pb_types that use

[2022-07-24 16:44] sdamghan commented on #2103
Hi Aman,

That makes sense. In Odin-II, we only extract the name of hardbacks and the port orders from the architecture file. In this way, Odin-II handles the port sizes, considering the upper limit value of hard block ports, defined in the architecture model. However, the scenario for Yosys+Odin-II is a bit different, as we require to provide Yosys with the declaration of hard blocks to let Yosys

[2022-07-24 17:08] aman26kbm commented on #2103
Thanks, Seyed.

So, you mean we need to go ahead with the workaround for now, right? The parameter based solution you mention (similar to block rams) is the correct solution that will take time to implement, right? I ask to clarify because for this solution, the fix in the design files is simple.

Also, I tried the workaround, but I still see the crash. That's surprising. Maybe I'm missing somethi

[2022-07-24 17:12] aman26kbm commented on #2103
Oh adding to the previous comment..
The design I attached uses multiply_fp_clk and adder_fp_clk.
I separated the models in the arch file - multiply_fp_clk and multiply_fp_clk_32, adder_fp_clk and adder_fp_clk_32.

[2022-07-24 17:30] sdamghan commented on #2103
@aman26kbm - yes, please move forward with the workaround.

Regarding the aforementioned approaches, we cannot definitely determine which approach is correct and which one is wrong since if we are supposed to consider hard blocks as black boxes in the synthesis process, the synthesizer should not perform any modification on the HB port sizes, as Yosys does in this way. Once a user defines a module

[2022-07-24 18:08] aman26kbm commented on #2036
Pasting conversation form email here to keep the issue updated:

​On Mon, Jul 18, 2022 at 4:26 PM Mohamed Elgammal <[mohamed.elgammal@mail.utoronto.ca](mailto:mohamed.elgammal@mail.utoronto.ca)> wrote:
Hi Aman,

We can still use the auto layout which is automatically sizing the device based on the limiting block type (the one with the highest utilization) and reports the overall device utilization

[2022-07-24 18:12] aman26kbm opened #2104 "In some benchmarks, resource usage differs significantly when using Yosys+ODIN flow, compared to ODIN only flow"
<Moving from email to github for better tracking>

#### Expected Behaviour
The resource usage between the two flows should be similar.

#### Current Behaviour
For the CLSTM benchmark, we are seeing the resource usage differ greatly when we run with Yosys+ODIN compared to when we run ODIN only.

![clstm](https://user-images.githubusercontent.com/35443216/180660287-97203508-76ac-4e3e-8bbf-c856c56b8a

[2022-07-24 18:22] aman26kbm opened #2105 "ODIN crashes when generating netlist statistics"
<Moving discussion from email to github for better tracking>

#### Expected Behaviour
ODIN shouldn't crash.

#### Current Behaviour
ODIN is crashing with the TPU 32x32 design.

I created a debug build of VTR and ran the design again to see what was going on. I saw that there was a stack overflow when ODIN was generating statistics of the circuit. From the stack it looked like it was bouncing betwe

[2022-07-24 18:24] aman26kbm commented on #2105
Since this passes with hard blocks enabled, we can reduce the priority of debugging this issue.

[2022-07-24 19:14] sdamghan commented on #2104
@aman26kbm - thanks for raising this issue.

As I mentioned earlier, the Yosys-generated coarse-grained BLIF files miss a few internal connections in deep submodules (compared to the top module). I figured out that this issue can be resolved by adding `expose -evert-dff` command before flattening the netlist.

Based on the [Yosys manual(page 118)](https://github.com/YosysHQ/yosys-manual-build/rele

[2022-07-24 19:24] sdamghan commented on #2098
@aman26kbm -is this issue similar to the recent one you have created about tau_32x32?

[2022-07-24 20:04] aman26kbm commented on #2098
Oh sorry. I didn't realize I had already created an issue for this. Lemme close that one as duplicate.

[2022-07-24 20:05] aman26kbm commented on #2105
Duplicate of #2098

[2022-07-24 20:05] #2105 closed

[2022-07-24 20:06] aman26kbm commented on #2104
Thanks for the update, Seyed. Appreciate it.

[2022-07-25 15:41] jmah76 opened #2107 "Script to Compare QoR Doesn't Work"
./vtr_flow/scripts/qor_compare.py doesn't work on parse_results files from GitHub artifacts without editing the parse_results file.
./vtr_flow/scripts/qor_compare.py requires QoR metrics in .txt files to be seperated by a tab ONLY (i.e. \t), but parse_results files output are formatted such that QoR results are seperated by a tab and two spaces (i.e. \t )

[2022-07-25 16:54] sdamghan commented on #2103
Hey Aman,

Long story short, the issue comes from the DSP block's name. Using Yosys as the elaborator, it generates names for subcircuits that have the name of the subcircuit and some information about its port sizes in very specific cases, like `dual_port_ram\\ADDR_WIDTH?4'0100\\DATA_WIDTH?4'0101`.

In the Odin-II BLIFReading phase, we require to extract the subcircuit types from their name. Ther

[2022-07-25 21:33] aman26kbm commented on #2103
:) Gotcha. I'll update the arch file. Thanks, @sdamghan

[2022-07-25 22:24] aman26kbm commented on #2103
Hey Seyed,
In the arch file we have, I see that we have many models which are specified in the blif_model of various pb_types. For example, mac_int is a model that is used in the blif_model of 3 pb_types. So, for this workaround, I'll have to add separate models for each.

That's not hard, but I just wanted to something about the non-workaround method (just to understand this correctly).
In the no

[2022-07-26 13:16] sdamghan commented on #2103
@aman26kbm - correct. That's why I mentioned that please move forward with the workaround. We need to come up with an appropriate design for this case.
As mentioned earlier, Odin-II was designed to handle these cases for the VTR flow. So we cannot accommodate this behaviour in the Arch file since other tools are also reading arch files, and we only need this case to be handled for Yosys+Odin-II. S

[2022-07-26 13:17] sdamghan commented on #2103
Please do not close this issue as its a reminder to propose the implementation

[2022-07-26 13:29] aman26kbm commented on #2103
Thanks for the explanation. Sure, will not close it. For now, we have a workaround. We can use this issue to track the work for the correct fix.

[2022-07-26 20:13] sdamghan commented on #2103
The libarchfpga provides a list of architecture models in the `t_arch/models` data structure. Regardless of complex block modes and the number of physical blocks they include, the input size of a complex hard block (blif_model) is considered the largest among all modes. In the synthesis process, whether in Odin-II or Yosys+Odin-II, the model considered for a hard block is what libarchfpga returns,

[2022-07-26 20:13] #2103 closed

[2022-07-27 00:49] #2098 closed

[2022-07-27 03:00] aman26kbm commented on #2104
Hi Seyed, I compared the resource usage between odin-only and odin+yosys flows for other benchmarks. And I see one case that has a significant difference. That is benchmark spmv (https://github.com/aman26kbm/vtr-verilog-to-routing/blob/master/vtr_flow/benchmarks/verilog/koios/spmv.v)

ODIN-only shows 5 multipliers, but Yosys+ODIN shows 5.
But the difference is seen in vpr.out, not in odin.out.
I a

[2022-07-27 18:51] #2078 closed

[2022-07-29 20:21] amin1377 commented on #2107
The script is still not working for me. I was wondering whether the issue is solved for you.
@jmah76

[2022-07-29 20:28] amin1377 commented on #2107
I just reverted the changes made in [PR#2108](https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/2108), and it works now!

[2022-08-01 15:28] TaoBi22 opened #2111 "Mistakes in VPR Placement Constraints docs"
#### Expected Behaviour
VPR should succeed when provided with the example placement constraints in the 'VPR Placement Constraints' documentation.

#### Current Behaviour
VPR throws the following: `Error parsing start element tag (line: 9 col: 10)`. This is due to a missing closing bracket - adding this bracket still results in `Start-end tags mismatch (line: 9 col: 13)` being thrown as the self-cl

[2022-08-02 20:01] ArashAhmadian commented on #2089
@vaughnbetz @sfkhalid I've been looking into using fp constraints and thought it would be worth sharing some things I've come across.

This PR #1938 is where things break for a very tightly constrained designed I've been working on. Before master containing Mohammad's first clustering API PR was merged into sfkhalid's branch with this commit (I think): a806ffbc384ee4bbf9f3d2b9580bf67fa6a15f9b, thi

[2022-08-03 19:22] FJShen commented on #2099
I checked-out to the latest commit in master branch, and now everything finally works fine. The takeaway is that the tutorial is not compatible with the "release" tag of VTR.

[2022-08-03 19:22] #2099 closed

[2022-08-04 17:50] vaughnbetz commented on #2107
@jmah76 : seems the fix in PR #2108 is not robust and needs to be reverted to changed?

[2022-08-04 18:01] sdamghan opened #2115 "Deleting Kokoro Config Files"
#### Description

Do we still need to keep Kokoro configuration files, while we are using Google Cloud Platform for CI tests?
This is an issue popped up in the VTR weekly meeting, and requested to be filed here.

@vaughnbetz @mithro @kgugala

[2022-08-04 19:22] jmah76 commented on #2107
\s* greedy

[2022-08-05 00:04] vaughnbetz commented on #2115
Let's delete them. They'll still be in old revisions, and it reduces confusion.

[2022-08-05 12:35] #2115 closed

[2022-08-07 19:29] aman26kbm commented on #2104
Hey Seyed, I looked at the spmv design in some more detail. Here are some observations that may help debug this issue.

The number of adders, multipliers, rams in odin.out matches in both odin-only and odin+yosys flows.
But in vpr.out, the number of adders, multipliers and rams in odin+yosys flow is lesser than the number in odin-only flow.

Looking at the warnings in vpr.out, there are many nets

[2022-08-08 11:21] sdamghan commented on #2104
Great @aman26kbm - these are helpful findings; let us go through the detail. I will provide more updates once we find the issue root.

[2022-08-09 16:22] jmah76 commented on #2107
@amin1377 Bumping this ^

[2022-08-09 19:58] amin1377 commented on #2107
@jmah76: It is working (at least for me.) Thank!
@vaughnbetz: I think it is safe to merge it.

[2022-08-09 23:59] jmah76 commented on #2107
Great, thank you so much! See PR #2122 .

[2022-08-10 01:47] amin1377 commented on #2107
Yeah, I also meant PR #2122

[2022-08-10 05:26] aman26kbm commented on #2104
Somehow I didn't notification for the update.

Anyway I looked at the attached files for the case where Fetcher is defined as top. The difference in memory usage seems to be only because of different packing. The number of slices is the same. Pasting some contents below:

**ODIN only:**
In odin.out:
[code]

In vpr.out:
[code]

**Yosys+ODIN:**
In odin.out:
[code]

In vpr.out:
[code]

[2022-08-10 05:39] aman26kbm commented on #2104
A few other things to mention that could be relevant:
1. There are some ROMs in the design. They are RAMs with write_enable and data_in tied to 0. Do ODIN and ODIN+Yosys have different behavior for ROMs? In another design, Andrew saw that Quartus was optimizing out the block because it assumed everything was 0 because the input was 0.
2. There is 1 multiplier in the module Channel, which then gets

[2022-08-10 06:23] aman26kbm commented on #2104
I converted the ROMs into RAMs (brought out addr, write_en and din to the top), but still see the same behavior.  That, is with Yosys+ODIN, we see only 5 multipliers, but with ODIN, we see 32 multipliers.  :(

[2022-08-10 14:48] sdamghan commented on #2104
There is no optimization or special behaviour for ROMs in Odin-II and Yosys+Odin-II. Both synthesizers treat the memory blocks as defined in the HDL file by the user. So for example, the following code using both Odin-II and Yosys+Odin-II results in a single port ram that has enable and data signals connected to `gnd`:
[code]

[2022-08-11 01:22] aman26kbm opened #2123 "Support for simple dual port RAMs in ODIN/ODIN+Yosys"
Moving from email to GitHub feature request.

#### Proposed Behaviour
Provide support for simple dual port (SDP) RAMs in ODIN/ODIN+Yosys
![memory_ports](https://user-images.githubusercontent.com/35443216/184049245-d8963197-12cc-4644-8c2b-6e4f7fa1a904.png)

#### Current Behaviour
Currently, only single port (SP) and true dual port (TDP) RAMs are supported:

[code]

#### Possible Solution

#### Cont

[2022-08-11 15:44] vaughnbetz commented on #2111
Fixed in the mentioned PR.

[2022-08-11 15:45] #2111 closed

[2022-08-11 15:48] vaughnbetz opened #2125 "Update inner_num documentation and add place_effort_scaling documentation"
1. The inner_num default is now 0.5 (not 1.0).

2. The inner_num description is specific to the **circuit** place_effort_scaling setting.

3. Here's the command line option to document (not currently documented); should come right after --inner_num and interact with it.
place_grp.add_argument<e_place_effort_scaling, ParsePlaceEfforScaling>(args.place_effort_scaling, "--place_effort_scaling")

[2022-08-15 14:13] saaramahmoudi commented on #2036
The initial placement issue has been resolved. All the mentioned designs can now pass without increasing device size.

[2022-08-15 15:13] aman26kbm commented on #2036
Awesome. Thanks, @saaramahmoudi.

[2022-08-15 15:47] aman26kbm opened #2131 "Difference in behavioral memory inference between ODIN and ODIN+Yosys"
#### Expected Behaviour
When a BRAM/memory is inferred from behavioral Verilog code, both flows - ODIN only and ODIN+Yosys - should result in the same hardware.

#### Current Behaviour
There are differences in the hardware inferred by both flows.

The three behavioral memory codes tried:
**Code 1:**
always @ (posedge clk) begin
  if (wren) begin
      ram[address] <= data;
  end
end
assign out = r

[2022-08-15 16:27] poname opened #2132 "unexpected behavior against multiple conflicting drivers in odin BLIFReader with yosys elaborator"
When using yosys+odin with the 'paj_boundtop_hierarchy_no_mem' verilog input file, with or without arch file, everything looks fine and the verilog file is being elaborated and partial mapped successfuly, however if we take a deep look into intermediate blif file generated by yosys (coarsen_netlist.yosys.blif) and yosys log (elaboration.yosys.log) we see warning for **multiple conflicting drivers*

[2022-08-15 17:16] sdamghan commented on #2131
Thanks @aman26kbm
@alirezazd - I have been relatively overloaded with unmerged PRs and other issues, please have a look at this issue until we have an in-person discussion about it.

[2022-08-15 20:26] amin1377 opened #2133 "VPR: Different QoR With The Same Seed"
I ran Titan benchmark multiple times with the same seed on the same machine. The results for some of the benchmarks differed from one run to the other.

#### Expected Behaviour
I expected QoR not to change when using the same seed on the same machine.

#### Current Behaviour
As shown in [results](https://utoronto-my.sharepoint.com/:x:/g/personal/amin_mohaghegh_mail_utoronto_ca/EenqB8hjgEdJtFmlrhSD

[2022-08-15 21:57] tcal-x commented on #1928
Since #2060 has been merged, I'll close this.   We likely still have some work in F4PGA and CFU Playground to check the vtr result status and handle messaging correctly.

[2022-08-15 21:57] #1928 closed

[2022-08-15 22:00] vaughnbetz commented on #1928
Great, thanks and let us know if any further changes are needed.

[2022-08-16 13:42] sdamghan commented on #2132
Thanks @poname - As we discussed, the Odin-II codebase currently does not support multiple drivers for a net. This is a really good finding, and interestingly a similar issue with the `boundtop` benchmark, which is using a similar module to `paj_boundtop_hierarchy_no_mem`, has been discussed by @aman26kbm and me. So, please dive into this issue to determine the problem source by investigating the

[2022-08-17 17:59] poname commented on #2132
Thanks @sdamghan for the reply, in the verilog file there is an issue,

`boundcontroller  boundcont10(raygroupout10, raygroupwe10, raygroupid10, enablenear10, raygroup10, raygroupvalid10, busy10, triIDvalid10, triID10, wanttriID, reset10, baseaddress10, newresult, BoundNodeID10, resultid, hitmask10, dataready10, empty10, level10, boundnodeIDout10, ack10, lhreset10, addrind10, addrindvalid10, ostda

[2022-08-17 18:15] sdamghan commented on #2132
Thanks @poname - this issue was already fixed in the main benchmark, i.e., `boundtop`, in the _vtr_flow/benchmarks/verilog_ directory. As we already discussed, some benchmarks under the _ODIN_II/regression_ directory might not be fully updated or synchronized with the main vtr benchmarks. Please keep it in your mind to update them in a separate PR to avoid further conflicts.
There is also another

[2022-08-21 00:45] shikc commented on #1461
I have encountered the same problem and my solution is to change find_package(X11 COMPONENTS X11 Xft) to find_package(X11) in the file "vtr-verilog-to-routing-8.0.0/libs/libeasygl/CMakeLists.txt", line 38. Then, the VTR graphic can work properly.

[2022-08-21 18:23] mithro commented on #2123
FYI - Yosys recently went through a pretty big refactor to support more types of memory styles. See the work from
@mwkmwkmwk - https://github.com/YosysHQ/yosys/pulls?q=author%3Amwkmwkmwk+

[2022-08-22 04:01] aman26kbm commented on #2036
Hi @saaramahmoudi , I'm still seeing this issue in one of the designs:
https://github.com/aman26kbm/vtr-verilog-to-routing/blob/master/vtr_flow/benchmarks/verilog/koios/brainwave_like.fixed.large.v

Here's the arch file:
https://github.com/aman26kbm/vtr-verilog-to-routing/blob/master/vtr_flow/arch/COFFE_22nm/k6FracN10LB_mem20K_complexDSP_customSB_22nm.xml

Here's the task config file:
https://gith

[2022-08-22 14:36] poname commented on #2132
Thanks, as we discussed, for example for the `boundtop` benchmark the number of input nodes are different in the stats for ODIN-II vs Yosys+ODIN-II, but the number of inputs in the final generated blif files are the same. Perhaps this could be a good point to dig deeper.

[2022-08-22 17:30] sdamghan commented on #2132
@poname - not sure about the statement, as I just ran the `boundtop` benchmark with all three frontends and achieved the number of I/Os as follows at the end of the VTR flow (`vpr.out`):

| Odin-II |
| ------- |
[code]

| Yosys+Odin-II |
| ------- |
[code]

| Yosys |
| ------- |
[code]
The difference in the CLB usage for the `boundtop` benchmark is mainly due to the memory inference, as I see Odin

[2022-08-22 20:32] sdamghan commented on #2038
Closing this issue as the support is added in PR #2068, and documentation will be updated in PR #2139

[2022-08-22 20:32] #2038 closed

[2022-08-23 16:14] t2shashwat opened #2140 "Unable to route ISPD benchmarks using VPR"
Hello,

VPR throws an error message when it tries to route the ISPD benchmarks provided in VTR. The architecture used is [ultrascale_ispd.xml](https://raw.githubusercontent.com/verilog-to-routing/vtr-verilog-to-routing/master/vtr_flow/arch/ispd/ultrascale_ispd.xml).

#### Expected Behaviour

VPR should successfully route the ISPD benchmarks on ultrascale_ispd architecture.

#### Current Behaviour

[2022-08-24 10:55] gaialucas opened #2142 "Documentation has deprecated information on VTR pre-synthetized benchmark"
#### Expected Behaviour
According to the latest documentation on the [VTR benchmark](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/bec02d3022789fc0b6c44fdf207ef2141d99b461/doc/src/vtr/benchmarks.rst#vtr-benchmarks), there should be pre-synthetized designs at `$VTR_ROOT/vtr_flow/benchmarks/vtr_benchmarks_blif`

#### Current Behaviour
The directory is not present at the current m

[2022-08-26 20:10] sdamghan commented on #2131
@alirezazd - is there any update on this thread?

[2022-08-26 20:20] sdamghan commented on #2123
@poname - considering the Yosys recent changes on memory blocks, you would be required to consider upstreaming the VTR-Yosys for Odintechmap and provide the support for newly added components, as well. This could be postponed to the second phase of your development as we expect Odintechmap initially work fine with the old version of Yosys added to the VTR repository.
Adding @vaughnbetz on this thr

[2022-08-27 20:13] amin1377 opened #2145 "RR Graph Direct Link Problem"
[This function](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/rr_graph.cpp#L2888) adds the edges that correspond to direct links between blocks.  In this [line](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/route/rr_graph.cpp#L2965) it is assumed that adding the *sub_tile_offset* to *z* whould result in the sub_tile index

[2022-08-28 00:18] alirezazd commented on #2131
@sdamghan Yes, I'm analyzing the designs and writing a design test bench to compare these simple designs. It is almost completed and I'll inform you of my results soon. Meanwhile, I want to ask you a question, have you tried the `expose -evert-dff` command and got the correct results (not considering the extra number of pins added to design IO)?

[2022-08-28 12:04] sdamghan commented on #2131
@alirezazd - Aman already generated the result, which is outlined in the table in the issue description. The `expose` command was a solution for the issue of the `clstm` benchmark; this issue is about how Odin-II and Yosys+Odin-II infer behavioural memory (implicit memory instantiation). For code style 1, Odin-II infers a dual port ram memory hard block, which is unexpected behaviour. You would ne

[2022-08-28 12:13] alirezazd commented on #2131
@sdamghan Thanks, I'm going to check it. I will also continue writing my own benchmark since I'm going to need it for debugging anyway.

[2022-08-28 22:27] amin1377 commented on #2133
After fixing [this issue](https://github.com/verilog-to-routing/vtr-verilog-to-routing/issues/2145), I ran "titan_quick_qor" several times and got the same results. It seems that the problem is solved. I suggest that we add some CI tests to run the VPR flow multiple times each day, or week, to make sure that VPR's results remain deterministic.

@vaughnbetz

[2022-08-30 20:18] saaramahmoudi commented on #2036
Hi @aman26kbm ,
The design has 64 macros with dsp_top type, and each macro length is 8. (Design also has some dsp_type blocks, which are not part of any macro, so they do not create any problems.)  Overall design dsp_top blocks are reported to be 562.
Architecture has 12 columns with dsp_top type, and each can place 47 blocks. Overall we have 12 * 47 = 564 location to place 562 blocks. Technically

[2022-08-30 21:21] aman26kbm commented on #2036
Thanks, Sara. I thought in such cases, the device size will get increased automatically to fit the requirements, since auto_layout is used..
For now, I'm working around this by providing the target_utilization from the command line though.

[2022-08-31 15:23] saaramahmoudi commented on #2036
I just checked with @MohamedElgammal  for your question. The automate process only checks if we have enough location for blocks with a same type or not. In this case, 564 locations is enough to place 562 blocks if we didn't have chains in our design. So, the device size will not get increased any further.

[2022-08-31 15:41] saaramahmoudi opened #2149 "Improving automatic sizing algorithm"
<Moving the discussion from email with @MohamedElgammal  to a Github issue>

The auto-layout process increases device size to ensure that the design fits. It only compares the number of block locations of each type with the number of blocks in design with the same type and decides whether there are enough locations for all blocks. However, long chains in the design must be placed in consecutive lo

[2022-08-31 15:44] aman26kbm commented on #2036
Got it.

Perhaps this could be an enhancement for the future. The auto sizing should take into account initial placement results as well. It should iteratively increase the size until initial placement is successful.

[2022-08-31 15:55] saaramahmoudi commented on #2036
Yes, the algorithm should be improved as you said. I am closing this issue and opening another one targeting sizing algorithm directly for a future improvement. Please let me know If you find a new design with a similar issue.

[2022-08-31 15:55] #2036 closed

[2022-08-31 16:13] aman26kbm commented on #2036
Wonderful. Thanks, Sara.

[2022-08-31 17:55] #2145 closed

[2022-09-01 18:12] #2043 closed

[2022-09-01 21:30] #2133 closed

[2022-09-05 22:19] ept221 opened #2152 "Issue with running Yosys flow"
There seems to be an issue with running the basic usage example for `run_vtr_flow` with `-start yosys`.

#### Expected Behaviour
In the [docs](https://docs.verilogtorouting.org/en/latest/yosys/quickstart/), the example invocation for running VTR with Yosys as the front-end is: `./run_vtr_flow PATH_TO_VERILOG_FILE.v PATH_TO_ARCH_FILE.xml -start yosys`. This should run without error.

#### Current B

[2022-09-06 18:25] #2107 closed

[2022-09-06 18:26] vaughnbetz commented on #2088
@jmah76 : were these mostly / all fixed (in which case we should close this issue), or is keeping it around worthwhile?

[2022-09-06 18:27] vaughnbetz commented on #2125
This is fixed.

[2022-09-06 18:27] #2125 closed

[2022-09-06 18:33] vaughnbetz commented on #2089
@zhaisitong: can you take a look at this one?  We can discuss Thursday.

[2022-09-06 18:34] vaughnbetz commented on #2089
@sfkhalid : any updates?

[2022-09-06 19:13] zhaisitong commented on #2089
How could I run to the failed place? What is the exact command or what regressions should I run to get this bug?

[2022-09-06 19:27] vaughnbetz commented on #2089
Good question Sitong. I don't think the failing tests were integrated into CI yet (as they were failing), so they don't run automatically.

@sfkhalid  can you please point Sitong at the failed regression tests and give steps on how to reproduce the failures? Adding @MohamedElgammal in case he knows how to run / reproduce these tests too.

[2022-09-06 20:25] MohamedElgammal commented on #2089
I am not sure which tests are currently failing. However, I will attach a conversation I had with Sara before in which she pointed me how to manually run floorplanning tests

"The tests should be run with the following commands:

Test 1:

../vtr-verilog-to-routing/vpr/vpr ../stratixiv_arch.timing.xml ../vtr-verilog-to-routing/vtr_flow/benchmarks/titan_blif/neuron_stratixiv_arch_timing.blif --route

[2022-09-07 20:55] zhaisitong commented on #2089
@MohamedElgammal I didn't find the architecture file in the "Archive.zip". I tried the stratixiv_arch.xml in the vtr_flow, but it doesn't work. Could you upload the architecture file again?

[2022-09-07 21:57] SebastianLievano commented on #2064
NOTE: All of this was tested and done in the example architecture/circuit you provided

So I looked pretty deeply into the code for the issue, and me and Prof. Betz came to the conclusion that there may be something wrong with when you are creating these connections, at least in terms of their directions.
<img width="784" alt="Screen Shot 2022-09-07 at 5 50 44 PM" src="https://user-images.githubus

[2022-09-07 22:44] ganeshgore opened #2154 "Splitting pin locations for a tile with capacity >1"
In the architecture I am working with, the grid_io is modeled as follows.
In this particular layout, the IOs are placed in the grid instead of periphery.
How can I split the `a2f_o` output pin locations to the left, right, and bottom?
a2f_o signal is single bit, so something like io_top.a2f_o[0:2] does not work

**IO_TILE**
[code]
#### Expected Behaviour

Options to declare pin locations when

###

[2022-09-07 23:59] vaughnbetz commented on #2064
Thanks @SebastianLievano .  @WhiteNinjaZ : as Sebastian says we discussed this in some detail.
I'm pretty sure you are created two edges (a bidirectional connection) between two rr_nodes, but the architecture / segments are marked as unidirectional. The drawing code assumes wires have start (drive) points at one end in that case.  One edge draws properly (the one driving the start point of the rec

[2022-09-08 15:50] MohamedElgammal commented on #2089
@zhaisitong  Kindly find attached the updated architecture file
[stratixiv_arch.timing.xml.zip](https://github.com/verilog-to-routing/vtr-verilog-to-routing/files/9528429/stratixiv_arch.timing.xml.zip)

[2022-09-08 16:47] zhaisitong commented on #2089
@MohamedElgammal Thanks for your architecture file. Which branch and commit id could I use to reproduce this problem? Could I use the newest codes on the master branch?

[2022-09-08 17:17] vaughnbetz commented on #2089
@zhaisitong, some useful docs: https://docs.verilogtorouting.org/en/latest/vpr/placement_constraints/?highlight=placement%20constraints#vpr-placement-constraints
Will also email Sarah's thesis.

[2022-09-08 17:17] vaughnbetz commented on #2089
@sfkhalid : can you point Sitong at a working branch or commit so he can see what the code should do?

[2022-09-08 18:20] vaughnbetz commented on #2154
@kmurray @tangxifan : I think we can't specify this syntax right now. @ganeshgore wants to connect different IO pins to different routing channels within this group of 22 in a tile.
This seems like a reasonable extension for the rr-graph builder; allow the different sub-items within this tile to specify different connectivity to the channels.
@ganeshgore also points out that he can't refer to the

[2022-09-08 20:25] tangxifan commented on #2154
@vaughnbetz I think

- First, this is a missing syntax supported by the architecture XML parser.
- Second, for the direct connections, I remember the detailed pin assignments are done inside function ``build_rr_graph()``. Perhaps we should extend the codes there, in addition to ``libarchfpga``

Since @ganeshgore needs the feature currently when using OpenFPGA, my plan is to

- Implement the syntax

[2022-09-08 21:17] vaughnbetz commented on #2154
Thanks @tangxifan .  That makes sense and I think this is a good feature.

[2022-09-09 07:46] liumengbjut opened #2155 "Is there any example about the basic usage of re_cluster methods?"
As the dev version has updated the re_cluster function (re_cluster.h, re_cluster.cpp, re_cluster_util.h, re_cluster_util.cpp,), is there any example about the basic usage of re_cluster methods?

Thank you very much.

[2022-09-09 10:49] liumengbjut opened #2156 "packing procedure research"
In order to custom In order to customize the clustering strategy and speed up the program, some modifications are expected to be applied in the pack procedure.

In the "cluster.cpp" file, "try_fill_cluster" function seems to finish the packing for a potential start molecule, then some atoms are clustered and the clb atom is formed. However, I want to make the cluster not so dense.

By tracing the

[2022-09-09 18:58] zhaisitong commented on #2089
@MohamedElgammal When did you merge your API for sfkhalid's codes? Could the codes work after you merged your API? Could you specify me the commit id of your merge?

[2022-09-09 19:09] MohamedElgammal commented on #2089
@zhaisitong I didn't merge my API into Sarah's code. I did some refactoring for the original packing code and the first function of my API into master in PR #2034 . Then, Sarah merged these changes into her branch and pushed it into master. Finally, I have added the remaining parts of my API in follow-up PRs #2044 , #2051

[2022-09-09 23:23] tangxifan commented on #2154
The issues is addressed in OpenFPGA's VPR: https://github.com/lnis-uofu/OpenFPGA/pull/775

I have added the codes to the feature branch ``openfpga``. See details in #2135
Will discuss about how to merge this specific feature to master branch soon.

[2022-09-10 05:30] #2154 closed

[2022-09-11 00:37] zhaisitong commented on #2089
I traced back and found this problem comes from @jmah76 committed on Jun 8, the commit id is d22193d4c8030a24daa73884b60d9bdb8d0aec0b.
I think @MohamedElgammal had pushed all the relevant code and worked at that time?

[2022-09-11 13:38] MohamedElgammal commented on #2089
@zhaisitong Yes, all the refactoring commits were merged into master on May 27

[2022-09-11 16:25] vaughnbetz commented on #2089
That commit is just a command line description update; it's not clear to me how that could cause a problem.
Have you confirmed the code just before that passes the tests?

[2022-09-11 16:31] zhaisitong commented on #2089
@vaughnbetz Yes, it is weird. But I run 5 times, the results are the same. When I checked out to each commits, I found the codes are very different. I am still comparing them.

[2022-09-12 03:46] zhaisitong commented on #2089
I think this is because @jmah76 forgot to update codes before pushing them. After I recover all relevant codes, the three commands mentioned above works.

[2022-09-13 04:03] zhaisitong commented on #2089
The problem might come from a14647570ac98df63b1871508a73496b64fbf31f. In function vpr/src/pack/cluster_util.cpp: get_highest_gain_molecule, before finding unpacked molecules based on attraction group of the current cluster, missing the condition "cur_pb->pb_stats->num_feasible_blocks == 0".

After adding this condition, the above three cases work.

[2022-09-13 16:30] zhaisitong commented on #2089
This issue has been solved with PR #2160 .

[2022-09-13 16:30] #2089 closed

[2022-09-13 16:35] ArashAhmadian commented on #2089
@zhaisitong @vaughnbetz Thanks for following up on this :)

[2022-09-22 02:05] narutozxp opened #2162 "how to use the routing resource map?"
How can I use the routing resource map for placement and routing? Even though I read in the wiring resource diagram, VPR still requires me to provide the xml description of the architecture. But the xml file has been extended (modified) for other purposes, so VPR will show a syntax error when reading the xml.
Or when I use --analysis to visualize the previous routing results, I try to provide a ar

[2022-10-11 00:53] alirezazd opened #2167 "Add support for mem_v2 in Yosys+Odin"
The version of Yosys which being used in Odin+Yosys flow is 0.9 while current available version of Yosys is 0.22.
#### Proposed Behaviour

According to [Yosys changelog](https://github.com/YosysHQ/yosys/releases/tag/yosys-0.10), a new type of memory called `$mem_v2` has been introduced since version 0.10.  To benefit from the newest features available in Yosys it's mandatory to support the newer m

[2022-10-13 15:23] saaramahmoudi opened #2169 "Long packing time of CI tests"
vtr_reg_nightly_test1 is cancelled due to a long file packing time. Tried to run test multiple times and It got cancelled every time due to the timeout. This issue is made upon @vaughnbetz request.

#### Expected Behaviour
Test should be passed as it has no qor test failures and no run failures.

#### Current Behaviour
It printed "All tests passed" and went to "Packing benchmarks files", then canc

[2022-10-13 15:45] amin1377 opened #2170 "Pass Netlist to Router"
### Problem
To enable flat_routing in VPR, router should be able to work with both ClusteredNetlist and AtomNetlist. To do so, I added a parameter of type Netlist, the parent class for the mentioned classes, to router functions.

The problem is that Netlist is a template class, and the template values for ClusterNetlist and AtomNetlist are different. To circumvent this problem, I assigned a defaul

[2022-10-13 17:51] vaughnbetz commented on #2169
@kgugala @mithro

[2022-10-13 17:54] vaughnbetz commented on #2169
@zhaisitong : has a workaround of moving some tests from nightly1 to nightly5.
He's going merge that sooner rather than later (it's in a WIP PR right now).
But we should still sort out why the pack time is so high.

[2022-10-13 22:03] duck2 opened #2172 "Check never starts"
There is a "B: Building VtR" check for merging pull requests which doesn't seem to be connected to a workflow. As a result, it always stays yellow and never lets the automatic merge to happen.

Not sure how GitHub looks up workflows from "protected branch checks", so wanted to take @hzeller's or @kgugala's opinion before just deleting that check in the settings.

Should be demonstrated in the test

[2022-10-14 16:26] amin1377 commented on #2170
### Sanitizer Output File
[Here](https://drive.google.com/file/d/1420_1DP2FO2n3QJIdZHKXNhQSnegyK-p/view?usp=sharing) is one of the output files when -fsanitize=undefined is enabled.

### Valgring Output File
[Here](https://drive.google.com/file/d/155EYsRTiMlRnPxDD9pJnVzjm20gZwJVN/view?usp=sharing), you can find the output of running Valgrind on the same program that sanitizer was run on it. As you

[2022-10-14 18:33] vaughnbetz commented on #2170
1. It's interesting that these errors only occur after the main router runs, so they aren't happening all the time when you use the router netlist.  The router must use some base netlist methods too so I wonder why they don't also give a type mismatch error?
2. The sanitizers are flagging a bunch of memory leaks (in strange routines, like is_global, that seem unlikely to leak memory) while valgrin

[2022-10-14 18:34] vaughnbetz commented on #2170
There also appears to be a finer granularity to turn off error checking in the sanitizers, so possibly we could turn off less (although it seems we'd have to specify a lot of options then, as undefined is a catch all for ~30 checks.

[2022-10-14 20:19] amin1377 commented on #2170
1: The attached file is for a run that the minimum channel width is not specified, so router is called several times. For the first router run, it printed out some errors, but for the subsequent runs, it didn't print anything.

2: I ran the master branch with the same argument as the attached output files, and it did not print the same errors. I checked the reported leaks related to calling "net_i

[2022-10-17 06:39] Wkraipak opened #2174 "FPGA Fabric Architecture"
Hi ,
i am new user to VTR/VPR Flow.
I would like to know how to pass on the FPGA Fabric RTL as input to the VTR/VPR flow.
I have created a custom Fabric 3x3 and have created custom Switch boxes and connection boxes.
Instead of providing fpga_arch.xml file as input i would like to provide fpga_fabric.v as input to the tool for VTR and VPR flow.
curently i am using the following command

$VTR_ROOT/v

[2022-10-17 08:52] kgugala commented on #2169
@saaramahmoudi can you link to a failed CI run? The PR you linked is green

[2022-10-17 13:37] saaramahmoudi commented on #2169
Sure, attached. @kgugala
[First Try](https://github.com/verilog-to-routing/vtr-verilog-to-routing/actions/runs/3227964548/attempts/1)
[Second Try](https://github.com/verilog-to-routing/vtr-verilog-to-routing/actions/runs/3227964548/attempts/2)
[ThirdTry](https://github.com/verilog-to-routing/vtr-verilog-to-routing/actions/runs/3227964548/attempts/3)

[2022-10-17 14:55] kgugala commented on #2169
hmm, this seems to be VPR issue (not really a runner problem). GitHub limits run time of a CI to around 6h. If a job takes more it will be auto-cancelled (and this is what happens).

[2022-10-18 04:49] Wkraipak opened #2176 "--fix_pins file.pads"
HI I want to fix the IO Location and pass on the IO Location through file.pads by using the vpr option --fix_pins.
whats the format of file.pads. Is there a specific format which we have to use .
could you provide me an example for the same

[2022-10-18 16:38] kgugala commented on #2172
thanks for the ping, I'll check this

[2022-10-18 16:44] kgugala commented on #2172
hmm, are you sure about this? I see the tests did start and they are being run. The one pending in the PR you linked is not run on a self-hosted runners, but on standard github runners (see: https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/.github/workflows/test.yml#L67). It looks like GitHub issue?

[2022-10-18 17:05] kgugala commented on #2172
I think we shoud ping @vaughnbetz about merging policy

[2022-10-18 22:03] vaughnbetz commented on #2172
Tried deleting B: Building VtR and replacing it with B: Building VtR (debug,0) and B: Building VtR (release,0) checks.  (Can't see B: Building VtR in the branch protection rules dialog to add it back in).

Not sure what B: Building VtR (release, 1) does (maybe VERBOSE is on for it?).  Hence not sure if I should add it too.

![image](https://user-images.githubusercontent.com/5912487/196553621-46180

[2022-10-18 23:58] duck2 commented on #2172
That seems to have fixed the issue. I think it's up to you to add (debug, 1) since it's pretty much the same thing as (debug, 0).

[2022-10-19 00:01] duck2 commented on #2172
Thx!

[2022-10-19 00:01] #2172 closed

[2022-10-19 07:43] #1944 closed

[2022-10-22 10:00] Wkraipak commented on #235
Hi Sgupta,
I am also working on adding the custom switch block patterns in the architecture file. wanted to connect with you and understand how you have done it.
Wasim

[2022-10-22 10:02] Wkraipak commented on #235
Kmurray,
do you have any example of adding a custom switch box in the Fpga architecture xml file. what if we have dedicated connection patterns inside the switch box how to describe them in the xml file

Wasim

[2022-10-27 13:24] Wkraipak commented on #2174
Hi

I am looking for help in adding a custom switch block in the XML file. I want to understand how to describe each mux mapping with the inputs and mux output description as well

Wasim

[2022-10-28 08:02] mkurc-ant opened #2182 "Support falling edge clocks (for FFs and timing analysis)"
Currently VPR has no notion of falling edge clocks. All clocks are implicitly assumed to be rising edge so is clock edge sensitivity of flip-flops / latches. Static timing analysis does not support falling edges as well.

#### Proposed Behaviour
There is a way to specify clock edge for clock ports in architecture models, VPR performs timing driven P&R aware of clock sink edge sensitivity, VPR can

[2022-10-28 08:03] mkurc-ant commented on #2182
@vaughnbetz FYI, @kmurray could you provide some hints regarding necessary enhancements to `libtatum` ?

[2022-10-29 04:49] Wkraipak commented on #2176
Hi
I am looking help in having the fix pins support in the vtr/vpr tool
I want the tool should use the pad file to assign the IOs
Thanks,
Wasim

[2022-11-02 02:30] SWang848 opened #2184 "No difference in .route file no matter chosing route_type as detailed or global"
Hi devleopers, when I run the command
`$VTR_ROOT/vpr/vpr \
    $VTR_ROOT/vtr_flow/arch/timing/EArch.xml \
    $VTR_ROOT/vtr_flow/benchmarks/blif/tseng.blif \
    --route_chan_width 100 --route_type=global`
I found there is no difference between the .route file from route_type=detailed.

#### Your Environment

* VTR revision used: the latest version
* Operating System and version: Ubuntu 22.04
* Co

[2022-11-06 07:51] seifoori opened #2191 "spree.v doesn't go through ODIN"
#### Proposed Behaviour

#### Current Behaviour

#### Possible Solution

#### Context

[2022-11-06 07:53] seifoori opened #2192 "aes_core and des doesn't go through ODIN_II!"
I wanted to compile some of opencore benchmarks from IWLS_benchmarks_2005_V_1.0 benchmark suite including aes_core, des and ethernet, but it has some errors like
/home/saraseifoori/sara-git/vtr8-master/vtr-verilog-to-routing/ODIN_II/SRC/parse_making_ast.cpp:1880: graphVizOutputAst_traverse_node: Assertion node->types.identifier failed
  1878 |
  1879 |         case IDENTIFIERS:
  1880 |

[2022-11-07 18:01] vaughnbetz commented on #2184
Can you attach the two files?  The format is basically the same: IPINs, OPINs, CHANX, CHANY, etc.  But for global routing a CHANX represents a one-unit long x-directed channel, rather than a specific wire.  The CHANX will have ptc_num == 0, and can have multiple routes going through it (capacity == channel width, W).

For detailed routing, you'd have various CHANX with different ptc_nums, all with

[2022-11-07 22:26] amin1377 opened #2193 "post_routing_pb_pin_fixup: find_used_sink_pb_pin"
After routing is done, "sync_netlist_to_routing" is called to accommodate the pin rotations done during the routing. One of the functions called during this operation is [find_used_sink_pb_pin](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/pack/post_routing_pb_pin_fixup.cpp#L381). This function tries to find out the sink_pb_graph_pin by [iterating](https://github

[2022-11-08 19:30] WhiteNinjaZ opened #2195 "Current Switch Override Implementation Strategy Doesn't Make Much Electrical Sense"
The newly implemented switch override feature for custom switch blocks currently works by overriding the switch type for specific edges while building the switchblock portion of the RR graph. This leads to the scenario pictured bellow (circled in red):
![IMG_0115](https://user-images.githubusercontent.com/83309027/200652549-5c2d9965-d31d-4768-a395-68dd97c7a3c7.jpg)

I understand that outgoing edge

[2022-11-09 14:42] vaughnbetz commented on #2195
I'd do 1 as it's the simplest, and easiest to document.  Ease of documentation matters, since otherwise people can't figure the tool out.  Also, I don't think this behaviour is all that strange; I list some reasonable use cases of the current behaviour below.

For non-short switches, having a different switch from each drive point to a wire is fine.  If you are using tri-statable switches they can

[2022-11-10 15:30] vaughnbetz opened #2197 "Generalize sub_tile in the grid so sub_tiles can have different width & height"
#### Proposed Behaviour
We'd like to model multi-die stack FPGAs. This is needed for the crossroads project, and will likely be useful to others.

#### Current Behaviour
The sub_tile feature almost has what we need in order to model one block under another, but it has the restriction that all sub_tiles in a tile must be the same size.  We'd like to model a large router (or large accelerator block)

[2022-11-10 15:31] vaughnbetz commented on #2197
@kmurray @tangxifan : FYI.  Sara is going to dig into this, with an eye to discussing in a future vtr meeting.

[2022-11-10 17:31] tangxifan commented on #2197
@vaughnbetz Thanks for the info. Will do.

[2022-11-10 17:34] tangxifan commented on #2193
@amin1377 I am on holiday this week. Will check next Thursday. If you need immediate help, please let me know.

[2022-11-11 15:39] vaughnbetz opened #2198 "Document some missing vpr command line options"
We have some useful command line options that aren't documented in the web documentation.

#### Proposed Behaviour
1. Document vpr -h near the very start of the documentation, so users know how to get command line help.
2. Document the options to read the place delay matrix and router lookahead (and to write them out).

[2022-11-11 15:40] vaughnbetz commented on #2198
@Srivat97 : Kimia needs to use these options too, so I suggest we give her this documentation issue.  If you've already started working on it you can take this one over though.

[2022-11-11 16:08] vaughnbetz opened #2199 "Improve / suppress / control overly picky and frequent RR-graph warnings"
We often print a lot of not very useful warnings when we generate an rr-graph.  They are "no fanin" and "no fanout" messages for rr-nodes at the edge of the chip that get cut off by the end of the array, and hence sometimes do not have edges.  We should organize these messages more, and when they are not indicating a real problem, make them less scary.

#### Proposed Behaviour
We should print "xx

[2022-11-11 18:19] vaughnbetz commented on #2176
It uses the place file format, but has been renamed to --fix_clusters when you want to lock down cluster-level blocks.  See https://docs.verilogtorouting.org/en/latest/vpr/command_line_usage/#cmdoption-vpr-fix_pins

The more general option is to lock down primitives though (which will implicitly constraint their clusters too): see  https://docs.verilogtorouting.org/en/latest/vpr/placement_constrai

[2022-11-14 09:16] narutozxp opened #2201 "Why place and route results are the same every time?"
Why place and route results are the same every time? Isn't the simulated annealing algorithm supposed to be random?
#### Expected Behaviour

The results of each place and route should not be exactly the same
#### Current Behaviour

the place and route results are the same every time

#### Steps to Reproduce

1. ${VTR_ROOT}/vpr/vpr  k6_frac_N10_tileable_adder_chain_dpram8K_dsp36_fracff_40nm_sub_til

[2022-11-15 04:01] heshpdx opened #2202 "vpr does not build with -std=c++17"
Some small edits can allow us to conform to the modern standard. Pull request to fix is coming shortly.
#### Expected Behaviour

#### Current Behaviour

#### Possible Solution

#### Steps to Reproduce

1.
2.

#### Context

#### Your Environment

* VTR revision used: 3c1ea0885, Nov 14 2022
* Operating System and version: Ubuntu 20.04
* Compiler version: gcc-12.2

[2022-11-17 16:49] #2167 closed

[2022-11-17 23:37] tangxifan commented on #2193
https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/3c1ea0885cbbeb2d42ac79d707bc232a4d59d9bf/vpr/src/pack/post_routing_pb_pin_fixup.cpp#L682-L703

@amin1377 The function [find_used_sink_pb_pin](https://github.com/verilog-to-routing/vtr-verilog-to-routing/blob/master/vpr/src/pack/post_routing_pb_pin_fixup.cpp#L381) is created for a specific need, as you see in the code comments above.

[2022-11-21 09:15] aa6my commented on #1846
@the-centry may i know how you compile vpr with cygwin and vs2019 ?

[2022-11-21 16:06] saaramahmoudi commented on #2197
Different diagrams for our proposed solutions to this problem are shown below. Blocks with green are the ones that we should add to the existing code.

1. The first diagram is a straightforward approach in which we don't need to change sub-tile and tile structures or even how the grid exists. But, we need to store sub-tile attributes multiple times (as many as LAB existed on top of the NoC)

![Scr

[2022-11-22 19:52] vaughnbetz commented on #2182
Talking to Kevin:
- Kevin believes Tatum doesn't really need to change.
- vpr should make an inverted version of the clock behind the scenes (negative edge, with 180 degree phase shift)
- Hook that clock up to the appropriate FF pins when you call Tatum to build the timing graph
- All transfers (- to -, + to -, etc.) will be analyzed as the clock and its inverse will be phase related
- E.g. make g

[2022-11-22 19:52] vaughnbetz commented on #2182
Adding @zhaisitong to see if he can help with this.

[2022-11-23 11:26] lpawelcz commented on #2182
Hi, I'm currently working on the support for falling edge clocking in VPR. I opened a draft PR to show you what we came up with in the meantime: https://github.com/verilog-to-routing/vtr-verilog-to-routing/pull/2211. We would greatly appreciate your opinion on this approach.

Please do have in mind that this is still work in progress. The flow is not working entirely yet. At this point it fails af

[2022-11-23 14:29] vaughnbetz commented on #2198
@kimiatkh : just pinging this one ...

[2022-11-23 14:33] vaughnbetz commented on #2182
I think a cleaner solution is to make an additional clock constraint for timing analysis (see discussion above) -- a phase related clock that is 180 degrees out of phase with the original, and connected to the -ve edge triggered FFs as the timing graph is built.  Then tatum will analyze everything correctly with no changes to its code.

This localizes all code changes to parsing/setup routines in

[2022-11-23 15:01] lpawelcz commented on #2182
@vaughnbetz thank you for your response. In that case I will focus on adapting the PR to your solution.